Repository detekt/detekt, changes with the labels that .github/labeler.yml gives for each.
All labels: api, build, ci, cli, core, dependencies, documentation, formatting, gradle-plugin, compiler-plugin, reports, rules, suppressors

Fix #6665 by re-adding a few used toStrings (#6678)
  detekt-api/api/detekt-api.api
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/CodeSmell.kt
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/Entity.kt
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/Location.kt
  detekt-api/src/test/kotlin/io/gitlab/arturbosch/detekt/api/CodeSmellSpec.kt
  detekt-api/src/test/kotlin/io/gitlab/arturbosch/detekt/api/CorrectableCodeSmellSpec.kt
  detekt-api/src/test/kotlin/io/gitlab/arturbosch/detekt/api/EntitySpec.kt
  detekt-api/src/test/kotlin/io/gitlab/arturbosch/detekt/api/LocationSpec.kt
  detekt-psi-utils/api/detekt-psi-utils.api
  detekt-psi-utils/src/main/kotlin/io/github/detekt/psi/KtFiles.kt
  detekt-psi-utils/src/test/kotlin/io/github/detekt/psi/KtFilesSpec.kt
Labels: api

add ability to ignore package statements
  detekt-rules-empty/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/empty/EmptyKotlinFile.kt
  detekt-rules-empty/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/empty/EmptyKotlinFileSpec.kt
Labels: rules

Fix CorrectableRulesFirstSpec
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/CorrectableRulesFirstSpec.kt
Labels: core

Make the test easier to read
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/CorrectableRulesFirstSpec.kt
  detekt-core/src/test/resources/configs/one-correctable-rule.yml
Labels: core

Improve documentation
  website/docs/introduction/extensions.md
Labels: documentation

Improve documentation (#6793)
  website/docs/introduction/extensions.md
Labels: documentation

Properly handle nullable type
  detekt-test/src/main/kotlin/io/gitlab/arturbosch/detekt/test/FindingsAssertions.kt
Labels: none

Fix test snippets for K2
  detekt-rules-documentation/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/documentation/UndocumentedPublicClassSpec.kt
Labels: rules

Properly handle nullable type (#6798)
  detekt-test/src/main/kotlin/io/gitlab/arturbosch/detekt/test/FindingsAssertions.kt
Labels: none

Fix test snippets for K2 (#6799)
  detekt-rules-documentation/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/documentation/UndocumentedPublicClassSpec.kt
Labels: rules

Improve versioned documentation - continuation of #6793
  website/versioned_docs/version-1.21.0/introduction/extensions.md
  website/versioned_docs/version-1.22.0/introduction/extensions.md
  website/versioned_docs/version-1.23.0/introduction/extensions.md
  website/versioned_docs/version-1.23.1/introduction/extensions.md
  website/versioned_docs/version-1.23.3/introduction/extensions.md
  website/versioned_docs/version-1.23.4/introduction/extensions.md
Labels: documentation

Also check `USELESS_ELVIS` in `UnreachableCode` (#6624)
  detekt-gradle-plugin/src/functionalTest/kotlin/io/gitlab/arturbosch/detekt/DetektAndroidSpec.kt
  detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/UnreachableCode.kt
  detekt-rules-errorprone/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/UnreachableCodeSpec.kt
Labels: gradle-plugin, rules

Fix `CastToNullableType` warning on same or parent type (#6677)
  detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/CastToNullableType.kt
  detekt-rules-errorprone/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/CastToNullableTypeSpec.kt
Labels: rules

Fix by checking the existence of label in previous statements (#6671)
  detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/UnconditionalJumpStatementInLoop.kt
  detekt-rules-errorprone/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/UnconditionalJumpStatementInLoopSpec.kt
Labels: rules

Exclude FirErrors class from JaCoCo instrumentation to avoid ASM MethodTooLargeException
  build-logic/src/main/kotlin/module.gradle.kts
Labels: build

Exclude FirErrors class from JaCoCo instrumentation to avoid ASM MethodTooLargeException (#6802)
  build-logic/src/main/kotlin/module.gradle.kts
Labels: build

Deploying to gh-pages from @ detekt/detekt@346950824667ba88221218c2a77c6d964e19e6bc 🚀
  kdoc/detekt-test-utils/index.html
  kdoc/detekt-test-utils/io.github.detekt.test.utils/-kotlin-core-environment-wrapper/-kotlin-core-environment-wrapper.html
  kdoc/detekt-test-utils/io.github.detekt.test.utils/-kotlin-core-environment-wrapper/dispose.html
  kdoc/detekt-test-utils/io.github.detekt.test.utils/-kotlin-core-environment-wrapper/env.html
  kdoc/detekt-test-utils/io.github.detekt.test.utils/-kotlin-core-environment-wrapper/index.html
  kdoc/detekt-test-utils/io.github.detekt.test.utils/-kotlin-script-engine/compile.html
  kdoc/detekt-test-utils/io.github.detekt.test.utils/-kotlin-script-engine/index.html
  kdoc/detekt-test-utils/io.github.detekt.test.utils/-null-print-stream/-null-print-stream.html
  kdoc/detekt-test-utils/io.github.detekt.test.utils/-null-print-stream/index.html
  kdoc/detekt-test-utils/io.github.detekt.test.utils/-string-print-stream/-string-print-stream.html
  kdoc/detekt-test-utils/io.github.detekt.test.utils/-string-print-stream/index.html
  kdoc/detekt-test-utils/io.github.detekt.test.utils/-string-print-stream/to-string.html
  kdoc/detekt-test-utils/io.github.detekt.test.utils/compile-content-for-test.html
  kdoc/detekt-test-utils/io.github.detekt.test.utils/compile-for-test.html
  kdoc/detekt-test-utils/io.github.detekt.test.utils/create-environment.html
  kdoc/detekt-test-utils/io.github.detekt.test.utils/create-temp-directory-for-test.html
  kdoc/detekt-test-utils/io.github.detekt.test.utils/create-temp-file-for-test.html
  kdoc/detekt-test-utils/io.github.detekt.test.utils/index.html
  kdoc/detekt-test-utils/io.github.detekt.test.utils/read-resource-content.html
  kdoc/detekt-test-utils/io.github.detekt.test.utils/resource-as-path.html
  kdoc/detekt-test-utils/io.github.detekt.test.utils/resource-url.html
  kdoc/detekt-test-utils/io.github.detekt.test.utils/resource.html
  kdoc/detekt-test-utils/io.gitlab.arturbosch.detekt.rules/-kotlin-core-environment-test/additional-java-source-paths.html
  kdoc/detekt-test-utils/io.gitlab.arturbosch.detekt.rules/-kotlin-core-environment-test/index.html
  kdoc/detekt-test-utils/io.gitlab.arturbosch.detekt.rules/index.html
Labels: none

Update libs.versions.toml
  gradle/libs.versions.toml
Labels: dependencies

Improve versioned documentation (#6801)
  website/versioned_docs/version-1.21.0/introduction/extensions.md
  website/versioned_docs/version-1.22.0/introduction/extensions.md
  website/versioned_docs/version-1.23.0/introduction/extensions.md
  website/versioned_docs/version-1.23.1/introduction/extensions.md
  website/versioned_docs/version-1.23.3/introduction/extensions.md
  website/versioned_docs/version-1.23.4/introduction/extensions.md
Labels: documentation

Stop declaring UnstableApi
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/ConfigProperty.kt
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/PropertiesAware.kt
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/ReportingExtension.kt
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/SetupContext.kt
  detekt-tooling/src/main/kotlin/io/github/detekt/tooling/api/AnalysisResult.kt
Labels: api

Remove unnecessary OptIn to UnstableApi
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/Extension.kt
  detekt-api/src/test/kotlin/io/gitlab/arturbosch/detekt/api/ConfigPropertySpec.kt
  detekt-api/src/test/kotlin/io/gitlab/arturbosch/detekt/api/PropertiesAwareSpec.kt
  detekt-api/src/testFixtures/kotlin/io/gitlab/arturbosch/detekt/test/EmptySetupContext.kt
  detekt-cli/src/main/kotlin/io/gitlab/arturbosch/detekt/cli/DetektProgressListener.kt
  detekt-compiler-plugin/src/main/kotlin/io/github/detekt/compiler/plugin/internal/DetektService.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/ProcessingSettings.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/baseline/BaselineResultMapping.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/extensions/Loading.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/extensions/Reporting.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/reporting/OutputFacade.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/settings/PropertiesFacade.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/tooling/Lifecycle.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/util/PerformanceMonitor.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/baseline/BaselineResultMappingSpec.kt
  detekt-report-sarif/src/main/kotlin/io/github/detekt/report/sarif/SarifOutputReport.kt
  detekt-report-sarif/src/test/kotlin/io/github/detekt/report/sarif/SarifOutputReportSpec.kt
  detekt-rules-complexity/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/complexity/LongParameterList.kt
  detekt-rules-documentation/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/documentation/LicenceHeaderLoaderExtension.kt
  detekt-rules-documentation/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/documentation/AbsentOrWrongFileLicenseSpec.kt
  detekt-rules-empty/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/empty/EmptyFunctionBlock.kt
  detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/IgnoredReturnValue.kt
  detekt-rules-naming/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/naming/FunctionParameterNaming.kt
  detekt-rules-naming/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/naming/MemberNameEqualsClassName.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnderscoresInNumericLiterals.kt
  detekt-rules/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/documentation/LicenceHeaderLoaderExtensionSpec.kt
  detekt-tooling/src/main/kotlin/io/github/detekt/tooling/internal/DefaultAnalysisResult.kt
Labels: api, cli, core, compiler-plugin, reports, rules

Remove UnstableApi annotation
  detekt-api/api/detekt-api.api
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/UnstableApi.kt
Labels: api

Update description of ActiveByDefault so it's more broadly applicable
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/ActiveByDefault.kt
Labels: api

Remove deprecated XML tag support
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/baseline/BaselineHandler.kt
  detekt-core/src/test/resources/baseline_feature/deprecated-baseline.xml
Labels: core

Remove ruleContext property from Rule constructor
  detekt-api/api/detekt-api.api
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/Rule.kt
Labels: api

Remove PRIMITIVES from public API
  detekt-api/api/detekt-api.api
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/Config.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/config/BaseConfig.kt
Labels: api, core

Move PathFilters from internal to public API
  detekt-api/api/detekt-api.api
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/ConfigProperty.kt
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/PathFilters.kt
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/Rule.kt
  detekt-cli/src/test/kotlin/io/gitlab/arturbosch/detekt/cli/PathFiltersSpec.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/KtTreeCompiler.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/rules/RuleSets.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/config/ValueOrDefaultCommaSeparatedSpec.kt
Labels: api, cli, core

Remove PRIMITIVES from public API (#6813)
  detekt-api/api/detekt-api.api
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/Config.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/config/BaseConfig.kt
Labels: api, core

Deploying to gh-pages from @ detekt/detekt@84286416c29541eedc52211a99a7ba6b29bccaa3 🚀
  kdoc/detekt-api/io.gitlab.arturbosch.detekt.api/-config/-companion/-p-r-i-m-i-t-i-v-e-s.html
  kdoc/detekt-api/io.gitlab.arturbosch.detekt.api/-config/-companion/index.html
  kdoc/scripts/pages.json
Labels: none

Remove ruleContext property from Rule constructor (#6810)
  detekt-api/api/detekt-api.api
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/Rule.kt
Labels: api

Remove UnstableApi annotation (#6804)
  detekt-api/api/detekt-api.api
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/ConfigProperty.kt
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/Extension.kt
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/PropertiesAware.kt
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/ReportingExtension.kt
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/SetupContext.kt
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/UnstableApi.kt
  detekt-api/src/test/kotlin/io/gitlab/arturbosch/detekt/api/ConfigPropertySpec.kt
  detekt-api/src/test/kotlin/io/gitlab/arturbosch/detekt/api/PropertiesAwareSpec.kt
  detekt-api/src/testFixtures/kotlin/io/gitlab/arturbosch/detekt/test/EmptySetupContext.kt
  detekt-cli/src/main/kotlin/io/gitlab/arturbosch/detekt/cli/DetektProgressListener.kt
  detekt-compiler-plugin/src/main/kotlin/io/github/detekt/compiler/plugin/internal/DetektService.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/ProcessingSettings.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/baseline/BaselineResultMapping.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/extensions/Loading.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/extensions/Reporting.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/reporting/OutputFacade.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/settings/PropertiesFacade.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/tooling/Lifecycle.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/util/PerformanceMonitor.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/baseline/BaselineResultMappingSpec.kt
  detekt-report-sarif/src/main/kotlin/io/github/detekt/report/sarif/SarifOutputReport.kt
  detekt-report-sarif/src/test/kotlin/io/github/detekt/report/sarif/SarifOutputReportSpec.kt
  detekt-rules-complexity/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/complexity/LongParameterList.kt
  detekt-rules-documentation/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/documentation/LicenceHeaderLoaderExtension.kt
  detekt-rules-documentation/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/documentation/AbsentOrWrongFileLicenseSpec.kt
  detekt-rules-empty/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/empty/EmptyFunctionBlock.kt
  detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/IgnoredReturnValue.kt
  detekt-rules-naming/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/naming/FunctionParameterNaming.kt
  detekt-rules-naming/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/naming/MemberNameEqualsClassName.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnderscoresInNumericLiterals.kt
  detekt-rules/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/documentation/LicenceHeaderLoaderExtensionSpec.kt
  detekt-tooling/src/main/kotlin/io/github/detekt/tooling/api/AnalysisResult.kt
  detekt-tooling/src/main/kotlin/io/github/detekt/tooling/internal/DefaultAnalysisResult.kt
Labels: api, cli, core, compiler-plugin, reports, rules

Deploying to gh-pages from @ detekt/detekt@c9014bd6e690c3497d9a9ea96afd9484bf2c66b8 🚀
  kdoc/detekt-api/io.gitlab.arturbosch.detekt.api/-rule/-rule.html
  kdoc/detekt-api/io.gitlab.arturbosch.detekt.api/-rule/index.html
  kdoc/detekt-api/io.gitlab.arturbosch.detekt.api/index.html
  kdoc/scripts/pages.json
Labels: none

Deploying to gh-pages from @ detekt/detekt@c79491379b25c84682b123d7f72162aa40786be0 🚀
  kdoc/detekt-api/io.gitlab.arturbosch.detekt.api/-unstable-api/index.html
  kdoc/detekt-api/io.gitlab.arturbosch.detekt.api/-unstable-api/reason.html
  kdoc/detekt-api/io.gitlab.arturbosch.detekt.api/index.html
  kdoc/detekt-api/navigation.html
  kdoc/detekt-psi-utils/navigation.html
  kdoc/detekt-test-utils/navigation.html
  kdoc/detekt-test/navigation.html
  kdoc/detekt-tooling/navigation.html
  kdoc/navigation.html
  kdoc/scripts/pages.json
Labels: none

Move empty config declaration to its callsite
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/Config.kt
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/internal/EmptyConfig.kt
Labels: api

Move empty config declaration to its callsite (#6809)
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/Config.kt
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/internal/EmptyConfig.kt
Labels: api

Reduce the usage of mockk
  detekt-rules-style/build.gradle.kts
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/RedundantVisibilityModifierRuleSpec.kt
Labels: build, rules

Don't use mockk as an example for WildcardImport tests
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/WildcardImportSpec.kt
Labels: rules

Reduce the usage of mockk (#6816)
  detekt-rules-style/build.gradle.kts
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/RedundantVisibilityModifierRuleSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/WildcardImportSpec.kt
Labels: build, rules

Fix test at `CorrectableRulesFirstSpec` (#6791)
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/CorrectableRulesFirstSpec.kt
  detekt-core/src/test/resources/configs/one-correctable-rule.yml
Labels: core

.github/labeler.yml:

api:
  - changed-files:
      - any-glob-to-any-file: ["**/*.api", "detekt-api/src/**/*"]

build:
  - changed-files:
      - any-glob-to-any-file:
          [
            "**/*.gradle",
            "**/*.gradle.kts",
            "build-logic/**/*",
            "**/gradle.properties",
          ]

ci:
  - changed-files:
      - any-glob-to-any-file: [".github/workflows/*"]

cli:
  - changed-files:
      - any-glob-to-any-file: ["detekt-cli/src/**/*"]

core:
  - changed-files:
      - any-glob-to-any-file: ["detekt-core/src/**/*.kt"]

dependencies:
  - changed-files:
      - any-glob-to-any-file: ["gradle/libs.versions.toml"]

documentation:
  - changed-files:
      - any-glob-to-any-file: ["**/*.md", "website/**/*"]

formatting:
  - changed-files:
      - any-glob-to-any-file: ["detekt-formatting/src/**/*"]

gradle-plugin:
  - changed-files:
      - any-glob-to-any-file: ["detekt-gradle-plugin/src/**/*"]

compiler-plugin:
  - changed-files:
      - any-glob-to-any-file: ["detekt-compiler-plugin/src/**/*"]

reports:
  - changed-files:
      - any-glob-to-any-file:
          [
            "detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/reporting/**/*",
          ]

rules:
  - changed-files:
      - any-glob-to-any-file:
          [
            "detekt-rules/src/**/*",
            "detekt-rules-complexity/src/**/*",
            "detekt-rules-coroutines/src/**/*",
            "detekt-rules-documentation/src/**/*",
            "detekt-rules-empty/src/**/*",
            "detekt-rules-errorprone/src/**/*",
            "detekt-rules-exceptions/src/**/*",
            "detekt-rules-naming/src/**/*",
            "detekt-rules-performance/src/**/*",
            "detekt-rules-style/src/**/*",
          ]

suppressors:
  - changed-files:
      - any-glob-to-any-file:
          [
            "detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/suppressors/**/*",
          ]
