Repository detekt/detekt, pull requests merged in 2020-06, with the labels that each got.

#2760 Upgrade to ktlint 0.37.0
  buildSrc/src/main/kotlin/Versions.kt
  detekt-formatting/src/main/kotlin/io/gitlab/arturbosch/detekt/formatting/FormattingRule.kt
  detekt-formatting/src/main/kotlin/io/gitlab/arturbosch/detekt/formatting/OffsetsToLineColumn.kt
  detekt-formatting/src/main/kotlin/io/gitlab/arturbosch/detekt/formatting/wrappers/Indentation.kt
Labels: migration

#2766 Introduce additional changelog section filtering developing/refactoring noise for the users
  scripts/github-milestone-report.groovy
Labels: housekeeping

#2767 Update spek to 2.0.11 disabling timeouts
  buildSrc/src/main/kotlin/Versions.kt
Labels: housekeeping

#2768 Remove deprecated HierarchicalConfig which could lead to OOM when reusing Config objects
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/Config.kt
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/internal/BaseConfig.kt
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/internal/EmptyConfig.kt
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/internal/YamlConfig.kt
  detekt-test/src/main/kotlin/io/gitlab/arturbosch/detekt/test/TestConfig.kt
  docs/pages/kdoc/detekt-api/alltypes/index.md
  docs/pages/kdoc/detekt-api/io.gitlab.arturbosch.detekt.api.internal/-base-config/index.md
  docs/pages/kdoc/detekt-api/io.gitlab.arturbosch.detekt.api.internal/-yaml-config/index.md
  docs/pages/kdoc/detekt-api/io.gitlab.arturbosch.detekt.api.internal/index.md
  docs/pages/kdoc/detekt-api/io.gitlab.arturbosch.detekt.api/-config/-invalid-configuration-error/-init-.md
  docs/pages/kdoc/detekt-api/io.gitlab.arturbosch.detekt.api/-config/-invalid-configuration-error/index.md
  docs/pages/kdoc/detekt-api/io.gitlab.arturbosch.detekt.api/-config/index.md
  docs/pages/kdoc/detekt-api/io.gitlab.arturbosch.detekt.api/index.md
Labels: migration

#2769 Package editorconfig dependency into the jar for formatting module
  detekt-formatting/build.gradle.kts
Labels: housekeeping

#2770 Unify extension debug printing
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/Extension.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/FileProcessorLocator.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/RuleSetLocator.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/extensions/Loading.kt
  docs/pages/kdoc/detekt-api/io.gitlab.arturbosch.detekt.api/-extension/index.md
Labels: housekeeping

#2764 Move config validation from cli to core
  config/detekt/argsfile_unix
  config/detekt/argsfile_windows
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/internal/YamlConfig.kt
  detekt-api/src/test/kotlin/io/gitlab/arturbosch/detekt/api/internal/YamlConfigSpec.kt
  detekt-cli/src/main/kotlin/io/gitlab/arturbosch/detekt/cli/Configurations.kt
  detekt-cli/src/main/kotlin/io/gitlab/arturbosch/detekt/cli/Main.kt
  detekt-cli/src/main/kotlin/io/gitlab/arturbosch/detekt/cli/runners/Runner.kt
  detekt-cli/src/test/kotlin/io/gitlab/arturbosch/detekt/cli/ConfigAssert.kt
  detekt-cli/src/test/kotlin/io/gitlab/arturbosch/detekt/cli/DetektYmlConfigSpec.kt
  detekt-cli/src/test/kotlin/io/gitlab/arturbosch/detekt/cli/runners/RunnerSpec.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/DetektFacade.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/config/ConfigValidators.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/config/DefaultConfig.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/config/DefaultPropertiesConfigValidator.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/config/InvalidConfig.kt
  detekt-core/src/main/resources/default-detekt-config.yml
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/config/CheckConfigurationSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/config/DefaultConfigValidationSpec.kt
  detekt-core/src/test/resources/META-INF/services/io.gitlab.arturbosch.detekt.api.ConfigValidator
  detekt-core/src/test/resources/META-INF/services/io.gitlab.arturbosch.detekt.api.RuleSetProvider
  detekt-core/src/test/resources/common_known_sections.yml
  detekt-generator/build.gradle.kts
  detekt-sample-extensions/build.gradle.kts
  detekt-sample-extensions/src/test/kotlin/io/gitlab/arturbosch/detekt/sample/extensions/SampleConfigValidatorSpec.kt
  detekt-sample-extensions/src/test/kotlin/io/gitlab/arturbosch/detekt/sample/extensions/SupportConfigValidationSpec.kt
  detekt-sample-extensions/src/test/resources/excluded-config.yml
  detekt-sample-extensions/src/test/resources/included-config.yml
  detekt-sample-extensions/src/test/resources/wrong-property-config.yml
  detekt-test/src/main/kotlin/io/gitlab/arturbosch/detekt/test/Resources.kt
  docs/pages/changelog.md
  docs/pages/configurations.md
  docs/pages/kdoc/detekt-api/io.gitlab.arturbosch.detekt.api.internal/-yaml-config/index.md
  docs/pages/kdoc/detekt-api/io.gitlab.arturbosch.detekt.api.internal/-yaml-config/load.md
Labels: housekeeping, migration

#2775 Fix memory leak with not closing processing settings
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/CorrectableRulesFirstSpec.kt
Labels: housekeeping

#2774 Do not print passing tests on the console
  buildSrc/src/main/kotlin/commons.gradle.kts
Labels: housekeeping

#2773 Run in parallel by default
  .github/workflows/pre-merge.yaml
  gradle.properties
Labels: housekeeping

#2771 Remove core module dependency for detekt-test
  detekt-cli/src/main/resources/META-INF/services/io.gitlab.arturbosch.detekt.api.FileProcessListener
  detekt-core/src/main/resources/META-INF/services/io.gitlab.arturbosch.detekt.api.FileProcessListener
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/CorrectableRulesFirstSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/CustomRuleSetProviderSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/DetektSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/FileProcessorLocatorSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/KtTreeCompilerSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/ProcessingSettingsFactory.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/RuleSetLocatorTest.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/config/CheckConfigurationSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/reporting/OutputFacadeSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/rules/RuleSetSpec.kt
  detekt-core/src/test/resources/configs/deactivated_ruleset.yml
  detekt-core/src/test/resources/configs/disabled-processors.yml
  detekt-core/src/test/resources/configs/one-correctable-rule.yml
  detekt-formatting/src/test/kotlin/io/gitlab/arturbosch/detekt/formatting/AutoCorrectLevelSpec.kt
  detekt-rules/src/main/resources/META-INF/services/io.gitlab.arturbosch.detekt.api.FileProcessListener
  detekt-test/build.gradle.kts
  detekt-test/src/main/kotlin/io/gitlab/arturbosch/detekt/test/FindingsAssertions.kt
  detekt-test/src/main/kotlin/io/gitlab/arturbosch/detekt/test/RuleSetExtensions.kt
Labels: housekeeping

#2777 Convert github-milestone-report.groovy to main.kts
  scripts/github-milestone-report.groovy
  scripts/github-milestone-report.main.kts
Labels: blocked

#2780 Disable Gradle daemon on CI
  .github/workflows/codecoverage.yaml
  .github/workflows/deploy-snapshot.yaml
  .github/workflows/pre-merge.yaml
Labels: housekeeping

#2782 Fix config generation directory
  detekt-generator/build.gradle.kts
Labels: housekeeping

#2792 Introduce BoM to manage our own dependencies
  buildSrc/src/main/kotlin/Versions.kt
  buildSrc/src/main/kotlin/commons.gradle.kts
  buildSrc/src/main/kotlin/packaging.gradle.kts
  detekt-api/build.gradle.kts
  detekt-bom/build.gradle.kts
  detekt-cli/build.gradle.kts
  detekt-formatting/build.gradle.kts
  detekt-generator/build.gradle.kts
  detekt-report-html/build.gradle.kts
  detekt-test-utils/build.gradle.kts
  settings.gradle.kts
Labels: housekeeping

#2776 Prepare 1.10.0-RC1 release
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/Versions.kt
  buildSrc/src/main/kotlin/commons.gradle.kts
  buildSrc/src/main/kotlin/releasing.gradle.kts
  detekt-bom/build.gradle.kts
  docs/_config.yml
  docs/pages/changelog 1.x.x.md
Labels: housekeeping

#2788 Smarter Caching on Github Actions
  .github/workflows/deploy-snapshot.yaml
  .github/workflows/pre-merge.yaml
Labels: housekeeping

#2797 Run compile-test-snippets in a isolated job
  .github/workflows/pre-merge.yaml
Labels: housekeeping

#2798 Simplify the Code Coverage workflow
  .github/workflows/codecoverage.yaml
Labels: housekeeping

#2803 Compile Test Snippets on Java 14
  .github/workflows/pre-merge.yaml
  detekt-rules/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/complexity/LongParameterListSpec.kt
  detekt-rules/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnnecessaryAbstractClassSpec.kt
Labels: housekeeping

#2801 Refactor compare_releases script to use clikt
  scripts/compare_releases.kts
  scripts/compare_releases.main.kts
  scripts/github-milestone-report.main.kts
Labels: housekeeping

#2820 UnusedPrivateClass: tests cleanup
  detekt-rules/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnusedPrivateClassSpec.kt
Labels: housekeeping

#2823 Simplify pre-merge.yaml
  .github/workflows/pre-merge.yaml
  config/detekt/argsfile
  config/detekt/argsfile_windows
Labels: housekeeping

#2800 Cleanup obsolete detekt suppression/excludes
  config/detekt/detekt.yml
  detekt-bom/build.gradle.kts
Labels: housekeeping
