Repository detekt/detekt, pull requests merged in 2020-11, with the labels that each got.

#3192 Make kotlinc adapted rule comments internal
  detekt-rules-coroutines/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/coroutines/RedundantSuspendModifier.kt
  detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/HasPlatformType.kt
  detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/MissingWhenCase.kt
  detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/RedundantElseInWhen.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/RedundantExplicitType.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UselessCallOnNotNull.kt
  docs/pages/documentation/coroutines.md
  docs/pages/documentation/potential-bugs.md
  docs/pages/documentation/style.md
Labels: housekeeping

#3195 Improve code coverage for DefaultCliInvoker testing happy and error path
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/internal/ClassLoaderCache.kt
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/invoke/DetektInvoker.kt
  detekt-gradle-plugin/src/test/kotlin/io/gitlab/arturbosch/detekt/cli/Main.kt
  detekt-gradle-plugin/src/test/kotlin/io/gitlab/arturbosch/detekt/gradle/TestFileCollection.kt
  detekt-gradle-plugin/src/test/kotlin/io/gitlab/arturbosch/detekt/internal/ClassLoaderCacheSpec.kt
  detekt-gradle-plugin/src/test/kotlin/io/gitlab/arturbosch/detekt/invoke/DefaultCliInvokerTest.kt
Labels: housekeeping

#3217 Remove unnecessary suppression in main
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/baseline/IndentingXMLStreamWriter.kt
  detekt-generator/src/main/kotlin/io/gitlab/arturbosch/detekt/generator/printer/rulesetpage/TestExclusions.kt
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/DetektPlugin.kt
Labels: housekeeping

#3227 Fix broken website redirects
  docs/_config.yml
Labels: documentation

#3226 Remove unused resources from the website
  docs/Dockerfile
  docs/_config.yml
  docs/_tooltips/baseball.html
  docs/_tooltips/basketball.html
  docs/_tooltips/football.html
  docs/_tooltips/soccer.html
  docs/createtag
  docs/docker-compose.yml
  docs/tooltips.html
  docs/tooltips.json
  docs/update.sh
  docs/var/build.sh
Labels: documentation

#3230 Remove already activated rules from detekt.yml
  config/detekt/detekt.yml
Labels: housekeeping

#3236 Release 1.15.0 rc1
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/Versions.kt
  docs/_config.yml
  docs/pages/changelog 1.x.x.md
Labels: housekeeping

#3225 Add documentation page on type resolution
  docs/pages/gettingstarted/gradle.md
  docs/pages/gettingstarted/type-resolution.md
Labels: documentation

#3249 Enabled publishing of sha256 and sha512 signatures
  gradle.properties
Labels: housekeeping

#3247 Introduce --all-rules flag
  detekt-cli/src/main/kotlin/io/gitlab/arturbosch/detekt/cli/CliArgs.kt
  detekt-cli/src/main/kotlin/io/gitlab/arturbosch/detekt/cli/Spec.kt
  detekt-cli/src/test/kotlin/io/gitlab/arturbosch/detekt/cli/CliArgsSpec.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/Analyzer.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/config/AllRulesConfig.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/WorkaroundConfigurationKtSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/config/ConfigurationsSpec.kt
  detekt-tooling/src/main/kotlin/io/github/detekt/tooling/api/spec/RulesSpec.kt
  detekt-tooling/src/main/kotlin/io/github/detekt/tooling/dsl/RulesSpecBuilder.kt
Labels: migration
