Repository detekt/detekt, pull requests merged in 2020-07, with the labels that each got.

#2844 Update getting started Gradle snippets
  docs/pages/gettingstarted/groovydsl.md
  docs/pages/gettingstarted/kotlindsl.md
Labels: documentation

#2849 Refactor
  detekt-cli/src/main/kotlin/io/gitlab/arturbosch/detekt/cli/Configurations.kt
  detekt-cli/src/main/kotlin/io/gitlab/arturbosch/detekt/cli/runners/SingleRuleRunner.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/Detektor.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/rules/RuleSets.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/rules/MultiRuleSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/rules/RuleSetSpec.kt
  detekt-rules/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/RuleProviderTest.kt
  detekt-rules/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/empty/EmptyBlocksMultiRuleSpec.kt
  detekt-rules/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/exceptions/TooGenericExceptionSpec.kt
Labels: housekeeping

#2847 Update Spek to 2.0.12
  detekt-bom/build.gradle.kts
Labels: housekeeping

#2853 Make sure to always target JVM 8 bytecode
  buildSrc/src/main/kotlin/commons.gradle.kts
Labels: housekeeping

#2862 Cleanup code
  detekt-rules/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/GuardClauses.kt
  detekt-rules/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/ThrowsCount.kt
  detekt-rules/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/ReturnCountSpec.kt
  detekt-rules/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/ThrowsCountSpec.kt
Labels: housekeeping

#2866 Mention bazel and github actions integration
  README.md
Labels: housekeeping

#2867 Mention bazel integration and a new blog article
  README.md
Labels: housekeeping

#2832 Speed up generateDocumentation
  detekt-generator/build.gradle.kts
Labels: housekeeping

#2874 Make KtTestCompiler internal
  detekt-api/src/test/kotlin/io/gitlab/arturbosch/detekt/api/AnnotationExcluderSpec.kt
  detekt-generator/src/test/kotlin/io/gitlab/arturbosch/detekt/generator/util/CollectorTestExtensions.kt
  detekt-test-utils/src/main/kotlin/io/github/detekt/test/utils/KotlinCoreEnvironmentWrapper.kt
  detekt-test-utils/src/main/kotlin/io/github/detekt/test/utils/KtTestCompiler.kt
  detekt-test-utils/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/KotlinEnvironmentTestSetup.kt
  detekt-test/src/main/kotlin/io/gitlab/arturbosch/detekt/test/RuleExtensions.kt
Labels: migration

#2875 Simplify internal parsing to KtFile's
  detekt-parser/src/main/kotlin/io/github/detekt/parser/KtCompiler.kt
  detekt-parser/src/test/kotlin/io/github/detekt/parser/KtCompilerTest.kt
  detekt-parser/src/test/resources/css/test.css
  detekt-test-utils/src/main/kotlin/io/github/detekt/test/utils/KtTestCompiler.kt
Labels: housekeeping

#2885 Publish to Bintray using maven-publish
  .github/CONTRIBUTING.md
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/packaging.gradle.kts
  gradle.properties
Labels: housekeeping

#2894 Update documentation to reference detekt idea plugin
  docs/pages/gettingstarted/groovydsl.md
  docs/pages/gettingstarted/kotlindsl.md
Labels: documentation

#2897 Fix testcase with early access jdk's
  detekt-gradle-plugin/src/test/kotlin/io/gitlab/arturbosch/detekt/MultiVersionTest.kt
Labels: build, housekeeping

#2899 Drop dependency on detekt test utils for Gradle plugin
  detekt-gradle-plugin/build.gradle.kts
  detekt-gradle-plugin/src/test/kotlin/io/gitlab/arturbosch/detekt/DslGradleRunner.kt
Labels: housekeeping

#2898 Use KtFile.name instead of storing an absolute path key
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/Location.kt
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/internal/Signatures.kt
  detekt-api/src/test/kotlin/io/gitlab/arturbosch/detekt/api/EntitySpec.kt
  detekt-formatting/src/main/kotlin/io/gitlab/arturbosch/detekt/formatting/FormattingRule.kt
  detekt-parser/src/main/kotlin/io/github/detekt/parser/KtCompiler.kt
  detekt-psi-utils/src/main/kotlin/io/github/detekt/psi/Keys.kt
  detekt-psi-utils/src/main/kotlin/io/github/detekt/psi/KtFiles.kt
  detekt-rules-naming/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/naming/MatchingDeclarationName.kt
  detekt-rules-naming/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/naming/InvalidPackageDeclarationSpec.kt
  detekt-test-utils/src/main/kotlin/io/github/detekt/test/utils/KtTestCompiler.kt
Labels: housekeeping
