Repository detekt/detekt, pull requests merged in 2020-08, with the labels that each got.

#2921 Test performance improvements
  buildSrc/src/main/kotlin/commons.gradle.kts
  detekt-api/build.gradle.kts
  detekt-api/src/test/kotlin/io/gitlab/arturbosch/detekt/api/AnnotationExcluderSpec.kt
  detekt-api/src/test/kotlin/io/gitlab/arturbosch/detekt/api/EntitySpec.kt
  detekt-api/src/test/kotlin/io/gitlab/arturbosch/detekt/api/PropertiesAwareSpec.kt
  detekt-api/src/test/kotlin/io/gitlab/arturbosch/detekt/api/internal/CompositeConfigTest.kt
  detekt-api/src/test/kotlin/io/gitlab/arturbosch/detekt/api/internal/InclusionExclusionPatternsSpec.kt
  detekt-api/src/testFixtures/kotlin/io/gitlab/arturbosch/detekt/test/TestDetektion.kt
  detekt-api/src/testFixtures/kotlin/io/gitlab/arturbosch/detekt/test/TestFactory.kt
  detekt-bom/build.gradle.kts
  detekt-core/build.gradle.kts
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/baseline/BaselineFilteredResultSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/rules/MultiRuleSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/rules/SingleRuleProviderSpec.kt
  detekt-metrics/build.gradle.kts
  detekt-metrics/src/test/kotlin/io/github/detekt/metrics/ComplexityReportGeneratorSpec.kt
  detekt-parser/src/test/kotlin/io/github/detekt/parser/KtCompilerTest.kt
  detekt-report-html/build.gradle.kts
  detekt-report-txt/build.gradle.kts
  detekt-report-xml/build.gradle.kts
  detekt-rules-empty/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/empty/EmptyBlocksMultiRuleSpec.kt
  detekt-test-utils/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/KotlinEnvironmentTestSetup.kt
  gradle.properties
Labels: housekeeping

#2923 Release 1.11.0-RC1
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/Versions.kt
  buildSrc/src/main/kotlin/packaging.gradle.kts
  docs/_config.yml
  docs/pages/changelog 1.x.x.md
Labels: housekeeping

#2920 Add informative message to UselessCallOnNotNull report
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UselessCallOnNotNull.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/UselessCallOnNotNullSpec.kt
Labels: rules

#2945 Reduce test discovery for api module
  detekt-api/src/test/kotlin/io/gitlab/arturbosch/detekt/api/SplitPatternSpec.kt
  detekt-api/src/test/kotlin/io/gitlab/arturbosch/detekt/api/internal/ConfigValidationSpec.kt
  detekt-api/src/test/kotlin/io/gitlab/arturbosch/detekt/api/internal/PathMatchersSpec.kt
Labels: housekeeping

#2946 Reduce test discovery for cli module
  detekt-cli/src/test/kotlin/io/gitlab/arturbosch/detekt/cli/PathFiltersSpec.kt
  detekt-cli/src/test/kotlin/io/gitlab/arturbosch/detekt/cli/runners/AstPrinterSpec.kt
  detekt-cli/src/test/kotlin/io/gitlab/arturbosch/detekt/cli/runners/ElementPrinterSpec.kt
  detekt-cli/src/test/kotlin/io/gitlab/arturbosch/detekt/cli/runners/RunnerSpec.kt
Labels: housekeeping

#2947 Reduce test discovery for core module
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/CustomRuleSetProviderSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/DetektYmlConfigSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/FileProcessorLocatorSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/KT.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/SuppressionSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/TopLevelAutoCorrectSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/baseline/BaselineFacadeSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/baseline/BaselineFormatSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/config/CheckConfigurationSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/config/ConfigurationsSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/config/DefaultConfigValidationSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/config/IssueExtensionSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/config/MaxIssueCheckTest.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/reporting/OutputReportsSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/reporting/console/FileBasedFindingsReportSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/reporting/console/FindingsReportSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/reporting/console/ProjectStatisticsReportSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/rules/MultiRuleSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/rules/RuleSetLocatorTest.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/rules/RuleSetSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/rules/SingleRuleProviderSpec.kt
Labels: housekeeping

#2948 Reduce test discovery for formatting module
  detekt-formatting/src/test/kotlin/io/gitlab/arturbosch/detekt/formatting/AutoCorrectLevelSpec.kt
  detekt-formatting/src/test/kotlin/io/gitlab/arturbosch/detekt/formatting/ChainWrappingSpec.kt
Labels: housekeeping

#2950 Reduce test discovery for rules-exceptions module
  detekt-rules-exceptions/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/exceptions/SwallowedExceptionSpec.kt
Labels: housekeeping

#2951 Reduce test discovery for rules-naming module
  detekt-rules-naming/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/naming/FunctionNamingSpec.kt
  detekt-rules-naming/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/naming/FunctionParameterNamingSpec.kt
  detekt-rules-naming/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/naming/InvalidPackageDeclarationSpec.kt
  detekt-rules-naming/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/naming/MemberNameEqualsClassNameSpec.kt
  detekt-rules-naming/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/naming/NamingConventionCustomPatternTest.kt
  detekt-rules-naming/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/naming/NamingConventionLengthSpec.kt
  detekt-rules-naming/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/naming/ObjectPropertyNamingSpec.kt
Labels: housekeeping

#2953 Reduce test discovery for metrics module
  detekt-metrics/src/test/kotlin/io/github/detekt/metrics/CyclomaticComplexitySpec.kt
Labels: housekeeping

#2949 Reduce test discovery for rules-complexity module
  detekt-rules-complexity/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/complexity/ComplexInterfaceSpec.kt
  detekt-rules-complexity/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/complexity/ComplexMethodSpec.kt
  detekt-rules-complexity/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/complexity/LongParameterListSpec.kt
  detekt-rules-complexity/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/complexity/TooManyFunctionsSpec.kt
Labels: housekeeping

#2952 Reduce test discovery for rules-style module
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/ForbiddenCommentSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/ForbiddenVoidSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/FunctionOnlyReturningConstantSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/MagicNumberSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/MaxLineLengthSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/ThrowsCountSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnnecessaryAnnotationUseSiteTargetSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnusedPrivateMemberSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/UseArrayLiteralsInAnnotationsSpec.kt
Labels: housekeeping

#2955 Actually print the invalid properties
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/config/ConfigValidators.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/config/CheckConfigurationSpec.kt
Labels: api, regression

#2963 Fix false positive for UnnecessaryApply with disabled type resolution
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnnecessaryApply.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnnecessaryApplySpec.kt
Labels: rules

#2977 Fix regression separating classpath entries - #2961
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/settings/EnvironmentAware.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/settings/EnvironmentFacadeSpec.kt
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/invoke/CliArgument.kt
Labels: regression

#3005 Do not publish test fixture; removing warning
  detekt-api/build.gradle.kts
Labels: housekeeping

#2944 Remove deprecated customReports detekt task property - #2811
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/Detekt.kt
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/DetektPlugin.kt
Labels: migration

#3010 Run detekt on all test sources
  buildSrc/src/main/kotlin/detekt.gradle.kts
  detekt-rules-errorprone/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/IgnoredReturnValueSpec.kt
  detekt-rules-errorprone/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/NullableToStringCallSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnnecessaryApplySpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnnecessaryLetSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnusedPrivateClassSpec.kt
  scripts/github-milestone-report.main.kts
Labels: housekeeping

#3001 Workaround config
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/Analyzer.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/config/Configurations.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/rules/RuleSets.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/tooling/AnalysisFacade.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/tooling/Lifecycle.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/tooling/ParsingStrategy.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/TopLevelAutoCorrectSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/WorkaroundConfigurationKtSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/config/ConfigurationsSpec.kt
Labels: migration

#3009 ArrayPrimitive rule: report variable/receiver types and factory methods
  detekt-rules-performance/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/performance/ArrayPrimitive.kt
  detekt-rules-performance/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/performance/ArrayPrimitiveSpec.kt
  docs/pages/documentation/performance.md
Labels: migration

#3014 Run Gradle Android tests conditionally when sdk path is defined
  detekt-gradle-plugin/src/test/kotlin/io/gitlab/arturbosch/detekt/DetektPluginTest.kt
Labels: housekeeping

#2954 Implement custom rule to check spek test discovery performance issues
  buildSrc/src/main/kotlin/detekt.gradle.kts
  config/detekt/detekt.yml
  custom-checks/build.gradle.kts
  custom-checks/src/main/kotlin/io/github/detekt/custom/CustomChecksConfigValidator.kt
  custom-checks/src/main/kotlin/io/github/detekt/custom/CustomChecksProvider.kt
  custom-checks/src/main/kotlin/io/github/detekt/custom/SpekTestDiscovery.kt
  custom-checks/src/main/resources/META-INF/services/io.gitlab.arturbosch.detekt.api.ConfigValidator
  custom-checks/src/main/resources/META-INF/services/io.gitlab.arturbosch.detekt.api.RuleSetProvider
  custom-checks/src/test/kotlin/io/github/detekt/custom/SpekTestDiscoverySpec.kt
  detekt-api/src/test/kotlin/io/gitlab/arturbosch/detekt/api/DebtSpec.kt
  detekt-report-html/src/test/kotlin/io/github/detekt/report/html/HtmlOutputReportSpec.kt
  detekt-report-html/src/test/kotlin/io/github/detekt/report/html/HtmlUtilsSpec.kt
  detekt-report-xml/src/test/kotlin/io/github/detekt/report/xml/XmlOutputFormatSpec.kt
  settings.gradle.kts
Labels: housekeeping

#3015 Run detekt with type resolution analysis on CI
  .github/workflows/detekt-with-type-resolution.yaml
  .github/workflows/pre-merge.yaml
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/internal/ValidatableConfiguration.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/Analyzer.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/rules/MultiRuleSpec.kt
  detekt-metrics/src/main/kotlin/io/github/detekt/metrics/ComplexityReportGenerator.kt
  detekt-rules-complexity/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/complexity/TooManyFunctions.kt
  detekt-rules-empty/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/empty/EmptyRule.kt
  detekt-test/src/main/kotlin/io/gitlab/arturbosch/detekt/test/FindingsAssertions.kt
Labels: housekeeping

#3016 Update Gradle to 6.6.1
  gradle/wrapper/gradle-wrapper.properties
Labels: housekeeping

#3035 Remove last years api deprecations
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/BaseRule.kt
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/CompositeConfig.kt
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/Config.kt
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/Context.kt
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/Rule.kt
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/RuleSetProvider.kt
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/SplitPattern.kt
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/Suppressible.kt
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/YamlConfig.kt
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/internal/BaseRule.kt
  docs/pages/kdoc/detekt-api/alltypes/index.md
  docs/pages/kdoc/detekt-api/io.gitlab.arturbosch.detekt.api.internal/-base-rule/-init-.md
  docs/pages/kdoc/detekt-api/io.gitlab.arturbosch.detekt.api.internal/-base-rule/index.md
  docs/pages/kdoc/detekt-api/io.gitlab.arturbosch.detekt.api.internal/index.md
  docs/pages/kdoc/detekt-api/io.gitlab.arturbosch.detekt.api/-context/index.md
  docs/pages/kdoc/detekt-api/io.gitlab.arturbosch.detekt.api/-context/report.md
  docs/pages/kdoc/detekt-api/io.gitlab.arturbosch.detekt.api/-default-context/index.md
  docs/pages/kdoc/detekt-api/io.gitlab.arturbosch.detekt.api/-default-context/report.md
  docs/pages/kdoc/detekt-api/io.gitlab.arturbosch.detekt.api/-detekt-visitor/index.md
  docs/pages/kdoc/detekt-api/io.gitlab.arturbosch.detekt.api/-rule-set-provider/index.md
  docs/pages/kdoc/detekt-api/io.gitlab.arturbosch.detekt.api/-split-pattern/index.md
  docs/pages/kdoc/detekt-api/io.gitlab.arturbosch.detekt.api/index.md
  docs/pages/kdoc/detekt-api/package-list
Labels: api, migration

#3039 Remove confusing annotation for UnusedImports rule
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnusedImports.kt
  docs/pages/documentation/style.md
Labels: housekeeping

#3037 Remove deprecated entity and location members
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/Entity.kt
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/Findings.kt
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/Location.kt
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/internal/Signatures.kt
  detekt-api/src/testFixtures/kotlin/io/gitlab/arturbosch/detekt/test/TestFactory.kt
  detekt-formatting/src/main/kotlin/io/gitlab/arturbosch/detekt/formatting/FormattingRule.kt
  detekt-report-xml/src/test/kotlin/io/github/detekt/report/xml/XmlOutputFormatSpec.kt
  docs/pages/kdoc/detekt-api/io.gitlab.arturbosch.detekt.api/-entity/-init-.md
  docs/pages/kdoc/detekt-api/io.gitlab.arturbosch.detekt.api/-entity/index.md
  docs/pages/kdoc/detekt-api/io.gitlab.arturbosch.detekt.api/-has-entity/index.md
  docs/pages/kdoc/detekt-api/io.gitlab.arturbosch.detekt.api/-location/-init-.md
  docs/pages/kdoc/detekt-api/io.gitlab.arturbosch.detekt.api/-location/index.md
Labels: migration

#3038 Remove obsolete signature workaround for formatting plugin
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/internal/Signatures.kt
Labels: housekeeping
