Repository detekt/detekt, pull requests merged in 2021-11, with the labels that each got.

#4212 Report UntilInsteadOfRangeTo for 'rangeTo' calls
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UntilInsteadOfRangeTo.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/UntilInsteadOfRangeToSpec.kt
Labels: housekeeping

#4217 Update Kotlin docs URL
  detekt-rules-complexity/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/complexity/ComplexMethod.kt
  detekt-rules-coroutines/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/coroutines/SuspendFunWithFlowReturnType.kt
  detekt-rules-exceptions/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/exceptions/ObjectExtendsThrowable.kt
  detekt-rules-naming/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/naming/MatchingDeclarationName.kt
  detekt-rules-performance/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/performance/ArrayPrimitive.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/ClassOrdering.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/LibraryCodeMustSpecifyReturnType.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/ModifierOrder.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/RedundantVisibilityModifierRule.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnnecessaryAnnotationUseSiteTarget.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UseDataClass.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UseIfInsteadOfWhen.kt
Labels: housekeeping

#4219 Fix typos and grammar in rule descriptions
  custom-checks/src/main/kotlin/io/github/detekt/custom/SpekTestDiscovery.kt
  detekt-rules-documentation/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/documentation/CommentOverPrivateFunction.kt
  detekt-rules-documentation/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/documentation/UndocumentedPublicClass.kt
  detekt-rules-documentation/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/documentation/EndOfSentenceFormatSpec.kt
  detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/Deprecation.kt
  detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/DuplicateCaseInWhenExpression.kt
  detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/ExitOutsideMain.kt
  detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/ImplicitDefaultLocale.kt
  detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/LateinitUsage.kt
  detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/UselessPostfixExpression.kt
  detekt-rules-exceptions/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/exceptions/ExceptionRaisedInUnexpectedLocation.kt
  detekt-rules-exceptions/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/exceptions/InstanceOfCheckForException.kt
  detekt-rules-naming/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/naming/ForbiddenClassName.kt
  detekt-rules-performance/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/performance/ForEachOnRange.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/CollapsibleIfStatements.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/ForbiddenMethodCall.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/ForbiddenPublicDataClass.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/FunctionOnlyReturningConstant.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/MagicNumber.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/MaxLineLength.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/MultilineLambdaItParameter.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/ThrowsCount.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnderscoresInNumericLiterals.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnnecessaryLet.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnusedPrivateClass.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnusedPrivateMember.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UseCheckOrError.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UtilityClassWithPublicConstructor.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/optional/OptionalUnit.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/SpacingBetweenPackageAndImportsSpec.kt
  detekt-tooling/src/main/kotlin/io/github/detekt/tooling/api/DetektProvider.kt
  detekt-tooling/src/main/kotlin/io/github/detekt/tooling/api/spec/LoggingSpec.kt
  detekt-tooling/src/main/kotlin/io/github/detekt/tooling/api/spec/RulesSpec.kt
Labels: housekeeping

#4218 Use Kotlin's ArrayDeque implementation
  detekt-metrics/src/main/kotlin/io/github/detekt/metrics/LinesOfCode.kt
  detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/EqualsWithHashCodeExist.kt
Labels: housekeeping

#4220 Refactor NoTabs to remove DetektVisitor
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/NoTabs.kt
Labels: housekeeping

#4221 Simplify conditional checks to improve coverage
  detekt-rules-naming/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/naming/NoNameShadowing.kt
  detekt-rules-performance/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/performance/UnnecessaryTemporaryInstantiation.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/CollapsibleIfStatements.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/MagicNumber.kt
Labels: housekeeping

#4225 Workaround for JDK 8 instability when reading config
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/config/YamlConfig.kt
Labels: bug

#4231 Make detekt a bit less noisy when mixing java and kotlin files
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/KtTreeCompiler.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/KtTreeCompilerSpec.kt
Labels: reports

#4251 Rename DoubleMutabilityInCollectionSpec to DoubleMutabilityForCollectionSpec
  detekt-rules-errorprone/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/DoubleMutabilityForCollectionSpec.kt
Labels: housekeeping

#4254 Upgrade to Gradle 7.3
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Labels: dependencies

#4255 Fix typo in Gradle lib definition
  build.gradle.kts
  gradle/libs.versions.toml
Labels: housekeeping

#4247 Introduce UseAnyOrNoneInsteadOfFind rule
  detekt-core/src/main/resources/default-detekt-config.yml
  detekt-psi-utils/api/detekt-psi-utils.api
  detekt-psi-utils/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/KtBinaryExpression.kt
  detekt-psi-utils/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/KtCallExpression.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/StyleGuideProvider.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UseAnyOrNoneInsteadOfFind.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/UseAnyOrNoneInsteadOfFindSpec.kt
Labels: rules

#3723 GitHub Actions cache fixes
  .github/workflows/codecoverage.yaml
  .github/workflows/deploy-snapshot.yaml
  .github/workflows/deploy-website.yaml
  .github/workflows/detekt-with-type-resolution.yaml
  .github/workflows/fossascan.yaml
  .github/workflows/pre-merge.yaml
Labels: ci, housekeeping

#4199 Add tests for merging reports
  detekt-gradle-plugin/src/test/kotlin/io/gitlab/arturbosch/detekt/DetektAndroidSpec.kt
  detekt-gradle-plugin/src/test/kotlin/io/gitlab/arturbosch/detekt/DetektMultiplatformSpec.kt
  detekt-gradle-plugin/src/test/kotlin/io/gitlab/arturbosch/detekt/report/ReportMergeSpec.kt
  detekt-gradle-plugin/src/test/kotlin/io/gitlab/arturbosch/detekt/testkit/DslGradleRunner.kt
Labels: housekeeping

#4268 Dokka 1.5.31
  gradle/libs.versions.toml
Labels: dependencies

#4267 Binary Compatibility Validator 0.8.0
  gradle/libs.versions.toml
Labels: dependencies

#4266 Reflections 0.10.2
  gradle/libs.versions.toml
Labels: dependencies

#4269 Shadow 7.1.0
  gradle/libs.versions.toml
Labels: dependencies

#4270 Gradle Publishing Plugin 0.17.0
  gradle/libs.versions.toml
Labels: dependencies

#4263 Replace usage of deprecated ConfigureUtil
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/extensions/DetektReports.kt
Labels: gradle

#4264 Use appropriate annotations on source properties in Gradle tasks
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/Detekt.kt
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/DetektCreateBaselineTask.kt
Labels: gradle

#4074 Setup Gradle functional tests
  detekt-gradle-plugin/build.gradle.kts
  detekt-gradle-plugin/src/functionalTest/kotlin/io/gitlab/arturbosch/detekt/CreateBaselineTaskDslSpec.kt
  detekt-gradle-plugin/src/functionalTest/kotlin/io/gitlab/arturbosch/detekt/DetektReportMergeSpec.kt
  detekt-gradle-plugin/src/functionalTest/kotlin/io/gitlab/arturbosch/detekt/DetektTaskMultiModuleSpec.kt
  detekt-gradle-plugin/src/functionalTest/kotlin/io/gitlab/arturbosch/detekt/DetektTaskSpec.kt
  detekt-gradle-plugin/src/functionalTest/kotlin/io/gitlab/arturbosch/detekt/GenerateConfigTaskSpec.kt
  detekt-gradle-plugin/src/functionalTest/kotlin/io/gitlab/arturbosch/detekt/PluginTaskBehaviorSpec.kt
  detekt-gradle-plugin/src/testFixtures/kotlin/io/gitlab/arturbosch/detekt/testkit/DslGradleRunner.kt
  detekt-gradle-plugin/src/testFixtures/kotlin/io/gitlab/arturbosch/detekt/testkit/DslTestBuilder.kt
  detekt-gradle-plugin/src/testFixtures/kotlin/io/gitlab/arturbosch/detekt/testkit/ProjectLayout.kt
Labels: housekeeping

#4222 Implement the rule to check if dispatchers are injectable
  detekt-core/src/main/resources/default-detekt-config.yml
  detekt-rules-coroutines/build.gradle.kts
  detekt-rules-coroutines/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/coroutines/CoroutinesProvider.kt
  detekt-rules-coroutines/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/coroutines/InjectDispatcher.kt
  detekt-rules-coroutines/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/coroutines/InjectDispatcherSpec.kt
Labels: rules

#4272 Landing page for Compose-related rule customization
  docs/_data/sidebars/home_sidebar.yml
  docs/pages/compose.md
Labels: documentation

#4275 Remove kotlin-gradle-plugin-api from runtime classpath
  detekt-gradle-plugin/build.gradle.kts
Labels: gradle

#4271 Remove afterEvaluate wrapper v2
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/internal/DetektAndroid.kt
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/internal/DetektJvm.kt
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/internal/DetektMultiplatform.kt
  detekt-gradle-plugin/src/test/kotlin/io/gitlab/arturbosch/detekt/DetektJvmSpec.kt
  detekt-gradle-plugin/src/test/kotlin/io/gitlab/arturbosch/detekt/report/ReportMergeSpec.kt
  detekt-gradle-plugin/src/testFixtures/kotlin/io/gitlab/arturbosch/detekt/testkit/DslGradleRunner.kt
Labels: gradle, notable changes

#4278 Filter already listed issues in the Changelog generator
  scripts/github-milestone-report.main.kts
Labels: housekeeping

#4202 Add --auto-correct cmdline option to gradle tasks
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/Detekt.kt
  detekt-gradle-plugin/src/test/kotlin/io/gitlab/arturbosch/detekt/DetektTaskDslSpec.kt
  detekt-gradle-plugin/src/testFixtures/kotlin/io/gitlab/arturbosch/detekt/testkit/DslGradleRunner.kt
  docs/pages/gettingstarted/gradle.md
Labels: gradle, notable changes

#4282 Improve Tests of UnnecesaryLet
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnnecessaryLetSpec.kt
Labels: housekeeping

#4285 Add documentation about how to configure Baseline task with type resolution
  README.md
  build.gradle.kts
  docs/pages/gettingstarted/gradle.md
Labels: documentation

#4290 Remove unused detekt-test-utils dependency
  detekt-gradle-plugin/build.gradle.kts
Labels: housekeeping

#4307 Add functional test for type resolution for JVM
  detekt-gradle-plugin/src/functionalTest/kotlin/io/gitlab/arturbosch/detekt/JvmSpec.kt
  detekt-gradle-plugin/src/functionalTest/resources/jvm/build.gradle
  detekt-gradle-plugin/src/functionalTest/resources/jvm/config/detekt/detekt.yml
  detekt-gradle-plugin/src/functionalTest/resources/jvm/settings.gradle
  detekt-gradle-plugin/src/functionalTest/resources/jvm/src/main/kotlin/Errors.kt
Labels: housekeeping

#4313 Don't hide null issues
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/config/DefaultConfig.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/tooling/DefaultConfigProvider.kt
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/DetektPlugin.kt
  detekt-report-html/src/main/kotlin/io/github/detekt/report/html/HtmlOutputReport.kt
  detekt-test-utils/src/main/kotlin/io/github/detekt/test/utils/Resources.kt
Labels: housekeeping

#4314 Move tests to the correct module
  detekt-generator/build.gradle.kts
  detekt-generator/src/test/kotlin/io/gitlab/arturbosch/detekt/generator/config/ConfigAssert.kt
  detekt-generator/src/test/kotlin/io/gitlab/arturbosch/detekt/generator/config/DetektYmlConfigSpec.kt
Labels: housekeeping

#4319 Remove unnecessary GITHUB_TOKEN
  .github/workflows/deploy-website.yaml
Labels: documentation, housekeeping

#4316 Simplify YamlConfig
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/config/Configurations.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/config/DefaultConfig.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/config/YamlConfig.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/tooling/DefaultConfigProvider.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/config/YamlConfigSpec.kt
  detekt-test/src/main/kotlin/io/gitlab/arturbosch/detekt/test/Resources.kt
  detekt-tooling/src/main/kotlin/io/github/detekt/tooling/internal/Resources.kt
Labels: housekeeping

#4064 Document report output customization for Gradle tasks
  README.md
  docs/index.md
  docs/pages/gettingstarted/gradle.md
  docs/pages/reporting.md
Labels: gradle, blocked, documentation

#4331 Add helper to check if a KtProperty is an "actual"
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/MayBeConst.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/MayBeConstSpec.kt
Labels: rules

#4337 Reference CLI options doc for details of type resolution CLI flags
  docs/pages/gettingstarted/type-resolution.md
Labels: documentation

#4342 Use major version tag for github-pages-deploy-action
  .github/workflows/deploy-website.yaml
Labels: housekeeping

#4343 Revert "Use major version tag for github-pages-deploy-action"
  .github/workflows/deploy-website.yaml
Labels: housekeeping
