Repository detekt/detekt, pull requests merged in 2021-04, with the labels that each got.

#3623 Improve tests from :detekt-gradle-plugin
  detekt-gradle-plugin/src/test/kotlin/io/gitlab/arturbosch/detekt/DetektAndroidTest.kt
  detekt-gradle-plugin/src/test/kotlin/io/gitlab/arturbosch/detekt/testkit/DslGradleRunner.kt
  detekt-gradle-plugin/src/test/kotlin/io/gitlab/arturbosch/detekt/testkit/DslTestBuilder.kt
  detekt-gradle-plugin/src/test/kotlin/io/gitlab/arturbosch/detekt/testkit/ProjectLayout.kt
  detekt-gradle-plugin/src/test/kotlin/io/gitlab/arturbosch/detekt/testkit/Submodule.kt
Labels: housekeeping

#3543 Enable SARIF output format by default
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/Detekt.kt
  detekt-gradle-plugin/src/test/kotlin/io/gitlab/arturbosch/detekt/DetektAndroidTest.kt
  detekt-gradle-plugin/src/test/kotlin/io/gitlab/arturbosch/detekt/DetektJvmTest.kt
  detekt-gradle-plugin/src/test/kotlin/io/gitlab/arturbosch/detekt/DetektMultiplatformTest.kt
  detekt-gradle-plugin/src/test/kotlin/io/gitlab/arturbosch/detekt/DetektTaskDslTest.kt
  detekt-report-sarif/build.gradle.kts
  detekt-report-sarif/src/main/kotlin/io/github/detekt/report/sarif/SarifDsl.kt
  detekt-report-sarif/src/test/resources/META-INF/MANIFEST.MF
  detekt-report-sarif/src/test/resources/META-INF/services/io.github.detekt.tooling.api.VersionProvider
  detekt-report-sarif/src/test/resources/relative_path.sarif.json
  detekt-report-sarif/src/test/resources/vanilla.sarif.json
Labels: reports

#3553 New Rule: DoubleMutabilityForCollection
  detekt-core/src/main/resources/default-detekt-config.yml
  detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/DoubleMutabilityForCollection.kt
  detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/PotentialBugProvider.kt
  detekt-rules-errorprone/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/DoubleMutabilityInCollectionSpec.kt
Labels: rules

#3646 Warnings as errors
  .github/workflows/pre-merge.yaml
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/Findings.kt
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/Location.kt
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/RuleSet.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/reporting/console/FileBasedFindingsReport.kt
  detekt-formatting/src/test/kotlin/io/gitlab/arturbosch/detekt/formatting/FormattingRuleSpec.kt
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/DetektCreateBaselineTask.kt
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/internal/SharedTasks.kt
  detekt-parser/src/main/kotlin/io/github/detekt/parser/DetektPomModel.kt
  detekt-report-xml/src/test/kotlin/io/github/detekt/report/xml/XmlOutputFormatSpec.kt
Labels: housekeeping
