Repository detekt/detekt, pull requests merged in 2021-05, with the labels that each got.

#3725 Don't run unnecesary tasks
  .github/workflows/detekt-with-type-resolution.yaml
Labels: housekeeping

#3732 Specify Java language level in module plugin
  buildSrc/src/main/kotlin/module.gradle.kts
Labels: housekeeping

#3735 Update config file due to invalid argument
  docs/pages/configurations.md
Labels: housekeeping

#3726 We have a logo :)
  README.md
  docs/_includes/head.html
  docs/images/favicon.ico
  docs/images/favicon.svg
  docs/images/logo.svg
  docs/index.md
  media/icon-text-square.svg
  media/icon-text.svg
  media/icon.svg
Labels: housekeeping

#3738 Set the org.gradle.dependency.bundling attribute to external
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/DetektPlugin.kt
Labels: build

#3741 Enable Gradle's version catalogs
  build.gradle.kts
  buildSrc/build.gradle.kts
  buildSrc/settings.gradle.kts
  buildSrc/src/main/kotlin/Versions.kt
  buildSrc/src/main/kotlin/module.gradle.kts
  detekt-api/build.gradle.kts
  detekt-bom/build.gradle.kts
  detekt-cli/build.gradle.kts
  detekt-core/build.gradle.kts
  detekt-formatting/build.gradle.kts
  detekt-generator/build.gradle.kts
  detekt-gradle-plugin/build.gradle.kts
  detekt-parser/build.gradle.kts
  detekt-psi-utils/build.gradle.kts
  detekt-report-html/build.gradle.kts
  detekt-report-sarif/build.gradle.kts
  detekt-test-utils/build.gradle.kts
  detekt-test/build.gradle.kts
  gradle/libs.versions.toml
  settings.gradle.kts
Labels: build

#3742 Enable Gradle's type-safe project accessors
  custom-checks/build.gradle.kts
  detekt-api/build.gradle.kts
  detekt-cli/build.gradle.kts
  detekt-core/build.gradle.kts
  detekt-formatting/build.gradle.kts
  detekt-generator/build.gradle.kts
  detekt-gradle-plugin/build.gradle.kts
  detekt-metrics/build.gradle.kts
  detekt-parser/build.gradle.kts
  detekt-report-html/build.gradle.kts
  detekt-report-sarif/build.gradle.kts
  detekt-report-txt/build.gradle.kts
  detekt-report-xml/build.gradle.kts
  detekt-rules-complexity/build.gradle.kts
  detekt-rules-coroutines/build.gradle.kts
  detekt-rules-documentation/build.gradle.kts
  detekt-rules-empty/build.gradle.kts
  detekt-rules-errorprone/build.gradle.kts
  detekt-rules-exceptions/build.gradle.kts
  detekt-rules-naming/build.gradle.kts
  detekt-rules-performance/build.gradle.kts
  detekt-rules-style/build.gradle.kts
  detekt-rules/build.gradle.kts
  detekt-sample-extensions/build.gradle.kts
  detekt-test-utils/build.gradle.kts
  detekt-test/build.gradle.kts
  detekt-tooling/build.gradle.kts
  settings.gradle.kts
Labels: build

#3754 Always run warningsAsErrors on CI
  buildSrc/src/main/kotlin/module.gradle.kts
Labels: housekeeping

#3753 Clean ci
  .github/workflows/codecoverage.yaml
  .github/workflows/deploy-snapshot.yaml
  .github/workflows/deploy-website.yaml
Labels: housekeeping

#3740 Ignore gradle plugin in codecov
  .codecov.yml
  .github/workflows/codecoverage.yaml
Labels: housekeeping

#3599 New Rule: ObjectLiteralToLambda
  detekt-core/src/main/resources/default-detekt-config.yml
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/internal/ClassLoaderCache.kt
  detekt-gradle-plugin/src/test/kotlin/io/gitlab/arturbosch/detekt/invoke/DefaultCliInvokerTest.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/ObjectLiteralToLambda.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/StyleGuideProvider.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/ObjectLiteralToLambdaSpec.kt
Labels: rules

#3745 Change default baseline file name from baseline.xml to detekt-baseline.xml
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/extensions/DetektExtension.kt
  detekt-gradle-plugin/src/test/kotlin/io/gitlab/arturbosch/detekt/CreateBaselineTaskDslTest.kt
  detekt-gradle-plugin/src/test/kotlin/io/gitlab/arturbosch/detekt/DetektAndroidTest.kt
  detekt-gradle-plugin/src/test/kotlin/io/gitlab/arturbosch/detekt/DetektJvmTest.kt
  detekt-gradle-plugin/src/test/kotlin/io/gitlab/arturbosch/detekt/DetektMultiplatformTest.kt
  detekt-gradle-plugin/src/test/kotlin/io/gitlab/arturbosch/detekt/DetektPlainTest.kt
Labels: notable changes

#3776 Fix crash for DontDowncastCollectionTypes on Synthetic types
  detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/DontDowncastCollectionTypes.kt
  detekt-rules-errorprone/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/DontDowncastCollectionTypesSpec.kt
Labels: bug, rules

#3804 Minor tweaks to the README badges
  README.md
Labels: housekeeping

#3718 Update Kotlin to 1.5
  build.gradle.kts
  buildSrc/src/main/kotlin/module.gradle.kts
  detekt-api/api/detekt-api.api
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/Rule.kt
  detekt-api/src/test/kotlin/io/gitlab/arturbosch/detekt/api/internal/ConfigPropertySpec.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/config/IssueExtension.kt
  detekt-generator/src/main/kotlin/io/gitlab/arturbosch/detekt/generator/printer/DetektPrinter.kt
  detekt-metrics/src/main/kotlin/io/github/detekt/metrics/ComplexityReportGenerator.kt
  detekt-psi-utils/api/detekt-psi-utils.api
  detekt-report-sarif/src/main/kotlin/io/github/detekt/report/sarif/RuleDescriptors.kt
  detekt-report-xml/src/main/kotlin/io/github/detekt/report/xml/XmlEscape.kt
  detekt-report-xml/src/main/kotlin/io/github/detekt/report/xml/XmlOutputReport.kt
  detekt-report-xml/src/test/kotlin/io/github/detekt/report/xml/XmlOutputFormatSpec.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/MagicNumber.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnderscoresInNumericLiterals.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnnecessaryLet.kt
  gradle/libs.versions.toml
Labels: dependencies, notable changes

#3801 [comments] Do not exclude tests globally
  detekt-core/src/main/resources/default-detekt-config.yml
Labels: rules

#3650 Merge JaCoCo coverage reports the "right" way
  .github/workflows/codecoverage.yaml
  build.gradle.kts
  buildSrc/src/main/kotlin/module.gradle.kts
  code-coverage-report/build.gradle.kts
  settings.gradle.kts
Labels: housekeeping

#3803 Add a page with our compatibility table
  README.md
  docs/_data/sidebars/home_sidebar.yml
  docs/pages/compatibility.md
  docs/pages/gettingstarted/gradle.md
Labels: documentation

#3818 jvmTarget can't be null
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/settings/EnvironmentAware.kt
  detekt-tooling/src/main/kotlin/io/github/detekt/tooling/api/spec/CompilerSpec.kt
  detekt-tooling/src/main/kotlin/io/github/detekt/tooling/dsl/CompilerSpecBuilder.kt
Labels: housekeeping

#3719 Fix modifier order value class
  README.md
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/ModifierOrder.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/ModifierOrderSpec.kt
Labels: rules

#3826 Kotlin 1.5.10
  build.gradle.kts
  gradle/libs.versions.toml
Labels: housekeeping

#3820 Change `@autocorrect` from tag to annotation
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/internal/AutoCorrectable.kt
  detekt-formatting/src/main/kotlin/io/gitlab/arturbosch/detekt/formatting/wrappers/AnnotationOnSeparateLine.kt
  detekt-formatting/src/main/kotlin/io/gitlab/arturbosch/detekt/formatting/wrappers/AnnotationSpacing.kt
  detekt-formatting/src/main/kotlin/io/gitlab/arturbosch/detekt/formatting/wrappers/ArgumentListWrapping.kt
  detekt-formatting/src/main/kotlin/io/gitlab/arturbosch/detekt/formatting/wrappers/ChainWrapping.kt
  detekt-formatting/src/main/kotlin/io/gitlab/arturbosch/detekt/formatting/wrappers/CommentSpacing.kt
  detekt-formatting/src/main/kotlin/io/gitlab/arturbosch/detekt/formatting/wrappers/EnumEntryNameCase.kt
  detekt-formatting/src/main/kotlin/io/gitlab/arturbosch/detekt/formatting/wrappers/FinalNewline.kt
  detekt-formatting/src/main/kotlin/io/gitlab/arturbosch/detekt/formatting/wrappers/ImportOrdering.kt
  detekt-formatting/src/main/kotlin/io/gitlab/arturbosch/detekt/formatting/wrappers/Indentation.kt
  detekt-formatting/src/main/kotlin/io/gitlab/arturbosch/detekt/formatting/wrappers/ModifierOrdering.kt
  detekt-formatting/src/main/kotlin/io/gitlab/arturbosch/detekt/formatting/wrappers/MultiLineIfElse.kt
  detekt-formatting/src/main/kotlin/io/gitlab/arturbosch/detekt/formatting/wrappers/NoBlankLineBeforeRbrace.kt
  detekt-formatting/src/main/kotlin/io/gitlab/arturbosch/detekt/formatting/wrappers/NoConsecutiveBlankLines.kt
  detekt-formatting/src/main/kotlin/io/gitlab/arturbosch/detekt/formatting/wrappers/NoEmptyClassBody.kt
  detekt-formatting/src/main/kotlin/io/gitlab/arturbosch/detekt/formatting/wrappers/NoEmptyFirstLineInMethodBlock.kt
  detekt-formatting/src/main/kotlin/io/gitlab/arturbosch/detekt/formatting/wrappers/NoLineBreakAfterElse.kt
  detekt-formatting/src/main/kotlin/io/gitlab/arturbosch/detekt/formatting/wrappers/NoLineBreakBeforeAssignment.kt
  detekt-formatting/src/main/kotlin/io/gitlab/arturbosch/detekt/formatting/wrappers/NoMultipleSpaces.kt
  detekt-formatting/src/main/kotlin/io/gitlab/arturbosch/detekt/formatting/wrappers/NoSemicolons.kt
  detekt-formatting/src/main/kotlin/io/gitlab/arturbosch/detekt/formatting/wrappers/NoTrailingSpaces.kt
  detekt-formatting/src/main/kotlin/io/gitlab/arturbosch/detekt/formatting/wrappers/NoUnitReturn.kt
  detekt-formatting/src/main/kotlin/io/gitlab/arturbosch/detekt/formatting/wrappers/NoUnusedImports.kt
  detekt-formatting/src/main/kotlin/io/gitlab/arturbosch/detekt/formatting/wrappers/PackageName.kt
  detekt-formatting/src/main/kotlin/io/gitlab/arturbosch/detekt/formatting/wrappers/ParameterListWrapping.kt
  detekt-formatting/src/main/kotlin/io/gitlab/arturbosch/detekt/formatting/wrappers/SpacingAroundAngleBrackets.kt
  detekt-formatting/src/main/kotlin/io/gitlab/arturbosch/detekt/formatting/wrappers/SpacingAroundColon.kt
  detekt-formatting/src/main/kotlin/io/gitlab/arturbosch/detekt/formatting/wrappers/SpacingAroundComma.kt
  detekt-formatting/src/main/kotlin/io/gitlab/arturbosch/detekt/formatting/wrappers/SpacingAroundCurly.kt
  detekt-formatting/src/main/kotlin/io/gitlab/arturbosch/detekt/formatting/wrappers/SpacingAroundDot.kt
  detekt-formatting/src/main/kotlin/io/gitlab/arturbosch/detekt/formatting/wrappers/SpacingAroundDoubleColon.kt
  detekt-formatting/src/main/kotlin/io/gitlab/arturbosch/detekt/formatting/wrappers/SpacingAroundKeyword.kt
  detekt-formatting/src/main/kotlin/io/gitlab/arturbosch/detekt/formatting/wrappers/SpacingAroundOperators.kt
  detekt-formatting/src/main/kotlin/io/gitlab/arturbosch/detekt/formatting/wrappers/SpacingAroundParens.kt
  detekt-formatting/src/main/kotlin/io/gitlab/arturbosch/detekt/formatting/wrappers/SpacingAroundRangeOperator.kt
  detekt-formatting/src/main/kotlin/io/gitlab/arturbosch/detekt/formatting/wrappers/SpacingAroundUnaryOperator.kt
  detekt-formatting/src/main/kotlin/io/gitlab/arturbosch/detekt/formatting/wrappers/SpacingBetweenDeclarationsWithAnnotations.kt
  detekt-formatting/src/main/kotlin/io/gitlab/arturbosch/detekt/formatting/wrappers/SpacingBetweenDeclarationsWithComments.kt
  detekt-formatting/src/main/kotlin/io/gitlab/arturbosch/detekt/formatting/wrappers/StringTemplate.kt
  detekt-generator/src/main/kotlin/io/gitlab/arturbosch/detekt/generator/collection/RuleVisitor.kt
  detekt-generator/src/test/kotlin/io/gitlab/arturbosch/detekt/generator/collection/RuleCollectorSpec.kt
Labels: notable changes

#3799 plugin: Simpler classLoader caching (#3248)
  README.md
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/internal/ClassLoaderCache.kt
  detekt-gradle-plugin/src/test/kotlin/io/gitlab/arturbosch/detekt/internal/ClassLoaderCacheSpec.kt
Labels: notable changes

#3836 Setup FOSSA
  .github/workflows/fossascan.yaml
Labels: housekeeping

#3837 Update FOSSA Readme Badge
  README.md
Labels: housekeeping

#3828 Fix false positive for UnusedPrivateMember - Backtick identifiers
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnusedPrivateMember.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnusedPrivateMemberSpec.kt
Labels: rules

#3822 Plugin: Fix Gradle configuration cache by not keeping classloader as a nested task field
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/Detekt.kt
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/DetektCreateBaselineTask.kt
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/DetektGenerateConfigTask.kt
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/invoke/DetektInvoker.kt
  detekt-gradle-plugin/src/test/kotlin/io/gitlab/arturbosch/detekt/ConfigurationCacheTest.kt
Labels: gradle
