Repository detekt/detekt, pull requests merged in 2021-01, with the labels that each got.

#3387 Disable parallel test discovery; we already use Grade workers for max parallelism
  buildSrc/src/main/kotlin/module.gradle.kts
Labels: housekeeping

#3254 Update Kotlin to 1.4.21
  .github/workflows/detekt-with-type-resolution.yaml
  .github/workflows/pre-merge.yaml
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/module.gradle.kts
  buildSrc/src/main/kotlin/releasing.gradle.kts
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/Detektion.kt
  detekt-api/src/testFixtures/kotlin/io/gitlab/arturbosch/detekt/test/TestDetektion.kt
  detekt-bom/build.gradle.kts
  detekt-cli/build.gradle.kts
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/DetektResult.kt
  detekt-formatting/build.gradle.kts
  detekt-metrics/src/main/kotlin/io/github/detekt/metrics/processors/ProjectCLOCProcessor.kt
  detekt-metrics/src/test/kotlin/io/github/detekt/metrics/processors/MetricProcessorTester.kt
  detekt-psi-utils/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/Junk.kt
  detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/EqualsWithHashCodeExist.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/NoTabs.kt
  detekt-sample-extensions/src/test/kotlin/io/gitlab/arturbosch/detekt/sample/extensions/processors/QualifiedNameProcessorTest.kt
  docs/pages/gettingstarted/cli.md
  gradle.properties
Labels: migration

#3419 Fix False Positive on `UnnecessarySafeCall`
  detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/UnnecessarySafeCall.kt
  detekt-rules-errorprone/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/UnnecessarySafeCallSpec.kt
Labels: rules

#3413 New rule: DontDowncastCollectionTypes
  detekt-core/src/main/resources/default-detekt-config.yml
  detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/DontDowncastCollectionTypes.kt
  detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/PotentialBugProvider.kt
  detekt-rules-errorprone/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/DontDowncastCollectionTypesSpec.kt
Labels: rules
