Repository detekt/detekt, pull requests merged in 2021-06, with the labels that each got.

#3848 Remove Extensions.getRootArea
  detekt-parser/src/main/kotlin/io/github/detekt/parser/DetektPomModel.kt
Labels: housekeeping

#3810 Update the implementation of ClassOrdering to handle false negatives
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/ClassOrdering.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/ClassOrderingSpec.kt
Labels: rules

#3870 verify that no rule is configured with kdoc tags
  detekt-generator/src/main/kotlin/io/gitlab/arturbosch/detekt/generator/collection/KDocTags.kt
  detekt-generator/src/main/kotlin/io/gitlab/arturbosch/detekt/generator/collection/RuleVisitor.kt
  detekt-generator/src/test/kotlin/io/gitlab/arturbosch/detekt/generator/collection/RuleCollectorSpec.kt
Labels: housekeeping

#3876 OptionalUnit: fix false positive when function initializer is Nothing type
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/optional/OptionalUnit.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/optional/OptionalUnitSpec.kt
Labels: rules

#3879 Improve LongParameterList rule by supporting ignoring annotated parameters
  README.md
  detekt-rules-complexity/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/complexity/LongParameterList.kt
  detekt-rules-complexity/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/complexity/LongParameterListSpec.kt
Labels: rules

#3883 Update outdated Gradle plugin documentation regarding source files
  docs/pages/gettingstarted/gradle.md
Labels: documentation

#3880 VarCouldBeVal: don't report assigned property that is defined in anonymous object
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/VarCouldBeVal.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/VarCouldBeValSpec.kt
Labels: notable changes, rules

#3899 Check bindingContext only once
  detekt-rules-naming/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/naming/MemberNameEqualsClassName.kt
Labels: rules

#3905 Allow else when {...} in MandatoryBracesIfStatements rule
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/optional/MandatoryBracesIfStatements.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/optional/MandatoryBracesIfStatementsSpec.kt
Labels: rules

#3907 Fix exclusion pattern for InvalidPackageDeclaration
  detekt-core/src/main/resources/default-detekt-config.yml
  detekt-generator/src/main/kotlin/io/gitlab/arturbosch/detekt/generator/printer/rulesetpage/Exclusion.kt
Labels: rules

#3827 Use multi line format for list options in config
  detekt-core/src/main/resources/default-detekt-config.yml
  detekt-generator/src/main/kotlin/io/gitlab/arturbosch/detekt/generator/collection/Configuration.kt
  detekt-generator/src/main/kotlin/io/gitlab/arturbosch/detekt/generator/out/Yaml.kt
  detekt-generator/src/main/kotlin/io/gitlab/arturbosch/detekt/generator/printer/rulesetpage/ConfigPrinter.kt
  detekt-generator/src/test/kotlin/io/gitlab/arturbosch/detekt/generator/collection/ConfigurationSpec.kt
  detekt-generator/src/test/kotlin/io/gitlab/arturbosch/detekt/generator/out/YamlSpec.kt
  detekt-generator/src/test/kotlin/io/gitlab/arturbosch/detekt/generator/util/RuleSetPageCreator.kt
  detekt-generator/src/test/resources/RuleSetConfig.yml
Labels: notable changes

#3912 Update assertj to v3.20.2
  gradle/libs.versions.toml
Labels: dependencies

#3911 Update snakeyaml to v1.29
  gradle/libs.versions.toml
Labels: dependencies

#3908 Refactor + rename util function inside MandatoryBracesIfStatement rule
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/optional/MandatoryBracesIfStatements.kt
Labels: rules

#3841 Fix UnnecessaryLet false positive in inner lambdas
  detekt-psi-utils/api/detekt-psi-utils.api
  detekt-psi-utils/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/KtLambdaExpression.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnnecessaryLet.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnnecessaryLetSpec.kt
Labels: rules
