Repository detekt/detekt, pull requests merged in 2021-12, with the labels that each got.

#4344 [UseDataClass] Do not report on `inner` classes
  README.md
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UseDataClass.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/UseDataClassSpec.kt
Labels: rules

#4347 UnusedPrivateMember should not report external classes/interfaces
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnusedPrivateMember.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnusedPrivateMemberSpec.kt
Labels: rules

#4351 Update compatibility table
  README.md
  docs/pages/compatibility.md
Labels: documentation

#4349 Testing and rule improvement for EmptyElseBlock
  detekt-rules-empty/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/empty/EmptyElseBlock.kt
  detekt-rules-empty/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/empty/EmptyIfBlock.kt
  detekt-rules-empty/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/empty/EmptyRule.kt
  detekt-rules-empty/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/empty/EmptyElseBlockSpec.kt
Labels: rules

#4334 Enable ForbiddenMethodCall
  config/detekt/detekt.yml
  detekt-api/build.gradle.kts
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/internal/Versions.kt
  detekt-cli/src/main/kotlin/io/gitlab/arturbosch/detekt/cli/Main.kt
  detekt-core/build.gradle.kts
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/config/Configurations.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/config/DefaultConfig.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/tooling/DefaultConfigProvider.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/config/CompositeConfigSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/config/YamlConfigSpec.kt
  detekt-generator/src/main/kotlin/io/gitlab/arturbosch/detekt/generator/DetektPrinter.kt
  detekt-generator/src/main/kotlin/io/gitlab/arturbosch/detekt/generator/out/AbstractWriter.kt
  detekt-report-html/build.gradle.kts
  detekt-report-html/src/main/kotlin/io/github/detekt/report/html/HtmlOutputReport.kt
  detekt-sample-extensions/src/main/kotlin/io/gitlab/arturbosch/detekt/sample/extensions/reports/Reports.kt
  detekt-test/build.gradle.kts
  detekt-test/src/main/kotlin/io/gitlab/arturbosch/detekt/test/Resources.kt
  detekt-utils/build.gradle.kts
  detekt-utils/src/main/kotlin/io/github/detekt/utils/Resources.kt
  settings.gradle.kts
Labels: housekeeping

#4362 Enable UseAnyOrNoneInsteadOfFind
  config/detekt/detekt.yml
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/AnnotationExcluder.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/FileProcessorLocatorSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/rules/RuleSetLocatorSpec.kt
  detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/Deprecation.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/optional/MandatoryBracesLoops.kt
Labels: housekeeping

#4277 Kotlin 1.6.10
  build-logic/src/main/kotlin/module.gradle.kts
  detekt-cli/src/main/kotlin/io/gitlab/arturbosch/detekt/cli/CliArgs.kt
  detekt-gradle-plugin/build.gradle.kts
  gradle/libs.versions.toml
Labels: dependencies, notable changes

#4398 Config file in directory test
  detekt-gradle-plugin/src/testFixtures/kotlin/io/gitlab/arturbosch/detekt/testkit/DslGradleRunner.kt
  detekt-gradle-plugin/src/testFixtures/kotlin/io/gitlab/arturbosch/detekt/testkit/DslTestBuilder.kt
Labels: housekeeping

#4401 Don't define classes on default package
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/ObjectLiteralToLambdaSpec.kt
  detekt-rules-style/src/test/resources/java/ObjectLiteralToLambda.java
  detekt-rules-style/src/test/resources/java/com/example/fromjava/OnlyDefaultMethods.java
  detekt-rules-style/src/test/resources/java/com/example/fromjava/SamWithDefaultMethods.java
Labels: housekeeping

#4379 Added rule CanBeNonNullableProperty
  config/detekt/detekt.yml
  detekt-core/src/main/resources/default-detekt-config.yml
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/CanBeNonNullable.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/StyleGuideProvider.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/CanBeNonNullableSpec.kt
Labels: rules

#4403 Disable CI for Windows & JDK8
  .github/workflows/pre-merge.yaml
Labels: housekeeping

#4422 Shadow 7.1.2
  gradle/libs.versions.toml
Labels: dependencies

#4353 [NullCheckOnMutableProperty] Created rule for when a null-check is performed on a mutable property
  detekt-core/src/main/resources/default-detekt-config.yml
  detekt-psi-utils/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/KtBinaryExpression.kt
  detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/NullCheckOnMutableProperty.kt
  detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/PotentialBugProvider.kt
  detekt-rules-errorprone/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/NullCheckOnMutablePropertySpec.kt
Labels: rules
