Repository detekt/detekt, pull requests merged in 2021-07, with the labels that each got.

#3920 Fix java.lang.ClassCastException is reading default yaml config
  detekt-core/src/main/resources/default-detekt-config.yml
  detekt-generator/src/main/kotlin/io/gitlab/arturbosch/detekt/generator/out/Yaml.kt
  detekt-generator/src/test/kotlin/io/gitlab/arturbosch/detekt/generator/out/YamlSpec.kt
  detekt-generator/src/test/resources/RuleSetConfig.yml
Labels: housekeeping

#3940 UndocumentedPublicProperty and UndocumentedPublicFunction should include objects
  detekt-rules-documentation/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/documentation/UndocumentedPublicFunction.kt
  detekt-rules-documentation/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/documentation/UndocumentedPublicProperty.kt
  detekt-rules-documentation/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/documentation/UndocumentedPublicFunctionSpec.kt
  detekt-rules-documentation/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/documentation/UndocumentedPublicPropertySpec.kt
Labels: rules

#3941 Revert "Bump Kotlin to v1.5.20"
  detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/MissingWhenCase.kt
  gradle/libs.versions.toml
Labels: dependencies

#3937 Update mockk to 1.12.0
  detekt-core/build.gradle.kts
  detekt-metrics/build.gradle.kts
  detekt-report-html/build.gradle.kts
  detekt-rules-style/build.gradle.kts
  gradle/libs.versions.toml
Labels: dependencies

#3954 Document how to remove detekt from check task
  docs/pages/gettingstarted/gradle.md
Labels: documentation

#3953 Avoid task creation in groovy example
  docs/pages/gettingstarted/gradletask.md
Labels: documentation

#3956 Bump Kotlin to 1.5.21
  detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/MissingWhenCase.kt
  gradle/libs.versions.toml
Labels: dependencies

#3943 Revert "Avoid overlapping outputs"
  detekt-gradle-plugin/build.gradle.kts
Labels: housekeeping

#3962 UndocumentedPublicFunction: don't report when nested class is inside not public class
  detekt-rules-documentation/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/documentation/UndocumentedPublicFunction.kt
  detekt-rules-documentation/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/documentation/UndocumentedPublicFunctionSpec.kt
Labels: false-positive, rules

#3936 Reformat internal detekt.yml using multi line lists
  config/detekt/detekt.yml
Labels: housekeeping

#3924 Add AvoidReferentialEquality rule
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/internal/SimpleGlob.kt
  detekt-api/src/test/kotlin/io/gitlab/arturbosch/detekt/api/internal/SimpleGlobSpec.kt
  detekt-core/src/main/resources/default-detekt-config.yml
  detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/AvoidReferentialEquality.kt
  detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/PotentialBugProvider.kt
  detekt-rules-errorprone/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/AvoidReferentialEqualitySpec.kt
Labels: rules

#3951 Rename property in gradle plugin extension from input to source
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/extensions/DetektExtension.kt
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/internal/DetektPlain.kt
  detekt-gradle-plugin/src/test/kotlin/io/gitlab/arturbosch/detekt/DetektTaskDslSpec.kt
  detekt-gradle-plugin/src/test/kotlin/io/gitlab/arturbosch/detekt/DetektTaskMultiModuleIntegrationSpec.kt
  docs/_posts/2019-03-03-configure-detekt-on-root-project.md
Labels: gradle, notable changes

#3974 Activate IgnoredReturnValue on detekt code base
  config/detekt/detekt.yml
  detekt-test/src/main/kotlin/io/gitlab/arturbosch/detekt/test/FindingsAssertions.kt
Labels: housekeeping

#3986 Publish bundled/Shadow JAR artifact to Maven repos
  detekt-cli/build.gradle.kts
Labels: housekeeping

#3666 UnusedPrivateMember - added handling of overloaded array get operator…
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnusedPrivateMember.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnusedPrivateMemberSpec.kt
Labels: rules
