Repository detekt/detekt, pull requests merged in 2021-09, with the labels that each got.

#4090 Migrate buildSrc to composite build
  README.md
  build-logic/build.gradle.kts
  build-logic/settings.gradle.kts
  build-logic/src/main/kotlin/Constants.kt
  build-logic/src/main/kotlin/UpdateVersionInFileTask.kt
  build-logic/src/main/kotlin/Versions.kt
  build-logic/src/main/kotlin/detekt.gradle.kts
  build-logic/src/main/kotlin/module.gradle.kts
  build-logic/src/main/kotlin/packaging.gradle.kts
  build-logic/src/main/kotlin/releasing.gradle.kts
  build.gradle.kts
  config/detekt/argsfile
  config/detekt/detekt.yml
  custom-checks/build.gradle.kts
  detekt-api/build.gradle.kts
  detekt-cli/build.gradle.kts
  detekt-core/build.gradle.kts
  detekt-formatting/build.gradle.kts
  detekt-generator/build.gradle.kts
  detekt-gradle-plugin/build.gradle.kts
  detekt-metrics/build.gradle.kts
  detekt-parser/build.gradle.kts
  detekt-psi-utils/build.gradle.kts
  detekt-report-html/build.gradle.kts
  detekt-report-sarif/build.gradle.kts
  detekt-report-txt/build.gradle.kts
  detekt-report-xml/build.gradle.kts
  detekt-rules-complexity/build.gradle.kts
  detekt-rules-coroutines/build.gradle.kts
  detekt-rules-documentation/build.gradle.kts
  detekt-rules-empty/build.gradle.kts
  detekt-rules-errorprone/build.gradle.kts
  detekt-rules-exceptions/build.gradle.kts
  detekt-rules-naming/build.gradle.kts
  detekt-rules-performance/build.gradle.kts
  detekt-rules-style/build.gradle.kts
  detekt-rules/build.gradle.kts
  detekt-sample-extensions/build.gradle.kts
  detekt-test-utils/build.gradle.kts
  detekt-test/build.gradle.kts
  detekt-tooling/build.gradle.kts
  settings.gradle.kts
Labels: housekeeping

#4043 Remove detekt-bom module
  build-logic/src/main/kotlin/module.gradle.kts
  custom-checks/build.gradle.kts
  detekt-api/build.gradle.kts
  detekt-bom/build.gradle.kts
  detekt-cli/build.gradle.kts
  detekt-core/build.gradle.kts
  detekt-formatting/build.gradle.kts
  detekt-generator/build.gradle.kts
  detekt-gradle-plugin/build.gradle.kts
  detekt-metrics/build.gradle.kts
  detekt-parser/build.gradle.kts
  detekt-psi-utils/build.gradle.kts
  detekt-report-html/build.gradle.kts
  detekt-report-sarif/build.gradle.kts
  detekt-report-txt/build.gradle.kts
  detekt-report-xml/build.gradle.kts
  detekt-rules-complexity/build.gradle.kts
  detekt-rules-coroutines/build.gradle.kts
  detekt-rules-documentation/build.gradle.kts
  detekt-rules-empty/build.gradle.kts
  detekt-rules-errorprone/build.gradle.kts
  detekt-rules-exceptions/build.gradle.kts
  detekt-rules-naming/build.gradle.kts
  detekt-rules-performance/build.gradle.kts
  detekt-rules-style/build.gradle.kts
  detekt-rules/build.gradle.kts
  detekt-sample-extensions/build.gradle.kts
  detekt-tooling/build.gradle.kts
  gradle/libs.versions.toml
  settings.gradle.kts
Labels: notable changes

#4105 Rename and split ValidateConfig files
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/config/ValidatableConfiguration.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/config/ValidateConfig.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/config/ValidateConfigSpec.kt
Labels: housekeeping

#4104 Dynamic deprecation
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/config/ValidateConfig.kt
  detekt-core/src/main/resources/deprecation.properties
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/baseline/BaselineResultMappingSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/config/ValidateConfigSpec.kt
  detekt-generator/build.gradle.kts
  detekt-generator/src/main/kotlin/io/gitlab/arturbosch/detekt/generator/DetektPrinter.kt
  detekt-generator/src/main/kotlin/io/gitlab/arturbosch/detekt/generator/Generator.kt
  detekt-generator/src/main/kotlin/io/gitlab/arturbosch/detekt/generator/collection/DetektCollector.kt
  detekt-generator/src/main/kotlin/io/gitlab/arturbosch/detekt/generator/collection/RuleSetPage.kt
  detekt-generator/src/main/kotlin/io/gitlab/arturbosch/detekt/generator/out/AbstractWriter.kt
  detekt-generator/src/main/kotlin/io/gitlab/arturbosch/detekt/generator/printer/DeprecatedPrinter.kt
  detekt-generator/src/main/kotlin/io/gitlab/arturbosch/detekt/generator/printer/RuleSetPagePrinter.kt
  detekt-generator/src/main/kotlin/io/gitlab/arturbosch/detekt/generator/printer/defaultconfig/ConfigPrinter.kt
  detekt-generator/src/main/kotlin/io/gitlab/arturbosch/detekt/generator/printer/defaultconfig/Exclusion.kt
  detekt-generator/src/main/kotlin/io/gitlab/arturbosch/detekt/generator/printer/rulesetpage/RuleSetPage.kt
  detekt-generator/src/test/kotlin/io/gitlab/arturbosch/detekt/generator/printer/DeprecatedPrinterSpec.kt
  detekt-generator/src/test/kotlin/io/gitlab/arturbosch/detekt/generator/printer/RuleSetPagePrinterSpec.kt
  detekt-generator/src/test/kotlin/io/gitlab/arturbosch/detekt/generator/printer/defaultconfig/ConfigPrinterSpec.kt
  detekt-generator/src/test/kotlin/io/gitlab/arturbosch/detekt/generator/util/RuleSetPageCreator.kt
Labels: housekeeping

#4101 Remove library specific configurations
  detekt-core/src/main/resources/default-detekt-config.yml
  detekt-rules-naming/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/naming/FunctionNaming.kt
  detekt-rules-naming/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/naming/FunctionNamingSpec.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/FunctionOnlyReturningConstant.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnnecessaryAbstractClass.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/WildcardImport.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/WildcardImportSpec.kt
Labels: notable changes

#3982 Use reference in fallback property delegate
  detekt-api/api/detekt-api.api
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/ConfigProperty.kt
  detekt-api/src/test/kotlin/io/gitlab/arturbosch/detekt/api/ConfigPropertySpec.kt
  detekt-generator/src/main/kotlin/io/gitlab/arturbosch/detekt/generator/collection/ConfigurationCollector.kt
  detekt-generator/src/test/kotlin/io/gitlab/arturbosch/detekt/generator/collection/RuleCollectorSpec.kt
  detekt-rules-complexity/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/complexity/LongParameterList.kt
  detekt-rules-empty/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/empty/EmptyFunctionBlock.kt
  detekt-rules-naming/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/naming/FunctionParameterNaming.kt
  detekt-rules-naming/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/naming/MemberNameEqualsClassName.kt
Labels: api, notable changes

#3687 Deprecate configuration of reports in detekt Gradle extension
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/Detekt.kt
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/extensions/CustomDetektReport.kt
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/extensions/DetektExtension.kt
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/extensions/DetektReport.kt
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/extensions/DetektReports.kt
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/internal/DetektAndroid.kt
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/internal/DetektJvm.kt
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/internal/DetektMultiplatform.kt
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/internal/DetektPlain.kt
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/internal/SharedTasks.kt
  detekt-gradle-plugin/src/test/kotlin/io/gitlab/arturbosch/detekt/DetektAndroidSpec.kt
  detekt-gradle-plugin/src/test/kotlin/io/gitlab/arturbosch/detekt/DetektJvmSpec.kt
  detekt-gradle-plugin/src/test/kotlin/io/gitlab/arturbosch/detekt/DetektMultiplatformSpec.kt
  detekt-gradle-plugin/src/test/kotlin/io/gitlab/arturbosch/detekt/DetektPlainSpec.kt
  detekt-gradle-plugin/src/test/kotlin/io/gitlab/arturbosch/detekt/DetektTaskDslSpec.kt
  docs/pages/changelog 1.x.x.md
Labels: gradle, notable changes

#3439 Remove UnnecessarySafeCall safeguard against ErrorType
  detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/UnnecessarySafeCall.kt
Labels: rules

#4103 Fix indent issues with continaution indent
  .editorconfig
Labels: housekeeping

#4116 Don't unnecessarily propogate opt-in requirement
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/settings/PropertiesFacade.kt
  detekt-rules/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/documentation/LicenceHeaderLoaderExtensionSpec.kt
Labels: housekeeping

#4115 Drop junit-platform-launcher dependency
  custom-checks/build.gradle.kts
  detekt-api/build.gradle.kts
  detekt-cli/build.gradle.kts
  detekt-core/build.gradle.kts
  detekt-formatting/build.gradle.kts
  detekt-generator/build.gradle.kts
  detekt-gradle-plugin/build.gradle.kts
  detekt-metrics/build.gradle.kts
  detekt-parser/build.gradle.kts
  detekt-psi-utils/build.gradle.kts
  detekt-report-html/build.gradle.kts
  detekt-report-sarif/build.gradle.kts
  detekt-report-txt/build.gradle.kts
  detekt-report-xml/build.gradle.kts
  detekt-rules-complexity/build.gradle.kts
  detekt-rules-coroutines/build.gradle.kts
  detekt-rules-documentation/build.gradle.kts
  detekt-rules-empty/build.gradle.kts
  detekt-rules-errorprone/build.gradle.kts
  detekt-rules-exceptions/build.gradle.kts
  detekt-rules-naming/build.gradle.kts
  detekt-rules-performance/build.gradle.kts
  detekt-rules-style/build.gradle.kts
  detekt-rules/build.gradle.kts
  detekt-sample-extensions/build.gradle.kts
  detekt-tooling/build.gradle.kts
  gradle/libs.versions.toml
Labels: housekeeping

#4113 Kotlin 1.5.31
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/extensions/Loading.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/tooling/Lifecycle.kt
  detekt-report-sarif/src/test/kotlin/io/github/detekt/report/sarif/SarifOutputReportSpec.kt
  gradle/libs.versions.toml
Labels: dependencies

#4112 Ensure detekt-tooling public API is stable
  detekt-tooling/api/detekt-tooling.api
  detekt-tooling/build.gradle.kts
Labels: housekeeping

#4123 Disable `UnsafeCallOnNullableType` on tests
  detekt-core/src/main/resources/default-detekt-config.yml
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/SuppressionSpec.kt
  detekt-generator/src/main/kotlin/io/gitlab/arturbosch/detekt/generator/printer/defaultconfig/Exclusion.kt
  detekt-rules/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/RuleProviderSpec.kt
Labels: rules

#3972 UnderscoresInNumericLiterals acceptableDecimalLength is off by one
  detekt-core/src/main/resources/default-detekt-config.yml
  detekt-core/src/main/resources/deprecation.properties
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnderscoresInNumericLiterals.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnderscoresInNumericLiteralsSpec.kt
Labels: migration

#4139 Fixes for Kotlin 1.6.0-M1
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/PropertiesAware.kt
  detekt-cli/src/main/kotlin/io/gitlab/arturbosch/detekt/cli/Main.kt
  detekt-psi-utils/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/Junk.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UseIsNullOrEmpty.kt
  detekt-test-utils/src/main/kotlin/io/github/detekt/test/utils/Nodes.kt
Labels: housekeeping
