Repository detekt/detekt, pull requests merged in 2022-05, with the labels that each got.

#4802 Upgrade to GE enterprise 3.10
  settings.gradle.kts
Labels: build

#4801 Add tests for #4786
  detekt-cli/src/main/kotlin/io/gitlab/arturbosch/detekt/cli/ArgumentConverters.kt
  detekt-cli/src/test/kotlin/io/gitlab/arturbosch/detekt/cli/CliArgsSpec.kt
  detekt-gradle-plugin/src/test/kotlin/io/gitlab/arturbosch/detekt/DetektJvmSpec.kt
Labels: cli, gradle

#4807 Fix wrong replacement suggestion for UnnecessaryFilter
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnnecessaryFilter.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnnecessaryFilterSpec.kt
Labels: rules

#4804 UseOrEmpty: fix false positive for indexing operator calls with type parameters
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UseOrEmpty.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/UseOrEmptySpec.kt
Labels: rules

#4819 Add a recent conference talk link
  README.md
Labels: documentation

#4796 Improve rule documentaion and smell message of NamedArguments
  detekt-rules-complexity/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/complexity/NamedArguments.kt
Labels: rules

#4818 False positive for unused imports #4815
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnusedImports.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnusedImportsSpec.kt
Labels: rules

#4820 Fix ValShouldBeVar false positive inside unknown type
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/VarCouldBeVal.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/VarCouldBeValSpec.kt
Labels: rules

#4795 Improve issue description and smell message of DestructuringDeclarationWithTooManyEntries
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/DestructuringDeclarationWithTooManyEntries.kt
Labels: rules

#4793 Report as warnings the Strings that should be an array
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/config/ValidateConfig.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/config/ValidateConfigSpec.kt
  detekt-core/src/test/resources/config_validation/baseline.yml
Labels: core, notable changes

#4847 Use standard notation to apply Gradle Enterprise Gradle Plugin
  settings.gradle.kts
Labels: build

#4850 Fix edit URLs for the website
  website/docusaurus.config.js
Labels: documentation

#4803 ExplicitCollectionElementAccessMethod: fix false positive for get operators with type parameters
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/ExplicitCollectionElementAccessMethod.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/ExplicitCollectionElementAccessMethodSpec.kt
Labels: rules

#4831 Search in all versions.properties, not just the first one #4830
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/extensions/DetektExtension.kt
Labels: gradle

#4852 Fix a confusing Regex in the Compose webpage
  website/docs/introduction/compose.md
Labels: documentation

#4844 detektGenerateConfig adds the configuration of plugins
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/DetektGenerateConfigTask.kt
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/DetektPlugin.kt
Labels: gradle

#4768 Report KDoc comments that refer to non-public properties of a class
  detekt-core/src/main/resources/default-detekt-config.yml
  detekt-generator/src/main/kotlin/io/gitlab/arturbosch/detekt/generator/printer/defaultconfig/Exclusion.kt
  detekt-rules-documentation/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/documentation/CommentSmellProvider.kt
  detekt-rules-documentation/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/documentation/KDocReferencesNonPublicProperty.kt
  detekt-rules-documentation/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/documentation/KDocReferencesNonPublicPropertySpec.kt
Labels: rules

#4864 UnnecessaryInnerClass: add test for safe qualified expressions
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnnecessaryInnerClassSpec.kt
Labels: rules

#4865 UnnecessaryInnerClass: fix false positives labeled expression to outer class
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnnecessaryInnerClass.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnnecessaryInnerClassSpec.kt
Labels: rules

#4672 Use ConTester to prove that the synchronized block is required
  detekt-parser/build.gradle.kts
  detekt-parser/src/main/kotlin/io/github/detekt/parser/DetektPomModel.kt
  detekt-parser/src/test/kotlin/io/github/detekt/parser/KtCompilerSpec.kt
  gradle/libs.versions.toml
Labels: build, blocked, dependencies

#4870 CanBeNonNullable: fix false positives for parameterized types
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/CanBeNonNullable.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/CanBeNonNullableSpec.kt
Labels: rules
