Repository detekt/detekt, pull requests merged in 2022-01, with the labels that each got.

#4315 Allow plugins to contribute to the default configuration
  detekt-cli/src/main/kotlin/io/gitlab/arturbosch/detekt/cli/CliRunner.kt
  detekt-cli/src/main/kotlin/io/gitlab/arturbosch/detekt/cli/Configurations.kt
  detekt-cli/src/main/kotlin/io/gitlab/arturbosch/detekt/cli/Main.kt
  detekt-cli/src/main/kotlin/io/gitlab/arturbosch/detekt/cli/runners/ConfigExporter.kt
  detekt-cli/src/test/kotlin/io/gitlab/arturbosch/detekt/cli/runners/ConfigExporterSpec.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/Analyzer.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/config/ConfigValidators.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/config/Configurations.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/config/DefaultConfig.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/config/DefaultPropertiesConfigValidator.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/tooling/AnalysisFacade.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/tooling/DefaultConfigProvider.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/tooling/Lifecycle.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/TopLevelAutoCorrectSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/config/CheckConfigurationSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/tooling/DefaultConfigProviderSpec.kt
  detekt-core/src/test/resources/sample-rule-set.jar
  detekt-sample-extensions/src/main/resources/config/config.yml
  detekt-tooling/api/detekt-tooling.api
  detekt-tooling/src/main/kotlin/io/github/detekt/tooling/api/DefaultConfigurationProvider.kt
  detekt-tooling/src/test/kotlin/io/github/detekt/tooling/api/DefaultConfigurationProviderSpec.kt
Labels: notable changes

#4437 Force that no one uses `Assertions.assertThat()`
  config/detekt/detekt.yml
  detekt-rules-empty/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/empty/EmptyElseBlockSpec.kt
  detekt-rules-errorprone/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/NullCheckOnMutablePropertySpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/CanBeNonNullableSpec.kt
Labels: housekeeping

#4438 Don't exclude the naming rules by default for tests
  config/detekt/detekt.yml
  detekt-core/src/main/resources/default-detekt-config.yml
  detekt-generator/src/main/kotlin/io/gitlab/arturbosch/detekt/generator/printer/defaultconfig/Exclusion.kt
  detekt-rules-exceptions/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/exceptions/TooGenericExceptionSpec.kt
  detekt-sample-extensions/src/test/kotlin/io/gitlab/arturbosch/detekt/sample/extensions/TooManyFunctionsSpec.kt
  detekt-sample-extensions/src/test/kotlin/io/gitlab/arturbosch/detekt/sample/extensions/processors/QualifiedNameProcessorSpec.kt
Labels: rules, notable changes

#4227 Bump KtLint to 0.43.2 and add TrailingComma rule
  detekt-core/src/main/resources/default-detekt-config.yml
  detekt-formatting/src/main/kotlin/io/gitlab/arturbosch/detekt/formatting/KtLintMultiRule.kt
  detekt-formatting/src/main/kotlin/io/gitlab/arturbosch/detekt/formatting/wrappers/TrailingComma.kt
  detekt-formatting/src/test/kotlin/io/gitlab/arturbosch/detekt/formatting/TestFiles.kt
  detekt-formatting/src/test/kotlin/io/gitlab/arturbosch/detekt/formatting/TrailingCommaSpec.kt
  gradle/libs.versions.toml
Labels: rules, dependencies, notable changes

#4449 Enable `LiteFindingsReport` by default
  detekt-core/src/main/resources/default-detekt-config.yml
  detekt-generator/src/main/kotlin/io/gitlab/arturbosch/detekt/generator/printer/defaultconfig/ConfigPrinter.kt
Labels: reports, notable changes

#4423 Less noisy output for detekt with Type solving
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/BindingContext.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/tooling/Lifecycle.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/DetektMessageCollectorSpec.kt
Labels: notable changes

#4445 Always update the baseline if it exist
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/baseline/BaselineFacade.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/baseline/BaselineResultMapping.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/baseline/BaselineFacadeSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/baseline/BaselineResultMappingSpec.kt
Labels: notable changes

#4451 Add documentation for the suppressors
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/suppressors/AnnotationSuppressor.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/suppressors/FunctionSuppressor.kt
  docs/_data/sidebars/home_sidebar.yml
  docs/pages/suppressors.md
Labels: documentation

#4453 Add option for OutdatedDocumentation to allow param in constructor pr…
  detekt-core/src/main/resources/default-detekt-config.yml
  detekt-rules-documentation/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/documentation/OutdatedDocumentation.kt
  detekt-rules-documentation/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/documentation/OutdatedDocumentationSpec.kt
Labels: rules

#4468 Remove outdated detekt suppression
  detekt-test-utils/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/KotlinEnvironmentTestSetup.kt
Labels: housekeeping

#4469 Fix IDE red line issues in Gradle functional tests
  detekt-gradle-plugin/build.gradle.kts
Labels: housekeeping

#4473 Document the overlapping rules from `formatting`
  detekt-formatting/src/main/kotlin/io/gitlab/arturbosch/detekt/formatting/wrappers/Filename.kt
  detekt-formatting/src/main/kotlin/io/gitlab/arturbosch/detekt/formatting/wrappers/FinalNewline.kt
  detekt-formatting/src/main/kotlin/io/gitlab/arturbosch/detekt/formatting/wrappers/MaximumLineLength.kt
  detekt-formatting/src/main/kotlin/io/gitlab/arturbosch/detekt/formatting/wrappers/ModifierOrdering.kt
Labels: documentation

#4481 Use major version tag for github-pages-deploy-action
  .github/workflows/deploy-website.yaml
Labels: dependencies

#4479 Fixes test for LiteFindingsReport
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/reporting/console/LiteFindingsReportSpec.kt
Labels: housekeeping

#4431 Extend CanBeNonNullable rule to check function params
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/invoke/DetektInvoker.kt
  detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/UselessPostfixExpression.kt
  detekt-rules-performance/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/performance/ArrayPrimitive.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/CanBeNonNullable.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/SpacingBetweenPackageAndImports.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/CanBeNonNullableSpec.kt
Labels: rules

#4467 Migrate custom-checks tests to JUnit 5
  .github/CONTRIBUTING.md
  build-logic/src/main/kotlin/module.gradle.kts
  custom-checks/src/test/kotlin/io/github/detekt/custom/SpekTestDiscoverySpec.kt
  detekt-test-utils/api/detekt-test-utils.api
  detekt-test-utils/build.gradle.kts
  detekt-test-utils/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/KotlinEnvironmentTestSetup.kt
  gradle/libs.versions.toml
Labels: housekeeping

#4133 Upgrade AGP to 7
  detekt-gradle-plugin/src/test/kotlin/io/gitlab/arturbosch/detekt/DetektAndroidSpec.kt
  detekt-gradle-plugin/src/test/kotlin/io/gitlab/arturbosch/detekt/report/ReportMergeSpec.kt
  gradle/libs.versions.toml
Labels: dependencies, notable changes

#4494 Transform tests in detekt-generator to junit
  config/detekt/detekt.yml
  detekt-generator/src/test/kotlin/io/gitlab/arturbosch/detekt/generator/collection/ConfigurationSpec.kt
  detekt-generator/src/test/kotlin/io/gitlab/arturbosch/detekt/generator/collection/MultiRuleCollectorSpec.kt
  detekt-generator/src/test/kotlin/io/gitlab/arturbosch/detekt/generator/collection/RuleCollectorSpec.kt
  detekt-generator/src/test/kotlin/io/gitlab/arturbosch/detekt/generator/collection/RuleSetProviderCollectorSpec.kt
  detekt-generator/src/test/kotlin/io/gitlab/arturbosch/detekt/generator/config/DetektYmlConfigSpec.kt
  detekt-generator/src/test/kotlin/io/gitlab/arturbosch/detekt/generator/out/YamlSpec.kt
  detekt-generator/src/test/kotlin/io/gitlab/arturbosch/detekt/generator/printer/CliOptionsPrinterSpec.kt
  detekt-generator/src/test/kotlin/io/gitlab/arturbosch/detekt/generator/printer/DeprecatedPrinterSpec.kt
  detekt-generator/src/test/kotlin/io/gitlab/arturbosch/detekt/generator/printer/RuleSetPagePrinterSpec.kt
  detekt-generator/src/test/kotlin/io/gitlab/arturbosch/detekt/generator/printer/defaultconfig/ConfigPrinterSpec.kt
Labels: housekeeping

#4506 Drop unused dependencies
  detekt-cli/build.gradle.kts
  detekt-test-utils/build.gradle.kts
  detekt-test/build.gradle.kts
  gradle/libs.versions.toml
Labels: housekeeping

#4505 Update JUnit dependencies
  build-logic/src/main/kotlin/module.gradle.kts
  custom-checks/build.gradle.kts
  detekt-generator/build.gradle.kts
  detekt-gradle-plugin/build.gradle.kts
  gradle/libs.versions.toml
Labels: housekeeping

#4286 Remove old false-positive from baseline
  config/detekt/baseline.xml
Labels: blocked

#4394 Added rule UnnecessaryInnerClass
  config/detekt/detekt.yml
  detekt-core/src/main/resources/default-detekt-config.yml
  detekt-metrics/src/main/kotlin/io/github/detekt/metrics/CognitiveComplexity.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/StyleGuideProvider.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnnecessaryInnerClass.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnnecessaryInnerClassSpec.kt
Labels: rules, notable changes

#4368 Improve `AnnotationExcluder` tests
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/AnnotationExcluder.kt
  detekt-api/src/test/kotlin/io/gitlab/arturbosch/detekt/api/AnnotationExcluderSpec.kt
  detekt-rules-complexity/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/complexity/LongParameterList.kt
  detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/LateinitUsage.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/FunctionOnlyReturningConstant.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnnecessaryAbstractClass.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UseDataClass.kt
Labels: housekeeping

#4522 Migrate tests in detekt-rules-empty to junit
  detekt-rules-empty/build.gradle.kts
  detekt-rules-empty/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/empty/EmptyBlocksMultiRuleSpec.kt
  detekt-rules-empty/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/empty/EmptyClassBlockSpec.kt
  detekt-rules-empty/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/empty/EmptyCodeSpec.kt
  detekt-rules-empty/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/empty/EmptyDefaultConstructorSpec.kt
  detekt-rules-empty/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/empty/EmptyElseBlockSpec.kt
  detekt-rules-empty/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/empty/EmptyFunctionBlockSpec.kt
  detekt-rules-empty/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/empty/EmptyIfBlockSpec.kt
Labels: housekeeping

#4352 Use the new configure config for formatting
  detekt-core/build.gradle.kts
  detekt-core/src/main/resources/default-detekt-config.yml
  detekt-formatting/src/main/resources/config/config.yml
  detekt-generator/build.gradle.kts
  detekt-generator/src/main/kotlin/io/gitlab/arturbosch/detekt/generator/DetektPrinter.kt
  detekt-generator/src/main/kotlin/io/gitlab/arturbosch/detekt/generator/printer/defaultconfig/ConfigPrinter.kt
  detekt-generator/src/main/kotlin/io/gitlab/arturbosch/detekt/generator/printer/defaultconfig/RuleSetConfigPrinter.kt
  detekt-generator/src/test/kotlin/io/gitlab/arturbosch/detekt/generator/config/DetektYmlConfigSpec.kt
Labels: notable changes

#4525 Migrate detekt-sample-extensions tests to JUnit
  detekt-sample-extensions/build.gradle.kts
  detekt-sample-extensions/src/test/kotlin/io/gitlab/arturbosch/detekt/sample/extensions/SampleConfigValidatorSpec.kt
  detekt-sample-extensions/src/test/kotlin/io/gitlab/arturbosch/detekt/sample/extensions/TooManyFunctionsSpec.kt
  detekt-sample-extensions/src/test/kotlin/io/gitlab/arturbosch/detekt/sample/extensions/processors/NumberOfLoopsProcessorSpec.kt
  detekt-sample-extensions/src/test/kotlin/io/gitlab/arturbosch/detekt/sample/extensions/processors/QualifiedNameProcessorSpec.kt
Labels: housekeeping

#4524 Migrate detekt-tooling tests to JUnit 5
  detekt-tooling/build.gradle.kts
  detekt-tooling/src/test/kotlin/io/github/detekt/tooling/api/AnalysisResultSpec.kt
  detekt-tooling/src/test/kotlin/io/github/detekt/tooling/api/DefaultConfigurationProviderSpec.kt
  detekt-tooling/src/test/kotlin/io/github/detekt/tooling/api/FunctionMatcherSpec.kt
  detekt-tooling/src/test/kotlin/io/github/detekt/tooling/api/PluginsSpec.kt
  detekt-tooling/src/test/kotlin/io/github/detekt/tooling/api/VersionProviderSpec.kt
Labels: housekeeping

#4521 migrate tests in detekt-api to junit
  detekt-api/build.gradle.kts
  detekt-api/src/test/kotlin/io/gitlab/arturbosch/detekt/api/AnnotationExcluderSpec.kt
  detekt-api/src/test/kotlin/io/gitlab/arturbosch/detekt/api/ConfigPropertySpec.kt
  detekt-api/src/test/kotlin/io/gitlab/arturbosch/detekt/api/ConsoleReportSpec.kt
  detekt-api/src/test/kotlin/io/gitlab/arturbosch/detekt/api/DebtSpec.kt
  detekt-api/src/test/kotlin/io/gitlab/arturbosch/detekt/api/EntitySpec.kt
  detekt-api/src/test/kotlin/io/gitlab/arturbosch/detekt/api/MetricSpec.kt
  detekt-api/src/test/kotlin/io/gitlab/arturbosch/detekt/api/PropertiesAwareSpec.kt
  detekt-api/src/test/kotlin/io/gitlab/arturbosch/detekt/api/SingleAssignSpec.kt
  detekt-api/src/test/kotlin/io/gitlab/arturbosch/detekt/api/SplitPatternSpec.kt
  detekt-api/src/test/kotlin/io/gitlab/arturbosch/detekt/api/internal/InclusionExclusionPatternsSpec.kt
  detekt-api/src/test/kotlin/io/gitlab/arturbosch/detekt/api/internal/PathMatchersSpec.kt
  detekt-api/src/test/kotlin/io/gitlab/arturbosch/detekt/api/internal/RuleSetConfigPropertySpec.kt
  detekt-api/src/test/kotlin/io/gitlab/arturbosch/detekt/api/internal/SimpleGlobSpec.kt
Labels: housekeeping

#4528 Disable deployment jobs in forked repository
  .github/workflows/deploy-snapshot.yaml
  .github/workflows/deploy-website.yaml
Labels: housekeeping

#4533 Re-enable warnings as errors
  build-logic/src/main/kotlin/module.gradle.kts
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/config/CompositeConfigSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/config/ValidateConfigSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/rules/RuleSetSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/suppressors/AnnotationSuppressorSpec.kt
Labels: housekeeping

#4490 Add how to exclude source files from BaselineTask
  docs/pages/gettingstarted/gradle.md
Labels: documentation

#4477 [VarCouldBeVal] Override vars will not be flagged if bindingContext is not set
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/VarCouldBeVal.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/VarCouldBeValSpec.kt
Labels: rules

#4434 Add list of functions to skip in IgnoredReturnValue rule
  detekt-core/src/main/resources/default-detekt-config.yml
  detekt-rules-errorprone/build.gradle.kts
  detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/IgnoredReturnValue.kt
  detekt-rules-errorprone/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/IgnoredReturnValueSpec.kt
Labels: rules

#4504 [MaxLineLength] Fix signature in for blank characters in the Baseline
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/Junk.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/MaxLineLength.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/TrailingWhitespace.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/MaxLineLengthSpec.kt
  detekt-rules-style/src/test/resources/MaxLineLength.kt
Labels: rules

#4542 Code cleanups
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/TaskPool.kt
  detekt-gradle-plugin/src/functionalTest/resources/jvm/src/main/kotlin/Errors.kt
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/extensions/CustomDetektReport.kt
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/extensions/DetektReport.kt
  detekt-gradle-plugin/src/testFixtures/kotlin/io/gitlab/arturbosch/detekt/testkit/DslGradleRunner.kt
  detekt-report-html/src/main/kotlin/io/github/detekt/report/html/HtmlOutputReport.kt
  detekt-report-xml/src/main/kotlin/io/github/detekt/report/xml/XmlEscape.kt
Labels: housekeeping

#4464 Adds issue details to findings on FindingsReport and FileBasedFindingsReporter
  detekt-cli/src/test/kotlin/io/gitlab/arturbosch/detekt/cli/runners/RunnerSpec.kt
  detekt-cli/src/test/kotlin/io/gitlab/arturbosch/detekt/cli/runners/TestRules.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/reporting/Reporting.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/reporting/console/FindingsReportSpec.kt
  detekt-core/src/test/resources/reporting/findings-report.txt
  detekt-core/src/test/resources/reporting/grouped-findings-report.txt
  detekt-core/src/test/resources/reporting/long-messages-report.txt
  docs/pages/reporting.md
Labels: reports, notable changes
