Repository detekt/detekt, pull requests merged in 2022-12, with the labels that each got.

#5492 Add detekt compiler plugin to main project
  detekt-compiler-plugin/build.gradle.kts
  detekt-compiler-plugin/gradle.properties
  detekt-compiler-plugin/src/main/kotlin/io/github/detekt/compiler/plugin/DetektAnalysisExtension.kt
  detekt-compiler-plugin/src/main/kotlin/io/github/detekt/compiler/plugin/DetektCommandLineProcessor.kt
  detekt-compiler-plugin/src/main/kotlin/io/github/detekt/compiler/plugin/DetektComponentRegistrar.kt
  detekt-compiler-plugin/src/main/kotlin/io/github/detekt/compiler/plugin/Keys.kt
  detekt-compiler-plugin/src/main/kotlin/io/github/detekt/compiler/plugin/internal/AppendableAdapter.kt
  detekt-compiler-plugin/src/main/kotlin/io/github/detekt/compiler/plugin/internal/CompilerConfigToProcessingSpec.kt
  detekt-compiler-plugin/src/main/kotlin/io/github/detekt/compiler/plugin/internal/DetektService.kt
  detekt-compiler-plugin/src/main/kotlin/io/github/detekt/compiler/plugin/internal/MessageCollectorExtensions.kt
  detekt-compiler-plugin/src/main/resources/META-INF/services/org.jetbrains.kotlin.compiler.plugin.CommandLineProcessor
  detekt-compiler-plugin/src/main/resources/META-INF/services/org.jetbrains.kotlin.compiler.plugin.ComponentRegistrar
  detekt-compiler-plugin/src/test/kotlin/io/github/detekt/compiler/plugin/CompilerTest.kt
  detekt-compiler-plugin/src/test/kotlin/io/github/detekt/compiler/plugin/util/CompilerAssertions.kt
  detekt-compiler-plugin/src/test/kotlin/io/github/detekt/compiler/plugin/util/CompilerTestUtils.kt
  detekt-compiler-plugin/src/test/resources/hello.kt
  detekt-gradle-plugin/build.gradle.kts
  detekt-gradle-plugin/src/main/kotlin/io/github/detekt/gradle/DetektKotlinCompilerPlugin.kt
  detekt-gradle-plugin/src/main/kotlin/io/github/detekt/gradle/extensions/DetektReport.kt
  detekt-gradle-plugin/src/main/kotlin/io/github/detekt/gradle/extensions/KotlinCompileTaskDetektExtension.kt
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/DetektPlugin.kt
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/extensions/DetektExtension.kt
  gradle/libs.versions.toml
  settings.gradle.kts
Labels: build, dependencies, notable changes, gradle

#5604 Broken link at EmptyFunctionBlock
  detekt-rules-empty/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/empty/EmptyFunctionBlock.kt
  website/versioned_docs/version-1.21.0/rules/empty-blocks.md
  website/versioned_docs/version-1.22.0/rules/empty-blocks.md
Labels: rules, documentation

#5603 Update rule description for errorprone rules
  detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/CastToNullableType.kt
  detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/ExitOutsideMain.kt
  detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/LateinitUsage.kt
  detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/NullableToStringCall.kt
  detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/RedundantElseInWhen.kt
  detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/UnusedUnaryOperator.kt
  detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/UselessPostfixExpression.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UseOrEmpty.kt
Labels: rules

#5617 Remove redundant build config
  detekt-compiler-plugin/build.gradle.kts
Labels: build, housekeeping

#5599 FunctionMaxLength false positive for overridden methods #5590
  detekt-rules-naming/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/naming/FunctionMaxLength.kt
  detekt-rules-naming/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/naming/FunctionMinLength.kt
  detekt-rules-naming/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/naming/VariableMaxLength.kt
  detekt-rules-naming/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/naming/VariableMinLength.kt
  detekt-rules-naming/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/naming/FunctionMaxLengthSpec.kt
  detekt-rules-naming/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/naming/FunctionMinLengthSpec.kt
  detekt-rules-naming/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/naming/VariableMaxLengthSpec.kt
  detekt-rules-naming/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/naming/VariableMinLengthSpec.kt
Labels: rules

#5534 Fix KDocReferencesNonPublicProperty false positive
  detekt-rules-documentation/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/documentation/KDocReferencesNonPublicProperty.kt
  detekt-rules-documentation/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/documentation/KDocReferencesNonPublicPropertySpec.kt
Labels: rules

#5620 Apply #5615 also on `next`
  website/docs/gettingstarted/gradletask.md
Labels: documentation

#5618 Exclude operator functions in function min/max length
  detekt-rules-naming/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/naming/FunctionMaxLength.kt
  detekt-rules-naming/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/naming/FunctionMinLength.kt
  detekt-rules-naming/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/naming/FunctionMaxLengthSpec.kt
  detekt-rules-naming/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/naming/FunctionMinLengthSpec.kt
Labels: rules

#5554 Migrate to Gradle Nexus Publish Plugin
  build-logic/build.gradle.kts
  build-logic/src/main/kotlin/releasing.gradle.kts
  gradle/libs.versions.toml
  scripts/release.sh
Labels: build, dependencies

#5630 Have consistent compile-test-snippets between project and system property
  build-logic/src/main/kotlin/module.gradle.kts
  detekt-test/src/main/kotlin/io/gitlab/arturbosch/detekt/test/RuleExtensions.kt
Labels: build

#5635 Stop disabling config cache for publishing tasks
  build-logic/src/main/kotlin/module.gradle.kts
Labels: build, housekeeping

#5639 Documentation tweaks
  README.md
  website/docs/intro.mdx
Labels: documentation

#5649 Specify path to coverage report
  .github/workflows/codecoverage.yaml
Labels: ci

#5647 Set Codecov's default branch
  .codecov.yml
Labels: housekeeping

#5648 Don't share GE access key with Codecov
  .github/workflows/codecoverage.yaml
Labels: ci, housekeeping

#5616 Bump minimum Gradle version to 6.8.3
  detekt-gradle-plugin/src/functionalTest/kotlin/io/gitlab/arturbosch/detekt/GradleVersionSpec.kt
  website/docs/gettingstarted/gradle.mdx
Labels: documentation, notable changes, gradle

#5614 Update Kotlin to v1.8.0
  build-logic/src/main/kotlin/Versions.kt
  build-logic/src/main/kotlin/module.gradle.kts
  detekt-cli/src/main/kotlin/io/gitlab/arturbosch/detekt/cli/CliArgs.kt
  detekt-compiler-plugin/build.gradle.kts
  detekt-compiler-plugin/gradle.properties
  detekt-compiler-plugin/src/main/kotlin/io/github/detekt/compiler/plugin/DetektCommandLineProcessor.kt
  detekt-compiler-plugin/src/main/kotlin/io/github/detekt/compiler/plugin/DetektComponentRegistrar.kt
  detekt-compiler-plugin/src/test/kotlin/io/github/detekt/compiler/plugin/util/CompilerTestUtils.kt
  detekt-gradle-plugin/build.gradle.kts
  detekt-gradle-plugin/src/functionalTest/kotlin/io/gitlab/arturbosch/detekt/DetektMultiplatformSpec.kt
  detekt-gradle-plugin/src/main/kotlin/io/github/detekt/gradle/DetektKotlinCompilerPlugin.kt
  detekt-rules-ruleauthors/build.gradle.kts
  gradle/libs.versions.toml
Labels: cli, build, dependencies, notable changes, gradle

#5652 Enable verbose mode for Codecov GH Action
  .github/workflows/codecoverage.yaml
Labels: ci

#5651 Fail build when issues found with JVM target compatibility of related compile tasks
  gradle.properties
Labels: build
