Repository detekt/detekt, pull requests merged in 2022-11, with the labels that each got.

#5495 Document and test edge cases for ForbiddenMethodCall function signatures
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/ForbiddenMethodCall.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/ForbiddenMethodCallSpec.kt
Labels: rules

#5508 Fix issues introduced by #5152
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/Detekt.kt
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/DetektCreateBaselineTask.kt
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/DetektGenerateConfigTask.kt
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/internal/DetektAndroid.kt
  detekt-gradle-plugin/src/test/kotlin/io/gitlab/arturbosch/detekt/DetektJvmSpec.kt
  detekt-gradle-plugin/src/test/kotlin/io/gitlab/arturbosch/detekt/DetektPlainSpec.kt
Labels: gradle

#5505 MultilineLambdaItParameter: fix false positive for one-line statements with a lambda argument
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/MultilineLambdaItParameter.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/MultilineLambdaItParameterSpec.kt
Labels: rules

#5509 Prepare Detekt 1.22.0-RC3
  build-logic/src/main/kotlin/Versions.kt
  website/src/pages/changelog.md
  website/src/remark/detektVersionReplace.js
Labels: build, documentation

#5512 Add suppressors to labeler for PRs
  .github/labeler.yml
Labels: ci, suppressors

#5516 UnnecessaryPartOfBinaryExpression: fix false positive with pair creation
  detekt-rules-performance/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/performance/UnnecessaryPartOfBinaryExpression.kt
  detekt-rules-performance/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/performance/UnnecessaryPartOfBinaryExpressionSpec.kt
Labels: rules

#5513 Update documentation for TrailingComma rules
  detekt-formatting/src/main/kotlin/io/gitlab/arturbosch/detekt/formatting/wrappers/TrailingCommaOnCallSite.kt
  detekt-formatting/src/main/kotlin/io/gitlab/arturbosch/detekt/formatting/wrappers/TrailingCommaOnDeclarationSite.kt
  detekt-formatting/src/main/resources/config/config.yml
Labels: formatting

#5543 Stale waiting for feedback issues after 30 days
  .github/workflows/stale.yaml
Labels: ci

#5557 Fix typo
  detekt-formatting/src/main/kotlin/io/gitlab/arturbosch/detekt/formatting/wrappers/NoWildcardImports.kt
Labels: formatting

#5567 Fix typos in migration guide
  website/src/pages/changelog.md
Labels: documentation

#5548 Review Rulesets and add first party Detekt extensions
  README.md
  detekt-formatting/src/main/kotlin/io/gitlab/arturbosch/detekt/formatting/FormattingProvider.kt
  detekt-rules-libraries/src/main/kotlin/io/gitlab/arturbosch/detekt/libraries/RuleLibrariesProvider.kt
  detekt-rules-ruleauthors/src/main/kotlin/io/gitlab/arturbosch/detekt/authors/RuleAuthorsProvider.kt
  website/src/data/marketplace.js
  website/src/pages/changelog.md
  website/src/pages/marketplace/_components/MarketplaceCard/index.jsx
  website/src/pages/marketplace/_components/MarketplaceCard/styles.module.css
  website/src/pages/marketplace/index.jsx
Labels: documentation, formatting

#5556 Pass compilation output classes to detekt analysis classpath
  detekt-gradle-plugin/src/functionalTest/kotlin/io/gitlab/arturbosch/detekt/JvmSpec.kt
  detekt-gradle-plugin/src/functionalTest/resources/jvm/build.gradle
  detekt-gradle-plugin/src/functionalTest/resources/jvm/config/detekt/detekt.yml
  detekt-gradle-plugin/src/functionalTest/resources/jvm/src/main/kotlin/Callee.kt
  detekt-gradle-plugin/src/functionalTest/resources/jvm/src/main/kotlin/Caller.kt
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/internal/DetektJvm.kt
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/internal/DetektMultiplatform.kt
Labels: build, gradle

#5569 Migrate to AGP namespaces
  detekt-gradle-plugin/src/functionalTest/kotlin/io/gitlab/arturbosch/detekt/DetektAndroidSpec.kt
  detekt-gradle-plugin/src/functionalTest/kotlin/io/gitlab/arturbosch/detekt/DetektMultiplatformSpec.kt
  detekt-gradle-plugin/src/functionalTest/kotlin/io/gitlab/arturbosch/detekt/report/ReportMergeSpec.kt
Labels: housekeeping, gradle

#5572 Improve build after Gradle 7.6 update
  code-coverage-report/build.gradle.kts
  detekt-gradle-plugin/build.gradle.kts
  settings.gradle.kts
Labels: build

#5573 Enable configuration cache by default
  gradle.properties
Labels: build

#5562 Random tiny improvements
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/Config.kt
  detekt-core/build.gradle.kts
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/config/validation/ConfigValidation.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/tooling/DefaultConfigProvider.kt
  detekt-core/src/main/resources/default-detekt-config.yml
  detekt-generator/src/main/kotlin/io/gitlab/arturbosch/detekt/generator/printer/defaultconfig/ConfigPrinter.kt
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/DetektPlugin.kt
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/extensions/DetektExtension.kt
  detekt-rules/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/RuleProviderSpec.kt
  gradle/libs.versions.toml
Labels: rules, api, core, build, dependencies, housekeeping, gradle

#5577 NonBooleanPropertyPrefixedWithIs: Allow AtomicBoolean
  detekt-rules-naming/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/naming/NonBooleanPropertyPrefixedWithIs.kt
  detekt-rules-naming/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/naming/NonBooleanPropertyWithPrefixIsSpec.kt
Labels: rules

#5515 ForbiddenAnnotation rule #2719
  detekt-core/src/main/resources/default-detekt-config.yml
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/ForbiddenAnnotation.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/StyleGuideProvider.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/ForbiddenAnnotationSpec.kt
Labels: rules

#5584 Add missing task dependency
  code-coverage-report/build.gradle.kts
Labels: build
