Repository detekt/detekt, pull requests merged in 2022-08, with the labels that each got.

#5164 Revert "Add information about exhaustiveness check to documentation"
  website/docs/introduction/configurations.md
Labels: documentation

#5156 Limit Kotlin version warning suppression scope in build
  build-logic/src/main/kotlin/module.gradle.kts
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/Rule.kt
  detekt-generator/src/main/kotlin/io/gitlab/arturbosch/detekt/generator/DetektPrinter.kt
  detekt-gradle-plugin/build.gradle.kts
  detekt-report-html/src/main/kotlin/io/github/detekt/report/html/HtmlOutputReport.kt
  detekt-report-md/src/main/kotlin/io/github/detekt/report/md/MdOutputReport.kt
  detekt-report-sarif/src/main/kotlin/io/github/detekt/report/sarif/RuleDescriptors.kt
  detekt-report-xml/src/main/kotlin/io/github/detekt/report/xml/XmlEscape.kt
  detekt-report-xml/src/main/kotlin/io/github/detekt/report/xml/XmlOutputReport.kt
  detekt-report-xml/src/test/kotlin/io/github/detekt/report/xml/XmlOutputFormatSpec.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/MagicNumber.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnderscoresInNumericLiterals.kt
Labels: rules, api, build

#5153 Bundle slf4j-nop in detekt-formatting JAR
  detekt-formatting/build.gradle.kts
Labels: build

#5147 Fix false negative for UseRequire when thrown in conditional block
  detekt-psi-utils/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/ThrowExtensions.kt
  detekt-psi-utils/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/ThrowExtensionsSpec.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UseRequire.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/UseCheckOrErrorSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/UseRequireSpec.kt
Labels: rules

#5143 Allow parentheses for unclear precedence with range operator
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnnecessaryParentheses.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnnecessaryParenthesesSpec.kt
Labels: rules

#4966 Refactor Gradle tasks to use Gradle's managed properties
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/Detekt.kt
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/DetektCreateBaselineTask.kt
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/DetektGenerateConfigTask.kt
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/extensions/CustomDetektReport.kt
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/extensions/DetektReport.kt
Labels: gradle

#5162 Run build-logic Kotlin compilation out of process on CI
  build-logic/build.gradle.kts
Labels: build, ci

#5118 Support proper globbing in `ReturnCount`
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/ReturnCount.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/ReturnCountSpec.kt
Labels: rules

#5171 Add excludesRawStrings in MaxLineLength
  detekt-core/src/main/resources/default-detekt-config.yml
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/MaxLineLength.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/MaxLineLengthSpec.kt
Labels: rules

#5170 Enable Predictive Test Selection for local builds
  build.gradle.kts
  settings.gradle.kts
Labels: build

#5059 Fix current indentation
  detekt-api/src/test/kotlin/io/gitlab/arturbosch/detekt/api/EntitySpec.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/Analyzer.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/baseline/BaselineFacadeSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/config/ValidateConfigSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/config/YamlConfigSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/rules/SingleRuleProviderSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/suppressors/AnnotationSuppressorSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/suppressors/SuppressorsSpec.kt
  detekt-formatting/src/test/kotlin/io/gitlab/arturbosch/detekt/formatting/CommentWrappingSpec.kt
  detekt-formatting/src/test/kotlin/io/gitlab/arturbosch/detekt/formatting/FinalNewlineSpec.kt
  detekt-formatting/src/test/kotlin/io/gitlab/arturbosch/detekt/formatting/FormattingRuleSpec.kt
  detekt-formatting/src/test/kotlin/io/gitlab/arturbosch/detekt/formatting/ImportOrderingSpec.kt
  detekt-formatting/src/test/kotlin/io/gitlab/arturbosch/detekt/formatting/KdocWrappingSpec.kt
  detekt-formatting/src/test/kotlin/io/gitlab/arturbosch/detekt/formatting/NoWildcardImportsSpec.kt
  detekt-formatting/src/test/kotlin/io/gitlab/arturbosch/detekt/formatting/TestFiles.kt
  detekt-formatting/src/test/kotlin/io/gitlab/arturbosch/detekt/formatting/TrailingCommaSpec.kt
  detekt-formatting/src/test/kotlin/io/gitlab/arturbosch/detekt/formatting/WrappingSpec.kt
  detekt-generator/src/main/kotlin/io/gitlab/arturbosch/detekt/generator/printer/defaultconfig/ConfigPrinter.kt
  detekt-generator/src/test/kotlin/io/gitlab/arturbosch/detekt/generator/collection/RuleSetProviderCollectorSpec.kt
  detekt-psi-utils/src/test/kotlin/io/github/detekt/psi/internal/FullQualifiedNameGuesserSpec.kt
  detekt-report-html/src/main/kotlin/io/github/detekt/report/html/HtmlUtils.kt
  detekt-report-html/src/test/kotlin/io/github/detekt/report/html/HtmlUtilsSpec.kt
  detekt-report-md/src/test/kotlin/io/github/detekt/report/md/MdOutputReportSpec.kt
  detekt-report-xml/src/test/kotlin/io/github/detekt/report/xml/XmlOutputFormatSpec.kt
  detekt-rules-documentation/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/documentation/LicenceHeaderLoaderExtension.kt
  detekt-rules-documentation/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/documentation/AbsentOrWrongFileLicenseSpec.kt
  detekt-rules-documentation/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/documentation/KDocReferencesNonPublicPropertySpec.kt
  detekt-rules-naming/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/naming/MatchingDeclarationNameSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/DestructuringDeclarationWithTooManyEntriesSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/MaxLineLengthSpec.kt
  detekt-sample-extensions/src/test/kotlin/io/gitlab/arturbosch/detekt/sample/extensions/SampleConfigValidatorSpec.kt
Labels: rules, api, core, formatting, housekeeping

#5120 Use list config for `FunctionOnlyReturningConstant>excludedFunctions`
  detekt-core/src/main/resources/default-detekt-config.yml
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/FunctionOnlyReturningConstant.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/FunctionOnlyReturningConstantSpec.kt
Labels: rules, notable changes

#5175 Make ArrayPrimitive rule honor the RequiresTypeResolution annotation
  detekt-rules-performance/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/performance/ArrayPrimitive.kt
  detekt-rules-performance/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/performance/ArrayPrimitiveSpec.kt
Labels: rules

#5184 Include NestedScopeFunctions in Notable Changes
  website/docs/introduction/changelog 1.x.x.md
Labels: documentation

#5172 Configure danger.js
  .github/workflows/danger.yaml
  bots/.gitignore
  bots/dangerfile.js
  bots/package.json
  bots/yarn.lock
  website/package.json
Labels: documentation, ci

#5173 Allow to ignore overloaded methods for the complex interface rule (#5165)
  detekt-core/src/main/resources/default-detekt-config.yml
  detekt-rules-complexity/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/complexity/ComplexInterface.kt
  detekt-rules-complexity/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/complexity/ComplexInterfaceSpec.kt
Labels: rules

#5187 Update the website with versioned docs
  website/docusaurus.config.js
  website/versioned_docs/version-1.21.0/gettingstarted/_category_.json
  website/versioned_docs/version-1.21.0/gettingstarted/_cli-options.md
  website/versioned_docs/version-1.21.0/gettingstarted/cli.mdx
  website/versioned_docs/version-1.21.0/gettingstarted/git-pre-commit-hook.md
  website/versioned_docs/version-1.21.0/gettingstarted/gradle.mdx
  website/versioned_docs/version-1.21.0/gettingstarted/gradletask.md
  website/versioned_docs/version-1.21.0/gettingstarted/mavenanttask.md
  website/versioned_docs/version-1.21.0/gettingstarted/type-resolution.md
  website/versioned_docs/version-1.21.0/intro.mdx
  website/versioned_docs/version-1.21.0/introduction/_category_.json
  website/versioned_docs/version-1.21.0/introduction/baseline.md
  website/versioned_docs/version-1.21.0/introduction/changelog 1.x.x.md
  website/versioned_docs/version-1.21.0/introduction/changelog.md
  website/versioned_docs/version-1.21.0/introduction/compatibility.md
  website/versioned_docs/version-1.21.0/introduction/compose.md
  website/versioned_docs/version-1.21.0/introduction/configurations.md
  website/versioned_docs/version-1.21.0/introduction/extensions.md
  website/versioned_docs/version-1.21.0/introduction/reporting.md
  website/versioned_docs/version-1.21.0/introduction/snapshots.md
  website/versioned_docs/version-1.21.0/introduction/suppressing-rules.md
  website/versioned_docs/version-1.21.0/introduction/suppressors.md
  website/versioned_docs/version-1.21.0/rules/_category_.json
  website/versioned_docs/version-1.21.0/rules/comments.md
  website/versioned_docs/version-1.21.0/rules/complexity.md
  website/versioned_docs/version-1.21.0/rules/coroutines.md
  website/versioned_docs/version-1.21.0/rules/empty-blocks.md
  website/versioned_docs/version-1.21.0/rules/exceptions.md
  website/versioned_docs/version-1.21.0/rules/formatting.md
  website/versioned_docs/version-1.21.0/rules/naming.md
  website/versioned_docs/version-1.21.0/rules/performance.md
  website/versioned_docs/version-1.21.0/rules/potential-bugs.md
  website/versioned_docs/version-1.21.0/rules/style.md
  website/versioned_sidebars/version-1.21.0-sidebars.json
  website/versions.json
Labels: documentation

#5194 Ratelimit Codecov for Labeller & Danger
  .github/workflows/danger.yaml
  .github/workflows/labeler.yml
Labels: ci

#5193 Remove multi rule FileParsingRule
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/FileParsingRule.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/KtFileContent.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/MaxLineLength.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/NoTabs.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/StyleGuideProvider.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/TrailingWhitespace.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/MaxLineLengthSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/NoTabsSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/TrailingWhitespaceSpec.kt
Labels: rules, housekeeping

#5161 Mark MultiRule as deprecated
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/MultiRule.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/Analyzer.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/rules/RuleSets.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/suppressors/Suppressor.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/SuppressionSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/rules/MultiRuleSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/suppressors/SuppressorsSpec.kt
  detekt-formatting/src/main/kotlin/io/gitlab/arturbosch/detekt/formatting/KtLintMultiRule.kt
  detekt-generator/src/main/kotlin/io/gitlab/arturbosch/detekt/generator/collection/MultiRuleCollector.kt
  detekt-report-sarif/src/main/kotlin/io/github/detekt/report/sarif/RuleDescriptors.kt
  detekt-rules-documentation/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/documentation/KDocStyle.kt
  detekt-rules-empty/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/empty/EmptyBlocks.kt
  detekt-rules-naming/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/naming/NamingRules.kt
  detekt-rules/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/RuleProviderSpec.kt
Labels: rules, api, core, formatting, notable changes

#5197 Improve tests in UnnecessaryParenthesesSpec
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnnecessaryParenthesesSpec.kt
Labels: rules

#5202 Remove `issue_comment` from Danger workflow
  .github/workflows/danger.yaml
Labels: ci

#5199 Fix errors with `detektGenerateConfig`
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/DetektGenerateConfigTask.kt
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/DetektPlugin.kt
Labels: gradle

#5195 Forbid constructors with `ForbiddenMethodCall`
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/ForbiddenMethodCall.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/ForbiddenMethodCallSpec.kt
  detekt-tooling/src/main/kotlin/io/github/detekt/tooling/api/FunctionMatcher.kt
Labels: rules

#5198 Remove old configurations
  build.gradle.kts
  config/detekt/statistics.yml
Labels: build, housekeeping

#5206 Docs: GitHub - Add link to configure Sarif severity alert level
  website/docs/introduction/reporting.md
Labels: documentation

#5211 Unversion the changelog on the website
  build-logic/src/main/kotlin/releasing.gradle.kts
  scripts/github-milestone-report.main.kts
  website/docs/introduction/changelog 1.x.x.md
  website/docusaurus.config.js
  website/sidebars.js
  website/src/pages/changelog-rc.md
  website/src/pages/changelog.md
  website/versioned_docs/version-1.21.0/introduction/changelog.md
  website/versioned_sidebars/version-1.21.0-sidebars.json
Labels: build, documentation

#5224 Update `UnnecessaryAbstractClass` issue description to be less verbose
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnnecessaryAbstractClass.kt
Labels: rules

#5208 Run all rules from EmptyBlocks multi rule individually
  detekt-rules-empty/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/empty/EmptyBlocks.kt
  detekt-rules-empty/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/empty/EmptyCodeProvider.kt
  detekt-rules-empty/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/empty/EmptyBlocksMultiRuleSpec.kt
  detekt-rules-empty/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/empty/EmptyCodeSpec.kt
  detekt-rules-empty/src/test/resources/deactivated-empty-blocks.yml
Labels: rules

#5207 Run all rules from KDocStyle multi rule individually
  detekt-rules-documentation/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/documentation/CommentSmellProvider.kt
  detekt-rules-documentation/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/documentation/KDocStyle.kt
  detekt-rules-documentation/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/documentation/KDocStyleSpec.kt
Labels: rules

#5232 Switch custom Gradle data plugin coordinates to correct version identifier
  settings.gradle.kts
Labels: build

#5227 Allow secondary constructors to reference CoroutineDispatchers
  detekt-rules-coroutines/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/coroutines/InjectDispatcher.kt
  detekt-rules-coroutines/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/coroutines/InjectDispatcherSpec.kt
Labels: rules

#5244 Improve raw strings format
  detekt-cli/src/test/kotlin/io/gitlab/arturbosch/detekt/cli/runners/ElementPrinterSpec.kt
  detekt-generator/src/test/kotlin/io/gitlab/arturbosch/detekt/generator/printer/defaultconfig/RuleSetConfigPrinterTest.kt
  detekt-rules-complexity/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/complexity/LongParameterListSpec.kt
  detekt-rules-documentation/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/documentation/KDocReferencesNonPublicPropertySpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/CanBeNonNullableSpec.kt
  detekt-utils/src/test/kotlin/io/github/detekt/utils/YamlSpec.kt
Labels: rules, cli

#5240 UnnecessaryLet: fix false positive with with invoke operator calls
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnnecessaryLet.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnnecessaryLetSpec.kt
Labels: rules

#5239 Introduce baseline tooling api
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/baseline/BaselineFacade.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/baseline/BaselineFilteredResult.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/baseline/BaselineFormat.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/baseline/BaselineHandler.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/baseline/DefaultBaseline.kt
  detekt-core/src/main/resources/META-INF/services/io.github.detekt.tooling.api.BaselineProvider
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/baseline/BaselineFilteredResultSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/baseline/BaselineFormatSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/baseline/BaselineResultMappingSpec.kt
  detekt-tooling/api/detekt-tooling.api
  detekt-tooling/src/main/kotlin/io/github/detekt/tooling/api/BaselineProvider.kt
Labels: api, core

#5252 UnusedPrivateMember: fix false positive with backtick parameters
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnusedPrivateMember.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnusedPrivateMemberSpec.kt
Labels: rules
