Repository detekt/detekt, pull requests merged in 2022-04, with the labels that each got.

#4671 Fix typo
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/MagicNumberSpec.kt
Labels: housekeeping

#4669 Disable Gradle's configuration cache when using Sign tasks
  build-logic/src/main/kotlin/packaging.gradle.kts
Labels: housekeeping

#4668 Disable Gradle's configuration cache by default
  gradle.properties
Labels: housekeeping

#4680 JaCoCo 0.8.8
  gradle/libs.versions.toml
Labels: dependencies

#4681 Check detekt-gradle-plugin functionalTest source when running detekt task
  detekt-gradle-plugin/build.gradle.kts
Labels: housekeeping

#4693 Add failure message assertions to Gradle's "expect failure" tests
  detekt-gradle-plugin/src/functionalTest/kotlin/io/gitlab/arturbosch/detekt/DetektReportMergeSpec.kt
  detekt-gradle-plugin/src/functionalTest/kotlin/io/gitlab/arturbosch/detekt/DetektTaskSpec.kt
  detekt-gradle-plugin/src/test/kotlin/io/gitlab/arturbosch/detekt/DetektTaskDslSpec.kt
Labels: housekeeping

#4687 Drop (most) Groovy DSL tests
  detekt-gradle-plugin/src/functionalTest/kotlin/io/gitlab/arturbosch/detekt/CreateBaselineTaskDslSpec.kt
  detekt-gradle-plugin/src/functionalTest/kotlin/io/gitlab/arturbosch/detekt/DetektReportMergeSpec.kt
  detekt-gradle-plugin/src/functionalTest/kotlin/io/gitlab/arturbosch/detekt/DetektTaskGroovyDslSpec.kt
  detekt-gradle-plugin/src/functionalTest/kotlin/io/gitlab/arturbosch/detekt/DetektTaskMultiModuleSpec.kt
  detekt-gradle-plugin/src/functionalTest/kotlin/io/gitlab/arturbosch/detekt/DetektTaskSpec.kt
  detekt-gradle-plugin/src/functionalTest/kotlin/io/gitlab/arturbosch/detekt/GenerateConfigTaskSpec.kt
  detekt-gradle-plugin/src/test/kotlin/io/gitlab/arturbosch/detekt/DetektAndroidSpec.kt
  detekt-gradle-plugin/src/test/kotlin/io/gitlab/arturbosch/detekt/DetektJvmSpec.kt
  detekt-gradle-plugin/src/test/kotlin/io/gitlab/arturbosch/detekt/DetektMultiplatformSpec.kt
  detekt-gradle-plugin/src/test/kotlin/io/gitlab/arturbosch/detekt/DetektPlainSpec.kt
  detekt-gradle-plugin/src/test/kotlin/io/gitlab/arturbosch/detekt/GradleVersionSpec.kt
  detekt-gradle-plugin/src/test/kotlin/io/gitlab/arturbosch/detekt/report/ReportMergeSpec.kt
  detekt-gradle-plugin/src/testFixtures/kotlin/io/gitlab/arturbosch/detekt/testkit/DslTestBuilder.kt
Labels: housekeeping

#4691 Update gradle enterprise server
  .github/workflows/detekt-with-type-resolution.yaml
  .github/workflows/pre-merge.yaml
  settings.gradle.kts
Labels: gradle

#4699 Add missing Test annotations
  detekt-gradle-plugin/src/test/kotlin/io/gitlab/arturbosch/detekt/DetektJvmSpec.kt
  detekt-rules-errorprone/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/DoubleMutabilityForCollectionSpec.kt
Labels: housekeeping

#4702 Remove dependabot config
  .github/dependabot.yml
Labels: housekeeping

#4698 Add Gradle Enterprise instructions for maintainers.
  .github/CONTRIBUTING.md
Labels: documentation

#4700 Move tests requiring TestKit to functionalTest source set
  config/detekt/detekt.yml
  detekt-gradle-plugin/build.gradle.kts
  detekt-gradle-plugin/src/functionalTest/kotlin/io/gitlab/arturbosch/detekt/ConfigurationCacheSpec.kt
  detekt-gradle-plugin/src/functionalTest/kotlin/io/gitlab/arturbosch/detekt/DetektAndroidSpec.kt
  detekt-gradle-plugin/src/functionalTest/kotlin/io/gitlab/arturbosch/detekt/DetektJvmSpec.kt
  detekt-gradle-plugin/src/functionalTest/kotlin/io/gitlab/arturbosch/detekt/DetektMultiplatformSpec.kt
  detekt-gradle-plugin/src/functionalTest/kotlin/io/gitlab/arturbosch/detekt/DetektPlainSpec.kt
  detekt-gradle-plugin/src/functionalTest/kotlin/io/gitlab/arturbosch/detekt/DetektTaskDslSpec.kt
  detekt-gradle-plugin/src/functionalTest/kotlin/io/gitlab/arturbosch/detekt/GradleVersionSpec.kt
  detekt-gradle-plugin/src/functionalTest/kotlin/io/gitlab/arturbosch/detekt/report/ReportMergeSpec.kt
  detekt-gradle-plugin/src/test/kotlin/io/gitlab/arturbosch/detekt/DetektJvmSpec.kt
Labels: housekeeping

#4704 Setup GPG signing on CI
  .github/workflows/deploy-snapshot.yaml
  build-logic/src/main/kotlin/packaging.gradle.kts
Labels: build, ci

#4670 Drop Spek
  .github/CONTRIBUTING.md
  build-logic/src/main/kotlin/module.gradle.kts
  build.gradle.kts
  code-coverage-report/build.gradle.kts
  config/detekt/detekt.yml
  custom-checks/build.gradle.kts
  custom-checks/src/main/kotlin/io/github/detekt/custom/CustomChecksConfigValidator.kt
  custom-checks/src/main/kotlin/io/github/detekt/custom/CustomChecksProvider.kt
  custom-checks/src/main/kotlin/io/github/detekt/custom/SpekTestDiscovery.kt
  custom-checks/src/main/resources/META-INF/services/io.gitlab.arturbosch.detekt.api.ConfigValidator
  custom-checks/src/main/resources/META-INF/services/io.gitlab.arturbosch.detekt.api.RuleSetProvider
  custom-checks/src/test/kotlin/io/github/detekt/custom/SpekTestDiscoverySpec.kt
  detekt-test-utils/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/KotlinEnvironmentTestSetup.kt
  docs/pages/extensions.md
  docs/pages/gettingstarted/type-resolution.md
  gradle/libs.versions.toml
  settings.gradle.kts
Labels: housekeeping, notable changes

#4706 Make `runWithHelpFlag` adopting incremental build
  detekt-cli/build.gradle.kts
Labels: build

#4713 Make links clickable in rule classes documentation
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/ExplicitCollectionElementAccessMethod.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/ForbiddenPublicDataClass.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/ModifierOrder.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/ObjectLiteralToLambda.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnnecessaryAnnotationUseSiteTarget.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UseDataClass.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UseIfInsteadOfWhen.kt
Labels: documentation

#4726 Clarify version bump in the changelogfix
  docs/pages/changelog 1.x.x.md
Labels: documentation

#4725 Update compatibility table for 1.20.0
  README.md
  docs/pages/compatibility.md
Labels: documentation

#4718 Update the argsfile to unblock `runWithArgsFile` failing locally
  config/detekt/argsfile
Labels: housekeeping

#4722 OptionalWhenBraces: fix false negative when the single statement has comments inside
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/OptionalWhenBraces.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/OptionalWhenBracesSpec.kt
Labels: rules

#4728 OutdatedDocumentation: fix false positive with no primary constructor
  detekt-rules-documentation/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/documentation/OutdatedDocumentation.kt
  detekt-rules-documentation/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/documentation/OutdatedDocumentationSpec.kt
Labels: rules

#4733 Fix false positive on VarCouldBeVal in generic classes
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/VarCouldBeVal.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/VarCouldBeValSpec.kt
Labels: rules

#4738 UnnecessaryInnerClass: fix false positive with references to function type variables
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnnecessaryInnerClass.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnnecessaryInnerClassSpec.kt
Labels: rules

#4748 Break a dependency between `detekt-gradle-plugin` and `detekt-utils`
  detekt-gradle-plugin/build.gradle.kts
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/extensions/DetektExtension.kt
Labels: gradle, build

#4741 Disable UnusedImports for the Detekt project
  config/detekt/detekt.yml
Labels: housekeeping

#4711 Document pre-commit hook for staged files
  docs/pages/gettingstarted/git-pre-commit-hook.md
Labels: documentation

#4747 Remove suspend lambda rule with CoroutineScope receiver due to not de…
  detekt-rules-coroutines/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/coroutines/SuspendFunWithCoroutineScopeReceiver.kt
  detekt-rules-coroutines/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/coroutines/SuspendFunWithCoroutineScopeReceiverSpec.kt
Labels: rules

#4732 chore: Set permissions for GitHub actions
  .github/workflows/codecoverage.yaml
  .github/workflows/deploy-snapshot.yaml
  .github/workflows/deploy-website.yaml
  .github/workflows/detekt-with-type-resolution.yaml
  .github/workflows/fossascan.yaml
  .github/workflows/gradle-wrapper-validation.yml
  .github/workflows/pre-merge.yaml
Labels: ci, housekeeping

#4745 `VarCouldBeVal`: Add configuration flag `ignoreLateinitVar`
  detekt-core/src/main/resources/default-detekt-config.yml
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/VarCouldBeVal.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/VarCouldBeValSpec.kt
Labels: rules, core

#4759 Add `generate-and-build` command for the website
  website/README.md
  website/package.json
Labels: documentation

#4756 Don't label yaml changes as core
  .github/labeler.yml
Labels: housekeeping

#4751 Move detekt-gradle-plugin to be a composite build
  .github/workflows/pre-merge.yaml
  build-logic/src/main/kotlin/releasing.gradle.kts
  build.gradle.kts
  detekt-gradle-plugin/build.gradle.kts
  gradle/libs.versions.toml
  scripts/release.sh
  settings.gradle.kts
Labels: build, ci, dependencies, notable changes

#4762 Pass args to DetektInvoker as List<String>
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/Detekt.kt
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/DetektCreateBaselineTask.kt
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/DetektGenerateConfigTask.kt
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/invoke/DetektInvoker.kt
  detekt-gradle-plugin/src/test/kotlin/io/gitlab/arturbosch/detekt/DetektJvmSpec.kt
Labels: gradle

#4769 fix: add test case that fails if environment is not properly set up
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/ExplicitCollectionElementAccessMethodSpec.kt
  detekt-rules-style/src/test/resources/java/com/example/fromjava/Rect.java
Labels: rules, housekeeping

#4764 Add UnnecessaryBackticks rule
  detekt-core/src/main/resources/default-detekt-config.yml
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/StyleGuideProvider.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnnecessaryBackticks.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnnecessaryBackticksSpec.kt
Labels: rules, notable changes

#4772 Silence Vercel commits/PR comments
  vercel.json
Labels: housekeeping

#4773 Ignore the commit removing unnecessary nested from git blame
  .git-blame-ignore-revs
Labels: housekeeping

#4774 Add more tests for Annotation Suppressor
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/suppressors/AnnotationSuppressorSpec.kt
Labels: core, housekeeping

#4723 Android Gradle: add javac intermediates to classpath
  detekt-gradle-plugin/src/functionalTest/kotlin/io/gitlab/arturbosch/detekt/DetektAndroidSpec.kt
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/internal/DetektAndroid.kt
Labels: gradle

#4777 Remove pending Gradle version milestones from comments
  detekt-gradle-plugin/build.gradle.kts
Labels: build, housekeeping

#4779 Add missing compose.html redirect
  website/docusaurus.config.js
Labels: documentation

#4752 Cleanup Gradle Plugin Publications
  .github/workflows/pre-merge.yaml
  build-logic/src/main/kotlin/packaging.gradle.kts
  build-logic/src/main/kotlin/releasing.gradle.kts
  detekt-gradle-plugin/build.gradle.kts
  scripts/release.sh
Labels: build, ci

#4776 Partially drop redundant usage of "dry run" in Gradle plugin tests
  detekt-gradle-plugin/src/functionalTest/kotlin/io/gitlab/arturbosch/detekt/ConfigurationCacheSpec.kt
  detekt-gradle-plugin/src/functionalTest/kotlin/io/gitlab/arturbosch/detekt/DetektJvmSpec.kt
  detekt-gradle-plugin/src/functionalTest/kotlin/io/gitlab/arturbosch/detekt/DetektPlainSpec.kt
  detekt-gradle-plugin/src/functionalTest/kotlin/io/gitlab/arturbosch/detekt/GradleVersionSpec.kt
  detekt-gradle-plugin/src/test/kotlin/io/gitlab/arturbosch/detekt/DetektPlainSpec.kt
  detekt-gradle-plugin/src/testFixtures/kotlin/io/gitlab/arturbosch/detekt/testkit/Helpers.kt
Labels: gradle

#4765 Self-inspect the detekt-gradle-plugin
  detekt-gradle-plugin/build.gradle.kts
  detekt-gradle-plugin/config/gradle-plugin-baseline.xml
  detekt-gradle-plugin/config/gradle-plugin-detekt.yml
Labels: build

#4782 Fix broken cli-options import
  .gitignore
  detekt-generator/build.gradle.kts
  website/docs/gettingstarted/cli.mdx
  website/docs/gettingstarted/type-resolution.md
Labels: documentation

#4775 Add dependency on slf4j-nop to silence warning
  detekt-formatting/build.gradle.kts
  gradle/libs.versions.toml
Labels: build, dependencies

#4783 Fix broken snapshot publishing
  .github/workflows/deploy-snapshot.yaml
  build-logic/src/main/kotlin/packaging.gradle.kts
  detekt-gradle-plugin/build.gradle.kts
Labels: build, ci

#4789 Setup Algolia search bar on website
  website/docusaurus.config.js
Labels: documentation
