Repository detekt/detekt, pull requests merged in 2023-02, with the labels that each got.

#5756 Remove & forbid usage of java.util.stream
  config/detekt/detekt.yml
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/KtTreeCompiler.kt
  detekt-generator/src/main/kotlin/io/gitlab/arturbosch/detekt/generator/Generator.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnnecessaryParenthesesSpec.kt
Labels: rules, core

#5726 Fail when unexpected version of kotlin-compiler-embeddable is on runtime classpath
  build-logic/src/main/kotlin/module.gradle.kts
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/internal/Versions.kt
  detekt-cli/build.gradle.kts
  detekt-cli/src/main/kotlin/io/gitlab/arturbosch/detekt/cli/Main.kt
  detekt-cli/src/test/kotlin/io/gitlab/arturbosch/detekt/cli/MainSpec.kt
  detekt-cli/src/test/resources/META-INF/MANIFEST.MF
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/Analyzer.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/tooling/DefaultVersionProvider.kt
  detekt-report-html/src/main/kotlin/io/github/detekt/report/html/HtmlOutputReport.kt
  detekt-report-html/src/main/kotlin/io/github/detekt/report/html/HtmlUtils.kt
  detekt-report-md/src/main/kotlin/io/github/detekt/report/md/MdOutputReport.kt
  website/docs/gettingstarted/gradle.mdx
Labels: api, core, cli, gradle-plugin, build, documentation

#5634 ElseCaseInsteadOfExhaustiveWhen - Add ignoredSubjectTypes config key (#5623)
  detekt-core/src/main/resources/default-detekt-config.yml
  detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/ElseCaseInsteadOfExhaustiveWhen.kt
  detekt-rules-errorprone/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/ElseCaseInsteadOfExhaustiveWhenSpec.kt
Labels: rules

#5753 Enable UnnecessaryBackticks in detekt project
  config/detekt/detekt.yml
  detekt-api/src/test/kotlin/io/gitlab/arturbosch/detekt/api/ConfigPropertySpec.kt
  detekt-api/src/test/kotlin/io/gitlab/arturbosch/detekt/api/EntitySpec.kt
  detekt-api/src/test/kotlin/io/gitlab/arturbosch/detekt/api/SimplePatternToRegexSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/SuppressionSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/config/ValueOrDefaultCommaSeparatedSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/suppressors/FunctionSuppressorSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/suppressors/SuppressorsSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/tooling/DefaultConfigProviderSpec.kt
  detekt-generator/src/test/kotlin/io/gitlab/arturbosch/detekt/generator/collection/RuleSetProviderCollectorSpec.kt
  detekt-metrics/src/test/kotlin/io/github/detekt/metrics/CognitiveComplexitySpec.kt
  detekt-metrics/src/test/kotlin/io/github/detekt/metrics/processors/CLOCVisitorSpec.kt
  detekt-metrics/src/test/kotlin/io/github/detekt/metrics/processors/ClassCountVisitorSpec.kt
  detekt-metrics/src/test/kotlin/io/github/detekt/metrics/processors/ComplexityVisitorSpec.kt
  detekt-metrics/src/test/kotlin/io/github/detekt/metrics/processors/FieldCountVisitorSpec.kt
  detekt-metrics/src/test/kotlin/io/github/detekt/metrics/processors/KtFileCountVisitorSpec.kt
  detekt-metrics/src/test/kotlin/io/github/detekt/metrics/processors/LLOCVisitorSpec.kt
  detekt-metrics/src/test/kotlin/io/github/detekt/metrics/processors/LOCVisitorSpec.kt
  detekt-metrics/src/test/kotlin/io/github/detekt/metrics/processors/MethodCountVisitorSpec.kt
  detekt-metrics/src/test/kotlin/io/github/detekt/metrics/processors/PackageCountVisitorSpec.kt
  detekt-metrics/src/test/kotlin/io/github/detekt/metrics/processors/SLOCVisitorSpec.kt
  detekt-psi-utils/src/test/kotlin/io/github/detekt/psi/internal/FullQualifiedNameGuesserSpec.kt
  detekt-rules-documentation/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/documentation/OutdatedDocumentationSpec.kt
  detekt-rules-empty/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/empty/EmptyCodeSpec.kt
  detekt-rules-empty/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/empty/EmptyDefaultConstructorSpec.kt
  detekt-rules-errorprone/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/MissingWhenCaseSpec.kt
  detekt-rules-errorprone/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/RedundantElseInWhenSpec.kt
  detekt-rules-performance/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/performance/ArrayPrimitiveSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/RedundantHigherOrderMapUsageSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnusedPrivateMemberSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/UseIsNullOrEmptySpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/UseOrEmptySpec.kt
Labels: rules, api, core

#5760 Replace java.util.Stack with Kotlin's ArrayDeque implementation
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/baseline/IndentingXMLStreamWriter.kt
Labels: core

#5759 Replace java.time.Duration with kotlin.time.Duration
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/util/PerformanceMonitor.kt
Labels: core

#5722 Split UnusedPrivateMember
  detekt-core/src/main/resources/default-detekt-config.yml
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/StyleGuideProvider.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnusedParameter.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnusedPrivateMember.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnusedPrivateProperty.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnusedParameterSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnusedPrivateMemberSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnusedPrivatePropertySpec.kt
Labels: rules

#5757 Add NixOS installation method to doc
  website/versioned_docs/version-1.22.0/gettingstarted/cli.mdx
Labels: documentation

#5772 Avoid configuring Detekt tasks unnecessarily
  build.gradle.kts
Labels: build

#5774 Remove single-use `times` method, use stdlib's `repeat` instead.
  detekt-utils/src/main/kotlin/io/github/detekt/utils/Yaml.kt
Labels: housekeeping

#5776 Backport NixOS instructions to next version of the website
  website/docs/gettingstarted/cli.mdx
Labels: documentation

#5751 Migrate to SnakeYAML Engine
  detekt-compiler-plugin/build.gradle.kts
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/config/YamlConfig.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/config/YamlConfigSpec.kt
  gradle/libs.versions.toml
Labels: core, build, dependencies

#5780 Remove safeAs function usage
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnnecessaryInnerClass.kt
Labels: rules

#5765 Compile detekt-compiler-plugin against standard Kotlin compiler artifact
  detekt-compiler-plugin/build.gradle.kts
  detekt-compiler-plugin/src/main/kotlin/io/github/detekt/compiler/plugin/DetektAnalysisExtension.kt
  gradle/libs.versions.toml
Labels: build, dependencies, compiler-plugin

#5766 Run Kotlin compiler plugin CLI test as part of standard build
  detekt-compiler-plugin/build.gradle.kts
Labels: build

#5781 Remove unnecessary usage of BeforeAll
  detekt-generator/src/test/kotlin/io/gitlab/arturbosch/detekt/generator/printer/GeneratorSpec.kt
  detekt-gradle-plugin/src/functionalTest/kotlin/io/gitlab/arturbosch/detekt/DetektTaskDslSpec.kt
Labels: gradle-plugin

#5773 Fix generateDocumentation implicit dependencies
  build-logic/src/main/kotlin/ConsumeGeneratedConfig.kt
  detekt-core/build.gradle.kts
  detekt-generator/build.gradle.kts
  detekt-rules-libraries/build.gradle.kts
  detekt-rules-ruleauthors/build.gradle.kts
Labels: build

#5791 ModifierOrder: fix false positive with block comments
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/ModifierOrder.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/ModifierOrderSpec.kt
Labels: rules

#5785 Remove Spek support from detekt-test-utils
  detekt-test-utils/api/detekt-test-utils.api
  detekt-test-utils/build.gradle.kts
  detekt-test-utils/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/KotlinEnvironmentTestSetup.kt
  gradle/libs.versions.toml
  website/docs/gettingstarted/type-resolution.md
Labels: api, build, documentation, dependencies

#5782 Fix isIgnored logic so excludes override includes
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/internal/PathFilters.kt
  detekt-api/src/test/kotlin/io/gitlab/arturbosch/detekt/api/internal/InclusionExclusionPatternsSpec.kt
  detekt-cli/src/test/kotlin/io/gitlab/arturbosch/detekt/cli/PathFiltersSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/rules/RuleSetSpec.kt
Labels: api, core, cli, notable changes

#5794 Forbid using Jupiter Kotlin assertions
  config/detekt/detekt.yml
  detekt-cli/src/test/kotlin/io/gitlab/arturbosch/detekt/cli/runners/RunnerSpec.kt
Labels: cli

#5795 Add aliases for PackageNaming and InvalidPackageDeclaration
  detekt-rules-naming/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/naming/InvalidPackageDeclaration.kt
  detekt-rules-naming/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/naming/PackageNaming.kt
  detekt-rules-naming/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/naming/InvalidPackageDeclarationSpec.kt
  detekt-rules-naming/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/naming/PackageNamingSpec.kt
Labels: rules

#5705 Add StringShouldBeRawString.kt rule
  detekt-core/src/main/resources/default-detekt-config.yml
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/StringShouldBeRawString.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/StyleGuideProvider.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/StringShouldBeRawStringSpec.kt
Labels: rules

#5802 Fix main - Don't use Stream
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/StringShouldBeRawStringSpec.kt
Labels: rules

#5684 Fix false positive of in UnnecessaryParentheses
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnnecessaryParentheses.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnnecessaryParenthesesSpec.kt
Labels: rules

#5717 Fix false positive in case of invoke operator
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnusedPrivateMember.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnusedPrivateMemberSpec.kt
Labels: rules

#5792 Fix circular dependencies
  detekt-formatting/build.gradle.kts
  detekt-generator/build.gradle.kts
  detekt-rules/build.gradle.kts
Labels: build

#5683 Fix url and kotlin reference support in kdoc
  detekt-psi-utils/api/detekt-psi-utils.api
  detekt-psi-utils/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/StringExtensions.kt
  detekt-psi-utils/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/StringExtensionsKtSpec.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/MaxLineLength.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/MaxLineLengthSpec.kt
Labels: rules, api

#5811 Stop using Gradle toolchains in tests
  detekt-gradle-plugin/src/functionalTest/kotlin/io/gitlab/arturbosch/detekt/DetektMultiplatformSpec.kt
  detekt-gradle-plugin/src/functionalTest/kotlin/io/gitlab/arturbosch/detekt/report/ReportMergeSpec.kt
Labels: gradle-plugin

#5808 Boy Scout
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/TrailingWhitespaceSpec.kt
  detekt-test/src/main/kotlin/io/gitlab/arturbosch/detekt/test/Resources.kt
Labels: rules, notable changes

#5788 Fixed ProtectedMemberInFinalClass rule reporting valid JVM finalize
  detekt-psi-utils/api/detekt-psi-utils.api
  detekt-psi-utils/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/MethodSignature.kt
  detekt-psi-utils/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/MethodSignatureSpec.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/ProtectedMemberInFinalClass.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/ProtectedMemberInFinalClassSpec.kt
Labels: rules, api

#5741 Use main-kts artifact to compile test code snippets
  detekt-rules-coroutines/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/coroutines/SuspendFunWithFlowReturnTypeSpec.kt
  detekt-rules-empty/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/empty/EmptyCodeSpec.kt
  detekt-rules-exceptions/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/exceptions/ThrowingExceptionInMainSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/CanBeNonNullableSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/ExpressionBodySyntaxSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/NewLineAtEndOfFileSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/UseEmptyCounterpartSpec.kt
  detekt-test-utils/build.gradle.kts
  detekt-test-utils/src/main/kotlin/io/github/detekt/test/utils/KotlinScriptEngine.kt
  detekt-test-utils/src/main/kotlin/io/github/detekt/test/utils/KotlinScriptEnginePool.kt
  detekt-test-utils/src/main/kotlin/io/github/detekt/test/utils/KotlinScriptException.kt
  detekt-test-utils/src/test/kotlin/io/github/detekt/test/utils/KotlinScriptEngineTest.kt
  detekt-test-utils/src/test/kotlin/io/github/detekt/test/utils/PooledScriptEngineTest.kt
  gradle/libs.versions.toml
Labels: rules, build, dependencies

#5815 Remove unused Gradle property
  gradle.properties
Labels: housekeeping

#5809 Improve MaxChainedCallsOnSameLine Tests
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/MaxChainedCallsOnSameLineSpec.kt
Labels: rules

#5719 Use `name` that return name after backticks
  detekt-rules-naming/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/naming/ConstructorParameterNaming.kt
  detekt-rules-naming/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/naming/ConstructorParameterNamingSpec.kt
Labels: rules

#5813 Stop configuring report merge tasks while configuring Detekt tasks
  build.gradle.kts
  detekt-gradle-plugin/src/functionalTest/kotlin/io/gitlab/arturbosch/detekt/DetektReportMergeSpec.kt
  website/docs/introduction/reporting.md
Labels: gradle-plugin, build, documentation

#5800 Reduce configuration of UnusedPrivateMember's split rules
  detekt-core/src/main/resources/default-detekt-config.yml
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnusedParameter.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnusedPrivateMember.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnusedPrivateProperty.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnusedPrivateMemberSpec.kt
Labels: rules

#5822 Dont reexecute tasks and make them more parallel
  .github/workflows/pre-merge.yaml
Labels: ci

#5823 Never skip ci
  .github/workflows/codecoverage.yaml
  .github/workflows/deploy-snapshot.yaml
  .github/workflows/detekt-with-type-resolution.yaml
  .github/workflows/pre-merge.yaml
Labels: ci

#5827 Replace trimMargin usages
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/tooling/DefaultConfigProviderSpec.kt
  detekt-generator/src/main/kotlin/io/gitlab/arturbosch/detekt/generator/DetektPrinter.kt
  detekt-generator/src/test/kotlin/io/gitlab/arturbosch/detekt/generator/printer/defaultconfig/RuleSetConfigPrinterTest.kt
  detekt-report-html/src/test/kotlin/io/github/detekt/report/html/HtmlUtilsSpec.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/StringShouldBeRawString.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/StringShouldBeRawStringSpec.kt
  detekt-utils/src/test/kotlin/io/github/detekt/utils/YamlSpec.kt
Labels: rules, core, housekeeping

#5820 Rewrite testPluginKotlinc task to be configuration cache compatible
  detekt-compiler-plugin/build.gradle.kts
Labels: build, housekeeping

#5718 Remove ignoreOverridden config from BooleanPropertyNaming etc.
  detekt-core/src/main/resources/default-detekt-config.yml
  detekt-core/src/main/resources/deprecation.properties
  detekt-rules-naming/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/naming/BooleanPropertyNaming.kt
  detekt-rules-naming/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/naming/ConstructorParameterNaming.kt
  detekt-rules-naming/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/naming/FunctionNaming.kt
  detekt-rules-naming/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/naming/FunctionParameterNaming.kt
  detekt-rules-naming/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/naming/VariableNaming.kt
  detekt-rules-naming/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/naming/BooleanPropertyNamingSpec.kt
  detekt-rules-naming/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/naming/ConstructorParameterNamingSpec.kt
  detekt-rules-naming/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/naming/FunctionNamingSpec.kt
  detekt-rules-naming/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/naming/FunctionParameterNamingSpec.kt
  detekt-rules-naming/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/naming/VariableNamingSpec.kt
Labels: rules

#5833 Do not attempt to publish-snapshot on forks
  .github/workflows/deploy-snapshot.yaml
Labels: ci, housekeeping

#5821 Remove use of afterEvaluate
  build-logic/src/main/kotlin/releasing.gradle.kts
  detekt-gradle-plugin/build.gradle.kts
Labels: build, housekeeping

#5798 Force SerialVerionUID to be private
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/SerialVersionUIDInSerializableClass.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/SerialVersionUIDInSerializableClassSpec.kt
Labels: rules

#5824 Reduce execution of warningsAsErrors job
  .github/workflows/pre-merge.yaml
Labels: ci, housekeeping

#5829 Make `UnnecessaryAbstractClass` only run with type resolution
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnnecessaryAbstractClass.kt
Labels: rules, notable changes

#5699 Check Thread.sleep for block expression
  detekt-rules-coroutines/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/coroutines/SleepInsteadOfDelay.kt
  detekt-rules-coroutines/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/coroutines/SleepInsteadOfDelaySpec.kt
Labels: rules

#5835 Exclude super call when generating guard clauses
  detekt-psi-utils/api/detekt-psi-utils.api
  detekt-psi-utils/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/GuardClauses.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/ReturnCountSpec.kt
Labels: rules, api

#5837 MagicNumber - Make ignoreNamedArgument catch more complex expression
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/MagicNumber.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/MagicNumberSpec.kt
Labels: rules

#5830 Cleaner merging of Gradle blocks for functionalTests
  detekt-gradle-plugin/src/functionalTest/kotlin/io/gitlab/arturbosch/detekt/ConfigurationCacheSpec.kt
  detekt-gradle-plugin/src/functionalTest/kotlin/io/gitlab/arturbosch/detekt/CreateBaselineTaskDslSpec.kt
  detekt-gradle-plugin/src/functionalTest/kotlin/io/gitlab/arturbosch/detekt/DetektAndroidSpec.kt
  detekt-gradle-plugin/src/functionalTest/kotlin/io/gitlab/arturbosch/detekt/DetektMultiplatformSpec.kt
  detekt-gradle-plugin/src/functionalTest/kotlin/io/gitlab/arturbosch/detekt/DetektReportMergeSpec.kt
  detekt-gradle-plugin/src/functionalTest/kotlin/io/gitlab/arturbosch/detekt/DetektTaskDslSpec.kt
  detekt-gradle-plugin/src/functionalTest/kotlin/io/gitlab/arturbosch/detekt/DetektTaskGroovyDslSpec.kt
  detekt-gradle-plugin/src/functionalTest/kotlin/io/gitlab/arturbosch/detekt/DetektTaskMultiModuleSpec.kt
  detekt-gradle-plugin/src/functionalTest/kotlin/io/gitlab/arturbosch/detekt/DetektTaskSpec.kt
  detekt-gradle-plugin/src/functionalTest/kotlin/io/gitlab/arturbosch/detekt/GenerateConfigTaskSpec.kt
  detekt-gradle-plugin/src/functionalTest/kotlin/io/gitlab/arturbosch/detekt/PluginTaskBehaviorSpec.kt
  detekt-gradle-plugin/src/functionalTest/kotlin/io/gitlab/arturbosch/detekt/report/ReportMergeSpec.kt
  detekt-gradle-plugin/src/testFixtures/kotlin/io/gitlab/arturbosch/detekt/testkit/DslGradleRunner.kt
  detekt-gradle-plugin/src/testFixtures/kotlin/io/gitlab/arturbosch/detekt/testkit/DslTestBuilder.kt
  detekt-gradle-plugin/src/testFixtures/kotlin/io/gitlab/arturbosch/detekt/testkit/Helpers.kt
  detekt-gradle-plugin/src/testFixtures/kotlin/io/gitlab/arturbosch/detekt/testkit/ProjectLayout.kt
Labels: gradle-plugin, housekeeping

#4128 Run detekt's Gradle tasks with Gradle's Worker API
  detekt-gradle-plugin/build.gradle.kts
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/Detekt.kt
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/DetektCreateBaselineTask.kt
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/DetektGenerateConfigTask.kt
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/DetektPlugin.kt
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/invoke/DetektInvoker.kt
Labels: gradle-plugin, build, notable changes

#5848 Don't access rootProject unnecessarily
  build-logic/src/main/kotlin/releasing.gradle.kts
  build.gradle.kts
  detekt-generator/build.gradle.kts
Labels: build, housekeeping

#5846 Remove dependency between check and jacocoMergedReport
  code-coverage-report/build.gradle.kts
Labels: housekeeping

#5841 Remove unnecessary `@Suppress("ReturnCount")`
  detekt-rules-complexity/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/complexity/NamedArguments.kt
  detekt-rules-coroutines/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/coroutines/SleepInsteadOfDelay.kt
  detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/ExitOutsideMain.kt
  detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/IgnoredReturnValue.kt
  detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/ImplicitUnitReturnType.kt
  detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/NullableToStringCall.kt
  detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/UnnecessaryNotNullCheck.kt
  detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/UnnecessarySafeCall.kt
  detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/UnreachableCatchBlock.kt
  detekt-rules-performance/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/performance/CouldBeSequence.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/AlsoCouldBeApply.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/DataClassContainsFunctions.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/ExplicitCollectionElementAccessMethod.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/ForbiddenVoid.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/MaxChainedCallsOnSameLine.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/MultilineRawStringIndentation.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/RedundantExplicitType.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/RedundantHigherOrderMapUsage.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnnecessaryFilter.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnnecessaryParentheses.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnusedImports.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UseEmptyCounterpart.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UseIfEmptyOrIfBlank.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UseIfInsteadOfWhen.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UseIsNullOrEmpty.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UseSumOfInsteadOfFlatMapSize.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UselessCallOnNotNull.kt
Labels: rules, housekeeping

#5826 Disable PTS from local and enable it for PRs
  .github/workflows/pre-merge.yaml
  build.gradle.kts
  gradle.properties
Labels: build, ci, housekeeping

#5825 Enable test retry for all our modules
  build.gradle.kts
Labels: build

#5850 Fix double mutability issues with Gradle plugin's use of ConfigurableFileCollection
  build.gradle.kts
  detekt-gradle-plugin/build.gradle.kts
  detekt-gradle-plugin/config/gradle-plugin-detekt.yml
  detekt-gradle-plugin/src/functionalTest/kotlin/io/gitlab/arturbosch/detekt/DetektTaskMultiModuleSpec.kt
  detekt-gradle-plugin/src/main/kotlin/io/github/detekt/gradle/DetektKotlinCompilerPlugin.kt
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/DetektPlugin.kt
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/extensions/DetektExtension.kt
  website/docs/gettingstarted/gradle.mdx
Labels: gradle-plugin, build, documentation

#5834 Add test to verify snippet provided in #5806 for IgnoredReturnValue
  detekt-rules-errorprone/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/IgnoredReturnValueSpec.kt
Labels: rules

#5857 Use code syntax for `Unit` for ImplicitUnitReturnType rule
  detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/ImplicitUnitReturnType.kt
Labels: rules

#5851 MatchingDeclarationName. KtFilesSpec also remove .common.kt suffix from kotlin files
  detekt-psi-utils/build.gradle.kts
  detekt-psi-utils/src/main/kotlin/io/github/detekt/psi/KtFiles.kt
  detekt-psi-utils/src/test/kotlin/io/github/detekt/psi/KtFilesSpec.kt
  detekt-rules-naming/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/naming/MatchingDeclarationNameSpec.kt
Labels: rules, build
