Repository detekt/detekt, pull requests merged in 2023-07, with the labels that each got.

#6246 Update dependency org.jetbrains.kotlinx:kotlinx-coroutines-core to v1.7.2
  gradle/libs.versions.toml
Labels: dependencies

#6242 Fail on Gradle script compilation warnings
  detekt-gradle-plugin/gradle.properties
  gradle.properties
Labels: housekeeping

#6243 Don't apply base plugin to code coverage module
  code-coverage-report/build.gradle.kts
Labels: housekeeping

#6244 Enable Gradle Predictive Test Selection by default
  .github/workflows/codecoverage.yaml
  .github/workflows/deploy-snapshot.yaml
  .github/workflows/pre-merge.yaml
  gradle.properties
Labels: ci

#6210 CanBeNonNullable: Fix false positive when property is defined after assignment
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/CanBeNonNullable.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/CanBeNonNullableSpec.kt
Labels: rules

#6265 Fix tests and re-enable :detekt-compiler-plugin:test task
  detekt-compiler-plugin/build.gradle.kts
  detekt-compiler-plugin/src/test/kotlin/io/github/detekt/compiler/plugin/CompilerTest.kt
  detekt-compiler-plugin/src/test/kotlin/io/github/detekt/compiler/plugin/util/CompilerTestUtils.kt
Labels: housekeeping, compiler-plugin

#6264 Make InvalidRange aware of rangeUntil operator
  detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/InvalidRange.kt
  detekt-rules-errorprone/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/InvalidRangeSpec.kt
Labels: rules

#6261 Update compatibility tables for detekt 1.23.0
  README.md
  website/docs/introduction/compatibility.md
  website/versioned_docs/version-1.23.0/introduction/compatibility.md
Labels: documentation

#6266 Switch to SLF4J 2.x
  gradle/libs.versions.toml
Labels: dependencies

#6252 Remove inaccurate statement about autocorrect capability
  detekt-formatting/src/main/kotlin/io/gitlab/arturbosch/detekt/formatting/wrappers/MaximumLineLength.kt
Labels: documentation, formatting

#6260 Kotlin 1.9.0 refactor
  build-logic/src/main/kotlin/module.gradle.kts
  detekt-cli/src/main/kotlin/io/gitlab/arturbosch/detekt/cli/ArgumentConverters.kt
  detekt-cli/src/main/kotlin/io/gitlab/arturbosch/detekt/cli/ReportPath.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/settings/EnvironmentAware.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/util/PerformanceMonitor.kt
  detekt-generator/src/main/kotlin/io/gitlab/arturbosch/detekt/generator/collection/DefaultActivationStatus.kt
  detekt-gradle-plugin/build.gradle.kts
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/invoke/CliArgument.kt
  detekt-report-xml/src/main/kotlin/io/github/detekt/report/xml/XmlEscape.kt
  detekt-rules-performance/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/performance/ArrayPrimitive.kt
  detekt-rules-ruleauthors/build.gradle.kts
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/BracesOnIfStatements.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/BracesOnWhenStatements.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/CascadingCallWrapping.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/ClassOrdering.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/MultilineRawStringIndentation.kt
  detekt-tooling/api/detekt-tooling.api
  detekt-tooling/src/main/kotlin/io/github/detekt/tooling/api/spec/RulesSpec.kt
Labels: rules, api, core, cli, gradle-plugin, build

#6267 Replace reflections library with classgraph library
  detekt-core/build.gradle.kts
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/FileProcessorLocatorSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/rules/RuleSetLocatorSpec.kt
  detekt-generator/build.gradle.kts
  detekt-generator/src/test/kotlin/io/gitlab/arturbosch/detekt/generator/config/ConfigAssert.kt
  detekt-rules/build.gradle.kts
  detekt-rules/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/RuleProviderConfigSpec.kt
  detekt-rules/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/RuleProviderSpec.kt
  gradle/libs.versions.toml
Labels: rules, core, build, dependencies, housekeeping

#6270 Shade third party dependencies in compiler plugin uber JAR
  detekt-compiler-plugin/build.gradle.kts
Labels: build

#6255 Stop applying treeCopyHandler extension in analysis environment
  detekt-compiler-plugin/build.gradle.kts
  detekt-parser/build.gradle.kts
  detekt-parser/src/main/kotlin/io/github/detekt/parser/DetektPomModel.kt
  detekt-parser/src/main/kotlin/io/github/detekt/parser/KotlinEnvironmentUtils.kt
  detekt-parser/src/test/kotlin/io/github/detekt/parser/KtCompilerSpec.kt
  gradle/libs.versions.toml
Labels: dependencies, notable changes

#6272 Don't relocate contester package
  detekt-compiler-plugin/build.gradle.kts
Labels: build, housekeeping

#6277 Reflect Java 20 support in CLI help output
  detekt-cli/src/main/kotlin/io/gitlab/arturbosch/detekt/cli/CliArgs.kt
Labels: cli, documentation

#6212 Replaced "threshold" property of CouldBeSequence rule by "allowedOperations".
  detekt-core/src/main/resources/default-detekt-config.yml
  detekt-rules-performance/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/performance/CouldBeSequence.kt
  detekt-rules-performance/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/performance/CouldBeSequenceSpec.kt
Labels: rules

#6211 Replaced "thresholdX" properties of TooManyFunctions rule by "allowedFunctionsX".
  detekt-core/src/main/resources/default-detekt-config.yml
  detekt-rules-complexity/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/complexity/TooManyFunctions.kt
  detekt-rules-complexity/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/complexity/TooManyFunctionsSpec.kt
  detekt-sample-extensions/src/main/kotlin/io/gitlab/arturbosch/detekt/sample/extensions/rules/TooManyFunctions.kt
  detekt-sample-extensions/src/main/kotlin/io/gitlab/arturbosch/detekt/sample/extensions/rules/TooManyFunctionsTwo.kt
Labels: rules

#6251 Simple property assignments in KTS
  build-logic/build.gradle.kts
  build-logic/src/main/kotlin/module.gradle.kts
  build-logic/src/main/kotlin/packaging.gradle.kts
  build-logic/src/main/kotlin/releasing.gradle.kts
  build.gradle.kts
  code-coverage-report/build.gradle.kts
  detekt-api/build.gradle.kts
  detekt-cli/build.gradle.kts
  detekt-generator/build.gradle.kts
  detekt-gradle-plugin/build.gradle.kts
Labels: build, housekeeping

#6268 Use pluginManagement to include builds
  settings.gradle.kts
Labels: build, housekeeping

#6284 Add missing jdkHome and languageVersion properties to DetektCreateBaselineTask
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/DetektCreateBaselineTask.kt
Labels: gradle-plugin, pick request

#6287 Ensure paths are not used in tests where plain filenames are required
  detekt-api/src/test/kotlin/io/gitlab/arturbosch/detekt/api/EntitySpec.kt
  detekt-api/src/test/resources/EntitySpecFixture.kt
  detekt-formatting/src/test/kotlin/io/gitlab/arturbosch/detekt/formatting/FormattingRuleSpec.kt
  detekt-formatting/src/test/kotlin/io/gitlab/arturbosch/detekt/formatting/MaximumLineLengthSpec.kt
  detekt-formatting/src/test/kotlin/io/gitlab/arturbosch/detekt/formatting/TestFiles.kt
  detekt-rules-naming/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/naming/InvalidPackageDeclarationSpec.kt
  detekt-rules-naming/src/test/resources/InvalidPackageDeclarationSpec/src/File.kt
  detekt-rules-naming/src/test/resources/InvalidPackageDeclarationSpec/src/bar/incorrect.kt
  detekt-rules-naming/src/test/resources/InvalidPackageDeclarationSpec/src/bar/suppressed.kt
  detekt-rules-naming/src/test/resources/InvalidPackageDeclarationSpec/src/com/example/File.kt
  detekt-rules-naming/src/test/resources/InvalidPackageDeclarationSpec/src/com/example/foo/bar/File.kt
  detekt-rules-naming/src/test/resources/InvalidPackageDeclarationSpec/src/com/example_extra/File.kt
  detekt-rules-naming/src/test/resources/InvalidPackageDeclarationSpec/src/foo/bar/File.kt
  detekt-rules-naming/src/test/resources/InvalidPackageDeclarationSpec/src/foo/bar/MismatchedDeclaration.kt
  detekt-rules-naming/src/test/resources/InvalidPackageDeclarationSpec/src/foo/bar/correct.kt
  detekt-rules-naming/src/test/resources/InvalidPackageDeclarationSpec/src/foo/bar/rootPackageMissing.kt
  detekt-test-utils/src/main/kotlin/io/github/detekt/test/utils/CompileExtensions.kt
  detekt-test-utils/src/main/kotlin/io/github/detekt/test/utils/KtTestCompiler.kt
Labels: rules, api, formatting, housekeeping

#6180 Remove deprecated elements from Gradle plugin
  detekt-gradle-plugin/src/functionalTest/kotlin/io/gitlab/arturbosch/detekt/DetektAndroidSpec.kt
  detekt-gradle-plugin/src/functionalTest/kotlin/io/gitlab/arturbosch/detekt/DetektJvmSpec.kt
  detekt-gradle-plugin/src/functionalTest/kotlin/io/gitlab/arturbosch/detekt/DetektMultiplatformSpec.kt
  detekt-gradle-plugin/src/functionalTest/kotlin/io/gitlab/arturbosch/detekt/DetektReportMergeSpec.kt
  detekt-gradle-plugin/src/functionalTest/kotlin/io/gitlab/arturbosch/detekt/DetektTaskDslSpec.kt
  detekt-gradle-plugin/src/functionalTest/kotlin/io/gitlab/arturbosch/detekt/DetektTaskGroovyDslSpec.kt
  detekt-gradle-plugin/src/functionalTest/kotlin/io/gitlab/arturbosch/detekt/GenerateConfigTaskSpec.kt
  detekt-gradle-plugin/src/functionalTest/kotlin/io/gitlab/arturbosch/detekt/PluginTaskBehaviorSpec.kt
  detekt-gradle-plugin/src/functionalTest/kotlin/io/gitlab/arturbosch/detekt/report/ReportMergeSpec.kt
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/DetektGenerateConfigTask.kt
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/DetektPlugin.kt
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/extensions/CustomDetektReport.kt
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/extensions/DetektExtension.kt
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/extensions/DetektReport.kt
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/internal/SharedTasks.kt
Labels: gradle-plugin, breaking change

#6253 Implement rules introduced in ktlint 0.50.0
  config/detekt/detekt.yml
  detekt-formatting/src/main/kotlin/io/gitlab/arturbosch/detekt/formatting/FormattingProvider.kt
  detekt-formatting/src/main/kotlin/io/gitlab/arturbosch/detekt/formatting/wrappers/BinaryExpressionWrapping.kt
  detekt-formatting/src/main/kotlin/io/gitlab/arturbosch/detekt/formatting/wrappers/BlankLineBeforeDeclaration.kt
  detekt-formatting/src/main/kotlin/io/gitlab/arturbosch/detekt/formatting/wrappers/NoEmptyFile.kt
  detekt-formatting/src/main/kotlin/io/gitlab/arturbosch/detekt/formatting/wrappers/StatementWrapping.kt
  detekt-formatting/src/main/resources/config/config.yml
  detekt-report-md/src/main/kotlin/io/github/detekt/report/md/MdOutputReport.kt
  detekt-tooling/src/test/kotlin/io/github/detekt/tooling/api/FunctionMatcherSpec.kt
Labels: formatting

#6288 Delete MultiRule
  detekt-api/api/detekt-api.api
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/BaseRule.kt
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/MultiRule.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/Analyzer.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/rules/RuleSets.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/suppressors/Suppressor.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/SuppressionSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/rules/MultiRuleSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/suppressors/SuppressorsSpec.kt
  detekt-core/src/test/resources/pathFilters/multi-rule-with-excludes-on-ruleset-string.yml
  detekt-core/src/test/resources/pathFilters/multi-rule-with-excludes-on-ruleset.yml
  detekt-core/src/test/resources/pathFilters/multi-rule-with-excludes-string.yml
  detekt-core/src/test/resources/pathFilters/multi-rule-with-excludes.yml
  detekt-core/src/test/resources/pathFilters/multi-rule-with-one-exclude-string.yml
  detekt-core/src/test/resources/pathFilters/multi-rule-with-one-exclude.yml
  detekt-core/src/test/resources/pathFilters/multi-rule-without-excludes.yml
  detekt-report-sarif/src/main/kotlin/io/github/detekt/report/sarif/RuleDescriptors.kt
  detekt-rules/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/RuleProviderSpec.kt
Labels: rules, api, core, suppressors, breaking change

#6208 Replaced "threshold" property of StringLiteralDuplication rule by "allowedDuplications".
  config/detekt/detekt.yml
  detekt-core/src/main/resources/default-detekt-config.yml
  detekt-rules-complexity/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/complexity/StringLiteralDuplication.kt
  detekt-rules-complexity/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/complexity/StringLiteralDuplicationSpec.kt
Labels: rules, breaking change

#6286 Rename `EmptyKtFile` to `EmptyKotlinFile`
  detekt-core/src/main/resources/default-detekt-config.yml
  detekt-rules-empty/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/empty/EmptyCodeProvider.kt
  detekt-rules-empty/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/empty/EmptyKotlinFile.kt
  detekt-rules-empty/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/empty/EmptyCodeSpec.kt
Labels: rules, breaking change

#6289 Re-apply #6160 to the versioned docs
  website/versioned_docs/version-1.23.0/gettingstarted/compilerplugin.mdx
Labels: documentation

#6296 Update docs with SDKMAN! instructions
  website/docs/gettingstarted/cli.mdx
Labels: documentation

#6291 Review Ktlint links
  detekt-formatting/src/main/kotlin/io/gitlab/arturbosch/detekt/formatting/wrappers/ImportOrdering.kt
  detekt-formatting/src/main/kotlin/io/gitlab/arturbosch/detekt/formatting/wrappers/NoSingleLineBlockComment.kt
  detekt-formatting/src/test/kotlin/io/gitlab/arturbosch/detekt/formatting/CommentWrappingSpec.kt
  detekt-formatting/src/test/kotlin/io/gitlab/arturbosch/detekt/formatting/ImportOrderingSpec.kt
  detekt-formatting/src/test/kotlin/io/gitlab/arturbosch/detekt/formatting/KdocWrappingSpec.kt
  detekt-formatting/src/test/kotlin/io/gitlab/arturbosch/detekt/formatting/TrailingCommaOnCallSiteSpec.kt
  detekt-formatting/src/test/kotlin/io/gitlab/arturbosch/detekt/formatting/TrailingCommaOnDeclarationSiteSpec.kt
  detekt-formatting/src/test/kotlin/io/gitlab/arturbosch/detekt/formatting/UnnecessaryParenthesesBeforeTrailingLambdaSpec.kt
  website/versioned_docs/version-1.21.0/rules/formatting.md
  website/versioned_docs/version-1.22.0/rules/formatting.md
  website/versioned_docs/version-1.23.0/rules/formatting.md
Labels: documentation, formatting

#6298 Adapt ktlint links in versioned docs of 1.23
  website/versioned_docs/version-1.23.0/rules/formatting.md
Labels: documentation

#6310 Store absolute path names as metadata with each KtFile
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/internal/Signatures.kt
  detekt-compiler-plugin/build.gradle.kts
  detekt-compiler-plugin/src/test/resources/hello.kt
  detekt-parser/src/main/kotlin/io/github/detekt/parser/KtCompiler.kt
  detekt-psi-utils/api/detekt-psi-utils.api
  detekt-psi-utils/src/main/kotlin/io/github/detekt/psi/KtFiles.kt
Labels: api, build, compiler-plugin

#6317 Fix Gradle 8.3 deprecation of Project#getBuildDir
  build-logic/src/main/kotlin/releasing.gradle.kts
  detekt-gradle-plugin/build.gradle.kts
Labels: build, housekeeping

#6319 Treat warnings as errors in build-logic
  build-logic/build.gradle.kts
Labels: build, housekeeping

#6316 Fail build-logic configuration on Gradle script compilation warnings
  build-logic/gradle.properties
Labels: build, housekeeping

#6311 Simplify storing metadata with KtFiles
  detekt-api/api/detekt-api.api
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/Detektion.kt
  detekt-api/src/testFixtures/kotlin/io/gitlab/arturbosch/detekt/test/TestDetektion.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/DetektResult.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/KtFileModifier.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/config/IssueExtension.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/reporting/console/ComplexityReportSpec.kt
  detekt-metrics/src/main/kotlin/io/github/detekt/metrics/ComplexityMetric.kt
  detekt-metrics/src/main/kotlin/io/github/detekt/metrics/processors/AbstractProcessor.kt
  detekt-metrics/src/test/kotlin/io/github/detekt/metrics/ComplexityReportGeneratorSpec.kt
  detekt-metrics/src/test/kotlin/io/github/detekt/metrics/processors/MetricProcessorTester.kt
  detekt-parser/src/main/kotlin/io/github/detekt/parser/KtCompiler.kt
  detekt-parser/src/test/kotlin/io/github/detekt/parser/KtCompilerSpec.kt
  detekt-psi-utils/api/detekt-psi-utils.api
  detekt-psi-utils/src/main/kotlin/io/github/detekt/psi/Keys.kt
  detekt-psi-utils/src/main/kotlin/io/github/detekt/psi/KtFiles.kt
  detekt-report-html/src/test/kotlin/io/github/detekt/report/html/HtmlOutputReportSpec.kt
  detekt-report-md/src/test/kotlin/io/github/detekt/report/md/MdOutputReportSpec.kt
  detekt-sample-extensions/src/main/kotlin/io/gitlab/arturbosch/detekt/sample/extensions/processors/QualifiedNameProcessor.kt
  detekt-sample-extensions/src/main/kotlin/io/gitlab/arturbosch/detekt/sample/extensions/reports/Reports.kt
  detekt-sample-extensions/src/test/kotlin/io/gitlab/arturbosch/detekt/sample/extensions/processors/QualifiedNameProcessorSpec.kt
  detekt-tooling/src/main/kotlin/io/github/detekt/tooling/internal/EmptyContainer.kt
Labels: api, core

#6315 Remove withAutoCorrect from ConfigAware
  detekt-api/api/detekt-api.api
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/ConfigAware.kt
  website/docs/introduction/extensions.md
Labels: api, documentation, breaking change

#6314 Deprecate OptionalWhenBraces rule
  detekt-core/src/main/resources/default-detekt-config.yml
  detekt-core/src/main/resources/deprecation.properties
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/OptionalWhenBraces.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/StyleGuideProvider.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/OptionalWhenBracesSpec.kt
Labels: rules

#6320 Prepare Detekt 1.23.1
  build-logic/src/main/kotlin/Versions.kt
Labels: build

#6328 Fix typo in README
  README.md
Labels: documentation

#6329 Add KotlinConf talk recording link to README
  README.md
Labels: documentation

#6322 Remove OptionalWhenBraces rule
  detekt-core/src/main/resources/default-detekt-config.yml
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/OptionalWhenBraces.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/StyleGuideProvider.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/OptionalWhenBracesSpec.kt
Labels: rules, breaking change

#6332 Add release notes for 1.23.1
  scripts/github-milestone-report.main.kts
  website/src/pages/changelog.md
Labels: documentation

#6333 Add release notes for 1.23.1 on main
  scripts/github-milestone-report.main.kts
  website/src/pages/changelog.md
Labels: documentation

#6323 Require basePath when setting up environment
  detekt-cli/src/main/kotlin/io/gitlab/arturbosch/detekt/cli/CliArgs.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/KtTreeCompiler.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/tooling/ProcessingSpecSettingsBridge.kt
  detekt-parser/src/main/kotlin/io/github/detekt/parser/KtCompiler.kt
  detekt-parser/src/test/kotlin/io/github/detekt/parser/KtCompilerSpec.kt
  detekt-tooling/src/main/kotlin/io/github/detekt/tooling/api/spec/ProjectSpec.kt
  detekt-tooling/src/main/kotlin/io/github/detekt/tooling/dsl/ProjectSpecBuilder.kt
Labels: core, cli

#6339 MaybeConstant: Remove unused alias
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/MayBeConstant.kt
Labels: rules
