Repository detekt/detekt, pull requests merged in 2023-08, with the labels that each got.

#6348 Add Hbmartin's ruleset to Marketplace
  website/src/data/marketplace.js
Labels: documentation

#6354 replace main to mainClass in docs
  website/docs/gettingstarted/gradletask.md
  website/versioned_docs/version-1.21.0/gettingstarted/gradletask.md
  website/versioned_docs/version-1.22.0/gettingstarted/gradletask.md
  website/versioned_docs/version-1.23.0/gettingstarted/gradletask.md
  website/versioned_docs/version-1.23.1/gettingstarted/gradletask.md
Labels: documentation

#6344 Mark `ImplicitDefaultLocale` rule to require type resolution.
  detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/ImplicitDefaultLocale.kt
Labels: rules, notable changes

#6345 Mark `MapGetWithNotNullAssertionOperator` rule to require type resolution.
  detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/MapGetWithNotNullAssertionOperator.kt
Labels: rules

#6346 Mark `InstanceOfCheckForException` rule to require type resolution.
  detekt-rules-exceptions/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/exceptions/InstanceOfCheckForException.kt
  detekt-rules-exceptions/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/exceptions/InstanceOfCheckForExceptionSpec.kt
Labels: rules, notable changes

#6347 Mark `MemberNameEqualsClassName` rule to require type resolution.
  detekt-rules-naming/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/naming/MemberNameEqualsClassName.kt
  detekt-rules-naming/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/naming/MemberNameEqualsClassNameSpec.kt
Labels: rules, notable changes

#6366 Rename rule UnusedImports to UnusedImport
  config/detekt/detekt.yml
  detekt-core/src/main/resources/default-detekt-config.yml
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/StyleGuideProvider.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnusedImport.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnusedImportSpec.kt
Labels: rules, breaking change

#6356 Mark `UnusedPrivateMember` rule to require type resolution.
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnusedPrivateMember.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnusedPrivateMemberSpec.kt
Labels: rules, notable changes

#6358 Mark `UseRequire` rule to require type resolution.
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UseRequire.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/UseRequireSpec.kt
Labels: rules, notable changes

#6355 Mark `UseDataClass` rule to require type resolution.
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UseDataClass.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/UseDataClassSpec.kt
Labels: rules, notable changes

#6361 Mark `UseCheckOrError` rule to require type resolution.
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UseCheckOrError.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/UseCheckOrErrorSpec.kt
Labels: rules, notable changes

#6360 Mark `UnusedImports` rule to require type resolution.
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnusedImport.kt
Labels: rules, notable changes

#6359 Mark `OptionalUnit` rule to require type resolution.
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/optional/OptionalUnit.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/optional/OptionalUnitSpec.kt
Labels: rules, notable changes

#6374 Improve consumeGeneratedConfig
  build-logic/src/main/kotlin/ConsumeGeneratedConfig.kt
  detekt-core/build.gradle.kts
  detekt-formatting/build.gradle.kts
  detekt-rules-libraries/build.gradle.kts
  detekt-rules-ruleauthors/build.gradle.kts
Labels: build, housekeeping

#6318 Add CharArrayToStringCall rule
  detekt-core/src/main/resources/default-detekt-config.yml
  detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/CharArrayToStringCall.kt
  detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/PotentialBugProvider.kt
  detekt-rules-errorprone/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/CharArrayToStringCallSpec.kt
Labels: rules, notable changes

#5853 Improve `generateDocumentation`
  detekt-cli/build.gradle.kts
  detekt-generator/build.gradle.kts
  detekt-generator/src/main/kotlin/io/gitlab/arturbosch/detekt/generator/Generator.kt
  detekt-generator/src/main/kotlin/io/gitlab/arturbosch/detekt/generator/GeneratorArgs.kt
  detekt-generator/src/main/kotlin/io/gitlab/arturbosch/detekt/generator/printer/CliOptionsPrinter.kt
  detekt-generator/src/test/kotlin/io/gitlab/arturbosch/detekt/generator/printer/CliOptionsPrinterSpec.kt
Labels: build, documentation, never gets stale, gradle

#6369 Suggest `..<` instead of `until`
  config/detekt/detekt.yml
  detekt-core/src/main/resources/default-detekt-config.yml
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/RangeUntilInsteadOfRangeTo.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/StyleGuideProvider.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/RangeUntilInsteadOfRangeToSpec.kt
Labels: rules, pick request

#5856 Dont depend on jcommander
  detekt-generator/src/main/kotlin/io/gitlab/arturbosch/detekt/generator/DetektPrinter.kt
  detekt-generator/src/main/kotlin/io/gitlab/arturbosch/detekt/generator/Generator.kt
  detekt-generator/src/main/kotlin/io/gitlab/arturbosch/detekt/generator/Main.kt
  detekt-generator/src/test/kotlin/io/gitlab/arturbosch/detekt/generator/printer/GeneratorSpec.kt
Labels: housekeeping

#6302 Skip entire subtrees while scanning for source files
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/KtTreeCompiler.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/KtTreeCompilerSpec.kt
  detekt-core/src/test/resources/cases/ignored/level1/level2/level3/Something.kt
  detekt-core/src/test/resources/cases/ignored/level1/level2/level3/aFile.txt
  detekt-core/src/test/resources/cases/ignored/levelA/levelB/SomethingElse.kt
Labels: core

#6368 Check format extension function in ImplicitDefaultLocale
  detekt-report-html/src/main/kotlin/io/github/detekt/report/html/HtmlUtils.kt
  detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/ImplicitDefaultLocale.kt
  detekt-rules-errorprone/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/ImplicitDefaultLocaleSpec.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/ForbiddenComment.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/ForbiddenCommentSpec.kt
Labels: rules

#6379 Remove deprecated config property `excludeAnnotatedProperties` in `LateinitUsage`
  detekt-core/src/main/resources/deprecation.properties
  detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/LateinitUsage.kt
  detekt-rules-errorprone/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/LateinitUsageSpec.kt
Labels: rules, breaking change

#6380 Remove deprecated config property `excludeAnnotatedFunction` in `FunctionOnlyReturningConstant`
  detekt-core/src/main/resources/deprecation.properties
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/FunctionOnlyReturningConstant.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/FunctionOnlyReturningConstantSpec.kt
Labels: rules, breaking change

#6367 Fix false +ve when lambda is un-inferrable
  detekt-psi-utils/api/detekt-psi-utils.api
  detekt-psi-utils/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/Traversing.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/ExplicitItLambdaParameter.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/ExplicitItLambdaParameterSpec.kt
Labels: rules, api

#6372 OutdatedDocumentation - Detect param which private property documented as property
  detekt-rules-documentation/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/documentation/OutdatedDocumentation.kt
  detekt-rules-documentation/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/documentation/OutdatedDocumentationSpec.kt
Labels: rules

#6351 Mark `SpreadOperator` rule to require type resolution.
  detekt-rules-performance/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/performance/SpreadOperator.kt
  detekt-rules-performance/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/performance/SpreadOperatorSpec.kt
Labels: rules, notable changes

#6352 NullableToStringCall: fix false negative in lambda
  detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/NullableToStringCall.kt
  detekt-rules-errorprone/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/NullableToStringCallSpec.kt
Labels: rules, pick request

#6187 Replaced "threshold" property of ComplexCondition rule by "allowedComplexity"
  detekt-core/src/main/resources/default-detekt-config.yml
  detekt-rules-complexity/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/complexity/ComplexCondition.kt
  detekt-rules-complexity/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/complexity/ComplexConditionSpec.kt
Labels: rules, breaking change

#6191 SleepInsteadOfDelay - Find the parent for suspend check
  detekt-rules-coroutines/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/coroutines/SleepInsteadOfDelay.kt
  detekt-rules-coroutines/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/coroutines/SleepInsteadOfDelaySpec.kt
Labels: rules, pick request

#6156 Add `allowedWithLengthLessThan` and remove `excludeStrin…
  config/detekt/detekt.yml
  detekt-core/src/main/resources/default-detekt-config.yml
  detekt-rules-complexity/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/complexity/StringLiteralDuplication.kt
  detekt-rules-complexity/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/complexity/StringLiteralDuplicationSpec.kt
Labels: rules

#6337 Fix #6334: githubRelease.releaseAssets: migrate from hardcoded paths to cross-project artifact dependencies
  build-logic/build.gradle.kts
  build-logic/src/main/kotlin/releasing.gradle.kts
  detekt-cli/build.gradle.kts
  gradle/libs.versions.toml
  website/blog/2020-09-27-additional-diff-config-task.md
  website/versioned_docs/version-1.21.0/introduction/reporting.md
Labels: build, documentation, dependencies, housekeeping

#6353 Use modern API to get environment variables
  build-logic/build.gradle.kts
  build-logic/src/main/kotlin/module.gradle.kts
  build-logic/src/main/kotlin/releasing.gradle.kts
  build.gradle.kts
  detekt-gradle-plugin/build.gradle.kts
  settings.gradle.kts
Labels: build, housekeeping

#6391 Remove deprecated secondary constructors of AnnotationExcluder
  detekt-api/api/detekt-api.api
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/AnnotationExcluder.kt
  detekt-api/src/test/kotlin/io/gitlab/arturbosch/detekt/api/AnnotationExcluderSpec.kt
Labels: api, breaking change

#6393 Remove deprecated ThresholdRule
  detekt-api/api/detekt-api.api
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/ThresholdRule.kt
Labels: api, breaking change

#6392 Remove deprecated DefaultContext
  detekt-api/api/detekt-api.api
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/Context.kt
Labels: api, breaking change

#6395 Remove deprecated functions `FileProcessListener`
  detekt-api/api/detekt-api.api
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/FileProcessListener.kt
Labels: api, breaking change

#6396 Remove `LazyRegex` and secondary constructor of `Entity`
  detekt-api/api/detekt-api.api
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/Entity.kt
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/LazyRegex.kt
Labels: api, breaking change

#6382 Work with deprecations in a type safe manner
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/config/validation/ConfigValidation.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/config/validation/DeprecatedPropertiesConfigValidator.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/config/validation/Deprecations.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/config/validation/InvalidPropertiesConfigValidator.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/config/validation/DeprecatedPropertiesConfigValidatorSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/config/validation/InvalidPropertiesConfigValidatorSpec.kt
Labels: core

#6389 Remove support for issue weights
  detekt-cli/src/test/kotlin/io/gitlab/arturbosch/detekt/cli/runners/RunnerSpec.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/config/IssueExtension.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/config/MaxIssueCheck.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/config/validation/ConfigValidation.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/tooling/AnalysisFacade.kt
  detekt-core/src/main/resources/default-detekt-config.yml
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/config/IssueExtensionSpec.kt
  detekt-core/src/test/resources/common_known_sections.yml
  detekt-generator/src/main/kotlin/io/gitlab/arturbosch/detekt/generator/printer/defaultconfig/ConfigPrinter.kt
  website/docs/gettingstarted/compilerplugin.mdx
  website/docs/introduction/configurations.md
Labels: core, cli, documentation

#6394 Remove deprecated print function in ConsoleReport
  detekt-api/api/detekt-api.api
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/ConsoleReport.kt
  detekt-api/src/test/kotlin/io/gitlab/arturbosch/detekt/api/ConsoleReportSpec.kt
Labels: api, breaking change

#6397 Remove deprecated constructors for `Location`
  detekt-api/api/detekt-api.api
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/Location.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/suppressors/Builders.kt
  detekt-report-sarif/src/test/kotlin/io/github/detekt/report/sarif/SarifOutputReportSpec.kt
  detekt-report-xml/src/test/kotlin/io/github/detekt/report/xml/XmlOutputFormatSpec.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/NewLineAtEndOfFile.kt
Labels: rules, api, core, breaking change

#6398 :memo: update Integrations
  README.md
Labels: documentation

#6403 Remove old code from LibraryCodeMustSpecifyReturnType
  detekt-rules-libraries/src/main/kotlin/io/gitlab/arturbosch/detekt/libraries/LibraryCodeMustSpecifyReturnType.kt
  detekt-rules-libraries/src/test/kotlin/io/gitlab/arturbosch/detekt/libraries/LibraryCodeMustSpecifyReturnTypeSpec.kt
Labels: housekeeping

#6414 Remove more code that was marked as deprecated
  detekt-parser/src/main/kotlin/io/github/detekt/parser/KotlinEnvironmentUtils.kt
  detekt-psi-utils/api/detekt-psi-utils.api
  detekt-psi-utils/src/main/kotlin/io/github/detekt/psi/KtFiles.kt
  detekt-psi-utils/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/MethodSignature.kt
  detekt-psi-utils/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/MethodSignatureSpec.kt
  detekt-test-utils/api/detekt-test-utils.api
  detekt-test-utils/src/main/kotlin/io/github/detekt/test/utils/KotlinScriptException.kt
  detekt-test/api/detekt-test.api
  detekt-test/src/main/kotlin/io/gitlab/arturbosch/detekt/test/FindingsAssertions.kt
  detekt-test/src/main/kotlin/io/gitlab/arturbosch/detekt/test/TestConfig.kt
  detekt-tooling/api/detekt-tooling.api
  detekt-tooling/src/main/kotlin/io/github/detekt/tooling/dsl/ExtensionsSpecBuilder.kt
Labels: api, breaking change

#6408 Remove maxIssues feature
  detekt-cli/src/main/kotlin/io/gitlab/arturbosch/detekt/cli/CliArgs.kt
  detekt-cli/src/main/kotlin/io/gitlab/arturbosch/detekt/cli/Main.kt
  detekt-cli/src/main/kotlin/io/gitlab/arturbosch/detekt/cli/Spec.kt
  detekt-cli/src/test/kotlin/io/gitlab/arturbosch/detekt/cli/runners/RunnerSpec.kt
  detekt-cli/src/test/resources/configs/max-issues--1.yml
  detekt-cli/src/test/resources/configs/max-issues-0.yml
  detekt-cli/src/test/resources/configs/max-issues-2.yml
  detekt-compiler-plugin/src/main/kotlin/io/github/detekt/compiler/plugin/internal/DetektService.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/config/FailurePolicies.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/config/IssueExtension.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/config/MaxIssueCheck.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/tooling/AnalysisFacade.kt
  detekt-core/src/main/resources/default-detekt-config.yml
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/WorkaroundConfigurationKtSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/config/ConfigurationsSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/config/FailurePoliciesKtTest.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/config/IssueExtensionSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/config/MaxIssueCheckSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/reporting/AutoCorrectableIssueAssert.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/tooling/DefaultConfigProviderSpec.kt
  detekt-core/src/test/resources/common_known_sections.yml
  detekt-core/src/test/resources/config_validation/baseline.yml
  detekt-core/src/test/resources/configs/activate-all-rules-will-override-here.yml
  detekt-core/src/test/resources/configs/activate-all-rules-wont-override-here.yml
  detekt-generator/src/main/kotlin/io/gitlab/arturbosch/detekt/generator/printer/defaultconfig/ConfigPrinter.kt
  detekt-tooling/api/detekt-tooling.api
  detekt-tooling/src/main/kotlin/io/github/detekt/tooling/api/AnalysisResult.kt
  detekt-tooling/src/main/kotlin/io/github/detekt/tooling/api/DetektError.kt
  detekt-tooling/src/main/kotlin/io/github/detekt/tooling/api/spec/RulesSpec.kt
  detekt-tooling/src/main/kotlin/io/github/detekt/tooling/dsl/RulesSpecBuilder.kt
  detekt-tooling/src/test/kotlin/io/github/detekt/tooling/api/AnalysisResultSpec.kt
  scripts/compare_releases_config.yml
  website/docs/gettingstarted/cli.mdx
  website/docs/introduction/configurations.md
Labels: api, core, cli, documentation, compiler-plugin, breaking change

#6413 Disable deprecated rules when using `allRules` flag.
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/Analyzer.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/config/AllRulesConfig.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/config/AllRulesConfigSpec.kt
Labels: core

#5870 Split UnnecessaryAbstractClass into two rules
  detekt-core/src/main/resources/default-detekt-config.yml
  detekt-core/src/main/resources/deprecation.properties
  detekt-rules-empty/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/empty/EmptyRule.kt
  detekt-rules-naming/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/naming/ObjectPropertyNamingSpec.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/AbstractClassCanBeConcreteClass.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/AbstractClassCanBeInterface.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/StyleGuideProvider.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/AbstractClassCanBeConcreteClassSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/AbstractClassCanBeInterfaceSpec.kt
Labels: rules, notable changes, breaking change

#6424 Fix build issues
  .github/workflows/pre-merge.yaml
  detekt-gradle-plugin/src/functionalTest/kotlin/io/gitlab/arturbosch/detekt/DetektAndroidSpec.kt
  detekt-gradle-plugin/src/functionalTest/kotlin/io/gitlab/arturbosch/detekt/DetektMultiplatformSpec.kt
  detekt-gradle-plugin/src/functionalTest/kotlin/io/gitlab/arturbosch/detekt/DetektReportMergeSpec.kt
  detekt-gradle-plugin/src/functionalTest/kotlin/io/gitlab/arturbosch/detekt/DetektTaskSpec.kt
  detekt-gradle-plugin/src/functionalTest/kotlin/io/gitlab/arturbosch/detekt/JvmSpec.kt
  detekt-gradle-plugin/src/functionalTest/kotlin/io/gitlab/arturbosch/detekt/report/ReportMergeSpec.kt
  detekt-gradle-plugin/src/functionalTest/resources/jvm/build.gradle
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/DetektGenerateConfigTask.kt
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/DetektPlugin.kt
  detekt-gradle-plugin/src/testFixtures/kotlin/io/gitlab/arturbosch/detekt/testkit/DslGradleRunner.kt
Labels: gradle-plugin, build, ci

#6390 Fix reporting unused imports at file level
  detekt-formatting/src/main/kotlin/io/gitlab/arturbosch/detekt/formatting/FormattingRule.kt
  detekt-formatting/src/test/kotlin/io/gitlab/arturbosch/detekt/formatting/IndentationSpec.kt
  detekt-formatting/src/test/kotlin/io/gitlab/arturbosch/detekt/formatting/MaximumLineLengthSpec.kt
  detekt-formatting/src/test/kotlin/io/gitlab/arturbosch/detekt/formatting/NoUnusedImportsSpec.kt
  detekt-formatting/src/test/kotlin/io/gitlab/arturbosch/detekt/formatting/WrappingSpec.kt
Labels: formatting, pick request

#6409 Only fail on issues with severity `error`
  detekt-api/api/detekt-api.api
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/CodeSmell.kt
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/Findings.kt
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/Rule.kt
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/Severity.kt
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/SeverityLevel.kt
  detekt-api/src/testFixtures/kotlin/io/gitlab/arturbosch/detekt/test/TestFactory.kt
  detekt-cli/src/main/kotlin/io/gitlab/arturbosch/detekt/cli/Spec.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/config/FailurePolicies.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/config/FailurePoliciesKtTest.kt
  detekt-report-sarif/src/main/kotlin/io/github/detekt/report/sarif/Results.kt
  detekt-report-sarif/src/test/kotlin/io/github/detekt/report/sarif/SarifOutputReportSpec.kt
  detekt-report-sarif/src/test/resources/relative_path.sarif.json
  detekt-report-xml/src/test/kotlin/io/github/detekt/report/xml/XmlOutputFormatSpec.kt
  detekt-tooling/api/detekt-tooling.api
  detekt-tooling/src/main/kotlin/io/github/detekt/tooling/api/spec/RulesSpec.kt
  detekt-tooling/src/main/kotlin/io/github/detekt/tooling/dsl/RulesSpecBuilder.kt
Labels: api, core, cli, breaking change

#6444 Fix compilation error
  detekt-formatting/src/main/kotlin/io/gitlab/arturbosch/detekt/formatting/FormattingRule.kt
Labels: formatting

#6443 UnconditionalJumpStatementInLoop: don't report a conditional break in a single body expression
  detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/UnconditionalJumpStatementInLoop.kt
  detekt-rules-errorprone/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/UnconditionalJumpStatementInLoopSpec.kt
Labels: rules

#6431 Improve UnnecessaryFilter
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnnecessaryFilter.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnnecessaryFilterSpec.kt
Labels: rules

#6435 UnnecessaryFilter: add predicate functions
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnnecessaryFilter.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnnecessaryFilterSpec.kt
Labels: rules
