Repository detekt/detekt, pull requests merged in 2023-01, with the labels that each got.

#5656 Prepare for Gradle 8
  detekt-gradle-plugin/build.gradle.kts
  detekt-gradle-plugin/src/functionalTest/kotlin/io/gitlab/arturbosch/detekt/DetektAndroidSpec.kt
  detekt-gradle-plugin/src/functionalTest/kotlin/io/gitlab/arturbosch/detekt/DetektMultiplatformSpec.kt
  detekt-gradle-plugin/src/functionalTest/kotlin/io/gitlab/arturbosch/detekt/report/ReportMergeSpec.kt
Labels: build, gradle

#5657 Use correct resolvable/consumable flags on detekt's configurations
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/DetektPlugin.kt
Labels: gradle

#5675 Aggregate coverage reports for new projects
  code-coverage-report/build.gradle.kts
Labels: build

#5676 Use Java Toolchain support to set JVM targets
  build-logic/src/main/kotlin/Versions.kt
  build-logic/src/main/kotlin/module.gradle.kts
  build.gradle.kts
Labels: build

#5674 Use modern API to get Gradle property values
  build-logic/src/main/kotlin/module.gradle.kts
  build-logic/src/main/kotlin/packaging.gradle.kts
  build-logic/src/main/kotlin/releasing.gradle.kts
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/Detekt.kt
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/invoke/DetektInvoker.kt
Labels: build, gradle

#5685 Revert "Use Java Toolchain support to set JVM targets"
  build-logic/src/main/kotlin/Versions.kt
  build-logic/src/main/kotlin/module.gradle.kts
  build.gradle.kts
Labels: build

#5658 Add allowOperators in DataClassContainsFunctions
  detekt-core/src/main/resources/default-detekt-config.yml
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/DataClassContainsFunctions.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/DataClassContainsFunctionsSpec.kt
Labels: rules

#5654 ExplicitCollectionElementAccessMethod rule update
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/ExplicitCollectionElementAccessMethod.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/ExplicitCollectionElementAccessMethodSpec.kt
Labels: rules

#5690 Fix build scan warning about build cache configuration
  settings.gradle.kts
Labels: build

#5693 Update dependency com.android.tools.build:gradle to v7.4.0
  detekt-gradle-plugin/build.gradle.kts
  gradle/libs.versions.toml
Labels: build, dependencies

#5698 Use integrated "test retry" from Gradle Enterprise Gradle Plugin
  detekt-gradle-plugin/build.gradle.kts
  detekt-gradle-plugin/settings.gradle.kts
Labels: build

#5702 Fix multiple errors on the website due to HTML escaping
  detekt-generator/src/main/kotlin/io/gitlab/arturbosch/detekt/generator/printer/RulePrinter.kt
  detekt-generator/src/test/kotlin/io/gitlab/arturbosch/detekt/generator/printer/RulePrinterTest.kt
  detekt-rules-complexity/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/complexity/CognitiveComplexMethod.kt
  detekt-rules-performance/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/performance/ArrayPrimitive.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/optional/PreferToOverPairSyntax.kt
  website/src/pages/changelog.md
  website/versioned_docs/version-1.21.0/rules/coroutines.md
  website/versioned_docs/version-1.21.0/rules/performance.md
  website/versioned_docs/version-1.21.0/rules/potential-bugs.md
  website/versioned_docs/version-1.21.0/rules/style.md
  website/versioned_docs/version-1.22.0/rules/complexity.md
  website/versioned_docs/version-1.22.0/rules/coroutines.md
  website/versioned_docs/version-1.22.0/rules/performance.md
  website/versioned_docs/version-1.22.0/rules/potential-bugs.md
  website/versioned_docs/version-1.22.0/rules/style.md
Labels: rules, documentation

#5583 Report proper code position in `MaxLineLength`
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/MaxLineLength.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/MaxLineLengthSpec.kt
Labels: rules

#5710 Fix typo
  website/src/components/HomepageFeatures.js
Labels: documentation

#5711 MaxLineLength: Add tests covering TWiStErRob's last example.
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/MaxLineLengthSpec.kt
Labels: rules

#5706 IgnoredReturnValue: fix false negative when annotation is on the package
  detekt-core/src/main/resources/default-detekt-config.yml
  detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/IgnoredReturnValue.kt
  detekt-rules-errorprone/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/IgnoredReturnValueSpec.kt
  detekt-rules-errorprone/src/test/resources/java/com/example/ignore_return_value/CheckReturnValue.java
  detekt-rules-errorprone/src/test/resources/java/com/example/ignore_return_value/Foo.java
  detekt-rules-errorprone/src/test/resources/java/com/example/ignore_return_value/annotation_on_package/Bar.java
  detekt-rules-errorprone/src/test/resources/java/com/example/ignore_return_value/annotation_on_package/package-info.java
Labels: rules

#5716 Fix non compiling code in TC
  detekt-rules-coroutines/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/coroutines/SuspendFunWithCoroutineScopeReceiverSpec.kt
Labels: rules

#5681 Add config for variable expression in when
  detekt-core/src/main/resources/default-detekt-config.yml
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UseIfInsteadOfWhen.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/UseIfInsteadOfWhenSpec.kt
Labels: rules

#5653 Cast nullable to non nullable type
  detekt-core/src/main/resources/default-detekt-config.yml
  detekt-psi-utils/api/detekt-psi-utils.api
  detekt-psi-utils/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/TypeUtils.kt
  detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/CastNullableToNonNullableType.kt
  detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/NullableToStringCall.kt
  detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/PotentialBugProvider.kt
  detekt-rules-errorprone/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/CastNullableToNonNullableTypeSpec.kt
Labels: rules, api

#5724 Fix IgnoredReturnValue rule crash in parallel mode
  detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/IgnoredReturnValue.kt
Labels: rules

#5732 Migrate detekt compiler extension to CompilerPluginRegistrar
  detekt-compiler-plugin/build.gradle.kts
  detekt-compiler-plugin/src/main/kotlin/io/github/detekt/compiler/plugin/DetektCompilerPluginRegistrar.kt
  detekt-compiler-plugin/src/main/resources/META-INF/services/org.jetbrains.kotlin.compiler.plugin.CompilerPluginRegistrar
  detekt-compiler-plugin/src/main/resources/META-INF/services/org.jetbrains.kotlin.compiler.plugin.ComponentRegistrar
  detekt-compiler-plugin/src/test/kotlin/io/github/detekt/compiler/plugin/util/CompilerTestUtils.kt
Labels: build

#5730 Resolve runtime classpaths consistently with compile classpaths
  build-logic/src/main/kotlin/module.gradle.kts
Labels: build
