Repository detekt/detekt, pull requests merged in 2023-10, with the labels that each got.

#6519 Fix inputstream leaking file descriptor in Gradle
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/extensions/DetektExtension.kt
Labels: gradle-plugin, pick request

#6521 Correct reference to Gradle extension name
  website/versioned_docs/version-1.23.1/gettingstarted/compilerplugin.mdx
Labels: documentation

#6472 Function to return supported Kotlin version
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/DetektPlugin.kt
  detekt-gradle-plugin/src/test/kotlin/io/gitlab/arturbosch/detekt/DetektPlainSpec.kt
  website/docs/gettingstarted/gradle.mdx
Labels: gradle-plugin, documentation, pick request

#6523 Use role-focused configurations
  build-logic/src/main/kotlin/ConsumeGeneratedConfig.kt
  build-logic/src/main/kotlin/releasing.gradle.kts
  detekt-cli/build.gradle.kts
  detekt-generator/build.gradle.kts
Labels: housekeeping

#6462 Setup consistent configuration for modules with public APIs
  build-logic/build.gradle.kts
  build-logic/src/main/kotlin/public-api.gradle.kts
  build.gradle.kts
  detekt-api/build.gradle.kts
  detekt-generator/build.gradle.kts
  detekt-psi-utils/build.gradle.kts
  detekt-test-utils/build.gradle.kts
  detekt-test/build.gradle.kts
  detekt-tooling/build.gradle.kts
Labels: build

#6529 Remove workaround for issue fixed in Gradle 8.3
  build-logic/src/main/kotlin/packaging.gradle.kts
Labels: build, housekeeping

#6528 Use Node 18 on CI
  .github/workflows/danger.yaml
  .github/workflows/website.yaml
Labels: ci

#6526 [bugfix] AnnotationOnSeparateLine in snippets
  website/docs/introduction/suppressing-rules.md
  website/versioned_docs/version-1.21.0/introduction/suppressing-rules.md
  website/versioned_docs/version-1.22.0/introduction/suppressing-rules.md
  website/versioned_docs/version-1.23.0/introduction/suppressing-rules.md
  website/versioned_docs/version-1.23.1/introduction/suppressing-rules.md
Labels: documentation

#6527 Use built in pts.enabled system property to control Gradle PTS
  .github/workflows/codecoverage.yaml
  .github/workflows/deploy-snapshot.yaml
  .github/workflows/pre-merge.yaml
  build.gradle.kts
  gradle.properties
Labels: build, ci, housekeeping

#6532 Revert "Use built in pts.enabled system property to control Gradle PTS"
  .github/workflows/codecoverage.yaml
  .github/workflows/deploy-snapshot.yaml
  .github/workflows/pre-merge.yaml
  build.gradle.kts
  gradle.properties
Labels: build, ci

#6531 Migrate to maintained semver4j fork
  build-logic/src/main/kotlin/releasing.gradle.kts
  gradle/libs.versions.toml
Labels: build, dependencies

#6534 Opt in to ExperimentalCompilerApi in all compilations in compiler-plugin
  detekt-compiler-plugin/build.gradle.kts
  detekt-compiler-plugin/src/main/kotlin/io/github/detekt/compiler/plugin/DetektCommandLineProcessor.kt
  detekt-compiler-plugin/src/main/kotlin/io/github/detekt/compiler/plugin/DetektCompilerPluginRegistrar.kt
  detekt-compiler-plugin/src/test/kotlin/io/github/detekt/compiler/plugin/util/CompilerTestUtils.kt
Labels: build, housekeeping, compiler-plugin

#6493 chore: Make misspelled property error message more actionable
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/config/validation/InvalidPropertiesConfigValidator.kt
Labels: core

#6533 Configure DGP as a public module
  build.gradle.kts
  detekt-generator/build.gradle.kts
  detekt-gradle-plugin/api/detekt-gradle-plugin.api
  detekt-gradle-plugin/build.gradle.kts
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/DetektGenerateConfigTask.kt
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/DetektPlugin.kt
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/extensions/DetektReport.kt
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/extensions/DetektReportType.kt
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/internal/ClassLoaderCache.kt
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/invoke/DetektInvoker.kt
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/report/SarifReportMerger.kt
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/report/XmlReportMerger.kt
  website/docusaurus.config.js
Labels: api, gradle-plugin, build, documentation

#6551 Bump JaCoCo to v0.8.11
  gradle/libs.versions.toml
Labels: dependencies

#6553 Better example for UseLet rule
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UseLet.kt
  website/versioned_docs/version-1.23.0/rules/style.md
  website/versioned_docs/version-1.23.1/rules/style.md
Labels: rules, documentation

#6497 Convert DGP tasks to use Property API
  detekt-gradle-plugin/api/detekt-gradle-plugin.api
  detekt-gradle-plugin/src/functionalTest/kotlin/io/gitlab/arturbosch/detekt/DetektTaskGroovyDslSpec.kt
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/Detekt.kt
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/DetektCreateBaselineTask.kt
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/internal/DetektPlain.kt
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/internal/SharedTasks.kt
  detekt-gradle-plugin/src/test/kotlin/io/gitlab/arturbosch/detekt/DetektJvmSpec.kt
  website/docs/gettingstarted/gradle.mdx
Labels: api, gradle-plugin, documentation, breaking change

#6565 Remove usage of an internal AGP API
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/internal/DetektAndroid.kt
Labels: gradle-plugin, housekeeping

#6055 Add UnnamedParameterUse rule
  detekt-core/src/main/resources/default-detekt-config.yml
  detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/PotentialBugProvider.kt
  detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/UnnamedParameterUse.kt
  detekt-rules-errorprone/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/UnnamedParameterUseSpec.kt
Labels: rules, notable changes

#6495 Configure wrapper task to download "all" distribution
  build.gradle.kts
Labels: build, housekeeping

#6574 Prepare release 1.23.2
  build-logic/src/main/kotlin/Versions.kt
  website/src/pages/changelog.md
Labels: build, documentation

#6580 Make sure contributors are filtered correctly in the changelog
  scripts/github-milestone-report.main.kts
  website/src/pages/changelog.md
Labels: documentation, housekeeping

#6582 Prepare release 1.23.3
  build-logic/src/main/kotlin/Versions.kt
  website/src/pages/changelog.md
Labels: build, documentation

#6587 [1.x] Minor cleanup post release
  website/src/pages/changelog.md
  website/src/remark/detektVersionReplace.js
Labels: documentation

#6588 Add Docs for 1.23.3
  README.md
  website/docs/introduction/compatibility.md
  website/src/pages/changelog.md
  website/src/remark/detektVersionReplace.js
  website/versioned_docs/version-1.23.3/gettingstarted/_category_.json
  website/versioned_docs/version-1.23.3/gettingstarted/_cli-generator-options.md
  website/versioned_docs/version-1.23.3/gettingstarted/_cli-options.md
  website/versioned_docs/version-1.23.3/gettingstarted/cli.mdx
  website/versioned_docs/version-1.23.3/gettingstarted/compilerplugin.mdx
  website/versioned_docs/version-1.23.3/gettingstarted/git-pre-commit-hook.md
  website/versioned_docs/version-1.23.3/gettingstarted/gradle.mdx
  website/versioned_docs/version-1.23.3/gettingstarted/gradletask.md
  website/versioned_docs/version-1.23.3/gettingstarted/mavenanttask.md
  website/versioned_docs/version-1.23.3/gettingstarted/type-resolution.md
  website/versioned_docs/version-1.23.3/intro.mdx
  website/versioned_docs/version-1.23.3/introduction/_category_.json
  website/versioned_docs/version-1.23.3/introduction/baseline.md
  website/versioned_docs/version-1.23.3/introduction/compatibility.md
  website/versioned_docs/version-1.23.3/introduction/compose.md
  website/versioned_docs/version-1.23.3/introduction/configurations.md
  website/versioned_docs/version-1.23.3/introduction/extensions.md
  website/versioned_docs/version-1.23.3/introduction/reporting.md
  website/versioned_docs/version-1.23.3/introduction/snapshots.md
  website/versioned_docs/version-1.23.3/introduction/suppressing-rules.md
  website/versioned_docs/version-1.23.3/introduction/suppressors.md
  website/versioned_docs/version-1.23.3/rules/_category_.json
  website/versioned_docs/version-1.23.3/rules/comments.md
  website/versioned_docs/version-1.23.3/rules/complexity.md
  website/versioned_docs/version-1.23.3/rules/coroutines.md
  website/versioned_docs/version-1.23.3/rules/empty-blocks.md
  website/versioned_docs/version-1.23.3/rules/exceptions.md
  website/versioned_docs/version-1.23.3/rules/formatting.md
  website/versioned_docs/version-1.23.3/rules/libraries.md
  website/versioned_docs/version-1.23.3/rules/naming.md
  website/versioned_docs/version-1.23.3/rules/performance.md
  website/versioned_docs/version-1.23.3/rules/potential-bugs.md
  website/versioned_docs/version-1.23.3/rules/ruleauthors.md
  website/versioned_docs/version-1.23.3/rules/style.md
  website/versioned_sidebars/version-1.23.3-sidebars.json
  website/versions.json
Labels: documentation
