Repository detekt/detekt, pull requests merged in 2023-03, with the labels that each got.

#5862 Declare inputs and outputs to support incremental build for testPluginKotlinc
  detekt-compiler-plugin/build.gradle.kts
Labels: build

#5845 Sort deprecation properties
  detekt-core/src/main/resources/deprecation.properties
  detekt-generator/src/main/kotlin/io/gitlab/arturbosch/detekt/generator/collection/ConfigurationCollector.kt
  detekt-generator/src/main/kotlin/io/gitlab/arturbosch/detekt/generator/collection/Rule.kt
  detekt-generator/src/main/kotlin/io/gitlab/arturbosch/detekt/generator/collection/RuleVisitor.kt
  detekt-generator/src/main/kotlin/io/gitlab/arturbosch/detekt/generator/printer/DeprecatedPrinter.kt
  detekt-generator/src/main/kotlin/io/gitlab/arturbosch/detekt/generator/printer/RulePrinter.kt
  detekt-generator/src/main/kotlin/io/gitlab/arturbosch/detekt/generator/printer/defaultconfig/RuleSetConfigPrinter.kt
  detekt-generator/src/test/kotlin/io/gitlab/arturbosch/detekt/generator/collection/RuleCollectorSpec.kt
  detekt-generator/src/test/kotlin/io/gitlab/arturbosch/detekt/generator/printer/DeprecatedPrinterSpec.kt
  detekt-generator/src/test/kotlin/io/gitlab/arturbosch/detekt/generator/util/RuleSetPageCreator.kt
Labels: housekeeping

#5863 Ensure all projects and source sets are checked when running detekt with type resolution
  .github/workflows/detekt-with-type-resolution.yaml
  build.gradle.kts
  detekt-gradle-plugin/src/main/kotlin/io/github/detekt/gradle/DetektKotlinCompilerPlugin.kt
  detekt-gradle-plugin/src/main/kotlin/io/github/detekt/gradle/extensions/KotlinCompileTaskDetektExtension.kt
Labels: gradle-plugin, build, ci

#5854 Boy scout - `detekt-generator`
  detekt-generator/src/main/kotlin/io/gitlab/arturbosch/detekt/generator/DetektPrinter.kt
  detekt-generator/src/main/kotlin/io/gitlab/arturbosch/detekt/generator/Generator.kt
  detekt-generator/src/main/kotlin/io/gitlab/arturbosch/detekt/generator/collection/DetektCollector.kt
  detekt-generator/src/main/kotlin/io/gitlab/arturbosch/detekt/generator/collection/Rule.kt
  detekt-generator/src/main/kotlin/io/gitlab/arturbosch/detekt/generator/collection/RuleSetProviderCollector.kt
  detekt-generator/src/main/kotlin/io/gitlab/arturbosch/detekt/generator/printer/defaultconfig/Exclusion.kt
Labels: housekeeping

#5868 Tweak the danger setup a bit
  .github/workflows/danger.yaml
  bots/dangerfile.js
Labels: ci, housekeeping

#5844 Simplify generate documentation
  .gitignore
  detekt-generator/build.gradle.kts
  website/.gitignore
  website/static/.nojekyll
Labels: build, housekeeping

#5869 Fix checkExhaustiveness for formatting and third party rules
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/config/validation/ConfigValidation.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/config/validation/MissingRulesConfigValidator.kt
Labels: core

#5880 Update Compose headings to prevent duplicate references
  website/docs/introduction/compose.md
Labels: documentation

#5881 Update JSON schema URL
  website/docs/introduction/configurations.md
Labels: documentation

#5899 Remove instances of double mutability
  config/detekt/detekt.yml
  detekt-rules-complexity/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/complexity/LargeClass.kt
  detekt-rules-complexity/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/complexity/LongMethod.kt
  detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/LateinitUsage.kt
  detekt-rules-performance/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/performance/CouldBeSequence.kt
  detekt-tooling/src/main/kotlin/io/github/detekt/tooling/dsl/ExtensionsSpecBuilder.kt
Labels: rules, housekeeping

#5904 Stale any issue with support tag in one month
  .github/workflows/stale.yaml
Labels: ci, housekeeping

#5876 Add support for local suppression inside formatting
  detekt-formatting/src/main/kotlin/io/gitlab/arturbosch/detekt/formatting/FormattingRule.kt
  detekt-formatting/src/test/kotlin/io/gitlab/arturbosch/detekt/formatting/FormattingRuleSpec.kt
  detekt-formatting/src/test/kotlin/io/gitlab/arturbosch/detekt/formatting/IndentationSpec.kt
  detekt-formatting/src/test/kotlin/io/gitlab/arturbosch/detekt/formatting/MaximumLineLengthSpec.kt
  detekt-formatting/src/test/kotlin/io/gitlab/arturbosch/detekt/formatting/WrappingSpec.kt
Labels: formatting

#5911 Cleanup detekt-formatting to use detekt's own assertThat function
  detekt-formatting/src/test/kotlin/io/gitlab/arturbosch/detekt/formatting/ArgumentListWrappingSpec.kt
  detekt-formatting/src/test/kotlin/io/gitlab/arturbosch/detekt/formatting/AutoCorrectLevelSpec.kt
  detekt-formatting/src/test/kotlin/io/gitlab/arturbosch/detekt/formatting/ChainWrappingSpec.kt
  detekt-formatting/src/test/kotlin/io/gitlab/arturbosch/detekt/formatting/FinalNewlineSpec.kt
  detekt-formatting/src/test/kotlin/io/gitlab/arturbosch/detekt/formatting/FormattingRuleSpec.kt
  detekt-formatting/src/test/kotlin/io/gitlab/arturbosch/detekt/formatting/ImportOrderingSpec.kt
  detekt-formatting/src/test/kotlin/io/gitlab/arturbosch/detekt/formatting/IndentationSpec.kt
  detekt-formatting/src/test/kotlin/io/gitlab/arturbosch/detekt/formatting/MaximumLineLengthSpec.kt
  detekt-formatting/src/test/kotlin/io/gitlab/arturbosch/detekt/formatting/NoWildcardImportsSpec.kt
  detekt-formatting/src/test/kotlin/io/gitlab/arturbosch/detekt/formatting/ParameterListWrappingSpec.kt
  detekt-formatting/src/test/kotlin/io/gitlab/arturbosch/detekt/formatting/UnnecessaryParenthesesBeforeTrailingLambdaSpec.kt
  detekt-formatting/src/test/kotlin/io/gitlab/arturbosch/detekt/formatting/WrappingSpec.kt
Labels: formatting, housekeeping

#5916 Remove Spek sample from gettingstarted guide
  website/versioned_docs/version-1.22.0/gettingstarted/type-resolution.md
Labels: documentation

#5905 Minor fixes for the UnnecessaryAbstractClass rule
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnnecessaryAbstractClass.kt
Labels: rules

#5921 Print file path report as link file
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/reporting/OutputFacade.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/reporting/OutputFacadeSpec.kt
Labels: core, reports

#5929 Add license badge
  README.md
Labels: documentation

#5924 Fix documentation for deprecated 'reports' object (Issue #5908)
  website/versioned_docs/version-1.22.0/introduction/reporting.md
Labels: documentation

#5935 Improve correctness of UnusedPrivateProperty
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnusedPrivateProperty.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnusedPrivatePropertySpec.kt
Labels: rules

#5938 Fix ExpressionBodySyntax not checking property getters/setters
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/ExpressionBodySyntax.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/ExpressionBodySyntaxSpec.kt
Labels: rules

#5932 Make GeneratorSpec use resources
  detekt-generator/src/test/kotlin/io/gitlab/arturbosch/detekt/generator/printer/GeneratorSpec.kt
  detekt-generator/src/test/resources/ruleset1/src/main/kotlin/CognitiveComplexMethod.kt
  detekt-generator/src/test/resources/ruleset1/src/main/kotlin/ComplexityProvider.kt
  detekt-generator/src/test/resources/ruleset2/src/main/kotlin/CoroutinesProvider.kt
  detekt-generator/src/test/resources/ruleset2/src/main/kotlin/GlobalCoroutineUsage.kt
Labels: housekeeping

#5942 Prevent import statements from counting as references for UnusedPrivateProperty
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnusedPrivateProperty.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnusedPrivatePropertySpec.kt
Labels: rules
