Repository detekt/detekt, pull requests merged in 2023-05, with the labels that each got.

#6066 Update stale.yaml to ignore 2.0.0 milestone
  .github/workflows/stale.yaml
Labels: ci, housekeeping

#6063 Add configuration to add alternate trimming methods
  detekt-core/src/main/resources/default-detekt-config.yml
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/MultilineRawStringIndentation.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/TrimMultilineRawString.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/TrimMultilineRawStringSpec.kt
Labels: rules

#6071 Check the SimpleType instead of typeElement
  detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/CastNullableToNonNullableType.kt
  detekt-rules-errorprone/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/CastNullableToNonNullableTypeSpec.kt
Labels: rules

#6064 CanBeNonNullable: Check parent condition for checking if nullability info is used or not
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/CanBeNonNullable.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/CanBeNonNullableSpec.kt
Labels: rules

#6057 Check if only public property is documented
  detekt-rules-documentation/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/documentation/OutdatedDocumentation.kt
  detekt-rules-documentation/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/documentation/OutdatedDocumentationSpec.kt
Labels: rules

#6061 Check if property is documented at class header
  detekt-rules-documentation/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/documentation/UndocumentedPublicProperty.kt
  detekt-rules-documentation/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/documentation/UndocumentedPublicPropertySpec.kt
Labels: rules

#6077 Updates the `detekt` documentation to use `setFrom` method in `config` `detekt` gradle property
  README.md
  website/docs/gettingstarted/gradle.mdx
Labels: documentation

#6062 Add PropertyUsedBeforeDeclaration rule
  detekt-core/src/main/resources/default-detekt-config.yml
  detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/PotentialBugProvider.kt
  detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/PropertyUsedBeforeDeclaration.kt
  detekt-rules-errorprone/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/PropertyUsedBeforeDeclarationSpec.kt
Labels: rules, notable changes

#6029 Add UnnecessaryBracesAroundTrailingLambda rule
  detekt-core/src/main/resources/default-detekt-config.yml
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/StyleGuideProvider.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/movelambdaout/MoveLambdaOutsideParenthesesInspection.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/movelambdaout/UnnecessaryBracesAroundTrailingLambda.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/movelambdaout/UnnecessaryBracesAroundTrailingLambdaSpec.kt
Labels: rules, notable changes

#6078 Don't run stale/danger/labeller on forks
  .github/workflows/danger.yaml
  .github/workflows/labeler.yml
  .github/workflows/stale.yaml
Labels: ci

#6089 Add alias for SuspendFunWithCoroutineScopeReceiver
  detekt-rules-coroutines/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/coroutines/SuspendFunWithCoroutineScopeReceiver.kt
  detekt-rules-coroutines/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/coroutines/SuspendFunWithCoroutineScopeReceiverSpec.kt
Labels: rules

#6092 Remove unnecessary baselines
  config/detekt/baseline-test.xml
Labels: housekeeping

#6091 Add UseLet style rule
  config/detekt/detekt.yml
  detekt-core/src/main/resources/default-detekt-config.yml
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/StyleGuideProvider.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UseLet.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/UseLetSpec.kt
Labels: rules

#6108 Changed TwitterCompose ruleset to maintained version
  website/src/data/marketplace.js
Labels: documentation

#6104 New wrapped ktlint rule NoSingleLineBlockCommentRule
  detekt-formatting/src/main/kotlin/io/gitlab/arturbosch/detekt/formatting/KtLintMultiRule.kt
  detekt-formatting/src/main/kotlin/io/gitlab/arturbosch/detekt/formatting/wrappers/NoSingleLineBlockComment.kt
  detekt-formatting/src/main/resources/config/config.yml
  detekt-formatting/src/test/kotlin/io/gitlab/arturbosch/detekt/formatting/NoSingleLineBlockCommentSpec.kt
Labels: formatting, notable changes

#6107 Inline Cases enum and inline other external test code into the test classes
  detekt-core/src/test/resources/cases/ComplexClass.kt
  detekt-rules-complexity/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/complexity/CyclomaticComplexMethodSpec.kt
  detekt-rules-complexity/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/complexity/LargeClassSpec.kt
  detekt-rules-complexity/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/complexity/NestedBlockDepthSpec.kt
  detekt-rules-complexity/src/test/resources/ComplexMethods.kt
  detekt-rules-complexity/src/test/resources/NestedClasses.kt
  detekt-rules-documentation/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/documentation/AbsentOrWrongFileLicenseSpec.kt
  detekt-rules-empty/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/empty/EmptyCodeSpec.kt
  detekt-rules-empty/src/test/resources/Empty.kt
  detekt-rules-errorprone/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/EqualsAlwaysReturnsTrueOrFalseSpec.kt
  detekt-rules-errorprone/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/IteratorHasNextCallsNextMethodSpec.kt
  detekt-rules-errorprone/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/IteratorNotThrowingNoSuchElementExceptionSpec.kt
  detekt-rules-errorprone/src/test/resources/EqualsAlwaysReturnsTrueOrFalseNegative.kt
  detekt-rules-errorprone/src/test/resources/EqualsAlwaysReturnsTrueOrFalsePositive.kt
  detekt-rules-errorprone/src/test/resources/IteratorImplNegative.kt
  detekt-rules-errorprone/src/test/resources/IteratorImplPositive.kt
  detekt-rules-exceptions/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/exceptions/ExceptionRaisedInUnexpectedLocationSpec.kt
  detekt-rules-exceptions/src/test/resources/ExceptionRaisedInMethodsNegative.kt
  detekt-rules-exceptions/src/test/resources/ExceptionRaisedInMethodsPositive.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/Case.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/FunctionOnlyReturningConstantSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/LoopWithTooManyJumpStatementsSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/MaxLineLengthSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/NoTabsSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/UtilityClassWithPublicConstructorSpec.kt
  detekt-rules-style/src/test/resources/FunctionReturningConstantNegative.kt
  detekt-rules-style/src/test/resources/FunctionReturningConstantPositive.kt
  detekt-rules-style/src/test/resources/LoopWithTooManyJumpStatementsNegative.kt
  detekt-rules-style/src/test/resources/LoopWithTooManyJumpStatementsPositive.kt
  detekt-rules-style/src/test/resources/MaxLineLength.kt
  detekt-rules-style/src/test/resources/MaxLineLengthSuppressed.kt
  detekt-rules-style/src/test/resources/MaxLineLengthWithLongComments.kt
  detekt-rules-style/src/test/resources/NoTabsNegative.kt
  detekt-rules-style/src/test/resources/NoTabsPositive.kt
  detekt-rules-style/src/test/resources/UtilityClassesNegative.kt
  detekt-rules-style/src/test/resources/UtilityClassesPositive.kt
  detekt-rules/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/SuppressingSpec.kt
  detekt-rules/src/test/resources/SuppressStringLiteralDuplication.kt
  detekt-rules/src/test/resources/SuppressedByElementAnnotation.kt
  detekt-rules/src/test/resources/SuppressedElementsByClassAnnotation.kt
  detekt-rules/src/test/resources/SuppressedElementsByFileAnnotation.kt
Labels: rules, core, housekeeping

#6114 SerialVersionUIDInSerializableClass - Update the error location
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/SerialVersionUIDInSerializableClass.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/SerialVersionUIDInSerializableClassSpec.kt
Labels: rules

#6110 Reduce LoopWithTooManyJumpStatements finding scope
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/LoopWithTooManyJumpStatements.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/LoopWithTooManyJumpStatementsSpec.kt
Labels: rules

#5981 Add `comments` with a list of regexes to `ForbiddenComment`
  config/detekt/detekt.yml
  detekt-core/src/main/resources/default-detekt-config.yml
  detekt-core/src/main/resources/deprecation.properties
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/ForbiddenComment.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/ForbiddenCommentSpec.kt
Labels: rules

#6117 Replace sarif4k usage with Groovy JSON from gradleApi() in detekt-gradle-plugin
  detekt-gradle-plugin/build.gradle.kts
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/report/SarifReportMerger.kt
  detekt-gradle-plugin/src/test/resources/output.sarif.json
Labels: gradle-plugin, build

#6120 Prepare Detekt 1.23.0
  build-logic/src/main/kotlin/Versions.kt
  website/docs/gettingstarted/compilerplugin.mdx
  website/src/pages/changelog.md
  website/src/remark/detektVersionReplace.js
  website/versioned_docs/version-1.23.0/gettingstarted/_category_.json
  website/versioned_docs/version-1.23.0/gettingstarted/_cli-generator-options.md
  website/versioned_docs/version-1.23.0/gettingstarted/_cli-options.md
  website/versioned_docs/version-1.23.0/gettingstarted/cli.mdx
  website/versioned_docs/version-1.23.0/gettingstarted/compilerplugin.mdx
  website/versioned_docs/version-1.23.0/gettingstarted/git-pre-commit-hook.md
  website/versioned_docs/version-1.23.0/gettingstarted/gradle.mdx
  website/versioned_docs/version-1.23.0/gettingstarted/gradletask.md
  website/versioned_docs/version-1.23.0/gettingstarted/mavenanttask.md
  website/versioned_docs/version-1.23.0/gettingstarted/type-resolution.md
  website/versioned_docs/version-1.23.0/intro.mdx
  website/versioned_docs/version-1.23.0/introduction/_category_.json
  website/versioned_docs/version-1.23.0/introduction/baseline.md
  website/versioned_docs/version-1.23.0/introduction/compatibility.md
  website/versioned_docs/version-1.23.0/introduction/compose.md
  website/versioned_docs/version-1.23.0/introduction/configurations.md
  website/versioned_docs/version-1.23.0/introduction/extensions.md
  website/versioned_docs/version-1.23.0/introduction/reporting.md
  website/versioned_docs/version-1.23.0/introduction/snapshots.md
  website/versioned_docs/version-1.23.0/introduction/suppressing-rules.md
  website/versioned_docs/version-1.23.0/introduction/suppressors.md
  website/versioned_docs/version-1.23.0/rules/_category_.json
  website/versioned_docs/version-1.23.0/rules/comments.md
  website/versioned_docs/version-1.23.0/rules/complexity.md
  website/versioned_docs/version-1.23.0/rules/coroutines.md
  website/versioned_docs/version-1.23.0/rules/empty-blocks.md
  website/versioned_docs/version-1.23.0/rules/exceptions.md
  website/versioned_docs/version-1.23.0/rules/formatting.md
  website/versioned_docs/version-1.23.0/rules/libraries.md
  website/versioned_docs/version-1.23.0/rules/naming.md
  website/versioned_docs/version-1.23.0/rules/performance.md
  website/versioned_docs/version-1.23.0/rules/potential-bugs.md
  website/versioned_docs/version-1.23.0/rules/ruleauthors.md
  website/versioned_docs/version-1.23.0/rules/style.md
  website/versioned_sidebars/version-1.23.0-sidebars.json
  website/versions.json
Labels: build, documentation

#6135 Fix typo in compiler plugin doc
  website/docs/gettingstarted/compilerplugin.mdx
Labels: documentation

#6138 Fix typo in compiler plugin doc for 1.23.0
  website/versioned_docs/version-1.23.0/gettingstarted/compilerplugin.mdx
Labels: documentation

#6126 Clarify PropertyUsedBeforeDeclaration message
  detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/PropertyUsedBeforeDeclaration.kt
  detekt-rules-errorprone/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/PropertyUsedBeforeDeclarationSpec.kt
Labels: rules

#6094 Replace `KtLintMultiRule`
  detekt-formatting/src/main/kotlin/io/gitlab/arturbosch/detekt/formatting/FormattingProvider.kt
  detekt-formatting/src/main/kotlin/io/gitlab/arturbosch/detekt/formatting/FormattingRuleComparator.kt
  detekt-formatting/src/main/kotlin/io/gitlab/arturbosch/detekt/formatting/KtLintMultiRule.kt
  detekt-formatting/src/test/kotlin/io/gitlab/arturbosch/detekt/formatting/FormattingProviderSpec.kt
  detekt-formatting/src/test/kotlin/io/gitlab/arturbosch/detekt/formatting/KtLintMultiRuleSpec.kt
  detekt-generator/src/main/kotlin/io/gitlab/arturbosch/detekt/generator/collection/DetektCollector.kt
  detekt-generator/src/main/kotlin/io/gitlab/arturbosch/detekt/generator/collection/MultiRuleCollector.kt
  detekt-generator/src/main/kotlin/io/gitlab/arturbosch/detekt/generator/collection/RuleSetProviderCollector.kt
  detekt-generator/src/test/kotlin/io/gitlab/arturbosch/detekt/generator/collection/MultiRuleCollectorSpec.kt
  detekt-generator/src/test/kotlin/io/gitlab/arturbosch/detekt/generator/collection/RuleSetProviderCollectorSpec.kt
Labels: formatting

#6149 Assume platform type as non nullable
  detekt-core/src/main/resources/default-detekt-config.yml
  detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/CastNullableToNonNullableType.kt
  detekt-rules-errorprone/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/CastNullableToNonNullableTypeSpec.kt
Labels: rules

#6151 UnusedPrivateProperty: Fix false postive by ignoring data classes
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnusedPrivateProperty.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnusedPrivatePropertySpec.kt
Labels: rules

#6154 StringShouldBeRawString: Ignore `replaceIndent` and `prependIndent`
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/StringShouldBeRawString.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/StringShouldBeRawStringSpec.kt
Labels: rules

#6130 Review file level suppressions in all files
  detekt-compiler-plugin/src/test/kotlin/io/github/detekt/compiler/plugin/CompilerTest.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/config/YamlConfig.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/config/YamlConfigSpec.kt
  detekt-gradle-plugin/src/testFixtures/kotlin/io/gitlab/arturbosch/detekt/testkit/DslGradleRunner.kt
  detekt-report-xml/src/test/kotlin/io/github/detekt/report/xml/XmlOutputFormatSpec.kt
  detekt-rules-naming/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/naming/InvalidPackageDeclarationSpec.kt
  detekt-rules-naming/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/naming/MatchingDeclarationNameSpec.kt
  detekt-rules-ruleauthors/src/main/kotlin/io/gitlab/arturbosch/detekt/authors/ViolatesTypeResolutionRequirements.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/TrimMultilineRawStringSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnusedPrivateMemberSpec.kt
  scripts/compare_releases.main.kts
  scripts/github-milestone-report.main.kts
Labels: rules, core, gradle-plugin, housekeeping, compiler-plugin

#6132 Changed name of rule from MayBeConst to MayBeConstant
  detekt-core/src/main/resources/default-detekt-config.yml
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/MayBeConstant.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/StyleGuideProvider.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/MayBeConstantSpec.kt
Labels: rules

#6160 Improvement to compiler plugin page
  website/docs/gettingstarted/compilerplugin.mdx
Labels: documentation
