Repository detekt/detekt, pull requests merged in 2023-11, with the labels that each got.

#6590 Fix issues related to kotlin-stdlib's Gradle module metadata in Kotlin 1.9.20
  detekt-api/build.gradle.kts
  detekt-gradle-plugin/build.gradle.kts
Labels: build, pick request

#6589 Switch to kctfork for Kotlin compilation testing
  detekt-compiler-plugin/src/test/kotlin/io/github/detekt/compiler/plugin/util/CompilerAssertions.kt
  detekt-compiler-plugin/src/test/kotlin/io/github/detekt/compiler/plugin/util/CompilerTestUtils.kt
  gradle/libs.versions.toml
Labels: dependencies, compiler-plugin, pick request

#6594 Remove some unused/unnecessary code
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/internal/Signatures.kt
  detekt-test-utils/api/detekt-test-utils.api
  detekt-test-utils/src/main/kotlin/io/github/detekt/test/utils/KotlinCoreEnvironmentWrapper.kt
Labels: api, housekeeping

#6595 Update Revved up by Develocity badge
  README.md
Labels: documentation

#6579 Fixed documentation on SarifOutputReport + docs out OutputReport::name
  detekt-core/src/main/resources/default-detekt-config.yml
  detekt-generator/src/main/kotlin/io/gitlab/arturbosch/detekt/generator/printer/defaultconfig/ConfigPrinter.kt
  website/docs/introduction/configurations.md
  website/versioned_docs/version-1.21.0/introduction/configurations.md
  website/versioned_docs/version-1.22.0/introduction/configurations.md
  website/versioned_docs/version-1.23.0/introduction/configurations.md
  website/versioned_docs/version-1.23.1/introduction/configurations.md
  website/versioned_docs/version-1.23.3/introduction/configurations.md
Labels: documentation, pick request

#6603 Change react to detekt
  website/docs/gettingstarted/compilerplugin.mdx
  website/versioned_docs/version-1.23.0/gettingstarted/compilerplugin.mdx
  website/versioned_docs/version-1.23.1/gettingstarted/compilerplugin.mdx
  website/versioned_docs/version-1.23.3/gettingstarted/compilerplugin.mdx
Labels: documentation

#6605 Don't report FunctionNaming when the function's name equals to the return type's name with type arguments
  detekt-rules-naming/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/naming/FunctionNaming.kt
  detekt-rules-naming/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/naming/FunctionNamingSpec.kt
Labels: rules, pick request

#6596 Add TC for https://github.com/detekt/detekt/issues/6593
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/movelambdaout/UnnecessaryBracesAroundTrailingLambdaSpec.kt
Labels: rules

#6610 Update tested AGP version to 8.1.3
  gradle/libs.versions.toml
Labels: dependencies

#6548 Remove check for deprectated functions toUpperCase and toLowerCase
  detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/ImplicitDefaultLocale.kt
  detekt-rules-errorprone/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/ImplicitDefaultLocaleSpec.kt
Labels: rules, pick request

#6614 Show deprecation message
  detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/Deprecation.kt
  detekt-rules-errorprone/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/DeprecationSpec.kt
Labels: rules, pick request

#6613 Add io.gitlab.arturbosch.detekt.generator.Main to the jar manifest
  detekt-generator/build.gradle.kts
Labels: build, pick request

#6620 Fix duplicate class name error in test
  detekt-rules-naming/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/naming/ConstructorParameterNamingSpec.kt
Labels: rules, housekeeping, pick request

#6622 Follow-up #6468: Fix all ktlint links for 1.0.1 (on vNext detekt site)
  detekt-formatting/src/main/kotlin/io/gitlab/arturbosch/detekt/formatting/wrappers/ClassName.kt
  detekt-formatting/src/main/kotlin/io/gitlab/arturbosch/detekt/formatting/wrappers/FunctionName.kt
  detekt-formatting/src/main/kotlin/io/gitlab/arturbosch/detekt/formatting/wrappers/NoConsecutiveComments.kt
  detekt-formatting/src/main/kotlin/io/gitlab/arturbosch/detekt/formatting/wrappers/TrailingCommaOnCallSite.kt
  detekt-formatting/src/main/kotlin/io/gitlab/arturbosch/detekt/formatting/wrappers/TrailingCommaOnDeclarationSite.kt
Labels: formatting

#6621 Explain #5713: KDoc line breaks are whitespaces
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/TrailingWhitespace.kt
Labels: rules

#6635 Update the regex to allow numbers
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/internal/Validation.kt
  detekt-api/src/test/kotlin/io/gitlab/arturbosch/detekt/api/RuleSetSpec.kt
Labels: api, pick request

#6646 Remove workaround for KT-60813
  detekt-formatting/build.gradle.kts
Labels: build, housekeeping

#6649 Fix broken links for formatting in 1.23.3 docs
  website/versioned_docs/version-1.23.3/rules/formatting.md
Labels: documentation

#6650 Prepare Release 1.23.4
  build-logic/src/main/kotlin/Versions.kt
  website/src/pages/changelog.md
  website/src/remark/detektVersionReplace.js
Labels: build, documentation

#6651 Add docs for 1.23.4
  website/src/pages/changelog.md
  website/versioned_docs/version-1.23.4/gettingstarted/_category_.json
  website/versioned_docs/version-1.23.4/gettingstarted/_cli-generator-options.md
  website/versioned_docs/version-1.23.4/gettingstarted/_cli-options.md
  website/versioned_docs/version-1.23.4/gettingstarted/cli.mdx
  website/versioned_docs/version-1.23.4/gettingstarted/compilerplugin.mdx
  website/versioned_docs/version-1.23.4/gettingstarted/git-pre-commit-hook.md
  website/versioned_docs/version-1.23.4/gettingstarted/gradle.mdx
  website/versioned_docs/version-1.23.4/gettingstarted/gradletask.md
  website/versioned_docs/version-1.23.4/gettingstarted/mavenanttask.md
  website/versioned_docs/version-1.23.4/gettingstarted/type-resolution.md
  website/versioned_docs/version-1.23.4/intro.mdx
  website/versioned_docs/version-1.23.4/introduction/_category_.json
  website/versioned_docs/version-1.23.4/introduction/baseline.md
  website/versioned_docs/version-1.23.4/introduction/compatibility.md
  website/versioned_docs/version-1.23.4/introduction/compose.md
  website/versioned_docs/version-1.23.4/introduction/configurations.md
  website/versioned_docs/version-1.23.4/introduction/extensions.md
  website/versioned_docs/version-1.23.4/introduction/reporting.md
  website/versioned_docs/version-1.23.4/introduction/snapshots.md
  website/versioned_docs/version-1.23.4/introduction/suppressing-rules.md
  website/versioned_docs/version-1.23.4/introduction/suppressors.md
  website/versioned_docs/version-1.23.4/rules/_category_.json
  website/versioned_docs/version-1.23.4/rules/comments.md
  website/versioned_docs/version-1.23.4/rules/complexity.md
  website/versioned_docs/version-1.23.4/rules/coroutines.md
  website/versioned_docs/version-1.23.4/rules/empty-blocks.md
  website/versioned_docs/version-1.23.4/rules/exceptions.md
  website/versioned_docs/version-1.23.4/rules/formatting.md
  website/versioned_docs/version-1.23.4/rules/libraries.md
  website/versioned_docs/version-1.23.4/rules/naming.md
  website/versioned_docs/version-1.23.4/rules/performance.md
  website/versioned_docs/version-1.23.4/rules/potential-bugs.md
  website/versioned_docs/version-1.23.4/rules/ruleauthors.md
  website/versioned_docs/version-1.23.4/rules/style.md
  website/versioned_sidebars/version-1.23.4-sidebars.json
  website/versions.json
Labels: documentation

#6567 Fix by adding last method call to the set
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnusedImport.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnusedImportSpec.kt
Labels: rules, pick request

#6571 UnnecessaryAny - Add rule to prevent usage of `any { }` when simple `contains` can be …
  detekt-core/src/main/resources/default-detekt-config.yml
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/StyleGuideProvider.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnnecessaryAny.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnnecessaryAnySpec.kt
Labels: rules, pick request

#6655 Use infix style to apply plugins
  README.md
  website/docs/gettingstarted/gradle.mdx
  website/versioned_docs/version-1.21.0/gettingstarted/gradle.mdx
  website/versioned_docs/version-1.21.0/intro.mdx
  website/versioned_docs/version-1.22.0/gettingstarted/gradle.mdx
  website/versioned_docs/version-1.22.0/intro.mdx
  website/versioned_docs/version-1.23.0/gettingstarted/gradle.mdx
  website/versioned_docs/version-1.23.1/gettingstarted/gradle.mdx
  website/versioned_docs/version-1.23.3/gettingstarted/gradle.mdx
  website/versioned_docs/version-1.23.4/gettingstarted/gradle.mdx
Labels: documentation
