Repository detekt/detekt, pull requests merged in 2023-04, with the labels that each got.

#5953 Review all Detekt and Detekt Gradle Plugin usages.
  bots/dangerfile.js
  bots/package.json
  build-logic/src/main/kotlin/packaging.gradle.kts
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/Severity.kt
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/internal/ActiveByDefault.kt
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/internal/AutoCorrectable.kt
  detekt-gradle-plugin/build.gradle.kts
  detekt-gradle-plugin/src/main/kotlin/io/github/detekt/gradle/DetektKotlinCompilerPlugin.kt
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/extensions/DetektExtension.kt
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/internal/DetektAndroid.kt
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/report/XmlReportMerger.kt
  detekt-report-html/src/main/kotlin/io/github/detekt/report/html/HtmlUtils.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/ForbiddenImport.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/ForbiddenMethodCall.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/ForbiddenSuppress.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnusedPrivateClass.kt
  detekt-test/src/main/kotlin/io/gitlab/arturbosch/detekt/test/TestConfig.kt
  detekt-utils/src/main/kotlin/io/github/detekt/utils/Resources.kt
  scripts/compare_releases.main.kts
  scripts/github-milestone-report.main.kts
  website/README.md
  website/docs/gettingstarted/gradle.mdx
  website/docs/gettingstarted/type-resolution.md
  website/docs/introduction/compatibility.md
  website/docs/introduction/compose.md
  website/docs/introduction/configurations.md
  website/docs/introduction/extensions.md
  website/docs/introduction/reporting.md
  website/docusaurus.config.js
  website/src/components/HomepageFeatures.js
  website/src/data/marketplace.js
  website/src/pages/index.js
  website/src/pages/marketplace/index.jsx
Labels: rules, api, gradle-plugin, build, documentation, housekeeping

#5951 Add a test for catching undocumented public interfaces
  detekt-rules-documentation/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/documentation/UndocumentedPublicClassSpec.kt
Labels: rules, housekeeping

#5955 Review all Detekt and Detekt Gradle Plugin usages.
  README.md
  bots/dangerfile.js
  detekt-gradle-plugin/src/functionalTest/kotlin/io/gitlab/arturbosch/detekt/PluginTaskBehaviorSpec.kt
  website/docs/gettingstarted/git-pre-commit-hook.md
  website/docs/gettingstarted/gradle.mdx
  website/docs/gettingstarted/type-resolution.md
  website/docs/introduction/reporting.md
  website/docs/introduction/snapshots.md
  website/docusaurus.config.js
  website/src/pages/changelog-rc.md
  website/src/pages/changelog.md
  website/versioned_docs/version-1.21.0/gettingstarted/gradle.mdx
  website/versioned_docs/version-1.21.0/introduction/extensions.md
  website/versioned_docs/version-1.21.0/introduction/reporting.md
  website/versioned_docs/version-1.22.0/gettingstarted/gradle.mdx
  website/versioned_docs/version-1.22.0/introduction/compatibility.md
  website/versioned_docs/version-1.22.0/introduction/extensions.md
  website/versioned_docs/version-1.22.0/introduction/reporting.md
Labels: gradle-plugin, documentation, housekeeping

#5944 Execute tests in parallel
  build-logic/src/main/kotlin/module.gradle.kts
Labels: build, housekeeping

#5956 Fix typo: Github -> GitHub
  .github/workflows/detekt-with-type-resolution.yaml
  .github/workflows/website.yaml
  README.md
  detekt-report-sarif/src/test/kotlin/io/github/detekt/report/sarif/SarifOutputReportSpec.kt
  scripts/github-milestone-report.main.kts
  website/docs/introduction/reporting.md
  website/docs/introduction/snapshots.md
  website/src/data/marketplace.js
  website/src/pages/marketplace/index.jsx
Labels: documentation, ci, housekeeping

#5849 Create `generateWebsite`
  .github/workflows/website.yaml
  bots/dangerfile.js
  detekt-generator/build.gradle.kts
  website/package.json
Labels: build, documentation, ci, housekeeping

#5959 JaCoCo 0.8.9
  detekt-formatting/build.gradle.kts
  gradle/libs.versions.toml
Labels: build, dependencies

#5865 Allow newline style for MaxChainedCallsOnSameLine
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/MaxChainedCallsOnSameLine.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/MaxChainedCallsOnSameLineSpec.kt
Labels: rules

#5963 Add functions to ExitOutsideMain rule
  detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/ExitOutsideMain.kt
  detekt-rules-errorprone/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/ExitOutsideMainSpec.kt
Labels: rules

#5666 Add SuspendFunSwallowedCancellation rule
  detekt-core/src/main/resources/default-detekt-config.yml
  detekt-rules-coroutines/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/coroutines/CoroutinesProvider.kt
  detekt-rules-coroutines/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/coroutines/SuspendFunSwallowedCancellation.kt
  detekt-rules-coroutines/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/coroutines/SuspendFunSwallowedCancellationSpec.kt
Labels: rules, notable changes

#5893 Update to Kotlin 1.8.20
  build-logic/src/main/kotlin/module.gradle.kts
  detekt-compiler-plugin/gradle.properties
  detekt-gradle-plugin/build.gradle.kts
  detekt-gradle-plugin/gradle.properties
  detekt-rules-libraries/build.gradle.kts
  detekt-rules-ruleauthors/build.gradle.kts
  detekt-test-utils/src/main/kotlin/io/github/detekt/test/utils/KtTestCompiler.kt
  gradle.properties
  gradle/libs.versions.toml
Labels: build, dependencies, notable changes

#5714 Fix false positive for `CanBeNonNullable` rule
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/CanBeNonNullable.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/CanBeNonNullableSpec.kt
Labels: rules

#5970 Fix broken publishToMavenLocal
  build-logic/src/main/kotlin/releasing.gradle.kts
Labels: build

#5971 Fix broken POM file for detetk-compiler-plugin
  build-logic/src/main/kotlin/packaging.gradle.kts
  detekt-gradle-plugin/build.gradle.kts
Labels: build

#5974 Fix githubRelease picking wrong version
  build-logic/src/main/kotlin/releasing.gradle.kts
Labels: build

#5973 Prepare Detekt 1.23.0-RC1
  build-logic/src/main/kotlin/Versions.kt
  website/src/pages/changelog.md
  website/src/remark/detektVersionReplace.js
Labels: build, documentation

#5777 Remove dependency that creates a cycle.
  build-logic/src/main/kotlin/ConsumeGeneratedConfig.kt
  detekt-formatting/build.gradle.kts
  detekt-generator/build.gradle.kts
  detekt-generator/src/main/kotlin/io/gitlab/arturbosch/detekt/generator/collection/RuleVisitor.kt
Labels: build

#5978 jdkHome as @Internal
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/Detekt.kt
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/DetektCreateBaselineTask.kt
Labels: gradle-plugin

#5861 Add `allowOmitUnit` to rule `LibraryCodeMustSpecifyReturnType`
  detekt-psi-utils/api/detekt-psi-utils.api
  detekt-psi-utils/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/KtExpression.kt
  detekt-psi-utils/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/MethodSignature.kt
  detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/ImplicitUnitReturnType.kt
  detekt-rules-libraries/src/main/kotlin/io/gitlab/arturbosch/detekt/libraries/LibraryCodeMustSpecifyReturnType.kt
  detekt-rules-libraries/src/main/resources/config/config.yml
  detekt-rules-libraries/src/test/kotlin/io/gitlab/arturbosch/detekt/libraries/LibraryCodeMustSpecifyReturnTypeSpec.kt
Labels: rules, api

#5986 Increase ALIASES_LIMIT to 100 for YamlConfig
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/config/YamlConfig.kt
Labels: core

#5996 Update dependency Gradle to v8.1
  build-logic/src/main/kotlin/packaging.gradle.kts
  detekt-gradle-plugin/build.gradle.kts
  detekt-gradle-plugin/src/functionalTest/kotlin/io/gitlab/arturbosch/detekt/ConfigurationCacheSpec.kt
  gradle.properties
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Labels: gradle-plugin, build, notable changes

#6002 Implement parentPath accessor in concrete config implementations
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/config/AllRulesConfig.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/config/CompositeConfig.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/config/DisabledAutoCorrectConfig.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/config/AllRulesConfigSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/config/CompositeConfigSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/config/DisabledAutoCorrectConfigSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/config/YamlConfigSpec.kt
  detekt-core/src/test/resources/configs/single-rule-in-style-ruleset.yml
Labels: core

#5983 Fix elvis to +/- case in case UnnecessaryParentheses when precedence is unclear
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnnecessaryParentheses.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnnecessaryParenthesesSpec.kt
Labels: rules

#6004 Add documentation for all supported suppression formats
  website/docs/introduction/suppressing-rules.md
Labels: documentation

#6010 Update intro.mdx to use setFrom() on detekt config
  website/docs/intro.mdx
Labels: documentation

#6012 Compile compiler plugin against kotlin-compiler-embeddable
  detekt-compiler-plugin/build.gradle.kts
  detekt-compiler-plugin/src/main/kotlin/io/github/detekt/compiler/plugin/DetektAnalysisExtension.kt
Labels: build, compiler-plugin

#6006 Use `detekt-versions.properties` instead of `versions.properties`
  detekt-gradle-plugin/build.gradle.kts
  detekt-gradle-plugin/src/main/kotlin/io/github/detekt/gradle/DetektKotlinCompilerPlugin.kt
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/extensions/DetektExtension.kt
Labels: gradle-plugin, build

#6016 Create docs for Gradle Worker API
  website/docs/gettingstarted/gradle.mdx
Labels: documentation

#6027 UseIsNullOrEmpty: fix false negative with chained call
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UseIsNullOrEmpty.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/UseIsNullOrEmptySpec.kt
Labels: rules

#6019 Improve our configuration of `ClassNaming` and `FunctionNaming`
  config/detekt/detekt.yml
  detekt-gradle-plugin/config/gradle-plugin-detekt.yml
Labels: housekeeping

#6032 Prepare Detekt 1.23.0-RC2
  build-logic/src/main/kotlin/Versions.kt
  scripts/github-milestone-report.main.kts
  website/src/pages/changelog.md
  website/src/remark/detektVersionReplace.js
Labels: build, documentation

#6041 Reduce eager POM task creation
  build-logic/src/main/kotlin/packaging.gradle.kts
Labels: build, housekeeping, gradle

#6044 Update JaCoCo to v0.8.10
  gradle/libs.versions.toml
Labels: dependencies

#6034 Consolidate bots to @detekt-ci
  .github/workflows/danger.yaml
  .github/workflows/labeler.yml
  .github/workflows/stale.yaml
Labels: ci, housekeeping

#6042 BracesOnWhenStatements: fix false positive for necessary braces
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/BracesOnWhenStatements.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/BracesOnWhenStatementsSpec.kt
Labels: rules

#6020 Code of conduct
  .github/CODE_OF_CONDUCT.md
Labels: notable changes

#6003 Fix redundant ClassOrdering violations using maximum increasing section
  detekt-psi-utils/src/main/kotlin/io/github/detekt/psi/internal/FullQualifiedNameGuesser.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/ClassOrdering.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/ClassOrderingSpec.kt
Labels: rules

#6045 Fix incomplete `requireRootInDeclaration` check in `InvalidPackageDeclaration`
  detekt-rules-naming/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/naming/InvalidPackageDeclaration.kt
  detekt-rules-naming/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/naming/InvalidPackageDeclarationSpec.kt
Labels: rules

#6052 UnnecessaryLet: fix false positive in call chains
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnnecessaryLet.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnnecessaryLetSpec.kt
Labels: rules

#6037 Add wrapper for KtLint rules
  detekt-formatting/src/main/kotlin/io/gitlab/arturbosch/detekt/formatting/KtLintMultiRule.kt
  detekt-formatting/src/main/kotlin/io/gitlab/arturbosch/detekt/formatting/wrappers/ClassName.kt
  detekt-formatting/src/main/kotlin/io/gitlab/arturbosch/detekt/formatting/wrappers/FunctionName.kt
  detekt-formatting/src/main/kotlin/io/gitlab/arturbosch/detekt/formatting/wrappers/PropertyName.kt
  detekt-formatting/src/main/resources/config/config.yml
Labels: formatting, notable changes

#6056 Prepare Detekt 1.23.0-RC3
  build-logic/src/main/kotlin/Versions.kt
  website/src/pages/changelog.md
  website/src/remark/detektVersionReplace.js
Labels: build, documentation

#6059 Remove unused `dependenciesAsNames`
  detekt-gradle-plugin/src/testFixtures/kotlin/io/gitlab/arturbosch/detekt/testkit/Helpers.kt
Labels: gradle-plugin, housekeeping
