Repository detekt/detekt, pull requests merged in 2023-12, with the labels that each got.

#6675 Add 'build' label when gradle.properties changes
  .github/labeler.yml
Labels: housekeeping

#6674 Enable Kotlin metadata version check for script compilation
  gradle.properties
Labels: build, housekeeping

#6673 Use versionCatalogs extension
  build-logic/src/main/kotlin/module.gradle.kts
Labels: build, housekeeping

#6672 Test Gradle plugin with AGP 8.2.0
  gradle/libs.versions.toml
Labels: dependencies

#6609 Run build on JDK 21
  .github/workflows/codecoverage.yaml
  .github/workflows/deploy-snapshot.yaml
  .github/workflows/detekt-with-type-resolution.yaml
  .github/workflows/pre-merge.yaml
  .github/workflows/website.yaml
  detekt-core/build.gradle.kts
  detekt-gradle-plugin/build.gradle.kts
  detekt-metrics/build.gradle.kts
  detekt-psi-utils/build.gradle.kts
  detekt-psi-utils/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/StringExtensions.kt
  detekt-report-html/build.gradle.kts
  detekt-report-md/build.gradle.kts
  detekt-rules-style/build.gradle.kts
  gradle/libs.versions.toml
Labels: build, ci, dependencies

#6684 Remove unused dependencies
  detekt-cli/build.gradle.kts
  detekt-compiler-plugin/build.gradle.kts
Labels: build, housekeeping

#6681 Improve UnnamedParameterUse message (change CALL_EXPRESSION to actual function name)
  detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/UnnamedParameterUse.kt
  detekt-rules-errorprone/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/UnnamedParameterUseSpec.kt
Labels: rules, pick request

#6660 Implement new rule: `RedundantConstructorKeyword`
  config/detekt/detekt.yml
  detekt-core/src/main/resources/default-detekt-config.yml
  detekt-psi-utils/src/main/kotlin/io/github/detekt/psi/KtFiles.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/RedundantConstructorKeyword.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/StyleGuideProvider.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/RedundantConstructorKeywordSpec.kt
Labels: rules, notable changes

#6693 Keep build cache configuration consistent in all builds
  build-logic/settings.gradle.kts
  detekt-gradle-plugin/settings.gradle.kts
Labels: build

#6547 Create DetektBasePlugin
  detekt-gradle-plugin/api/detekt-gradle-plugin.api
  detekt-gradle-plugin/build.gradle.kts
  detekt-gradle-plugin/src/main/kotlin/dev/detekt/gradle/plugin/DetektBasePlugin.kt
  detekt-gradle-plugin/src/main/kotlin/io/github/detekt/gradle/DetektKotlinCompilerPlugin.kt
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/DetektPlugin.kt
Labels: api, gradle-plugin, build

#6683 Remove reports from detekt-core dependencies
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/internal/BuiltInOutputReport.kt
  detekt-cli/build.gradle.kts
  detekt-core/build.gradle.kts
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/reporting/OutputFacade.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/reporting/Reporting.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/reporting/OutputReportsSpec.kt
  detekt-report-html/src/main/kotlin/io/github/detekt/report/html/HtmlOutputReport.kt
  detekt-report-md/src/main/kotlin/io/github/detekt/report/md/MdOutputReport.kt
  detekt-report-sarif/src/main/kotlin/io/github/detekt/report/sarif/SarifOutputReport.kt
  detekt-report-txt/src/main/kotlin/io/github/detekt/report/txt/TxtOutputReport.kt
  detekt-report-xml/src/main/kotlin/io/github/detekt/report/xml/XmlOutputReport.kt
Labels: api, core, build, housekeeping, reports

#6710 Add note about building detekt before testing it
  .github/CONTRIBUTING.md
Labels: documentation

#6719 Set remote build cache to push only if authenticated
  settings.gradle.kts
Labels: build, housekeeping

#6706 Use consistent JDK for Kotlin compilation
  build-logic/build.gradle.kts
  build-logic/settings.gradle.kts
  build-logic/src/main/kotlin/module.gradle.kts
  detekt-gradle-plugin/settings.gradle.kts
  settings.gradle.kts
Labels: build

#6727 Remove old suppress
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/Analyzer.kt
Labels: housekeeping

#6735 Fix typo at `Rule.ruleSetId` and reduce its visibility
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/Rule.kt
Labels: api, housekeeping

#6731 Don't recreate sequence
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/Analyzer.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/rules/RuleSets.kt
Labels: core, housekeeping

#6737 Make `TestConfig` final
  detekt-test/api/detekt-test.api
  detekt-test/src/main/kotlin/io/gitlab/arturbosch/detekt/test/TestConfig.kt
Labels: api, breaking change

#6732 Simplify detekt-test
  detekt-formatting/src/test/kotlin/io/gitlab/arturbosch/detekt/formatting/AutoCorrectLevelSpec.kt
  detekt-test/src/main/kotlin/io/gitlab/arturbosch/detekt/test/RuleSetExtensions.kt
Labels: formatting, housekeeping

#6725 Move test to their correct location
  detekt-rules-complexity/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/complexity/StringLiteralDuplicationSpec.kt
  detekt-rules-complexity/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/complexity/TooManyFunctionsSpec.kt
  detekt-rules/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/SuppressingSpec.kt
Labels: rules, housekeeping

#6741 Enable MultilineLoop & ConditionWrapping rules
  config/detekt/detekt.yml
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/internal/Suppressions.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/suppressors/AnnotationSuppressor.kt
  detekt-psi-utils/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/KtModifierList.kt
  detekt-rules-complexity/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/complexity/ComplexInterface.kt
  detekt-rules-documentation/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/documentation/UndocumentedPublicFunction.kt
  detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/UnconditionalJumpStatementInLoop.kt
  detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/UnnamedParameterUse.kt
  detekt-rules-libraries/src/main/kotlin/io/gitlab/arturbosch/detekt/libraries/LibraryCodeMustSpecifyReturnType.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/DoubleNegativeLambda.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/ExplicitCollectionElementAccessMethod.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/MagicNumber.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/MayBeConstant.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/RangeUntilInsteadOfRangeTo.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/SerialVersionUIDInSerializableClass.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/TrimMultilineRawString.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnderscoresInNumericLiterals.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnnecessaryParentheses.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnusedParameter.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnusedPrivateClass.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UseDataClass.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/movelambdaout/MoveLambdaOutsideParenthesesInspection.kt
  detekt-utils/src/main/kotlin/io/github/detekt/utils/Yaml.kt
Labels: rules, api, core, housekeeping

#6742 Add Faire's detekt ruleset to the marketplace
  website/src/data/marketplace.js
Labels: documentation

#6749 Fix typo
  gradle/libs.versions.toml
Labels: dependencies, housekeeping

#6750 gitignore .kotlin directory
  .gitignore
Labels: housekeeping

#6751 Only call getNameAsSafeName on instances of KtNamedDeclaration
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnnecessaryLet.kt
Labels: rules, housekeeping

#6753 Report violations of ThrowsCount also in override functions (#6752)
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/ThrowsCount.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/ThrowsCountSpec.kt
Labels: rules

#6754 Bump Docusarus to 3.x
  website/blog/2018-02-11-website-online.md
  website/blog/2019-03-03-build-upon-the-default-config.md
  website/blog/2019-03-03-configure-detekt-on-root-project.md
  website/docusaurus.config.js
  website/package.json
  website/src/pages/changelog.md
  website/src/remark/detektVersionReplace.js
  website/yarn.lock
Labels: documentation

#6757 Move APIs to a dedicated submenu and fix links
  website/docusaurus.config.js
Labels: documentation

#6724 Fix too generic tests
  detekt-rules-exceptions/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/exceptions/TooGenericExceptionCaughtSpec.kt
  detekt-rules-exceptions/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/exceptions/TooGenericExceptionSpec.kt
  detekt-rules-exceptions/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/exceptions/TooGenericExceptionThrownSpec.kt
  detekt-rules-exceptions/src/test/resources/deactivated-exceptions.yml
Labels: rules, housekeeping

#6729 Simplfy sarirf code
  detekt-report-sarif/src/main/kotlin/io/github/detekt/report/sarif/RuleDescriptors.kt
  detekt-report-sarif/src/main/kotlin/io/github/detekt/report/sarif/SarifOutputReport.kt
Labels: housekeeping

#6730 Remove RuleSet.visitFile
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/rules/RuleSets.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/SuppressionSpec.kt
  detekt-rules/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/SuppressingSpec.kt
Labels: rules, core, housekeeping

#6775 Remove never used function
  detekt-api/api/detekt-api.api
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/Context.kt
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/Rule.kt
Labels: api, breaking change

#6779 Unblock snapshots by updating the base plugin id
  detekt-gradle-plugin/build.gradle.kts
Labels: build

#6776 Fix cli tests
  detekt-cli/src/test/kotlin/io/gitlab/arturbosch/detekt/cli/runners/RunnerSpec.kt
  detekt-cli/src/test/kotlin/io/gitlab/arturbosch/detekt/cli/runners/TestRules.kt
  detekt-cli/src/test/resources/configs/valid-config.yml
Labels: cli, housekeeping

#6768 Remove outdated documentation
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/CodeSmell.kt
Labels: api, documentation

#6765 Use Locale.ROOT instead of Locale.US
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/Rule.kt
Labels: api, housekeeping

#6744 Add `BigDecimal`'s double constructor to `ForbiddenMethodCall`'s default configuration
  detekt-core/src/main/resources/default-detekt-config.yml
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/ForbiddenMethodCall.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/ForbiddenMethodCallSpec.kt
Labels: rules

#6772 Reduce the usage of Mockk
  detekt-api/src/testFixtures/kotlin/io/gitlab/arturbosch/detekt/test/TestFactory.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/TopLevelAutoCorrectSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/baseline/BaselineFilteredResultSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/baseline/BaselineResultMappingSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/reporting/console/FindingsReportSpec.kt
  detekt-metrics/build.gradle.kts
  detekt-metrics/src/test/kotlin/io/github/detekt/metrics/ComplexityReportGeneratorSpec.kt
  detekt-report-html/src/test/kotlin/io/github/detekt/report/html/HtmlOutputReportSpec.kt
  detekt-report-md/src/test/kotlin/io/github/detekt/report/md/MdOutputReportSpec.kt
Labels: api, core, build, housekeeping

#6773 Remove BaselineProvider.id()
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/baseline/BaselineFormat.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/baseline/BaselineFormatSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/baseline/DefaultBaselineKtTest.kt
  detekt-tooling/api/detekt-tooling.api
  detekt-tooling/src/main/kotlin/io/github/detekt/tooling/api/BaselineProvider.kt
Labels: api, core, breaking change

#6777 Remove unnecessary tests
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/ModifierOrderSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/WildcardImportSpec.kt
Labels: rules, housekeeping

#6769 Use entries instead of values() on enum class
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/util/PerformanceMonitorSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/BracesOnIfStatementsSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/BracesOnWhenStatementsSpec.kt
Labels: rules, api, core, housekeeping

#6734 Mandatory config on Rule
  detekt-api/api/detekt-api.api
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/Rule.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/KT.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/SuppressionSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/TopLevelAutoCorrectSpec.kt
  detekt-report-sarif/src/test/kotlin/io/github/detekt/report/sarif/SarifOutputReportSpec.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/ExplicitItLambdaParameter.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/MultilineLambdaItParameter.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/TrimMultilineRawString.kt
Labels: rules, api, core, cli, breaking change

#6763 Remove input and output file registration for generateDocumentation task
  detekt-generator/build.gradle.kts
Labels: build, housekeeping

#6781 Improve Analyzer tests
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/AnalyzerSpec.kt
  detekt-core/src/test/resources/configs/config-value-type-correct-ignore-annotated.yml
  detekt-core/src/test/resources/configs/config-value-type-correct.yml
  detekt-core/src/test/resources/configs/config-value-type-wrong.yml
Labels: core, housekeeping

#6785 Properly declare task input for processTestResources task
  detekt-cli/build.gradle.kts
Labels: build

#6771 Remove messageOrDescription
  detekt-api/api/detekt-api.api
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/CodeSmell.kt
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/Findings.kt
  detekt-api/src/testFixtures/kotlin/io/gitlab/arturbosch/detekt/test/TestFactory.kt
  detekt-compiler-plugin/src/main/kotlin/io/github/detekt/compiler/plugin/internal/MessageCollectorExtensions.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/reporting/Reporting.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/reporting/console/LiteFindingsReport.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/AnalyzerSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/KT.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/SuppressionSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/suppressors/Builders.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/suppressors/SuppressorsSpec.kt
  detekt-report-html/src/test/kotlin/io/github/detekt/report/html/HtmlOutputReportSpec.kt
  detekt-report-html/src/test/resources/HtmlOutputFormatTest.html
  detekt-report-md/src/test/kotlin/io/github/detekt/report/md/MdOutputReportSpec.kt
  detekt-report-sarif/src/main/kotlin/io/github/detekt/report/sarif/Results.kt
  detekt-report-xml/src/main/kotlin/io/github/detekt/report/xml/XmlOutputReport.kt
  detekt-report-xml/src/test/kotlin/io/github/detekt/report/xml/XmlOutputFormatSpec.kt
  detekt-rules-complexity/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/complexity/ThresholdedCodeSmell.kt
Labels: rules, api, core, reports, compiler-plugin, breaking change
