Repository detekt/detekt, pull requests merged in 2024-01, with the labels that each got.

#6678 Fix #6665 by re-adding a few used toStrings
  detekt-api/api/detekt-api.api
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/CodeSmell.kt
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/Entity.kt
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/Location.kt
  detekt-api/src/test/kotlin/io/gitlab/arturbosch/detekt/api/CodeSmellSpec.kt
  detekt-api/src/test/kotlin/io/gitlab/arturbosch/detekt/api/CorrectableCodeSmellSpec.kt
  detekt-api/src/test/kotlin/io/gitlab/arturbosch/detekt/api/EntitySpec.kt
  detekt-api/src/test/kotlin/io/gitlab/arturbosch/detekt/api/LocationSpec.kt
  detekt-psi-utils/api/detekt-psi-utils.api
  detekt-psi-utils/src/main/kotlin/io/github/detekt/psi/KtFiles.kt
  detekt-psi-utils/src/test/kotlin/io/github/detekt/psi/KtFilesSpec.kt
Labels: api

#6793 Documentation improvements
  website/docs/introduction/extensions.md
Labels: documentation

#6798 Properly handle nullable type
  detekt-test/src/main/kotlin/io/gitlab/arturbosch/detekt/test/FindingsAssertions.kt
Labels: housekeeping

#6799 Fix test snippets for K2
  detekt-rules-documentation/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/documentation/UndocumentedPublicClassSpec.kt
Labels: rules, housekeeping

#6624 Also check `USELESS_ELVIS` in `UnreachableCode`
  detekt-gradle-plugin/src/functionalTest/kotlin/io/gitlab/arturbosch/detekt/DetektAndroidSpec.kt
  detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/UnreachableCode.kt
  detekt-rules-errorprone/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/UnreachableCodeSpec.kt
Labels: rules, pick request

#6677 Fix `CastToNullableType` warning on same or parent type
  detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/CastToNullableType.kt
  detekt-rules-errorprone/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/CastToNullableTypeSpec.kt
Labels: rules

#6802 Exclude FirErrors class from JaCoCo instrumentation to avoid ASM MethodTooLargeException
  build-logic/src/main/kotlin/module.gradle.kts
Labels: build

#6801 Improve versioned documentation
  website/versioned_docs/version-1.21.0/introduction/extensions.md
  website/versioned_docs/version-1.22.0/introduction/extensions.md
  website/versioned_docs/version-1.23.0/introduction/extensions.md
  website/versioned_docs/version-1.23.1/introduction/extensions.md
  website/versioned_docs/version-1.23.3/introduction/extensions.md
  website/versioned_docs/version-1.23.4/introduction/extensions.md
Labels: documentation

#6813 Remove PRIMITIVES from public API
  detekt-api/api/detekt-api.api
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/Config.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/config/BaseConfig.kt
Labels: api, core

#6804 Remove UnstableApi annotation
  detekt-api/api/detekt-api.api
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/ConfigProperty.kt
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/Extension.kt
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/PropertiesAware.kt
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/ReportingExtension.kt
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/SetupContext.kt
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/UnstableApi.kt
  detekt-api/src/test/kotlin/io/gitlab/arturbosch/detekt/api/ConfigPropertySpec.kt
  detekt-api/src/test/kotlin/io/gitlab/arturbosch/detekt/api/PropertiesAwareSpec.kt
  detekt-api/src/testFixtures/kotlin/io/gitlab/arturbosch/detekt/test/EmptySetupContext.kt
  detekt-cli/src/main/kotlin/io/gitlab/arturbosch/detekt/cli/DetektProgressListener.kt
  detekt-compiler-plugin/src/main/kotlin/io/github/detekt/compiler/plugin/internal/DetektService.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/ProcessingSettings.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/baseline/BaselineResultMapping.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/extensions/Loading.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/extensions/Reporting.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/reporting/OutputFacade.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/settings/PropertiesFacade.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/tooling/Lifecycle.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/util/PerformanceMonitor.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/baseline/BaselineResultMappingSpec.kt
  detekt-report-sarif/src/main/kotlin/io/github/detekt/report/sarif/SarifOutputReport.kt
  detekt-report-sarif/src/test/kotlin/io/github/detekt/report/sarif/SarifOutputReportSpec.kt
  detekt-rules-complexity/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/complexity/LongParameterList.kt
  detekt-rules-documentation/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/documentation/LicenceHeaderLoaderExtension.kt
  detekt-rules-documentation/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/documentation/AbsentOrWrongFileLicenseSpec.kt
  detekt-rules-empty/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/empty/EmptyFunctionBlock.kt
  detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/IgnoredReturnValue.kt
  detekt-rules-naming/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/naming/FunctionParameterNaming.kt
  detekt-rules-naming/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/naming/MemberNameEqualsClassName.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnderscoresInNumericLiterals.kt
  detekt-rules/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/documentation/LicenceHeaderLoaderExtensionSpec.kt
  detekt-tooling/src/main/kotlin/io/github/detekt/tooling/api/AnalysisResult.kt
  detekt-tooling/src/main/kotlin/io/github/detekt/tooling/internal/DefaultAnalysisResult.kt
Labels: rules, api, core, cli, reports, compiler-plugin

#6809 Move empty config declaration to its callsite
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/Config.kt
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/internal/EmptyConfig.kt
Labels: api, housekeeping

#6816 Reduce the usage of mockk
  detekt-rules-style/build.gradle.kts
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/RedundantVisibilityModifierRuleSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/WildcardImportSpec.kt
Labels: rules, build, housekeeping

#6791 Fix test at `CorrectableRulesFirstSpec`
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/CorrectableRulesFirstSpec.kt
  detekt-core/src/test/resources/configs/one-correctable-rule.yml
Labels: core

#6736 `ConfigAware` doesn't need to implement `Config`
  detekt-api/api/detekt-api.api
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/ConfigAware.kt
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/ConfigProperty.kt
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/Rule.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/ForbiddenCommentSpec.kt
Labels: rules, api, breaking change

#6817 Make test pass on JVM 8
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/CorrectableRulesFirstSpec.kt
Labels: core, housekeeping

#6811 Move CompilerResources from internal to public API
  detekt-api/api/detekt-api.api
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/BaseRule.kt
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/CompilerResources.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/Analyzer.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/RedundantVisibilityModifierRuleSpec.kt
  detekt-test/src/main/kotlin/io/gitlab/arturbosch/detekt/test/RuleExtensions.kt
Labels: rules, api, core, breaking change

#6808 Remove deprecated XML tag support
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/baseline/BaselineHandler.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/baseline/BaselineFormatSpec.kt
  detekt-core/src/test/resources/baseline_feature/deprecated-baseline.xml
Labels: core, breaking change

#6764 Remove default value for parentPath
  detekt-api/api/detekt-api.api
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/Config.kt
  detekt-test/src/main/kotlin/io/gitlab/arturbosch/detekt/test/TestConfig.kt
Labels: api, breaking change

#6774 Remove Finding.id
  detekt-api/api/detekt-api.api
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/CodeSmell.kt
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/Findings.kt
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/internal/DefaultContext.kt
  detekt-api/src/test/kotlin/io/gitlab/arturbosch/detekt/api/CodeSmellSpec.kt
  detekt-api/src/test/kotlin/io/gitlab/arturbosch/detekt/api/CorrectableCodeSmellSpec.kt
  detekt-api/src/testFixtures/kotlin/io/gitlab/arturbosch/detekt/test/TestDetektion.kt
  detekt-compiler-plugin/src/main/kotlin/io/github/detekt/compiler/plugin/internal/MessageCollectorExtensions.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/Analyzer.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/baseline/DefaultBaseline.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/reporting/Reporting.kt
  detekt-report-html/src/main/kotlin/io/github/detekt/report/html/HtmlOutputReport.kt
  detekt-report-md/src/main/kotlin/io/github/detekt/report/md/MdOutputReport.kt
  detekt-report-sarif/src/main/kotlin/io/github/detekt/report/sarif/Results.kt
  detekt-report-xml/src/main/kotlin/io/github/detekt/report/xml/XmlOutputReport.kt
  detekt-report-xml/src/test/kotlin/io/github/detekt/report/xml/XmlOutputFormatSpec.kt
  detekt-rules-complexity/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/complexity/ThresholdedCodeSmell.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/optional/MandatoryBracesLoopsSpec.kt
Labels: rules, api, core, reports, compiler-plugin, breaking change

#6823 Remove unnecessary functions from detekt-psi-utils
  detekt-psi-utils/api/detekt-psi-utils.api
  detekt-psi-utils/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/Traversing.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/ExplicitItLambdaParameter.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/ReturnCount.kt
Labels: rules, api, breaking change

#6819 Remove support for comma separated strings
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/ConfigProperty.kt
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/internal/PathFilters.kt
  detekt-api/src/test/kotlin/io/gitlab/arturbosch/detekt/api/ConfigPropertySpec.kt
  detekt-api/src/test/kotlin/io/gitlab/arturbosch/detekt/api/internal/InclusionExclusionPatternsSpec.kt
  detekt-cli/src/test/kotlin/io/gitlab/arturbosch/detekt/cli/runners/RunnerSpec.kt
  detekt-cli/src/test/resources/configs/return-count-with-string-property.yml
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/config/BaseConfig.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/config/validation/DefaultPropertiesConfigValidator.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/config/validation/InvalidPropertiesConfigValidator.kt
  detekt-core/src/main/resources/default-detekt-config.yml
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/config/ValueOrDefaultCommaSeparatedSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/config/validation/CheckConfigurationSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/config/validation/InvalidPropertiesConfigValidatorSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/config/validation/ValidateConfigSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/rules/RuleSetSpec.kt
  detekt-generator/src/main/kotlin/io/gitlab/arturbosch/detekt/generator/printer/defaultconfig/ConfigPrinter.kt
  detekt-rules-complexity/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/complexity/CyclomaticComplexMethodSpec.kt
  detekt-rules-complexity/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/complexity/LabeledExpressionSpec.kt
  detekt-rules-errorprone/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/AvoidReferentialEqualitySpec.kt
  detekt-rules-exceptions/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/exceptions/ExceptionRaisedInUnexpectedLocationSpec.kt
  detekt-rules-exceptions/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/exceptions/SwallowedExceptionSpec.kt
  detekt-rules-libraries/src/test/kotlin/io/gitlab/arturbosch/detekt/libraries/ForbiddenPublicDataClassSpec.kt
  detekt-rules-libraries/src/test/kotlin/io/gitlab/arturbosch/detekt/libraries/LibraryEntitiesShouldNotBePublicSpec.kt
  detekt-rules-naming/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/naming/ForbiddenClassNameSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/DataClassContainsFunctionsSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/ForbiddenCommentSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/FunctionOnlyReturningConstantSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/MagicNumberSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/ReturnCountSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/TrimMultilineRawStringSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/UseDataClassSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/WildcardImportSpec.kt
Labels: rules, api, core, cli, breaking change

#6766 Add parent config property
  detekt-api/api/detekt-api.api
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/Config.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/config/AllRulesConfig.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/config/CompositeConfig.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/config/DisabledAutoCorrectConfig.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/config/YamlConfig.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/config/AllRulesConfigSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/config/CompositeConfigSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/config/DisabledAutoCorrectConfigSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/config/YamlConfigSpec.kt
  detekt-test/api/detekt-test.api
  detekt-test/src/main/kotlin/io/gitlab/arturbosch/detekt/test/TestConfig.kt
Labels: api, core, breaking change

#6733 RuleSet provides a Factory of rules intead of the rules themselfs
  detekt-api/api/detekt-api.api
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/RuleSet.kt
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/RuleSetProvider.kt
  detekt-cli/src/test/kotlin/io/gitlab/arturbosch/detekt/cli/runners/TestRules.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/Analyzer.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/rules/RuleSets.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/rules/SingleRuleProvider.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/AnalyzerSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/CorrectableRulesFirstSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/KT.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/TopLevelAutoCorrectSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/config/validation/CheckConfigurationSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/rules/SingleRuleProviderSpec.kt
  detekt-formatting/src/main/kotlin/io/gitlab/arturbosch/detekt/formatting/FormattingProvider.kt
  detekt-formatting/src/test/kotlin/io/gitlab/arturbosch/detekt/formatting/AutoCorrectLevelSpec.kt
  detekt-formatting/src/test/kotlin/io/gitlab/arturbosch/detekt/formatting/FormattingProviderSpec.kt
  detekt-formatting/src/test/kotlin/io/gitlab/arturbosch/detekt/formatting/RuleSetConfigPropertySpec.kt
  detekt-generator/src/main/kotlin/io/gitlab/arturbosch/detekt/generator/collection/RuleSetProviderCollector.kt
  detekt-generator/src/test/kotlin/io/gitlab/arturbosch/detekt/generator/collection/RuleSetProviderCollectorSpec.kt
  detekt-generator/src/test/kotlin/io/gitlab/arturbosch/detekt/generator/config/ConfigAssert.kt
  detekt-generator/src/test/resources/ruleset1/src/main/kotlin/ComplexityProvider.kt
  detekt-generator/src/test/resources/ruleset2/src/main/kotlin/CoroutinesProvider.kt
  detekt-report-sarif/src/main/kotlin/io/github/detekt/report/sarif/RuleDescriptors.kt
  detekt-rules-complexity/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/complexity/ComplexityProvider.kt
  detekt-rules-coroutines/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/coroutines/CoroutinesProvider.kt
  detekt-rules-documentation/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/documentation/CommentSmellProvider.kt
  detekt-rules-empty/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/empty/EmptyCodeProvider.kt
  detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/PotentialBugProvider.kt
  detekt-rules-exceptions/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/exceptions/ExceptionsProvider.kt
  detekt-rules-libraries/src/main/kotlin/io/gitlab/arturbosch/detekt/libraries/RuleLibrariesProvider.kt
  detekt-rules-naming/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/naming/NamingProvider.kt
  detekt-rules-performance/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/performance/PerformanceProvider.kt
  detekt-rules-ruleauthors/src/main/kotlin/io/gitlab/arturbosch/detekt/authors/RuleAuthorsProvider.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/StyleGuideProvider.kt
  detekt-rules/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/RuleProviderConfigSpec.kt
  detekt-rules/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/RuleProviderSpec.kt
  detekt-sample-extensions/src/main/kotlin/io/gitlab/arturbosch/detekt/sample/extensions/SampleProvider.kt
Labels: rules, api, core, cli, formatting, breaking change

#6417 Allow the failure severity to be configured
  detekt-api/api/detekt-api.api
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/Rule.kt
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/Severity.kt
  detekt-api/src/test/kotlin/io/gitlab/arturbosch/detekt/api/CodeSmellSpec.kt
  detekt-api/src/test/kotlin/io/gitlab/arturbosch/detekt/api/CorrectableCodeSmellSpec.kt
  detekt-api/src/test/kotlin/io/gitlab/arturbosch/detekt/api/SeveritySpec.kt
  detekt-api/src/testFixtures/kotlin/io/gitlab/arturbosch/detekt/test/TestFactory.kt
  detekt-cli/src/main/kotlin/io/gitlab/arturbosch/detekt/cli/ArgumentConverters.kt
  detekt-cli/src/main/kotlin/io/gitlab/arturbosch/detekt/cli/CliArgs.kt
  detekt-cli/src/main/kotlin/io/gitlab/arturbosch/detekt/cli/FailureSeverity.kt
  detekt-cli/src/main/kotlin/io/gitlab/arturbosch/detekt/cli/Spec.kt
  detekt-cli/src/test/kotlin/io/gitlab/arturbosch/detekt/cli/CliArgsSpec.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/config/FailurePolicies.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/config/FailurePoliciesKtTest.kt
  detekt-gradle-plugin/api/detekt-gradle-plugin.api
  detekt-gradle-plugin/src/functionalTest/kotlin/io/gitlab/arturbosch/detekt/DetektTaskDslSpec.kt
  detekt-gradle-plugin/src/functionalTest/kotlin/io/gitlab/arturbosch/detekt/DetektTaskGroovyDslSpec.kt
  detekt-gradle-plugin/src/functionalTest/kotlin/io/gitlab/arturbosch/detekt/DetektTaskSpec.kt
  detekt-gradle-plugin/src/main/kotlin/dev/detekt/gradle/plugin/DetektBasePlugin.kt
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/Detekt.kt
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/extensions/DetektExtension.kt
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/extensions/FailOnSeverity.kt
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/internal/SharedTasks.kt
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/invoke/CliArgument.kt
  detekt-gradle-plugin/src/test/kotlin/io/gitlab/arturbosch/detekt/DetektJvmSpec.kt
  detekt-gradle-plugin/src/test/kotlin/io/gitlab/arturbosch/detekt/DetektPlainSpec.kt
  detekt-gradle-plugin/src/test/kotlin/io/gitlab/arturbosch/detekt/invoke/FailOnSeverityArgumentSpec.kt
  detekt-report-sarif/src/main/kotlin/io/github/detekt/report/sarif/Results.kt
  detekt-report-sarif/src/test/kotlin/io/github/detekt/report/sarif/SarifOutputReportSpec.kt
  detekt-tooling/api/detekt-tooling.api
  detekt-tooling/src/main/kotlin/io/github/detekt/tooling/api/spec/RulesSpec.kt
  detekt-tooling/src/main/kotlin/io/github/detekt/tooling/dsl/RulesSpecBuilder.kt
  website/docs/gettingstarted/cli.mdx
  website/docs/gettingstarted/gradle.mdx
  website/docs/introduction/configurations.md
  website/docs/introduction/reporting.md
Labels: api, core, cli, gradle-plugin, documentation, notable changes, breaking change

#6824 Fix links on the documentation
  website/versioned_docs/version-1.21.0/intro.mdx
  website/versioned_docs/version-1.22.0/intro.mdx
Labels: documentation

#6825 Fail with meaningful error message if the list elements are not all strings
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/config/BaseConfig.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/config/YamlConfigSpec.kt
  detekt-core/src/test/resources/wrong-property-type.yml
Labels: core

#6827 Don't use explicit byte-buddy version
  detekt-core/build.gradle.kts
  detekt-psi-utils/build.gradle.kts
  detekt-report-html/build.gradle.kts
  detekt-report-md/build.gradle.kts
  gradle/libs.versions.toml
Labels: build, dependencies, housekeeping

#6828 Simplify tests
  detekt-api/src/test/kotlin/io/gitlab/arturbosch/detekt/api/internal/PathMatchersSpec.kt
Labels: api, housekeeping

#6767 Rule receives its own configuration
  detekt-api/api/detekt-api.api
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/ConfigAware.kt
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/ConfigProperty.kt
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/Rule.kt
  detekt-api/src/test/kotlin/io/gitlab/arturbosch/detekt/api/ConfigPropertySpec.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/Analyzer.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/suppressors/AnnotationSuppressor.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/suppressors/FunctionSuppressor.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/suppressors/Suppressor.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/AnalyzerSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/SuppressionSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/rules/SingleRuleProviderSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/suppressors/AnnotationSuppressorSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/suppressors/Builders.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/suppressors/FunctionSuppressorSpec.kt
  detekt-formatting/src/main/kotlin/io/gitlab/arturbosch/detekt/formatting/FormattingRule.kt
  detekt-formatting/src/main/kotlin/io/gitlab/arturbosch/detekt/formatting/RuleSetConfigProperty.kt
  detekt-formatting/src/test/kotlin/io/gitlab/arturbosch/detekt/formatting/AutoCorrectLevelSpec.kt
Labels: rules, api, core, cli, formatting, suppressors, breaking change

#6837 Remove base rule
  detekt-api/api/detekt-api.api
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/BaseRule.kt
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/Rule.kt
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/RuleSet.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/Analyzer.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/rules/SingleRuleProvider.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/suppressors/Suppressor.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/rules/SingleRuleProviderSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/suppressors/SuppressorsSpec.kt
  detekt-generator/src/test/kotlin/io/gitlab/arturbosch/detekt/generator/config/ConfigAssert.kt
  detekt-report-sarif/src/main/kotlin/io/github/detekt/report/sarif/RuleDescriptors.kt
  detekt-rules-ruleauthors/src/main/kotlin/io/gitlab/arturbosch/detekt/authors/ViolatesTypeResolutionRequirements.kt
  detekt-rules-ruleauthors/src/test/kotlin/io/gitlab/arturbosch/detekt/authors/ViolatesTypeResolutionRequirementsSpec.kt
  detekt-rules/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/RuleProviderSpec.kt
  detekt-test/api/detekt-test.api
  detekt-test/src/main/kotlin/io/gitlab/arturbosch/detekt/test/RuleExtensions.kt
  website/docs/gettingstarted/type-resolution.md
Labels: rules, api, core, documentation, formatting, suppressors, breaking change

#6843 Remove Context interface
  detekt-api/api/detekt-api.api
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/Context.kt
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/Rule.kt
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/internal/DefaultContext.kt
Labels: api, breaking change

#6839 Lookup android flag on ruleset config
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/ConfigProperty.kt
  detekt-formatting/src/test/kotlin/io/gitlab/arturbosch/detekt/formatting/TrailingCommaOnCallSiteSpec.kt
Labels: api, formatting

#6789 Inline yaml samples in tests
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/FileProcessorLocatorSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/SuppressionSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/config/AllRulesConfigSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/config/DisabledAutoCorrectConfigSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/config/YamlConfigSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/config/validation/MissingRulesConfigValidatorSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/rules/RuleSetSpec.kt
  detekt-core/src/test/resources/config_validation/exhaustiveness-check-disabled.yml
  detekt-core/src/test/resources/config_validation/exhaustiveness-check-successful.yml
  detekt-core/src/test/resources/config_validation/exhaustiveness-check-with-error.yml
  detekt-core/src/test/resources/configs/deactivated_ruleset.yml
  detekt-core/src/test/resources/configs/disabled-processors.yml
  detekt-core/src/test/resources/configs/single-rule-in-style-ruleset.yml
  detekt-core/src/test/resources/suppression/ruleset-suppression.yml
  detekt-core/src/test/resources/wrong-property-type.yml
  detekt-formatting/src/test/kotlin/io/gitlab/arturbosch/detekt/formatting/AutoCorrectLevelSpec.kt
  detekt-formatting/src/test/resources/autocorrect/autocorrect-all-true.yml
  detekt-formatting/src/test/resources/autocorrect/autocorrect-rule-false.yml
  detekt-formatting/src/test/resources/autocorrect/autocorrect-ruleset-false.yml
  detekt-formatting/src/test/resources/autocorrect/autocorrect-true-rule-active-false.yml
Labels: core, formatting, housekeeping

#6847 Improve error messages for failing assertions
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/KtTreeCompilerSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/SuppressionSpec.kt
  detekt-rules-complexity/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/complexity/MethodOverloadingSpec.kt
  detekt-rules-coroutines/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/coroutines/SuspendFunSwallowedCancellationSpec.kt
  detekt-rules-exceptions/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/exceptions/TooGenericExceptionCaughtSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/EqualsNullCallSpec.kt
Labels: rules, core, housekeeping

#6845 Remove `findings` property from `Rule`
  detekt-api/api/detekt-api.api
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/Rule.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/Analyzer.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/SuppressionSpec.kt
  detekt-formatting/src/test/kotlin/io/gitlab/arturbosch/detekt/formatting/AutoCorrectLevelSpec.kt
  detekt-formatting/src/test/kotlin/io/gitlab/arturbosch/detekt/formatting/FormattingRuleSpec.kt
  detekt-formatting/src/test/kotlin/io/gitlab/arturbosch/detekt/formatting/TestFiles.kt
  detekt-rules-complexity/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/complexity/MethodOverloadingSpec.kt
  detekt-rules-complexity/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/complexity/NestedBlockDepthSpec.kt
  detekt-rules-empty/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/empty/EmptyCodeSpec.kt
  detekt-rules-naming/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/naming/FunctionNamingSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/MaxLineLengthSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/MayBeConstantSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/MultilineRawStringIndentationSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/NoTabsSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/RedundantVisibilityModifierRuleSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/StringShouldBeRawStringSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/TrimMultilineRawStringSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/UseArrayLiteralsInAnnotationsSpec.kt
  detekt-rules/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/SuppressingSpec.kt
  detekt-test/src/main/kotlin/io/gitlab/arturbosch/detekt/test/RuleExtensions.kt
Labels: rules, api, core, formatting, breaking change

#6846 Less verbose tests
  detekt-compiler-plugin/src/test/kotlin/io/github/detekt/compiler/plugin/util/CompilerAssertions.kt
  detekt-compiler-plugin/src/test/kotlin/io/github/detekt/compiler/plugin/util/CompilerTestUtils.kt
Labels: compiler-plugin

#6782 Core handles active rules
  detekt-api/api/detekt-api.api
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/Config.kt
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/Rule.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/Analyzer.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/FileProcessorLocator.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/reporting/ReportLocator.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/rules/RuleSets.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/util/Config.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/rules/RuleSetSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/rules/SingleRuleProviderSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/util/ConfigSpec.kt
  detekt-formatting/src/test/kotlin/io/gitlab/arturbosch/detekt/formatting/AutoCorrectLevelSpec.kt
  detekt-rules-complexity/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/complexity/StringLiteralDuplicationSpec.kt
  detekt-rules-empty/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/empty/EmptyCodeSpec.kt
  detekt-rules-errorprone/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/LateinitUsageSpec.kt
  detekt-rules-exceptions/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/exceptions/TooGenericExceptionCaughtSpec.kt
  detekt-rules-naming/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/naming/FunctionNamingSpec.kt
  detekt-rules-naming/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/naming/VariableNamingSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnusedPrivatePropertySpec.kt
Labels: rules, api, core, cli, formatting, reports, suppressors, breaking change

#6855 Make the abi a bit cleaner
  detekt-api/api/detekt-api.api
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/RuleSet.kt
Labels: api

#6857 Import custom assertions together with AssertJ assertions
  detekt-formatting/src/test/kotlin/io/gitlab/arturbosch/detekt/formatting/AutoCorrectLevelSpec.kt
  detekt-formatting/src/test/kotlin/io/gitlab/arturbosch/detekt/formatting/ChainWrappingSpec.kt
  detekt-formatting/src/test/kotlin/io/gitlab/arturbosch/detekt/formatting/MaximumLineLengthSpec.kt
  detekt-rules-documentation/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/documentation/UndocumentedPublicPropertySpec.kt
  detekt-rules-naming/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/naming/TopLevelPropertyNamingSpec.kt
Labels: rules, formatting, housekeeping

#6790 EmptyKtFile : add ability to ignore package statements
  detekt-rules-empty/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/empty/EmptyKotlinFile.kt
  detekt-rules-empty/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/empty/EmptyKotlinFileSpec.kt
Labels: rules

#6856 Remove List<Finding>.assert() extension function
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/ObjectLiteralToLambdaSpec.kt
  detekt-test/api/detekt-test.api
  detekt-test/src/main/kotlin/io/gitlab/arturbosch/detekt/test/FindingsAssertions.kt
Labels: rules, api

#6820 Remove commaSeparatedPattern
  detekt-api/api/detekt-api.api
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/SplitPattern.kt
  detekt-cli/src/main/kotlin/io/gitlab/arturbosch/detekt/cli/Spec.kt
Labels: rules, api, core, cli, breaking change

#6829 Make fakes more real
  detekt-api/src/test/kotlin/io/gitlab/arturbosch/detekt/api/LocationSpec.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/tooling/ParsingStrategy.kt
  detekt-parser/src/main/kotlin/io/github/detekt/parser/KtCompiler.kt
  detekt-test-utils/src/main/kotlin/io/github/detekt/test/utils/CompileExtensions.kt
  detekt-test-utils/src/main/kotlin/io/github/detekt/test/utils/KtTestCompiler.kt
Labels: api, core, housekeeping

#6859 Simplify code
  detekt-report-sarif/src/main/kotlin/io/github/detekt/report/sarif/RuleDescriptors.kt
Labels: housekeeping

#6830 Add missing tests
  detekt-api/src/test/kotlin/io/gitlab/arturbosch/detekt/api/internal/InclusionExclusionPatternsSpec.kt
  detekt-api/src/test/resources/Default.kt
  detekt-api/src/test/resources/library/Dummy.kt
  detekt-api/src/test/resources/library/Dummy2.kt
  detekt-api/src/test/resources/library/Library.kt
  detekt-test-utils/api/detekt-test-utils.api
  detekt-test-utils/src/main/kotlin/io/github/detekt/test/utils/CompileExtensions.kt
Labels: api, core, housekeeping, breaking change

#6851 Create a value class for the id of a `Rule`
  detekt-api/api/detekt-api.api
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/Issue.kt
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/Rule.kt
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/RuleSet.kt
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/internal/Suppressions.kt
  detekt-api/src/test/kotlin/io/gitlab/arturbosch/detekt/api/ConfigPropertySpec.kt
  detekt-api/src/testFixtures/kotlin/io/gitlab/arturbosch/detekt/test/TestDetektion.kt
  detekt-api/src/testFixtures/kotlin/io/gitlab/arturbosch/detekt/test/TestFactory.kt
  detekt-cli/src/main/kotlin/io/gitlab/arturbosch/detekt/cli/Spec.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/Analyzer.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/baseline/DefaultBaseline.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/rules/RuleSets.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/rules/SingleRuleProvider.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/CorrectableRulesFirstSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/SuppressionSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/suppressors/Builders.kt
  detekt-formatting/src/test/kotlin/io/gitlab/arturbosch/detekt/formatting/AutoCorrectLevelSpec.kt
  detekt-generator/src/test/kotlin/io/gitlab/arturbosch/detekt/generator/config/ConfigAssert.kt
  detekt-report-html/src/main/kotlin/io/github/detekt/report/html/HtmlOutputReport.kt
  detekt-report-html/src/main/kotlin/io/github/detekt/report/html/HtmlUtils.kt
  detekt-report-html/src/test/kotlin/io/github/detekt/report/html/HtmlUtilsSpec.kt
  detekt-report-md/src/main/kotlin/io/github/detekt/report/md/MdOutputReport.kt
  detekt-report-sarif/src/main/kotlin/io/github/detekt/report/sarif/RuleDescriptors.kt
  detekt-report-xml/src/main/kotlin/io/github/detekt/report/xml/XmlOutputReport.kt
  detekt-report-xml/src/test/kotlin/io/github/detekt/report/xml/XmlOutputFormatSpec.kt
  detekt-rules-errorprone/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/MissingWhenCaseSpec.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/ModifierOrder.kt
  detekt-tooling/api/detekt-tooling.api
  detekt-tooling/src/main/kotlin/io/github/detekt/tooling/api/spec/RulesSpec.kt
Labels: rules, api, core, cli, formatting, reports, breaking change

#6863 Disable the Gradle Daemon on Vercel
  website/package.json
Labels: documentation, ci

#6862 Rename core/util/Config.kt to core/util/ConfigExtensions.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/util/ConfigExtensions.kt
Labels: core, housekeeping

#6831 Fix exclusion at ruleset level
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/rules/RuleSets.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/rules/RuleSetSpec.kt
Labels: api, core

#6864 Add missing KDoc for Config.parent
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/Config.kt
Labels: api

#6861 Don't use value class for RuleSet.Id
  detekt-api/api/detekt-api.api
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/RuleSet.kt
  detekt-core/src/test/resources/sample-rule-set.jar
  detekt-tooling/api/detekt-tooling.api
Labels: api

#6868 Rename core/util/ConfigSpec.kt to core/util/ConfigExtensionsSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/util/ConfigExtensionsSpec.kt
Labels: housekeeping

#6870 Test doesn't fail on Windows
  detekt-api/src/test/kotlin/io/gitlab/arturbosch/detekt/api/LocationSpec.kt
Labels: api, housekeeping

#6026 Add MissingUseCall.kt rule
  detekt-core/src/main/resources/default-detekt-config.yml
  detekt-psi-utils/api/detekt-psi-utils.api
  detekt-psi-utils/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/KtExpression.kt
  detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/MissingUseCall.kt
  detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/PotentialBugProvider.kt
  detekt-rules-errorprone/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/MissingUseCallSpec.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/StringShouldBeRawString.kt
Labels: rules, api, notable changes

#6860 Remove all the usages of mockk
  config/detekt/detekt.yml
  detekt-core/build.gradle.kts
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/DetektMessageCollectorSpec.kt
  detekt-psi-utils/build.gradle.kts
  detekt-psi-utils/src/test/kotlin/io/github/detekt/psi/KtFilesSpec.kt
  detekt-report-html/build.gradle.kts
  detekt-report-html/src/test/kotlin/io/github/detekt/report/html/HtmlOutputReportSpec.kt
  detekt-report-md/build.gradle.kts
  detekt-report-md/src/test/kotlin/io/github/detekt/report/md/MdOutputReportSpec.kt
  detekt-test-utils/build.gradle.kts
  detekt-test-utils/src/main/kotlin/io/github/detekt/test/utils/internal/FakeKtElement.kt
  detekt-test-utils/src/main/kotlin/io/github/detekt/test/utils/internal/FakePsiFile.kt
  gradle/libs.versions.toml
Labels: core, build, dependencies

#6865 Move exclusion out of `Rule`
  detekt-api/api/detekt-api.api
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/Rule.kt
  detekt-api/src/test/kotlin/io/gitlab/arturbosch/detekt/api/internal/InclusionExclusionPatternsSpec.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/Analyzer.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/rules/RuleSets.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/util/ConfigExtensions.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/AnalyzerSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/rules/RuleSetSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/util/ConfigExtensionsSpec.kt
  detekt-rules-libraries/src/test/kotlin/io/gitlab/arturbosch/detekt/libraries/ForbiddenPublicDataClassSpec.kt
  detekt-rules-libraries/src/test/kotlin/io/gitlab/arturbosch/detekt/libraries/LibraryEntitiesShouldNotBePublicSpec.kt
Labels: api, core, breaking change

#6871 Split `Finding` in two different classes
  detekt-api/api/detekt-api.api
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/CodeSmell.kt
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/Detektion.kt
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/Entity.kt
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/FileProcessListener.kt
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/Finding2.kt
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/Findings.kt
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/ReportingExtension.kt
  detekt-api/src/test/kotlin/io/gitlab/arturbosch/detekt/api/CodeSmellSpec.kt
  detekt-api/src/test/kotlin/io/gitlab/arturbosch/detekt/api/CorrectableCodeSmellSpec.kt
  detekt-api/src/testFixtures/kotlin/io/gitlab/arturbosch/detekt/test/TestDetektion.kt
  detekt-api/src/testFixtures/kotlin/io/gitlab/arturbosch/detekt/test/TestFactory.kt
  detekt-compiler-plugin/src/main/kotlin/io/github/detekt/compiler/plugin/internal/MessageCollectorExtensions.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/Analyzer.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/DelegatingResult.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/DetektResult.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/baseline/BaselineFacade.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/baseline/BaselineFilteredResult.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/baseline/BaselineResultMapping.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/baseline/DefaultBaseline.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/reporting/Reporting.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/reporting/console/AbstractFindingsReport.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/reporting/console/FileBasedFindingsReport.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/reporting/console/FindingsReport.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/reporting/console/LiteFindingsReport.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/tooling/Lifecycle.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/baseline/BaselineResultMappingSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/reporting/console/FileBasedFindingsReportSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/reporting/console/FindingsReportSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/reporting/console/LiteFindingsReportSpec.kt
  detekt-metrics/src/test/kotlin/io/github/detekt/metrics/processors/MetricProcessorTester.kt
  detekt-report-html/src/main/kotlin/io/github/detekt/report/html/HtmlOutputReport.kt
  detekt-report-html/src/test/kotlin/io/github/detekt/report/html/HtmlOutputReportSpec.kt
  detekt-report-md/src/main/kotlin/io/github/detekt/report/md/MdOutputReport.kt
  detekt-report-md/src/test/kotlin/io/github/detekt/report/md/MdOutputReportSpec.kt
  detekt-report-sarif/src/main/kotlin/io/github/detekt/report/sarif/Results.kt
  detekt-report-txt/src/main/kotlin/io/github/detekt/report/txt/TxtOutputReport.kt
  detekt-report-xml/src/main/kotlin/io/github/detekt/report/xml/XmlOutputReport.kt
  detekt-report-xml/src/test/kotlin/io/github/detekt/report/xml/XmlOutputFormatSpec.kt
  detekt-rules-complexity/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/complexity/ThresholdedCodeSmell.kt
  detekt-sample-extensions/src/test/kotlin/io/gitlab/arturbosch/detekt/sample/extensions/processors/QualifiedNameProcessorSpec.kt
  detekt-tooling/src/main/kotlin/io/github/detekt/tooling/internal/EmptyContainer.kt
Labels: rules, api, core, formatting, reports, compiler-plugin

#6872 Remove severity from the Rule
  detekt-api/api/detekt-api.api
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/CodeSmell.kt
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/Findings.kt
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/Rule.kt
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/Severity.kt
  detekt-api/src/test/kotlin/io/gitlab/arturbosch/detekt/api/CodeSmellSpec.kt
  detekt-api/src/test/kotlin/io/gitlab/arturbosch/detekt/api/CorrectableCodeSmellSpec.kt
  detekt-api/src/testFixtures/kotlin/io/gitlab/arturbosch/detekt/test/TestFactory.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/Analyzer.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/SeveritySpec.kt
Labels: api, core

#6886 Reduce JDK coverage
  .github/workflows/pre-merge.yaml
Labels: ci, housekeeping

#6842 Implement subConfigKeys() for Config
  detekt-api/api/detekt-api.api
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/Config.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/config/AllRulesConfig.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/config/CompositeConfig.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/config/DisabledAutoCorrectConfig.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/config/YamlConfig.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/config/AllRulesConfigSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/config/CompositeConfigSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/config/DisabledAutoCorrectConfigSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/config/YamlConfigSpec.kt
  detekt-test/api/detekt-test.api
  detekt-test/src/main/kotlin/io/gitlab/arturbosch/detekt/test/TestConfig.kt
Labels: api, core

#6890 Correctly pass an FqName to startsWith
  detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/ImplicitDefaultLocale.kt
Labels: rules

#6841 useDefaultConfig on tests
  detekt-compiler-plugin/build.gradle.kts
  detekt-compiler-plugin/src/test/kotlin/io/github/detekt/compiler/plugin/util/CompilerTestUtils.kt
Labels: build, housekeeping, compiler-plugin

#6888 Move `@file:Suppress` handling from `Rule` to `core`
  detekt-api/api/detekt-api.api
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/Rule.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/Analyzer.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/AnalyzerSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/SuppressionSpec.kt
  detekt-core/src/test/resources/suppression/SuppressedByAllObject.kt
  detekt-core/src/test/resources/suppression/SuppressedObject.kt
  detekt-formatting/src/test/kotlin/io/gitlab/arturbosch/detekt/formatting/FormattingRuleSpec.kt
  detekt-rules-documentation/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/documentation/AbsentOrWrongFileLicense.kt
  detekt-rules-naming/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/naming/InvalidPackageDeclarationSpec.kt
  detekt-rules-naming/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/naming/PackageNamingSpec.kt
  detekt-rules-naming/src/test/resources/InvalidPackageDeclarationSpec/src/bar/suppressed.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/ForbiddenSuppressSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnusedParameterSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnusedPrivateMemberSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnusedPrivatePropertySpec.kt
  detekt-rules/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/SuppressingSpec.kt
Labels: rules, api, core, formatting, breaking change

#6875 Add ignoreAnnotatedFunctions to TooManyFunctions
  detekt-core/src/main/resources/default-detekt-config.yml
  detekt-rules-complexity/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/complexity/TooManyFunctions.kt
  detekt-rules-complexity/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/complexity/TooManyFunctionsSpec.kt
  website/docs/introduction/compose.md
Labels: rules, documentation, pick request

#6692 Add CoroutineLaunchedInTestWithoutRunTest rule
  detekt-core/src/main/resources/default-detekt-config.yml
  detekt-rules-coroutines/build.gradle.kts
  detekt-rules-coroutines/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/coroutines/CoroutineLaunchedInTestWithoutRunTest.kt
  detekt-rules-coroutines/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/coroutines/CoroutinesProvider.kt
  detekt-rules-coroutines/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/coroutines/CoroutineLaunchedInTestWithoutRunTestSpec.kt
  gradle/libs.versions.toml
Labels: rules, build, documentation, dependencies, notable changes

#6915 Simplify `MessageCollectorExtensions`
  detekt-compiler-plugin/src/main/kotlin/io/github/detekt/compiler/plugin/internal/MessageCollectorExtensions.kt
Labels: compiler-plugin

#6921 Prepare Release 1.23.5
  build-logic/src/main/kotlin/Versions.kt
  website/src/pages/changelog.md
  website/src/remark/detektVersionReplace.js
Labels: build, documentation

#6912 Move from `gradle/gradle-build-action` to `gradle/actions/setup-gradle`
  .github/workflows/codecoverage.yaml
  .github/workflows/deploy-snapshot.yaml
  .github/workflows/detekt-with-type-resolution.yaml
  .github/workflows/pre-merge.yaml
  .github/workflows/website.yaml
Labels: ci
