Repository detekt/detekt, pull requests merged in 2024-07, with the labels that each got.

#7422 Add alias `PropertyName` for `VariableNaming` rule
  detekt-core/src/main/resources/default-detekt-config.yml
  detekt-rules-naming/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/naming/VariableNaming.kt
Labels: rules

#7423 Use the anchor which is already present before
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/ClassOrdering.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/ClassOrderingSpec.kt
Labels: rules

#7426 Add enum entry check in `UndocumentedPublicProperty`
  detekt-rules-documentation/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/documentation/UndocumentedPublicProperty.kt
  detekt-rules-documentation/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/documentation/UndocumentedPublicClassSpec.kt
  detekt-rules-documentation/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/documentation/UndocumentedPublicPropertySpec.kt
Labels: rules, pick request

#7432 Exclude non-existent paths from classpath input
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/invoke/CliArgument.kt
Labels: gradle-plugin

#7361 #7360: Add 'assign' to operatorSet of UnusedImport
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnusedImport.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnusedImportSpec.kt
Labels: rules

#7429 Update minor logic for checking `isExplicitApiModeActive`
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/RedundantVisibilityModifier.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/RedundantVisibilityModifierSpec.kt
Labels: rules

#7446 Remove hash from class name in debug output
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/extensions/Loading.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/rules/RuleSets.kt
Labels: core

#7444 BracesOnIfStatements: fix false-positive when chained
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/BracesOnIfStatements.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/BracesOnIfStatementsSpec.kt
Labels: rules

#7412 Validate the gradle wrapper on each gradle setup
  .github/workflows/codecoverage.yaml
  .github/workflows/deploy-snapshot.yaml
  .github/workflows/detekt-with-type-resolution.yaml
  .github/workflows/gradle-wrapper-validation.yml
  .github/workflows/pre-merge.yaml
  .github/workflows/website.yaml
Labels: ci

#7435 Add `BigDecimal(kotlin.String)` to `ForbiddenMethodCall`
  detekt-core/src/main/resources/default-detekt-config.yml
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/ForbiddenMethodCall.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/ForbiddenMethodCallSpec.kt
Labels: rules

#7259 Make `Entity.ktElement` no nullable
  detekt-api/build.gradle.kts
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/Entity.kt
  detekt-api/src/test/kotlin/io/gitlab/arturbosch/detekt/api/CodeSmellSpec.kt
  detekt-api/src/test/kotlin/io/gitlab/arturbosch/detekt/api/CorrectableCodeSmellSpec.kt
  detekt-api/src/testFixtures/kotlin/io/gitlab/arturbosch/detekt/test/TestFactory.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/Analyzer.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/suppressors/AnnotationSuppressor.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/suppressors/FunctionSuppressor.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/suppressors/Builders.kt
  detekt-report-html/src/main/kotlin/io/github/detekt/report/html/HtmlOutputReport.kt
  detekt-report-html/src/test/kotlin/io/github/detekt/report/html/HtmlOutputReportSpec.kt
  detekt-report-html/src/test/resources/HtmlOutputFormatTest.html
  detekt-report-md/src/main/kotlin/io/github/detekt/report/md/MdOutputReport.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/VarCouldBeValSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/optional/MandatoryBracesLoopsSpec.kt
  detekt-test-utils/src/main/kotlin/io/github/detekt/test/utils/internal/FakeKtElement.kt
  detekt-test/src/main/kotlin/io/gitlab/arturbosch/detekt/test/FindingsAssertions.kt
  detekt-test/src/main/kotlin/io/gitlab/arturbosch/detekt/test/RuleExtensions.kt
Labels: rules, api, core, build, suppressors, breaking change

#7263 Run same rule multiple times with different configuration
  detekt-cli/src/main/kotlin/io/gitlab/arturbosch/detekt/cli/CliArgs.kt
  detekt-cli/src/main/kotlin/io/gitlab/arturbosch/detekt/cli/Spec.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/Analyzer.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/config/validation/InvalidPropertiesConfigValidator.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/rules/RuleSets.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/AnalyzerSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/config/validation/InvalidPropertiesConfigValidatorSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/rules/RuleSetsSpec.kt
  detekt-core/src/test/resources/config_validation/rule-id.yml
  detekt-tooling/api/detekt-tooling.api
  detekt-tooling/src/main/kotlin/io/github/detekt/tooling/api/spec/RulesSpec.kt
Labels: api, core, cli, notable changes

#7473 Switch to Shadow plugin fork
  detekt-cli/build.gradle.kts
  detekt-compiler-plugin/build.gradle.kts
  detekt-generator/build.gradle.kts
Labels: build

#7469 Remove `Compactable`
  detekt-api/api/detekt-api.api
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/Entity.kt
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/Location.kt
  detekt-api/src/test/kotlin/io/gitlab/arturbosch/detekt/api/EntitySpec.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/reporting/Reporting.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/reporting/console/LiteIssuesReport.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/reporting/console/FileBasedIssuesReportSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/reporting/console/IssuesReportSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/reporting/console/LiteIssuesReportSpec.kt
  detekt-report-txt/src/main/kotlin/io/github/detekt/report/txt/TxtOutputReport.kt
  detekt-report-txt/src/test/kotlin/io/github/detekt/report/txt/TxtOutputReportSpec.kt
Labels: api, core, reports, breaking change

#7479 Use sortedByDescending
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/extensions/Loading.kt
Labels: core, housekeeping

#6892 Add Gradle pre-commit hook to docs
  website/docs/gettingstarted/git-pre-commit-hook.md
  website/versioned_docs/version-1.23.1/gettingstarted/git-pre-commit-hook.md
  website/versioned_docs/version-1.23.3/gettingstarted/git-pre-commit-hook.md
  website/versioned_docs/version-1.23.4/gettingstarted/git-pre-commit-hook.md
  website/versioned_docs/version-1.23.5/gettingstarted/git-pre-commit-hook.md
  website/versioned_docs/version-1.23.6/gettingstarted/git-pre-commit-hook.md
Labels: documentation, never gets stale

#7481 Suppress missleading warning
  detekt-report-md/src/main/kotlin/io/github/detekt/report/md/MdOutputReport.kt
Labels: housekeeping

#7430 Use `isExplicitApiModeActive` in `OptionalUnit` rule
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/optional/OptionalUnit.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/optional/OptionalUnitSpec.kt
Labels: rules

#7482 Pass API & language versions to source set analysis tasks
  detekt-gradle-plugin/src/main/kotlin/dev/detekt/gradle/plugin/DetektBasePlugin.kt
Labels: gradle-plugin

#7419 Add rule `ErrorUsageWithThrowable`
  detekt-core/src/main/resources/default-detekt-config.yml
  detekt-rules-exceptions/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/exceptions/ErrorUsageWithThrowable.kt
  detekt-rules-exceptions/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/exceptions/ExceptionsProvider.kt
  detekt-rules-exceptions/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/exceptions/ErrorUsageWithThrowableSpec.kt
Labels: rules, notable changes

#7483 Use compat functions where Gradle version checks are required
  detekt-gradle-plugin/config/gradle-plugin-detekt.yml
  detekt-gradle-plugin/src/main/kotlin/dev/detekt/gradle/plugin/DetektBasePlugin.kt
  detekt-gradle-plugin/src/main/kotlin/dev/detekt/gradle/plugin/internal/GradleCompat.kt
  detekt-gradle-plugin/src/main/kotlin/dev/detekt/gradle/plugin/internal/SharedTasks.kt
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/DetektPlugin.kt
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/internal/SharedTasks.kt
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/invoke/DetektInvoker.kt
Labels: gradle-plugin

#7493 Show the number of compiler issues found while analysing code
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/tooling/Lifecycle.kt
  detekt-parser/src/main/kotlin/io/github/detekt/parser/BindingContextUtils.kt
  detekt-parser/src/test/kotlin/io/github/detekt/parser/DetektMessageCollectorSpec.kt
Labels: core, parser

#7424 Add `ForbiddenNamedParam` rule
  detekt-core/src/main/resources/default-detekt-config.yml
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/ForbiddenMethodCall.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/ForbiddenNamedParam.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/StyleGuideProvider.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/ForbiddenNamedParamSpec.kt
Labels: rules, notable changes

#7220 Check for root of receiver in selector expression
  detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/NullCheckOnMutableProperty.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnnecessaryLet.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/VarCouldBeVal.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnnecessaryLetSpec.kt
Labels: rules

#7490 Add flag to enable and disable type resolution mode
  detekt-cli/src/main/kotlin/io/gitlab/arturbosch/detekt/cli/CliArgs.kt
  detekt-cli/src/main/kotlin/io/gitlab/arturbosch/detekt/cli/Spec.kt
  detekt-cli/src/test/kotlin/io/gitlab/arturbosch/detekt/cli/CliArgsSpec.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/settings/EnvironmentAware.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/tooling/Lifecycle.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/settings/EnvironmentFacadeSpec.kt
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/invoke/CliArgument.kt
  detekt-gradle-plugin/src/test/kotlin/io/gitlab/arturbosch/detekt/DetektJvmSpec.kt
  detekt-gradle-plugin/src/test/kotlin/io/gitlab/arturbosch/detekt/DetektPlainSpec.kt
  detekt-parser/src/main/kotlin/io/github/detekt/parser/BindingContextUtils.kt
  detekt-tooling/api/detekt-tooling.api
  detekt-tooling/src/main/kotlin/io/github/detekt/tooling/api/AnalysisMode.kt
  detekt-tooling/src/main/kotlin/io/github/detekt/tooling/api/spec/ProjectSpec.kt
  detekt-tooling/src/main/kotlin/io/github/detekt/tooling/dsl/ProjectSpecBuilder.kt
Labels: api, core, cli, gradle-plugin, notable changes, parser

#7494 Stop saying "type resolution" is experimental
  detekt-cli/src/main/kotlin/io/gitlab/arturbosch/detekt/cli/CliArgs.kt
  detekt-gradle-plugin/src/main/kotlin/dev/detekt/gradle/plugin/internal/DetektAndroidCompilations.kt
  detekt-gradle-plugin/src/main/kotlin/dev/detekt/gradle/plugin/internal/SharedTasks.kt
  website/docs/gettingstarted/gradle.mdx
  website/docs/gettingstarted/type-resolution.md
Labels: cli, gradle-plugin, documentation, notable changes

#7476 Improve how we create Fakes of `SetupContext`
  detekt-api/src/testFixtures/kotlin/io/gitlab/arturbosch/detekt/test/EmptySetupContext.kt
  detekt-api/src/testFixtures/kotlin/io/gitlab/arturbosch/detekt/test/TestSetupContext.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/baseline/BaselineResultMappingSpec.kt
  detekt-report-sarif/src/test/kotlin/io/github/detekt/report/sarif/SarifOutputReportSpec.kt
  detekt-rules-documentation/build.gradle.kts
  detekt-rules-documentation/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/documentation/AbsentOrWrongFileLicenseSpec.kt
  detekt-rules/build.gradle.kts
  detekt-rules/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/documentation/LicenceHeaderLoaderExtensionSpec.kt
Labels: rules, api, core, build, housekeeping

#7478 Make `ConsoleReport` an interface instead of an abstract class
  detekt-api/api/detekt-api.api
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/ConsoleReport.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/reporting/console/AbstractIssuesReport.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/reporting/console/ComplexityReport.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/reporting/console/NotificationReport.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/reporting/console/ProjectStatisticsReport.kt
  detekt-sample-extensions/src/main/kotlin/io/gitlab/arturbosch/detekt/sample/extensions/reports/QualifiedNamesConsoleReport.kt
Labels: api, core, reports, breaking change

#7498 Disable duplicated rule on detekt project
  config/detekt/detekt.yml
Labels: housekeeping

#7499 Remove `Rule.lint(Path)` overload function from `:detekt-test`
  detekt-test/api/detekt-test.api
  detekt-test/src/main/kotlin/io/gitlab/arturbosch/detekt/test/RuleExtensions.kt
Labels: api, breaking change

#7502 Version catalog clean up
  build-logic/build.gradle.kts
  detekt-api/build.gradle.kts
  detekt-cli/build.gradle.kts
  detekt-compiler-plugin/build.gradle.kts
  detekt-core/build.gradle.kts
  detekt-formatting/build.gradle.kts
  detekt-generator/build.gradle.kts
  detekt-gradle-plugin/build.gradle.kts
  detekt-metrics/build.gradle.kts
  detekt-parser/build.gradle.kts
  detekt-psi-utils/build.gradle.kts
  detekt-report-html/build.gradle.kts
  detekt-report-md/build.gradle.kts
  detekt-report-sarif/build.gradle.kts
  detekt-report-txt/build.gradle.kts
  detekt-report-xml/build.gradle.kts
  detekt-rules-complexity/build.gradle.kts
  detekt-rules-coroutines/build.gradle.kts
  detekt-rules-documentation/build.gradle.kts
  detekt-rules-empty/build.gradle.kts
  detekt-rules-errorprone/build.gradle.kts
  detekt-rules-exceptions/build.gradle.kts
  detekt-rules-libraries/build.gradle.kts
  detekt-rules-naming/build.gradle.kts
  detekt-rules-performance/build.gradle.kts
  detekt-rules-ruleauthors/build.gradle.kts
  detekt-rules-style/build.gradle.kts
  detekt-rules/build.gradle.kts
  detekt-sample-extensions/build.gradle.kts
  detekt-test-utils/build.gradle.kts
  detekt-test/build.gradle.kts
  detekt-tooling/build.gradle.kts
  detekt-utils/build.gradle.kts
  gradle/libs.versions.toml
Labels: build, dependencies, housekeeping

#7497 Add alias for EnumNaming and EnumEntryNameCase
  detekt-core/src/main/resources/default-detekt-config.yml
  detekt-formatting/src/main/kotlin/io/gitlab/arturbosch/detekt/formatting/wrappers/EnumEntryNameCase.kt
  detekt-formatting/src/main/resources/config/config.yml
  detekt-rules-naming/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/naming/EnumNaming.kt
  detekt-tooling/src/main/kotlin/io/github/detekt/tooling/api/AnalysisMode.kt
Labels: rules, formatting
