Repository detekt/detekt, pull requests merged in 2024-10, with the labels that each got.

#7686 Remove helpUri from SARIF output
  detekt-report-sarif/src/main/kotlin/io/github/detekt/report/sarif/RuleDescriptors.kt
  detekt-report-sarif/src/test/resources/rule_warning.sarif.json
  detekt-report-sarif/src/test/resources/vanilla.sarif.json
Labels: reports

#7682 SARIF: Don't set level in reportingDescriptor if not set on rule
  detekt-report-sarif/src/main/kotlin/io/github/detekt/report/sarif/RuleDescriptors.kt
  detekt-report-sarif/src/test/resources/rule_warning.sarif.json
  detekt-report-sarif/src/test/resources/vanilla.sarif.json
Labels: reports, notable changes

#7645 Reference custom Gradle configurations lazily
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/DetektPlugin.kt
Labels: gradle-plugin

#7590 Make ForbiddenSuppress un-suppressable
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/suppressors/Suppressions.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/ForbiddenSuppress.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/ForbiddenSuppressSpec.kt
Labels: rules, core, suppressors

#7513 Remove `KtElement` from `Issue`
  detekt-api/api/detekt-api.api
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/Issue.kt
  detekt-api/src/testFixtures/kotlin/io/gitlab/arturbosch/detekt/test/TestFactory.kt
  detekt-compiler-plugin/src/main/kotlin/io/github/detekt/compiler/plugin/internal/MessageCollectorExtensions.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/Analyzer.kt
  detekt-report-xml/src/test/kotlin/io/github/detekt/report/xml/XmlOutputReportSpec.kt
Labels: api, core, reports, compiler-plugin, breaking change

#7713 Fixed Broken links to the Kotlin hidden costs benchmarking page
  detekt-rules-performance/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/performance/ForEachOnRange.kt
  detekt-rules-performance/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/performance/SpreadOperator.kt
  website/versioned_docs/version-1.21.0/rules/performance.md
  website/versioned_docs/version-1.22.0/rules/performance.md
  website/versioned_docs/version-1.23.0/rules/performance.md
  website/versioned_docs/version-1.23.1/rules/performance.md
  website/versioned_docs/version-1.23.3/rules/performance.md
  website/versioned_docs/version-1.23.4/rules/performance.md
  website/versioned_docs/version-1.23.5/rules/performance.md
  website/versioned_docs/version-1.23.6/rules/performance.md
  website/versioned_docs/version-1.23.7/rules/performance.md
Labels: rules, documentation

#7581 [7434] doc fix `basePath` convention
  website/docs/gettingstarted/gradle.mdx
Labels: documentation

#7676 Remove version references from SARIF output
  detekt-report-sarif/src/main/kotlin/io/github/detekt/report/sarif/SarifOutputReport.kt
  detekt-report-sarif/src/test/resources/rule_warning.sarif.json
  detekt-report-sarif/src/test/resources/vanilla.sarif.json
Labels: reports

#7730 Use settings file to set up repositories in tests
  detekt-gradle-plugin/src/functionalTest/kotlin/io/gitlab/arturbosch/detekt/DetektAndroidSpec.kt
  detekt-gradle-plugin/src/functionalTest/kotlin/io/gitlab/arturbosch/detekt/DetektMultiplatformSpec.kt
  detekt-gradle-plugin/src/functionalTest/kotlin/io/gitlab/arturbosch/detekt/DetektReportMergeSpec.kt
  detekt-gradle-plugin/src/functionalTest/kotlin/io/gitlab/arturbosch/detekt/DetektTaskMultiModuleSpec.kt
  detekt-gradle-plugin/src/functionalTest/kotlin/io/gitlab/arturbosch/detekt/report/ReportMergeSpec.kt
  detekt-gradle-plugin/src/testFixtures/kotlin/io/gitlab/arturbosch/detekt/testkit/DslGradleRunner.kt
Labels: gradle-plugin, housekeeping

#7722 Update build-logic versions
  build-logic/src/main/kotlin/Versions.kt
  detekt-report-md/src/test/kotlin/io/github/detekt/report/md/MdOutputReportSpec.kt
Labels: build

#7716 Simplify entity
  detekt-api/api/detekt-api.api
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/Entity.kt
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/Issue.kt
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/internal/Signatures.kt
  detekt-api/src/test/kotlin/io/gitlab/arturbosch/detekt/api/CodeSmellSpec.kt
  detekt-api/src/test/kotlin/io/gitlab/arturbosch/detekt/api/EntitySpec.kt
  detekt-api/src/testFixtures/kotlin/io/gitlab/arturbosch/detekt/test/TestFactory.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/Analyzer.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/suppressors/Builders.kt
  detekt-rules-naming/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/naming/MatchingDeclarationName.kt
Labels: rules, api, core, breaking change

#7720 Update DetektVersion in the documentation to the latest
  website/src/remark/detektVersionReplace.js
Labels: documentation

#7731 Enable Isolated Projects for Gradle tests by default
  detekt-gradle-plugin/src/functionalTest/kotlin/io/gitlab/arturbosch/detekt/DetektMultiplatformSpec.kt
  detekt-gradle-plugin/src/functionalTest/kotlin/io/gitlab/arturbosch/detekt/DetektReportMergeSpec.kt
  detekt-gradle-plugin/src/functionalTest/kotlin/io/gitlab/arturbosch/detekt/DetektTaskMultiModuleSpec.kt
  detekt-gradle-plugin/src/functionalTest/kotlin/io/gitlab/arturbosch/detekt/report/ReportMergeSpec.kt
  detekt-gradle-plugin/src/testFixtures/kotlin/io/gitlab/arturbosch/detekt/testkit/DslGradleRunner.kt
Labels: gradle-plugin

#7715 Fix `ThrowingExceptionsWithoutMessageOrCause` false positive
  detekt-rules-exceptions/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/exceptions/ThrowingExceptionsWithoutMessageOrCause.kt
  detekt-rules-exceptions/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/exceptions/ThrowingExceptionsWithoutMessageOrCauseSpec.kt
Labels: rules

#7635 Issue #7634: Make `UndocumentedPublicClass` configurable to flag `com…
  detekt-core/src/main/resources/default-detekt-config.yml
  detekt-rules-documentation/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/documentation/UndocumentedPublicClass.kt
  detekt-rules-documentation/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/documentation/UndocumentedPublicClassSpec.kt
Labels: rules, pick request

#7733 Fix error in paths filtering for detekt-cli
  detekt-cli/src/main/kotlin/io/gitlab/arturbosch/detekt/cli/Spec.kt
  detekt-cli/src/test/kotlin/io/gitlab/arturbosch/detekt/cli/CliArgsSpec.kt
  detekt-utils/src/main/kotlin/io/github/detekt/utils/PathFilters.kt
Labels: cli

#7509 UnnecessaryReversed style rule
  detekt-core/src/main/resources/default-detekt-config.yml
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/StyleGuideProvider.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnnecessaryReversed.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnnecessaryReversedSpec.kt
Labels: rules

#7737 Stop Renovate from grouping Poko & Kotlin updates
  .github/renovate.json
Labels: housekeeping

#7664 SuspendFunInFinallySection - New rule for linting suspend calls in `finally` section
  detekt-core/src/main/resources/default-detekt-config.yml
  detekt-rules-coroutines/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/coroutines/CoroutinesProvider.kt
  detekt-rules-coroutines/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/coroutines/SuspendFunInFinallySection.kt
  detekt-rules-coroutines/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/coroutines/SuspendFunInFinallySectionSpec.kt
Labels: rules

#7637 Sort results in compiler plugin by column:line
  detekt-api/api/detekt-api.api
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/Issue.kt
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/Location.kt
  detekt-compiler-plugin/src/main/kotlin/io/github/detekt/compiler/plugin/internal/MessageCollectorExtensions.kt
  detekt-compiler-plugin/src/test/kotlin/io/github/detekt/compiler/plugin/CompilerTest.kt
  detekt-compiler-plugin/src/test/kotlin/io/github/detekt/compiler/plugin/util/CompilerAssertions.kt
  detekt-compiler-plugin/src/test/kotlin/io/github/detekt/compiler/plugin/util/CompilerTestUtils.kt
Labels: api, compiler-plugin

#7753 Map `EmptyList` to `List`
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/config/BaseConfig.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/config/YamlConfigSpec.kt
Labels: core

#7752 [MaxLineLength] - Sort the returned elements by text offset
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/MaxLineLength.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/MaxLineLengthSpec.kt
Labels: rules

#7750 Change `Entity.signature`
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/internal/Signatures.kt
  detekt-api/src/test/kotlin/io/gitlab/arturbosch/detekt/api/EntitySpec.kt
  detekt-api/src/test/kotlin/io/gitlab/arturbosch/detekt/api/internal/SignaturesSpec.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/baseline/DefaultBaseline.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/baseline/BaselineResultMappingSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/baseline/DefaultBaselineKtTest.kt
  detekt-core/src/test/resources/baseline_feature/valid-baseline.xml
  detekt-formatting/src/test/kotlin/io/gitlab/arturbosch/detekt/formatting/FormattingRuleSpec.kt
  detekt-formatting/src/test/kotlin/io/gitlab/arturbosch/detekt/formatting/MaximumLineLengthSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnusedParameterSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnusedPrivateFunctionSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnusedPrivatePropertySpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/VarCouldBeValSpec.kt
Labels: rules, api, core, formatting, breaking change

#7756 [UnusedPrivateClass] - Check the right of `::` even when LHS is missing
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnusedPrivateClass.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnusedPrivateClassSpec.kt
Labels: rules
