Repository detekt/detekt, pull requests merged in 2024-11, with the labels that each got.

#7773 Move Issue from interface to class
  detekt-api/api/detekt-api.api
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/Issue.kt
  detekt-api/src/testFixtures/kotlin/io/gitlab/arturbosch/detekt/test/TestFactory.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/Analyzer.kt
Labels: api, core

#7776 Warn for rules used with multiInstance when no bindingContext
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/Analyzer.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/AnalyzerSpec.kt
Labels: core

#7714 Make "detekt-sample-extensions" project self-contained
  .github/workflows/pre-merge.yaml
  detekt-sample-extensions/build.gradle.kts
  detekt-sample-extensions/gradle/wrapper/gradle-wrapper.jar
  detekt-sample-extensions/gradle/wrapper/gradle-wrapper.properties
  detekt-sample-extensions/gradlew
  detekt-sample-extensions/gradlew.bat
  detekt-sample-extensions/settings.gradle.kts
  detekt-sample-extensions/src/main/kotlin/io/gitlab/arturbosch/detekt/sample/extensions/SampleProvider.kt
  detekt-sample-extensions/src/main/kotlin/io/gitlab/arturbosch/detekt/sample/extensions/processors/QualifiedNameProcessor.kt
  detekt-sample-extensions/src/main/kotlin/io/gitlab/arturbosch/detekt/sample/extensions/reports/QualifiedNamesConsoleReport.kt
  detekt-sample-extensions/src/main/kotlin/io/gitlab/arturbosch/detekt/sample/extensions/reports/Reports.kt
  detekt-sample-extensions/src/main/kotlin/io/gitlab/arturbosch/detekt/sample/extensions/rules/TooManyFunctions.kt
  detekt-sample-extensions/src/main/kotlin/io/gitlab/arturbosch/detekt/sample/extensions/rules/TooManyFunctionsTwo.kt
  detekt-sample-extensions/src/test/kotlin/io/gitlab/arturbosch/detekt/sample/extensions/processors/QualifiedNameProcessorSpec.kt
  settings.gradle.kts
Labels: build, ci

#7800 Replace deprecated toUpperCase() with uppercase()
  detekt-rules-errorprone/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/IgnoredReturnValueSpec.kt
Labels: rules, housekeeping

#7799 Don't use multiple targets of the same type in tests
  detekt-gradle-plugin/src/functionalTest/kotlin/io/gitlab/arturbosch/detekt/DetektMultiplatformSpec.kt
Labels: gradle-plugin, housekeeping

#7798 Decouple DGP compilation version from the rest of the project
  detekt-gradle-plugin/build.gradle.kts
  detekt-gradle-plugin/gradle.properties
Labels: build, housekeeping
