Repository detekt/detekt, pull requests merged in 2025-08, with the labels that each got.

#8336 Migrate VarCouldBeVal to Analysis API
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/VarCouldBeVal.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/VarCouldBeValSpec.kt
Labels: rules

#8395 Create a DAGP dependency bundle for junit-jupiter
  build.gradle.kts
Labels: build

#8398 Add kotlin-compiler testImplementation dependency to all rules projects
  detekt-formatting/build.gradle.kts
  detekt-rules-complexity/build.gradle.kts
  detekt-rules-coroutines/build.gradle.kts
  detekt-rules-documentation/build.gradle.kts
  detekt-rules-empty/build.gradle.kts
  detekt-rules-errorprone/build.gradle.kts
  detekt-rules-exceptions/build.gradle.kts
  detekt-rules-libraries/build.gradle.kts
  detekt-rules-naming/build.gradle.kts
  detekt-rules-performance/build.gradle.kts
  detekt-rules-ruleauthors/build.gradle.kts
  detekt-rules-style/build.gradle.kts
Labels: build

#8332 Migrate MissingUseCall to Analysis API
  detekt-rules-coroutines/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/coroutines/SleepInsteadOfDelay.kt
  detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/MissingUseCall.kt
  detekt-rules-performance/src/main/kotlin/dev/detekt/rules/performance/ForEachOnRange.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/CanBeNonNullable.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/StringShouldBeRawString.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UseOrEmpty.kt
Labels: rules

#8401 Remove unused version catalog entry
  gradle/libs.versions.toml
Labels: housekeeping

#8393 Properly configure test suite in detekt-sample-extensions
  detekt-sample-extensions/build.gradle.kts
Labels: build

#8402 Apply build-health plugin to DGP build
  .github/workflows/pre-merge.yaml
  detekt-gradle-plugin/build.gradle.kts
  detekt-gradle-plugin/gradle.properties
  detekt-gradle-plugin/settings.gradle.kts
Labels: build, ci

#8408 Migrate UnusedUnaryOperator to Analysis API
  detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/UnusedUnaryOperator.kt
Labels: rules

#8420 Remove functions from `FindingsAssert` in favor of the ones in `FindingAssert`
  detekt-formatting/src/test/kotlin/io/gitlab/arturbosch/detekt/formatting/IndentationSpec.kt
  detekt-formatting/src/test/kotlin/io/gitlab/arturbosch/detekt/formatting/WrappingSpec.kt
  detekt-rules-complexity/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/complexity/LabeledExpressionSpec.kt
  detekt-rules-complexity/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/complexity/NestedScopeFunctionsSpec.kt
  detekt-rules-documentation/src/test/kotlin/dev/detekt/rules/documentation/EndOfSentenceFormatSpec.kt
  detekt-rules-documentation/src/test/kotlin/dev/detekt/rules/documentation/UndocumentedPublicPropertySpec.kt
  detekt-rules-empty/src/test/kotlin/dev/detekt/rules/empty/EmptyFunctionBlockSpec.kt
  detekt-rules-empty/src/test/kotlin/dev/detekt/rules/empty/EmptyKotlinFileSpec.kt
  detekt-rules-errorprone/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/CastNullableToNonNullableTypeSpec.kt
  detekt-rules-errorprone/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/CastToNullableTypeSpec.kt
  detekt-rules-errorprone/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/DoubleMutabilityForCollectionSpec.kt
  detekt-rules-errorprone/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/IgnoredReturnValueSpec.kt
  detekt-rules-errorprone/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/UnreachableCatchBlockSpec.kt
  detekt-rules-errorprone/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/UnusedUnaryOperatorSpec.kt
  detekt-rules-naming/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/naming/ConstructorParameterNamingSpec.kt
  detekt-rules-naming/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/naming/FunctionNamingSpec.kt
  detekt-rules-naming/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/naming/MatchingDeclarationNameSpec.kt
  detekt-rules-naming/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/naming/NoNameShadowingSpec.kt
  detekt-rules-naming/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/naming/ObjectPropertyNamingSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/AbstractClassCanBeConcreteClassSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/AbstractClassCanBeInterfaceSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/AlsoCouldBeApplySpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/DoubleNegativeLambdaSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/ForbiddenMethodCallSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/ForbiddenNamedParamSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/ForbiddenSuppressSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/MagicNumberSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/MaxLineLengthSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/MultilineRawStringIndentationSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/NewLineAtEndOfFileSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/ProtectedMemberInFinalClassSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/RedundantHigherOrderMapUsageSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/SerialVersionUIDInSerializableClassSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnnecessaryReversedSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnusedParameterSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnusedPrivateClassSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnusedPrivateFunctionSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnusedPrivatePropertySpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/UseCheckOrErrorSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/UseDataClassSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/UseIfEmptyOrIfBlankSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/UseIsNullOrEmptySpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/UseOrEmptySpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/UseRequireSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/movelambdaout/UnnecessaryBracesAroundTrailingLambdaSpec.kt
  detekt-test/api/detekt-test.api
  detekt-test/src/main/kotlin/dev/detekt/test/FindingsAssertions.kt
Labels: rules, api, formatting

#8412 Migrate ExplicitCollectionElementAccessMethod to Analysis API
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/ExplicitCollectionElementAccessMethod.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/ExplicitCollectionElementAccessMethodSpec.kt
  detekt-rules-style/src/test/resources/java/com/example/fromjava/Rect.java
  detekt-test-utils/api/detekt-test-utils.api
  detekt-test-utils/src/main/kotlin/dev/detekt/test/utils/KotlinAnalysisApiEngine.kt
  detekt-test/src/main/kotlin/dev/detekt/test/RuleExtensions.kt
Labels: rules, api

#8429 Remove unnecessary ModifierListSpacing suppressions
  detekt-rules-coroutines/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/coroutines/SleepInsteadOfDelay.kt
  detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/MissingUseCall.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnusedPrivateProperty.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnusedVariable.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/VarCouldBeVal.kt
Labels: rules, housekeeping

#8427 Migrate ObjectLiteralToLambda to Analysis API
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/ObjectLiteralToLambda.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/ObjectLiteralToLambdaSpec.kt
  detekt-rules-style/src/test/resources/java/com/example/fromjava/OnlyDefaultMethods.java
  detekt-rules-style/src/test/resources/java/com/example/fromjava/SamWithDefaultMethods.java
Labels: rules, api

#8300 [ForbiddenMethodCall] Fix false positive with getters and setters
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/ForbiddenMethodCall.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/ForbiddenMethodCallSpec.kt
Labels: rules

#8433 Migrate UnnecessaryApply to Analysis API
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnnecessaryApply.kt
Labels: rules

#8464 Correct detekt-compiler-plugin dependencies
  detekt-compiler-plugin/build.gradle.kts
Labels: build

#8463 Correct detekt-api dependencies
  detekt-api/build.gradle.kts
Labels: build

#8459 DRY coroutines helpers
  detekt-rules-coroutines/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/coroutines/utils/TypeUtils.kt
Labels: rules, housekeeping

#8465 Correct detekt-cli dependencies
  detekt-cli/build.gradle.kts
Labels: build

#8448 Add new ForbiddenOptIn rule
  detekt-core/src/main/resources/default-detekt-config.yml
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/ForbiddenOptIn.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/StyleGuideProvider.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/ForbiddenOptInSpec.kt
Labels: rules

#8495 Add more cases around variable with lambda
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/movelambdaout/UnnecessaryBracesAroundTrailingLambdaSpec.kt
Labels: rules

#8482 Migrate `UnnecessaryBracesAroundTrailingLambda` to Analysis API
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/movelambdaout/MoveLambdaOutsideParenthesesInspection.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/movelambdaout/UnnecessaryBracesAroundTrailingLambda.kt
Labels: rules

#8430 Reduce use of `FindingsAssert` assertions
  detekt-rules-complexity/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/complexity/CognitiveComplexMethodSpec.kt
  detekt-rules-complexity/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/complexity/CyclomaticComplexMethodSpec.kt
  detekt-rules-complexity/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/complexity/LargeClassSpec.kt
  detekt-rules-complexity/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/complexity/LongMethodSpec.kt
  detekt-rules-complexity/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/complexity/LongParameterListSpec.kt
  detekt-rules-complexity/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/complexity/MethodOverloadingSpec.kt
  detekt-rules-complexity/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/complexity/NestedBlockDepthSpec.kt
  detekt-rules-complexity/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/complexity/TooManyFunctionsSpec.kt
  detekt-rules-empty/src/test/kotlin/dev/detekt/rules/empty/EmptyClassBlockSpec.kt
  detekt-rules-errorprone/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/MissingUseCallSpec.kt
  detekt-rules-errorprone/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/PropertyUsedBeforeDeclarationSpec.kt
  detekt-rules-errorprone/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/UnnamedParameterUseSpec.kt
  detekt-rules-errorprone/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/UnnecessaryNotNullCheckSpec.kt
  detekt-rules-errorprone/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/UnnecessaryNotNullOperatorSpec.kt
  detekt-rules-errorprone/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/UnnecessarySafeCallSpec.kt
  detekt-rules-exceptions/src/test/kotlin/dev/detekt/rules/exceptions/ErrorUsageWithThrowableSpec.kt
  detekt-rules-naming/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/naming/BooleanPropertyNamingSpec.kt
  detekt-rules-naming/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/naming/ClassNamingSpec.kt
  detekt-rules-naming/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/naming/ConstructorParameterNamingSpec.kt
  detekt-rules-naming/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/naming/EnumNamingSpec.kt
  detekt-rules-naming/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/naming/FunctionNamingSpec.kt
  detekt-rules-naming/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/naming/InvalidPackageDeclarationSpec.kt
  detekt-rules-naming/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/naming/LambdaParameterNamingSpec.kt
  detekt-rules-naming/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/naming/NonBooleanPropertyWithPrefixIsSpec.kt
  detekt-rules-performance/src/test/kotlin/dev/detekt/rules/performance/UnnecessaryPartOfBinaryExpressionSpec.kt
  detekt-rules-ruleauthors/src/test/kotlin/dev/detekt/rules/ruleauthors/UseEntityAtNameSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/CascadingCallWrappingSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/ClassOrderingSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/ExplicitItLambdaMultipleParametersSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/ExplicitItLambdaParameterSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/ForbiddenAnnotationSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/ForbiddenCommentSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/ForbiddenImportSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/ForbiddenMethodCallSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/ForbiddenNamedParamSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/ForbiddenSuppressSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/LoopWithTooManyJumpStatementsSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/MaxLineLengthSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/MayBeConstantSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/NullableBooleanCheckSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/ObjectLiteralToLambdaSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/RedundantConstructorKeywordSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/TrailingWhitespaceSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnnecessaryAnnotationUseSiteTargetSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnnecessaryApplySpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnusedPrivateFunctionSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnusedPrivatePropertySpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnusedVariableSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/UseArrayLiteralsInAnnotationsSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/UseSumOfInsteadOfFlatMapSizeSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/UselessCallOnNotNullSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/VarCouldBeValSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/optional/MandatoryBracesLoopsSpec.kt
Labels: rules

#8477 Don't link to not released documentation
  website/src/data/marketplace.js
Labels: documentation

#8494 Simplify .gitignore
  .gitignore
Labels: housekeeping

#8518 Remove `FindingsAssert.hasEndSourceLocations()`
  detekt-rules-coroutines/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/coroutines/SuspendFunSwallowedCancellationSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/SerialVersionUIDInSerializableClassSpec.kt
  detekt-test/api/detekt-test.api
  detekt-test/src/main/kotlin/dev/detekt/test/FindingsAssertions.kt
Labels: rules, api

#8519 Remove `FindingsAssert.hasTextLocations(String)`
  detekt-rules-complexity/src/test/kotlin/dev/detekt/rules/complexity/LongMethodSpec.kt
  detekt-rules-naming/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/naming/LambdaParameterNamingSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/ForbiddenAnnotationSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/MaxLineLengthSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/MultilineRawStringIndentationSpec.kt
  detekt-test/api/detekt-test.api
  detekt-test/src/main/kotlin/dev/detekt/test/FindingsAssertions.kt
Labels: rules, api

#8529 Improve format of asserts
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/MagicNumberSpec.kt
Labels: rules

#8523 Do not put default into the yaml file when it is dynamic.
  detekt-api/src/test/kotlin/dev/detekt/api/ConfigPropertySpec.kt
  detekt-formatting/src/main/resources/config/config.yml
  detekt-generator/src/main/kotlin/dev/detekt/generator/printer/defaultconfig/RuleSetConfigPrinter.kt
  detekt-generator/src/test/kotlin/dev/detekt/generator/printer/defaultconfig/ConfigPrinterSpec.kt
  detekt-utils/src/main/kotlin/dev/detekt/utils/Yaml.kt
Labels: api, formatting

#8534 `:detekt-test` doesn't need to depend on `:detekt-test-assertj`
  detekt-test/build.gradle.kts
Labels: build

#8512 Migrate SuspendFunSwallowedCancellation rule to Analysis API
  detekt-rules-coroutines/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/coroutines/SuspendFunSwallowedCancellation.kt
  detekt-rules-coroutines/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/coroutines/SuspendFunSwallowedCancellationSpec.kt
Labels: rules

#8497 Migrate `RedundantSuspendModifier` rule to Analysis Api
  detekt-rules-coroutines/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/coroutines/RedundantSuspendModifier.kt
  detekt-rules-coroutines/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/coroutines/SuspendFunSwallowedCancellation.kt
  detekt-rules-coroutines/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/coroutines/utils/TypeUtils.kt
  detekt-rules-coroutines/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/coroutines/RedundantSuspendModifierSpec.kt
Labels: rules

#8542 Change package of :detekt-rules-coroutines to `dev.detekt.rules.coroutines`
  detekt-core/src/test/kotlin/dev/detekt/core/config/DetektYmlConfigSpec.kt
  detekt-rules-coroutines/src/main/kotlin/dev/detekt/rules/coroutines/CoroutineLaunchedInTestWithoutRunTest.kt
  detekt-rules-coroutines/src/main/kotlin/dev/detekt/rules/coroutines/CoroutinesProvider.kt
  detekt-rules-coroutines/src/main/kotlin/dev/detekt/rules/coroutines/GlobalCoroutineUsage.kt
  detekt-rules-coroutines/src/main/kotlin/dev/detekt/rules/coroutines/InjectDispatcher.kt
  detekt-rules-coroutines/src/main/kotlin/dev/detekt/rules/coroutines/RedundantSuspendModifier.kt
  detekt-rules-coroutines/src/main/kotlin/dev/detekt/rules/coroutines/SleepInsteadOfDelay.kt
  detekt-rules-coroutines/src/main/kotlin/dev/detekt/rules/coroutines/SuspendFunInFinallySection.kt
  detekt-rules-coroutines/src/main/kotlin/dev/detekt/rules/coroutines/SuspendFunSwallowedCancellation.kt
  detekt-rules-coroutines/src/main/kotlin/dev/detekt/rules/coroutines/SuspendFunWithCoroutineScopeReceiver.kt
  detekt-rules-coroutines/src/main/kotlin/dev/detekt/rules/coroutines/SuspendFunWithFlowReturnType.kt
  detekt-rules-coroutines/src/main/kotlin/dev/detekt/rules/coroutines/utils/TypeUtils.kt
  detekt-rules-coroutines/src/main/resources/META-INF/services/dev.detekt.api.RuleSetProvider
  detekt-rules-coroutines/src/test/kotlin/dev/detekt/rules/coroutines/CoroutineLaunchedInTestWithoutRunTestSpec.kt
  detekt-rules-coroutines/src/test/kotlin/dev/detekt/rules/coroutines/GlobalCoroutineUsageSpec.kt
  detekt-rules-coroutines/src/test/kotlin/dev/detekt/rules/coroutines/InjectDispatcherSpec.kt
  detekt-rules-coroutines/src/test/kotlin/dev/detekt/rules/coroutines/RedundantSuspendModifierSpec.kt
  detekt-rules-coroutines/src/test/kotlin/dev/detekt/rules/coroutines/SleepInsteadOfDelaySpec.kt
  detekt-rules-coroutines/src/test/kotlin/dev/detekt/rules/coroutines/SuspendFunInFinallySectionSpec.kt
  detekt-rules-coroutines/src/test/kotlin/dev/detekt/rules/coroutines/SuspendFunSwallowedCancellationSpec.kt
  detekt-rules-coroutines/src/test/kotlin/dev/detekt/rules/coroutines/SuspendFunWithCoroutineScopeReceiverSpec.kt
  detekt-rules-coroutines/src/test/kotlin/dev/detekt/rules/coroutines/SuspendFunWithFlowReturnTypeSpec.kt
  detekt-rules/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/RuleProviderSpec.kt
Labels: rules, core

#8547 Refactor `Detektion` implementations in core
  detekt-core/src/main/kotlin/dev/detekt/core/DelegatingResult.kt
  detekt-core/src/main/kotlin/dev/detekt/core/DetektResult.kt
  detekt-core/src/main/kotlin/dev/detekt/core/extensions/Reporting.kt
Labels: core

#8559 Refactor `AnalysisFacade`
  detekt-core/src/main/kotlin/dev/detekt/core/config/FailurePolicies.kt
  detekt-core/src/main/kotlin/dev/detekt/core/tooling/AnalysisFacade.kt
  detekt-core/src/test/kotlin/dev/detekt/core/config/FailurePoliciesKtTest.kt
Labels: core

#8514 Add tests to `FindingAssert` - Prerequisites
  detekt-api/build.gradle.kts
  detekt-api/src/testFixtures/kotlin/dev/detekt/api/testfixtures/TestFactory.kt
  detekt-core/src/test/kotlin/dev/detekt/core/baseline/BaselineResultMappingSpec.kt
  detekt-core/src/test/kotlin/dev/detekt/core/reporting/OutputFacadeSpec.kt
  detekt-core/src/test/kotlin/dev/detekt/core/reporting/console/FileBasedIssuesReportSpec.kt
  detekt-core/src/test/kotlin/dev/detekt/core/reporting/console/IssuesReportSpec.kt
  detekt-core/src/test/kotlin/dev/detekt/core/reporting/console/LiteIssuesReportSpec.kt
  detekt-report-html/src/test/kotlin/dev/detekt/report/html/HtmlOutputReportSpec.kt
  detekt-report-md/src/test/kotlin/dev/detekt/report/md/MdOutputReportSpec.kt
  detekt-report-sarif/src/test/kotlin/dev/detekt/report/sarif/SarifOutputReportSpec.kt
  detekt-report-xml/src/test/kotlin/dev/detekt/report/xml/XmlOutputReportSpec.kt
Labels: api, core, build

#8556 Detektion doesn't implement `UserDataHolder`
  detekt-api/api/detekt-api.api
  detekt-api/src/main/kotlin/dev/detekt/api/Detektion.kt
  detekt-api/src/testFixtures/kotlin/dev/detekt/api/testfixtures/TestDetektion.kt
  detekt-core/src/main/kotlin/dev/detekt/core/DetektResult.kt
  detekt-core/src/test/kotlin/dev/detekt/core/reporting/console/ComplexityReportSpec.kt
  detekt-metrics/src/main/kotlin/dev/detekt/metrics/ComplexityMetric.kt
  detekt-metrics/src/main/kotlin/dev/detekt/metrics/processors/AbstractProcessor.kt
  detekt-metrics/src/test/kotlin/dev/detekt/metrics/processors/ProjectCLOCProcessorSpec.kt
  detekt-metrics/src/test/kotlin/dev/detekt/metrics/processors/ProjectCognitiveComplexityProcessorSpec.kt
  detekt-metrics/src/test/kotlin/dev/detekt/metrics/processors/ProjectComplexityProcessorSpec.kt
  detekt-metrics/src/test/kotlin/dev/detekt/metrics/processors/ProjectLLOCProcessorSpec.kt
  detekt-metrics/src/test/kotlin/dev/detekt/metrics/processors/ProjectLOCProcessorSpec.kt
  detekt-metrics/src/test/kotlin/dev/detekt/metrics/processors/ProjectSLOCProcessorSpec.kt
  detekt-report-md/src/test/kotlin/dev/detekt/report/md/MdOutputReportSpec.kt
  detekt-tooling/src/main/kotlin/dev/detekt/tooling/internal/EmptyContainer.kt
Labels: api, core, breaking change

#8569 Add compilation output to friendPaths by default
  detekt-gradle-plugin/src/main/kotlin/dev/detekt/gradle/plugin/internal/SharedTasks.kt
Labels: gradle-plugin
