Repository detekt/detekt, pull requests merged in 2025-03, with the labels that each got.

#8005 Don't fail when adding new aliases
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/config/validation/ConfigValidation.kt
  detekt-core/src/test/resources/common_known_sections.yml
Labels: core

#8010 Make code more explicit - minor refactor
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/Analyzer.kt
Labels: core, housekeeping

#8012 Configure CLI options file generation entirely in detekt-generator project
  detekt-cli/build.gradle.kts
  detekt-generator/build.gradle.kts
Labels: build, housekeeping

#8026 Configure Develocity from build-logic module
  build-logic/build.gradle.kts
  build-logic/src/main/kotlin/module.gradle.kts
  build.gradle.kts
  gradle/libs.versions.toml
Labels: build

#8024 Create detekt-kotlin-analysis-api package
  detekt-kotlin-analysis-api/build.gradle.kts
  gradle/libs.versions.toml
  settings.gradle.kts
Labels: build, dependencies

#7988 Update to Kotlin 2.1.20
  detekt-metrics/src/main/kotlin/io/github/detekt/metrics/processors/PackageCountProcessor.kt
  gradle/libs.versions.toml
Labels: build, dependencies
