Repository detekt/detekt, pull requests merged in 2025-09, with the labels that each got.

#8563 Use buildconfig plugin instead of manifest/properties files to store values generated at build time
  build-logic/src/main/kotlin/module.gradle.kts
  detekt-api/build.gradle.kts
  detekt-api/src/main/kotlin/dev/detekt/api/internal/Versions.kt
  detekt-cli/src/test/kotlin/dev/detekt/cli/runners/VersionPrinterSpec.kt
  detekt-cli/src/test/resources/META-INF/MANIFEST.MF
  detekt-core/src/test/kotlin/dev/detekt/core/RuleDescriptorKtTest.kt
  detekt-core/src/test/resources/META-INF/MANIFEST.MF
  detekt-gradle-plugin/build.gradle.kts
  detekt-gradle-plugin/src/functionalTest/kotlin/dev/detekt/gradle/DetektTaskDslSpec.kt
  detekt-gradle-plugin/src/main/kotlin/dev/detekt/gradle/extensions/DetektExtension.kt
  detekt-gradle-plugin/src/main/kotlin/dev/detekt/gradle/plugin/DetektBasePlugin.kt
  detekt-gradle-plugin/src/main/kotlin/dev/detekt/gradle/plugin/DetektKotlinCompilerPlugin.kt
  detekt-gradle-plugin/src/main/kotlin/dev/detekt/gradle/plugin/DetektPlugin.kt
  detekt-report-html/src/test/resources/META-INF/MANIFEST.MF
  detekt-report-sarif/src/test/resources/META-INF/MANIFEST.MF
Labels: api, core, cli, gradle-plugin, build

#8577 Move RuleProviderSpec.kt to the right package (`dev.detekt.*`)
  detekt-rules/src/test/kotlin/dev/detekt/rules/RuleProviderSpec.kt
Labels: rules

#8570 Remove subprojects usages
  build-logic/src/main/kotlin/releasing.gradle.kts
Labels: build

#8589 Don't disable configuration cache for publishPlugins task
  detekt-gradle-plugin/build.gradle.kts
Labels: build

#8579 `FileProcessListener.onFinish` returns a `Detektion`
  detekt-api/api/detekt-api.api
  detekt-api/src/main/kotlin/dev/detekt/api/FileProcessListener.kt
  detekt-cli/src/main/kotlin/dev/detekt/cli/DetektProgressListener.kt
  detekt-core/src/main/kotlin/dev/detekt/core/KtFileModifier.kt
  detekt-core/src/main/kotlin/dev/detekt/core/tooling/Lifecycle.kt
  detekt-core/src/test/kotlin/dev/detekt/core/TopLevelAutoCorrectSpec.kt
  detekt-metrics/src/main/kotlin/dev/detekt/metrics/processors/AbstractProcessor.kt
  detekt-metrics/src/main/kotlin/dev/detekt/metrics/processors/AbstractProjectMetricProcessor.kt
  detekt-metrics/src/main/kotlin/dev/detekt/metrics/processors/PackageCountProcessor.kt
  detekt-metrics/src/test/kotlin/dev/detekt/metrics/processors/FileProcessListenerExtensions.kt
Labels: api, core, cli

#8557 Remove `TestDetektion.putUserData`
  detekt-api/src/testFixtures/kotlin/dev/detekt/api/testfixtures/TestDetektion.kt
  detekt-core/src/test/kotlin/dev/detekt/core/reporting/console/ComplexityReportSpec.kt
  detekt-metrics/src/test/kotlin/dev/detekt/metrics/ComplexityReportGeneratorSpec.kt
  detekt-report-html/src/test/kotlin/dev/detekt/report/html/HtmlOutputReportSpec.kt
  detekt-report-md/src/test/kotlin/dev/detekt/report/md/MdOutputReportSpec.kt
Labels: api, core

#8593 Improve `OutputFacade` tests
  detekt-core/src/test/kotlin/dev/detekt/core/reporting/OutputFacadeSpec.kt
Labels: core

#8604 Filter when `hasStableParameterNames` is true(this means that named p…
  detekt-rules-errorprone/src/main/kotlin/dev/detekt/rules/bugs/UnnamedParameterUse.kt
  detekt-rules-errorprone/src/test/kotlin/dev/detekt/rules/bugs/UnnamedParameterUseSpec.kt
Labels: rules

#8588 fix: don't show debug suggestion when debug is already enabled
  detekt-core/src/main/kotlin/dev/detekt/core/tooling/Lifecycle.kt
  detekt-parser/src/main/kotlin/dev/detekt/parser/BindingContextUtils.kt
  detekt-parser/src/test/kotlin/dev/detekt/parser/DetektMessageCollectorSpec.kt
Labels: core, parser

#8505 Rename `xml` report to `checkstyle`
  README.md
  build.gradle.kts
  detekt-api/src/main/kotlin/dev/detekt/api/internal/BuiltInOutputReport.kt
  detekt-cli/src/main/kotlin/dev/detekt/cli/CliArgs.kt
  detekt-compiler-plugin/src/main/kotlin/io/github/detekt/compiler/plugin/DetektCommandLineProcessor.kt
  detekt-core/build.gradle.kts
  detekt-core/src/main/kotlin/dev/detekt/core/reporting/Reporting.kt
  detekt-core/src/main/resources/default-detekt-config.yml
  detekt-core/src/test/kotlin/dev/detekt/core/reporting/OutputFacadeSpec.kt
  detekt-core/src/test/kotlin/dev/detekt/core/reporting/OutputReportsSpec.kt
  detekt-generator/src/main/kotlin/dev/detekt/generator/printer/defaultconfig/ConfigPrinter.kt
  detekt-gradle-plugin/api/detekt-gradle-plugin.api
  detekt-gradle-plugin/src/functionalTest/kotlin/dev/detekt/gradle/DetektAndroidSpec.kt
  detekt-gradle-plugin/src/functionalTest/kotlin/dev/detekt/gradle/DetektMultiplatformSpec.kt
  detekt-gradle-plugin/src/functionalTest/kotlin/dev/detekt/gradle/DetektReportMergeSpec.kt
  detekt-gradle-plugin/src/functionalTest/kotlin/dev/detekt/gradle/DetektTaskDslSpec.kt
  detekt-gradle-plugin/src/functionalTest/kotlin/dev/detekt/gradle/DetektTaskGroovyDslSpec.kt
  detekt-gradle-plugin/src/functionalTest/kotlin/dev/detekt/gradle/plugin/DetektBasePluginSpec.kt
  detekt-gradle-plugin/src/functionalTest/kotlin/dev/detekt/gradle/report/ReportMergeSpec.kt
  detekt-gradle-plugin/src/main/kotlin/dev/detekt/gradle/Detekt.kt
  detekt-gradle-plugin/src/main/kotlin/dev/detekt/gradle/extensions/DetektReportType.kt
  detekt-gradle-plugin/src/main/kotlin/dev/detekt/gradle/extensions/DetektReports.kt
  detekt-gradle-plugin/src/main/kotlin/dev/detekt/gradle/extensions/KotlinCompileTaskDetektExtension.kt
  detekt-gradle-plugin/src/main/kotlin/dev/detekt/gradle/plugin/DetektPlugin.kt
  detekt-gradle-plugin/src/main/kotlin/dev/detekt/gradle/report/CheckstyleReportMerger.kt
  detekt-gradle-plugin/src/main/kotlin/dev/detekt/gradle/report/ReportMergeTask.kt
  detekt-gradle-plugin/src/test/kotlin/dev/detekt/gradle/DetektJvmSpec.kt
  detekt-gradle-plugin/src/test/kotlin/dev/detekt/gradle/DetektPlainSpec.kt
  detekt-gradle-plugin/src/test/kotlin/dev/detekt/gradle/report/CheckstyleReportMergerSpec.kt
  detekt-report-xml/src/main/kotlin/dev/detekt/report/xml/CheckstyleOutputReport.kt
  detekt-report-xml/src/main/resources/META-INF/services/dev.detekt.api.OutputReport
  detekt-report-xml/src/test/kotlin/dev/detekt/report/xml/CheckstyleOutputReportSpec.kt
  detekt-tooling/src/main/kotlin/dev/detekt/tooling/api/spec/ReportsSpec.kt
  website/docs/gettingstarted/compilerplugin.mdx
  website/docs/gettingstarted/gradle.mdx
  website/docs/intro.mdx
  website/docs/introduction/configurations.mdx
  website/docs/introduction/reporting.md
Labels: api, core, cli, gradle-plugin, build, documentation, reports, compiler-plugin

#8616 Clarify renaming of `UntilInsteadOfRangeTo` in changelog
  website/src/pages/changelog-2.0.0.md
Labels: documentation

#8605 Fix RedundantSuspendModifier bugs
  detekt-rules-coroutines/src/main/kotlin/dev/detekt/rules/coroutines/RedundantSuspendModifier.kt
  detekt-rules-coroutines/src/test/kotlin/dev/detekt/rules/coroutines/RedundantSuspendModifierSpec.kt
Labels: rules

#8617 Enable parallel configuration caching
  gradle.properties
Labels: build

#8627 Split displayName/description for each Gradle Plugin
  detekt-gradle-plugin/build.gradle.kts
Labels: build

#8618 Ensure SourceSet-based tasks are registered once
  detekt-gradle-plugin/src/functionalTest/kotlin/dev/detekt/gradle/plugin/DetektBasePluginSpec.kt
  detekt-gradle-plugin/src/main/kotlin/dev/detekt/gradle/plugin/DetektBasePlugin.kt
Labels: gradle-plugin

#8662 Refactor `RunnerSpec`
  detekt-cli/src/test/kotlin/dev/detekt/cli/runners/RunnerSpec.kt
Labels: cli, housekeeping

#8664 Fix failing test
  detekt-cli/src/test/kotlin/dev/detekt/cli/ReportPathSpec.kt
Labels: cli

#8200 [CouldBeSequence] Handle all the functions from collections which are present in Sequences
  detekt-rules-performance/src/main/kotlin/dev/detekt/rules/performance/CouldBeSequence.kt
  detekt-rules-performance/src/test/kotlin/dev/detekt/rules/performance/CouldBeSequenceSpec.kt
Labels: rules

#8669 Remove `RequiresFullAnalysis` interface
  detekt-api/api/detekt-api.api
  detekt-api/src/main/kotlin/dev/detekt/api/RequiresFullAnalysis.kt
  detekt-api/src/main/kotlin/dev/detekt/api/Rule.kt
  detekt-core/src/main/kotlin/dev/detekt/core/Analyzer.kt
  detekt-core/src/main/kotlin/dev/detekt/core/RuleDescriptor.kt
  detekt-generator/src/main/kotlin/dev/detekt/generator/collection/RuleVisitor.kt
  detekt-generator/src/test/kotlin/dev/detekt/generator/collection/RuleCollectorSpec.kt
  detekt-test/src/main/kotlin/dev/detekt/test/RuleExtensions.kt
Labels: api, core

#8671 Add boolean to know in AnnotationExcluder if we have analysis api enabled
  detekt-core/src/main/kotlin/dev/detekt/core/Analyzer.kt
  detekt-core/src/main/kotlin/dev/detekt/core/suppressors/AnnotationSuppressor.kt
  detekt-core/src/main/kotlin/dev/detekt/core/suppressors/Suppressor.kt
  detekt-core/src/test/kotlin/dev/detekt/core/suppressors/AnnotationSuppressorSpec.kt
  detekt-core/src/test/kotlin/dev/detekt/core/suppressors/SuppressorsSpec.kt
  detekt-psi-utils/api/detekt-psi-utils.api
  detekt-psi-utils/src/main/kotlin/dev/detekt/psi/AnnotationExcluder.kt
  detekt-psi-utils/src/test/kotlin/dev/detekt/psi/AnnotationExcluderSpec.kt
  detekt-rules-complexity/src/main/kotlin/dev/detekt/rules/complexity/LongParameterList.kt
Labels: rules, api, core, suppressors

#8682 Simplify how we handle boolean on our config
  detekt-core/src/main/kotlin/dev/detekt/core/config/BaseConfig.kt
  detekt-core/src/test/kotlin/dev/detekt/core/config/CompositeConfigSpec.kt
  detekt-core/src/test/kotlin/dev/detekt/core/config/YamlConfigSpec.kt
Labels: core

#8683 Fix duplication strategy for shadow jar
  detekt-cli/build.gradle.kts
Labels: build

#8687 Fix dependency issues introduced by detekt-test split into assertj & junit modules
  detekt-api/build.gradle.kts
  detekt-core/build.gradle.kts
  detekt-rules-documentation/build.gradle.kts
  detekt-test-junit/build.gradle.kts
  detekt-test-utils/build.gradle.kts
  detekt-test/build.gradle.kts
Labels: build, housekeeping

#8686 Remove redundant notCompatibleWithConfigurationCache config
  detekt-gradle-plugin/build.gradle.kts
Labels: build, housekeeping

#8652 Ensure that two reports doesn't have the same path
  detekt-core/src/main/kotlin/dev/detekt/core/reporting/OutputFacade.kt
  detekt-core/src/test/kotlin/dev/detekt/core/reporting/OutputFacadeSpec.kt
Labels: core, reports

#8711 Remove unused KotlinType.fqNameOrNull
  detekt-psi-utils/api/detekt-psi-utils.api
  detekt-psi-utils/src/main/kotlin/dev/detekt/psi/TypeUtils.kt
Labels: api, breaking change
