Repository detekt/detekt, pull requests merged in 2025-01, with the labels that each got.

#7862 Updating custom rules pitfalls.
  website/docs/introduction/extensions.md
  website/versioned_docs/version-1.23.7/introduction/extensions.md
Labels: documentation

#7864 Duration prints the units itself
  detekt-generator/src/main/kotlin/io/gitlab/arturbosch/detekt/generator/Generator.kt
Labels: housekeeping

#7751 [UnnecessaryParentheses] Allow float/double without integer part
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnnecessaryParentheses.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnnecessaryParenthesesSpec.kt
Labels: rules, pick request

#7760 Add signin plugin for Gradle plugin portal dist
  detekt-gradle-plugin/build.gradle.kts
Labels: build

#7881 [ArgumentListWrapping] Fix type in `paremeter`
  detekt-formatting/src/main/kotlin/io/gitlab/arturbosch/detekt/formatting/wrappers/ArgumentListWrapping.kt
Labels: formatting

#7882 Faster MaxLineLength
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/MaxLineLength.kt
Labels: rules

#7872 Remove space in the end of a description
  detekt-formatting/src/main/kotlin/io/gitlab/arturbosch/detekt/formatting/wrappers/AnnotationOnSeparateLine.kt
Labels: formatting

#7874 Ensure that the correct lint function is called for the passed rule
  detekt-rules-errorprone/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/NullCheckOnMutablePropertySpec.kt
  detekt-rules-naming/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/naming/BooleanPropertyNamingSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/CanBeNonNullableSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/NullableBooleanCheckSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/ObjectLiteralToLambdaSpec.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/VarCouldBeValSpec.kt
  detekt-test/build.gradle.kts
  detekt-test/src/main/kotlin/io/gitlab/arturbosch/detekt/test/RuleExtensions.kt
Labels: rules, build

#7868 Remove `open` from `CodeSmell`
  detekt-api/api/detekt-api.api
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/CodeSmell.kt
Labels: api

#7907 Add a note to use compileOnly to depend on detekt-api
  website/docs/introduction/extensions.md
  website/versioned_docs/version-1.23.0/introduction/extensions.md
  website/versioned_docs/version-1.23.1/introduction/extensions.md
  website/versioned_docs/version-1.23.3/introduction/extensions.md
  website/versioned_docs/version-1.23.4/introduction/extensions.md
  website/versioned_docs/version-1.23.5/introduction/extensions.md
  website/versioned_docs/version-1.23.6/introduction/extensions.md
  website/versioned_docs/version-1.23.7/introduction/extensions.md
Labels: documentation
