Repository detekt/detekt, pull requests merged in 2025-06, with the labels that each got.

#8153 Show diagnostic errors on console when using Analysis API
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/tooling/Lifecycle.kt
  detekt-parser/src/main/kotlin/io/github/detekt/parser/BindingContextUtils.kt
  detekt-parser/src/test/kotlin/io/github/detekt/parser/DetektMessageCollectorSpec.kt
Labels: core, parser

#8154 Fully configure standalone Analysis API session
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/settings/EnvironmentAware.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/tooling/AnalysisFacade.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/tooling/Lifecycle.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/tooling/ParsingStrategy.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/TopLevelAutoCorrectSpec.kt
Labels: core, parser

#8170 Fail when JUnit identifies test discovery issues
  build-logic/src/main/kotlin/module.gradle.kts
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/util/ConfigExtensionsSpec.kt
  detekt-rules-exceptions/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/exceptions/ReturnFromFinallySpec.kt
Labels: rules, core, build

#8157 Migrate MapGetWithNotNullAssertionOperator to Analysis API
  detekt-rules-errorprone/build.gradle.kts
  detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/MapGetWithNotNullAssertionOperator.kt
Labels: rules, build

#8169 Use Java 21.0.4 in CI
  .github/workflows/codecoverage.yaml
  .github/workflows/deploy-snapshot.yaml
  .github/workflows/execute-detekt.yaml
  .github/workflows/pre-merge.yaml
  .github/workflows/website.yaml
Labels: ci

#8171 Add Analysis API version of isNullable utility function
  detekt-psi-utils/api/detekt-psi-utils.api
  detekt-psi-utils/build.gradle.kts
  detekt-psi-utils/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/TypeUtils.kt
  detekt-psi-utils/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/TypeUtilsSpec.kt
Labels: api, build

#8172 Migrate CastNullableToNonNullableType to Analysis API
  detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/CastNullableToNonNullableType.kt
Labels: rules

#8180 Increase memory for test tasks
  build-logic/src/main/kotlin/module.gradle.kts
Labels: build

#8177 Remove usage of DataFlowValueFactory
  detekt-api/api/detekt-api.api
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/CompilerResources.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/Analyzer.kt
  detekt-psi-utils/api/detekt-psi-utils.api
  detekt-psi-utils/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/TypeUtils.kt
  detekt-test/src/main/kotlin/io/gitlab/arturbosch/detekt/test/FakeCompilerResources.kt
  detekt-test/src/main/kotlin/io/gitlab/arturbosch/detekt/test/RuleExtensions.kt
Labels: api, core, breaking change, psi-utils

#8184 Rename Rule to RuleName
  detekt-api/api/detekt-api.api
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/Rule.kt
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/RuleSet.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/RuleDescriptor.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/rules/SingleRuleProvider.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/suppressors/Suppressions.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/rules/RuleSetsSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/rules/SingleRuleProviderSpec.kt
  detekt-generator/src/test/kotlin/io/gitlab/arturbosch/detekt/generator/config/ConfigAssert.kt
  detekt-rules-coroutines/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/coroutines/SuspendFunSwallowedCancellation.kt
  detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/MapGetWithNotNullAssertionOperator.kt
  detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/NullableToStringCall.kt
  detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/UnnecessaryNotNullCheck.kt
Labels: rules, api, core, suppressors

#8179 Migrate NamedArguments to Analysis API
  detekt-rules-complexity/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/complexity/NamedArguments.kt
Labels: rules

#8186 Remove failOnSeverity from 1.x docs
  website/versioned_docs/version-1.23.8/gettingstarted/gradle.mdx
  website/versioned_docs/version-1.23.8/introduction/configurations.mdx
Labels: documentation

#8191 Migrate ImplicitUnitReturnType to Analysis API
  detekt-psi-utils/api/detekt-psi-utils.api
  detekt-psi-utils/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/MethodSignature.kt
  detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/ImplicitUnitReturnType.kt
Labels: rules, api

#8193 Migrate UseCheckNotNull to Analysis API
  detekt-psi-utils/api/detekt-psi-utils.api
  detekt-psi-utils/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/KtCallExpression.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UseCheckNotNull.kt
Labels: rules, api

#8197 Migrate CouldBeSequence to Analysis API
  detekt-rules-performance/build.gradle.kts
  detekt-rules-performance/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/performance/CouldBeSequence.kt
Labels: rules, build

#8198 Migrate UseRequire to Analysis API
  detekt-psi-utils/api/detekt-psi-utils.api
  detekt-psi-utils/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/KtValueArgument.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UseRequire.kt
Labels: rules, api

#8195 Add TC for https://github.com/detekt/detekt/issues/7849
  detekt-rules-complexity/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/complexity/ReplaceSafeCallChainWithRunSpec.kt
Labels: rules

#8201 Migrate BooleanPropertyNaming to Analysis API
  detekt-rules-naming/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/naming/BooleanPropertyNaming.kt
Labels: rules

#8188 Add support for mixed types(`string` and `ValueWithReason`) in yml
  config/detekt/detekt.yml
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/ConfigProperty.kt
  detekt-api/src/test/kotlin/io/gitlab/arturbosch/detekt/api/ConfigPropertySpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/config/YamlConfigSpec.kt
  detekt-core/src/test/resources/values-with-reason.yml
Labels: api, core

#8189 Add config(`ignoreEnumEntries`) to ignore enum entries from doc
  detekt-core/src/main/resources/default-detekt-config.yml
  detekt-rules-documentation/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/documentation/UndocumentedPublicProperty.kt
  detekt-rules-documentation/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/documentation/UndocumentedPublicPropertySpec.kt
Labels: rules

#8004 Add UnnecessaryTypeCasting rule
  detekt-core/src/main/resources/default-detekt-config.yml
  detekt-rules-performance/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/performance/PerformanceProvider.kt
  detekt-rules-performance/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/performance/UnnecessaryTypeCasting.kt
  detekt-rules-performance/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/performance/UnnecessaryTypeCastingSpec.kt
Labels: rules

#7943 Remove PreferToOverPairSyntax
  config/detekt/detekt.yml
  detekt-core/src/main/resources/default-detekt-config.yml
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/StyleGuideProvider.kt
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/optional/PreferToOverPairSyntax.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/optional/PreferToOverPairSyntaxSpec.kt
Labels: rules, notable changes, breaking change

#8222 Remove dead code at AbstractClassCanBeConcreteClass
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/AbstractClassCanBeConcreteClass.kt
Labels: rules

#8235 Migrate Deprecation to Analysis API
  detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/Deprecation.kt
  detekt-rules-errorprone/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/DeprecationSpec.kt
  detekt-test-utils/api/detekt-test-utils.api
  detekt-test-utils/src/main/kotlin/io/github/detekt/test/utils/KotlinAnalysisApiEngine.kt
  detekt-test/api/detekt-test.api
  detekt-test/src/main/kotlin/io/gitlab/arturbosch/detekt/test/RuleExtensions.kt
Labels: rules, api

#8214 Refactor ObjectExtendsThrowable with the analysis api
  detekt-rules-exceptions/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/exceptions/ObjectExtendsThrowable.kt
Labels: rules

#8216 Migrate ErrorUsageWithThrowable to AA
  detekt-rules-exceptions/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/exceptions/ErrorUsageWithThrowable.kt
Labels: rules

#8215 Migrate the `InstanceOfCheckForException` to use Analysis Api
  detekt-rules-exceptions/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/exceptions/InstanceOfCheckForException.kt
Labels: rules

#8218 Refactor ReplaceSafeCallChainWithRun with the analysis api
  detekt-rules-complexity/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/complexity/ReplaceSafeCallChainWithRun.kt
Labels: rules

#8223 Migrate UseIsNullOrEmpty to Analysis API
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UseIsNullOrEmpty.kt
Labels: rules

#8225 Migrate UseOrEmpty to Analysis API
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UseOrEmpty.kt
Labels: rules

#8228 Migrate UseSumOfInsteadOfFlatMapSize to Analysis API
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UseSumOfInsteadOfFlatMapSize.kt
Labels: rules

#8226 Migrate UseIfEmptyOrIfBlank to Analysis API
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UseIfEmptyOrIfBlank.kt
Labels: rules

#8232 Migrate AvoidReferentialEquality to Analysis API
  detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/AvoidReferentialEquality.kt
Labels: rules

#8233 Migrate CastToNullableType to Analysis API
  detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/CastToNullableType.kt
Labels: rules

#8234 Migrate CharArrayToStringCall to Analysis API
  detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/CharArrayToStringCall.kt
Labels: rules

#8236 Migrate DontDowncastCollectionTypes to Analysis API
  detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/DontDowncastCollectionTypes.kt
  detekt-rules-errorprone/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/DontDowncastCollectionTypesSpec.kt
Labels: rules

#8230 Migrate RedundantHigherOrderMapUsage to Analysis API
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/RedundantHigherOrderMapUsage.kt
Labels: rules

#8239 Migrate ExitOutsideMain to Analysis API
  detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/ExitOutsideMain.kt
Labels: rules

#8248 Migrate UnnecessaryReversed to Analysis API
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnnecessaryReversed.kt
Labels: rules

#8250 Migrate UseCheckOrError to Analysis API
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UseCheckOrError.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/UseCheckOrErrorSpec.kt
Labels: rules

#8240 Migrate HasPlatformType to Analysis API
  detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/HasPlatformType.kt
Labels: rules

#8246 Migrate UnsafeCallOnNullableType to Analysis API
  detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/UnsafeCallOnNullableType.kt
Labels: rules

#8249 Migrate UseEmptyCounterpart to Analysis API
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UseEmptyCounterpart.kt
Labels: rules
