Repository detekt/detekt, pull requests merged in 2025-07, with the labels that each got.

#8260 Rename Gradle Enterprise to Develocity in Contributing.md
  .github/CONTRIBUTING.md
Labels: documentation

#8267 Migrate RedundantExplicitType to Analysis API
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/RedundantExplicitType.kt
Labels: rules

#8265 Remove `CloseableWrapper`
  detekt-test-utils/api/detekt-test-utils.api
  detekt-test-utils/src/main/kotlin/io/github/detekt/test/utils/KotlinCoreEnvironmentWrapper.kt
  detekt-test-utils/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/KotlinEnvironmentTestSetup.kt
Labels: api

#8273 Migrate ForbiddenAnnotation to Analysis API
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/ForbiddenAnnotation.kt
Labels: rules

#8272 Migrate ForbiddenVoid to Analysis API
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/ForbiddenVoid.kt
Labels: rules

#8274 Migrate UnnecessaryFilter to Analysis API
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnnecessaryFilter.kt
Labels: rules

#8276 Migrate AbstractClassCanBeConcreteClass to Analysis API
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/AbstractClassCanBeConcreteClass.kt
Labels: rules

#8287 added test to prove the code handles this scenario correctly without …
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnusedImportSpec.kt
Labels: rules

#8290 Migrate SuspendFunInFinallySection to Analysis API
  detekt-rules-coroutines/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/coroutines/SuspendFunInFinallySection.kt
Labels: rules

#8289 Migrate `InjectDispatcher` to Analysis API
  detekt-rules-coroutines/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/coroutines/InjectDispatcher.kt
Labels: rules

#8293 Setup AA session in production mode
  detekt-test-utils/src/main/kotlin/io/github/detekt/test/utils/KotlinAnalysisApiEngine.kt
  detekt-test-utils/src/main/kotlin/io/github/detekt/test/utils/KtTestCompiler.kt
Labels: test-utils

#8243 Migrate UnnecessarySafeCall to Analysis API
  detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/UnnecessarySafeCall.kt
  detekt-rules-errorprone/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/UnnecessarySafeCallSpec.kt
  detekt-test-utils/api/detekt-test-utils.api
  detekt-test-utils/src/main/kotlin/io/github/detekt/test/utils/KotlinAnalysisApiEngine.kt
  detekt-test/api/detekt-test.api
  detekt-test/src/main/kotlin/io/gitlab/arturbosch/detekt/test/RuleExtensions.kt
Labels: rules, api

#8301 Avoid compile=false on UnnecessaryInnerClassSpec
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnnecessaryInnerClassSpec.kt
Labels: rules

#8307 Add ContextReceiverListWrapping rule
  detekt-formatting/src/main/kotlin/io/gitlab/arturbosch/detekt/formatting/FormattingProvider.kt
  detekt-formatting/src/main/kotlin/io/gitlab/arturbosch/detekt/formatting/wrappers/ContextReceiverListWrapping.kt
  detekt-formatting/src/main/resources/config/config.yml
Labels: formatting

#8308 Add ExpressionOperandWrapping rule
  detekt-formatting/src/main/kotlin/io/gitlab/arturbosch/detekt/formatting/FormattingProvider.kt
  detekt-formatting/src/main/kotlin/io/gitlab/arturbosch/detekt/formatting/wrappers/ExpressionOperandWrapping.kt
  detekt-formatting/src/main/resources/config/config.yml
Labels: formatting

#8311 Migrate the project to Central Publishing
  build-logic/src/main/kotlin/releasing.gradle.kts
Labels: build

#8313 Cleanup publishing logic between maven-publish and nexus-publish
  .github/workflows/deploy-snapshot.yaml
  build-logic/src/main/kotlin/packaging.gradle.kts
  build-logic/src/main/kotlin/releasing.gradle.kts
  scripts/release.sh
Labels: ci

#8315 Update build now Java 17 is min required version
  README.md
  build-logic/build.gradle.kts
  detekt-gradle-plugin/build.gradle.kts
  detekt-gradle-plugin/src/functionalTest/kotlin/dev/detekt/gradle/plugin/DetektBasePluginSpec.kt
  detekt-gradle-plugin/src/functionalTest/kotlin/io/gitlab/arturbosch/detekt/DetektAndroidSpec.kt
  detekt-gradle-plugin/src/functionalTest/kotlin/io/gitlab/arturbosch/detekt/DetektMultiplatformSpec.kt
  detekt-gradle-plugin/src/functionalTest/kotlin/io/gitlab/arturbosch/detekt/report/ReportMergeSpec.kt
Labels: gradle-plugin, build, documentation

#8314 Migrate PropertyUsedBeforeDeclaration to Analysis API
  detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/PropertyUsedBeforeDeclaration.kt
Labels: rules

#8322 Make it clear that Java 17 is the minimum version required to build detekt
  README.md
Labels: documentation

#8321 Migrate UnnamedParameterUse to Analysis API
  detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/UnnamedParameterUse.kt
  detekt-rules-errorprone/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/UnnamedParameterUseSpec.kt
Labels: rules

#8317 Migrate NullCheckOnMutableProperty to Analysis API
  detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/NullCheckOnMutableProperty.kt
Labels: rules

#8316 Migrate MissingSuperCall to Analysis API
  detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/MissingSuperCall.kt
Labels: rules

#8318 Migrate UnusedImport to Analysis API
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnusedImport.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnusedImportSpec.kt
Labels: rules

#8326 Migrate SpreadOperator to Analysis API
  detekt-rules-performance/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/performance/SpreadOperator.kt
Labels: rules

#8331 Migrate SleepInsteadOfDelay to Analysis API
  detekt-rules-coroutines/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/coroutines/SleepInsteadOfDelay.kt
Labels: rules

#8284 Migrate `NestedScopeFunctions` to Analysis API
  detekt-rules-complexity/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/complexity/NestedScopeFunctions.kt
Labels: rules, api

#8344 Update MdOutputReportSpec to use whichDetekt
  detekt-report-md/src/test/kotlin/io/github/detekt/report/md/MdOutputReportSpec.kt
Labels: housekeeping

#8343 Update instrunctions on where to fetch the latest snapshots
  README.md
  website/docs/introduction/snapshots.md
  website/versioned_docs/version-1.21.0/introduction/snapshots.md
  website/versioned_docs/version-1.22.0/introduction/snapshots.md
  website/versioned_docs/version-1.23.0/introduction/snapshots.md
  website/versioned_docs/version-1.23.1/introduction/snapshots.md
  website/versioned_docs/version-1.23.3/introduction/snapshots.md
  website/versioned_docs/version-1.23.4/introduction/snapshots.md
  website/versioned_docs/version-1.23.5/introduction/snapshots.md
  website/versioned_docs/version-1.23.6/introduction/snapshots.md
  website/versioned_docs/version-1.23.7/introduction/snapshots.md
  website/versioned_docs/version-1.23.8/introduction/snapshots.md
Labels: documentation

#8339 Bump DGP API version to 1.7
  detekt-gradle-plugin/build.gradle.kts
Labels: build

#8347 Use Kotlin language version 1.8 in DGP
  detekt-gradle-plugin/build.gradle.kts
  detekt-gradle-plugin/src/main/kotlin/io/gitlab/arturbosch/detekt/invoke/CliArgument.kt
Labels: gradle-plugin, build

#8363 Increase maximum heap size for builds
  build-logic/src/main/kotlin/module.gradle.kts
Labels: build

#8360 Rename DetektReport to DetektCompilerPluginReport to avoid clash when merging packages
  detekt-gradle-plugin/api/detekt-gradle-plugin.api
  detekt-gradle-plugin/src/main/kotlin/io/github/detekt/gradle/extensions/DetektCompilerPluginReport.kt
  detekt-gradle-plugin/src/main/kotlin/io/github/detekt/gradle/extensions/KotlinCompileTaskDetektExtension.kt
Labels: api, gradle-plugin

#8346 Fix MagicNumber rule to support suppression of negative constants in ranges (#8338)
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/MagicNumber.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/MagicNumberSpec.kt
Labels: rules

#8374 Change package of :detekt-rules-libraries to `dev.detekt.rules.libraries`
  detekt-rules-libraries/src/main/kotlin/dev/detekt/rules/libraries/ForbiddenPublicDataClass.kt
  detekt-rules-libraries/src/main/kotlin/dev/detekt/rules/libraries/LibraryCodeMustSpecifyReturnType.kt
  detekt-rules-libraries/src/main/kotlin/dev/detekt/rules/libraries/LibraryEntitiesShouldNotBePublic.kt
  detekt-rules-libraries/src/main/kotlin/dev/detekt/rules/libraries/RuleLibrariesProvider.kt
  detekt-rules-libraries/src/main/resources/META-INF/services/dev.detekt.api.RuleSetProvider
  detekt-rules-libraries/src/test/kotlin/dev/detekt/rules/libraries/ForbiddenPublicDataClassSpec.kt
  detekt-rules-libraries/src/test/kotlin/dev/detekt/rules/libraries/LibraryCodeMustSpecifyReturnTypeSpec.kt
  detekt-rules-libraries/src/test/kotlin/dev/detekt/rules/libraries/LibraryEntitiesShouldNotBePublicSpec.kt
Labels: breaking change

#8376 Change package of :detekt-rules-ruleauthors to `dev.detekt.rules.ruleauthors`
  detekt-rules-ruleauthors/src/main/kotlin/dev/detekt/rules/ruleauthors/RuleAuthorsProvider.kt
  detekt-rules-ruleauthors/src/main/kotlin/dev/detekt/rules/ruleauthors/UseEntityAtName.kt
  detekt-rules-ruleauthors/src/main/resources/META-INF/services/dev.detekt.api.RuleSetProvider
  detekt-rules-ruleauthors/src/test/kotlin/dev/detekt/rules/ruleauthors/UseEntityAtNameSpec.kt
Labels: breaking change

#8384 Remove unnecessary import
  detekt-cli/src/test/kotlin/io/gitlab/arturbosch/detekt/cli/runners/RunnerSpec.kt
Labels: cli
