Repository detekt/detekt, pull requests merged in 2025-02, with the labels that each got.

#7923 Merge Poko updates into single PR
  .github/renovate.json
Labels: housekeeping

#7888 Configurable additional operators
  detekt-core/src/main/resources/default-detekt-config.yml
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnusedImport.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnusedImportSpec.kt
Labels: rules

#7932 Compile Gradle plugin with latest 2.0.x release
  detekt-gradle-plugin/build.gradle.kts
Labels: gradle-plugin, build

#7938 Bump Node to v22
  .github/workflows/danger.yaml
  .github/workflows/website.yaml
  website/package.json
Labels: documentation, ci

#7758 [UnnamedParameterUse] - Fixes #7436 add ignore matching name
  detekt-core/src/main/resources/default-detekt-config.yml
  detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/UnnamedParameterUse.kt
  detekt-rules-errorprone/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/UnnamedParameterUseSpec.kt
Labels: rules

#7940 Enable BackingPropertyNaming by default
  config/detekt/detekt.yml
  detekt-formatting/src/main/kotlin/io/gitlab/arturbosch/detekt/formatting/FormattingProvider.kt
  detekt-formatting/src/main/kotlin/io/gitlab/arturbosch/detekt/formatting/wrappers/BackingPropertyNaming.kt
  detekt-formatting/src/main/resources/config/config.yml
Labels: formatting

#7944 Enable BinaryExpressionWrapping by default
  config/detekt/detekt.yml
  detekt-formatting/src/main/kotlin/io/gitlab/arturbosch/detekt/formatting/FormattingProvider.kt
  detekt-formatting/src/main/kotlin/io/gitlab/arturbosch/detekt/formatting/wrappers/BinaryExpressionWrapping.kt
  detekt-formatting/src/main/resources/config/config.yml
Labels: formatting

#7953 Fix ktlint doc URL for SpacingAroundSquareBrackets
  detekt-formatting/src/main/kotlin/io/gitlab/arturbosch/detekt/formatting/wrappers/SpacingAroundSquareBrackets.kt
Labels: documentation, formatting

#7941 Improve tests
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/AnalyzerSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/CorrectableRulesFirstSpec.kt
Labels: core

#7937 Tidy DGP build script
  detekt-gradle-plugin/build.gradle.kts
Labels: build

#7956 Enable TrailingCommaOnCallSite by default
  config/detekt/detekt.yml
  detekt-formatting/src/main/kotlin/io/gitlab/arturbosch/detekt/formatting/wrappers/TrailingCommaOnCallSite.kt
  detekt-formatting/src/main/resources/config/config.yml
Labels: formatting

#7957 Enable TrailingCommaOnDeclarationSite by default
  config/detekt/detekt.yml
  detekt-formatting/src/main/kotlin/io/gitlab/arturbosch/detekt/formatting/wrappers/TrailingCommaOnDeclarationSite.kt
  detekt-formatting/src/main/resources/config/config.yml
Labels: formatting

#7931 Don't count a scoped assignment as a non guard for ReturnCount
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/Junk.kt
  detekt-rules-style/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/style/ReturnCountSpec.kt
Labels: rules

#7934 Compile detekt with Java 17
  build-logic/src/main/kotlin/Versions.kt
  build-logic/src/main/kotlin/module.gradle.kts
  gradle/libs.versions.toml
Labels: build, ci, dependencies, parser

#7952 Add wrapper for WhenEntryBracing ktlint rule
  detekt-formatting/src/main/kotlin/io/gitlab/arturbosch/detekt/formatting/FormattingProvider.kt
  detekt-formatting/src/main/kotlin/io/gitlab/arturbosch/detekt/formatting/wrappers/WhenEntryBracing.kt
  detekt-formatting/src/main/resources/config/config.yml
Labels: formatting

#7951 Enable MultilineLoop by default
  config/detekt/detekt.yml
  detekt-formatting/src/main/kotlin/io/gitlab/arturbosch/detekt/formatting/FormattingProvider.kt
  detekt-formatting/src/main/kotlin/io/gitlab/arturbosch/detekt/formatting/wrappers/MultilineLoop.kt
  detekt-formatting/src/main/resources/config/config.yml
Labels: formatting

#7948 Enable FunctionExpressionBody by default
  config/detekt/detekt.yml
  detekt-formatting/src/main/kotlin/io/gitlab/arturbosch/detekt/formatting/FormattingProvider.kt
  detekt-formatting/src/main/kotlin/io/gitlab/arturbosch/detekt/formatting/wrappers/FunctionExpressionBody.kt
  detekt-formatting/src/main/resources/config/config.yml
Labels: formatting

#7947 Enable ConditionWrapping by default
  config/detekt/detekt.yml
  detekt-formatting/src/main/kotlin/io/gitlab/arturbosch/detekt/formatting/FormattingProvider.kt
  detekt-formatting/src/main/kotlin/io/gitlab/arturbosch/detekt/formatting/wrappers/ConditionWrapping.kt
  detekt-formatting/src/main/resources/config/config.yml
Labels: formatting

#7945 Enable ChainMethodContinuation by default
  config/detekt/detekt.yml
  detekt-formatting/src/main/kotlin/io/gitlab/arturbosch/detekt/formatting/FormattingProvider.kt
  detekt-formatting/src/main/kotlin/io/gitlab/arturbosch/detekt/formatting/wrappers/ChainMethodContinuation.kt
  detekt-formatting/src/main/resources/config/config.yml
Labels: formatting

#7946 Enable ClassSignature by default
  config/detekt/detekt.yml
  detekt-formatting/src/main/kotlin/io/gitlab/arturbosch/detekt/formatting/FormattingProvider.kt
  detekt-formatting/src/main/kotlin/io/gitlab/arturbosch/detekt/formatting/wrappers/ClassSignature.kt
  detekt-formatting/src/main/resources/config/config.yml
Labels: formatting

#7950 Enable FunctionTypeModifierSpacing by default
  detekt-formatting/src/main/kotlin/io/gitlab/arturbosch/detekt/formatting/FormattingProvider.kt
  detekt-formatting/src/main/kotlin/io/gitlab/arturbosch/detekt/formatting/wrappers/FunctionTypeModifierSpacing.kt
  detekt-formatting/src/main/resources/config/config.yml
Labels: formatting

#7949 Enable FunctionLiteral by default
  detekt-formatting/src/main/kotlin/io/gitlab/arturbosch/detekt/formatting/FormattingProvider.kt
  detekt-formatting/src/main/kotlin/io/gitlab/arturbosch/detekt/formatting/wrappers/FunctionLiteral.kt
  detekt-formatting/src/main/resources/config/config.yml
Labels: formatting

#7961 Fix a minor typo in UnusedImport
  detekt-rules-style/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/style/UnusedImport.kt
Labels: rules, housekeeping

#7969 Do not hard require node 22
  website/package.json
Labels: documentation

#7971 Add missing 1.23.7 changelog entry on main
  website/src/pages/changelog.md
Labels: documentation

#7866 Report the rules used by generate a detekt report and use it on the sarif report
  detekt-api/api/detekt-api.api
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/Detektion.kt
  detekt-api/src/testFixtures/kotlin/io/gitlab/arturbosch/detekt/test/TestDetektion.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/DetektResult.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/tooling/Lifecycle.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/reporting/OutputFacadeSpec.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/reporting/console/ComplexityReportSpec.kt
  detekt-metrics/src/test/kotlin/io/github/detekt/metrics/processors/MetricProcessorTester.kt
  detekt-report-sarif/src/main/kotlin/io/github/detekt/report/sarif/Results.kt
  detekt-report-sarif/src/main/kotlin/io/github/detekt/report/sarif/RuleDescriptors.kt
  detekt-report-sarif/src/main/kotlin/io/github/detekt/report/sarif/SarifOutputReport.kt
  detekt-report-sarif/src/test/kotlin/io/github/detekt/report/sarif/SarifOutputReportSpec.kt
  detekt-report-sarif/src/test/resources/META-INF/services/io.gitlab.arturbosch.detekt.api.RuleSetProvider
  detekt-report-sarif/src/test/resources/config_with_rule_set_to_warning.yml
  detekt-report-sarif/src/test/resources/rule_warning.sarif.json
  detekt-report-sarif/src/test/resources/vanilla.sarif.json
  detekt-tooling/src/main/kotlin/io/github/detekt/tooling/internal/EmptyContainer.kt
Labels: api, core, reports

#7871 Customize rule url
  detekt-api/api/detekt-api.api
  detekt-api/src/main/kotlin/io/gitlab/arturbosch/detekt/api/Rule.kt
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/RuleDescriptor.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/RuleDescriptorKtTest.kt
Labels: api, core, formatting, breaking change

#7970 Setup redirects /docs/1.23.7/rules/ -> /docs/rules
  website/docusaurus.config.js
  website/src/remark/detektVersionReplace.js
Labels: documentation

#7973 Use the version url for link the rules' documentation
  detekt-core/src/main/kotlin/io/gitlab/arturbosch/detekt/core/RuleDescriptor.kt
  detekt-core/src/test/kotlin/io/gitlab/arturbosch/detekt/core/RuleDescriptorKtTest.kt
  detekt-core/src/test/resources/META-INF/MANIFEST.MF
Labels: core

#7967 Report ignored return values of functions that return a lambda
  detekt-core/src/main/resources/default-detekt-config.yml
  detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/IgnoredReturnValue.kt
  detekt-rules-errorprone/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/IgnoredReturnValueSpec.kt
Labels: rules

#7975 Fix `RulesWhichCantBeCorrectedSpec`
  detekt-formatting/src/test/kotlin/io/gitlab/arturbosch/detekt/formatting/RulesWhichCantBeCorrectedSpec.kt
  detekt-test/api/detekt-test.api
  detekt-test/src/main/kotlin/io/gitlab/arturbosch/detekt/test/FindingsAssertions.kt
Labels: api, formatting

#7976 Prepare Release 1.23.8
  build-logic/src/main/kotlin/Versions.kt
  website/src/pages/changelog.md
  website/src/remark/detektVersionReplace.js
Labels: build, documentation

#7987 Report ignored return values of functions that return a lambda (#7967)
  detekt-core/src/main/resources/default-detekt-config.yml
  detekt-rules-errorprone/src/main/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/IgnoredReturnValue.kt
  detekt-rules-errorprone/src/test/kotlin/io/gitlab/arturbosch/detekt/rules/bugs/IgnoredReturnValueSpec.kt
Labels: rules

#7990 Migrate to Dokka Gradle plugin v2
  build-logic/src/main/kotlin/public-api.gradle.kts
  build.gradle.kts
  detekt-generator/build.gradle.kts
  detekt-gradle-plugin/build.gradle.kts
  detekt-gradle-plugin/gradle.properties
  gradle.properties
  settings.gradle.kts
Labels: build

#7991 Enable Gradle's isolated projects feature in additional tests
  detekt-gradle-plugin/src/functionalTest/kotlin/io/gitlab/arturbosch/detekt/DetektMultiplatformSpec.kt
Labels: gradle-plugin, housekeeping

#7992 Replace APIs drop down with single link
  website/docusaurus.config.js
Labels: documentation

#7996 Switched to use ktlint version ref for the ruleset
  gradle/libs.versions.toml
Labels: dependencies
